# **Modelo v01**

A ideia é treinar o modelo incluindo as ABTs criadas no processo de Feature Engineering. Para isso, vamos realizar a inclusão das variáveis criadas em etapas. Sendo que essas etapas são representadas por cada tabela auxiliar que foi feita a criação de novas variáveis.

Após incluir cada "lote" de novas variáveis na tabela principal, iremos aplicar métodos de seleção de variáveis e tratamentos necessarios para treinamento dos modelos e avaliação. Este processo irá contribuir na seleção da melhores variáveis para a resolução do problema ao mesmo tempo que é eficiente do ponto de vista computacional, reduzindo custos no processamento das bases.

Dessa forma, iremos fazer as agregações das colunas das abt criadas a partir das tabelas abaixo:

```
01 - bureau
02 - POS_CASH_balance
03 - instalments_payments
04 - credit_card_balance
05 - previous_application
```

Este notebook é feito considerando a ABT das variáveis selecionadas na versão baseline, incluindo as variáveis da **ABT_bureau**.

## **Exploração dos Dados (Entendimento dos Dados)**

### **Bibliotecas importantes para o projeto**

In [ ]:
!pip install boto3==1.17.105
!pip install botocore --upgrade
!pip install s3fs
!pip install pyarrow

Collecting boto3==1.17.105
  Downloading boto3-1.17.105-py2.py3-none-any.whl (131 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 131.6/131.6 kB 2.4 MB/s eta 0:00:00
Collecting botocore<1.21.0,>=1.20.105 (from boto3==1.17.105)
  Downloading botocore-1.20.112-py2.py3-none-any.whl (7.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.7/7.7 MB 35.7 MB/s eta 0:00:00
Collecting jmespath<1.0.0,>=0.7.1 (from boto3==1.17.105)
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Collecting s3transfer<0.5.0,>=0.4.0 (from boto3==1.17.105)
  Downloading s3transfer-0.4.2-py2.py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.2/79.2 kB 8.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.21.0,>=1.20.105->boto3==1.17.105) (2.8.2)
Collecting urllib3<1.27,>=1.25.4 (from botocore<1.21.0,>=1.20.105->boto3==1.17.105)
  Downloading urllib3-1.26.18-py2.py3-none-any.whl (143 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.8/143.8 kB 11.2 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.21.0,>=1.20.105->boto3==1.17.105) (1.16.0)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.0.7
    Uninstalling urllib3-2.0.7:
      Successfully uninstalled urllib3-2.0.7
Successfully installed boto3-1.17.105 botocore-1.20.112 jmespath-0.10.0 s3transfer-0.4.2 urllib3-1.26.18
Requirement already satisfied: botocore in /usr/local/lib/python3.10/dist-packages (1.20.112)
Collecting botocore
  Downloading botocore-1.34.3-py3-none-any.whl (11.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 46.7 MB/s eta 0:00:00
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from botocore) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore) (2.8.2)
Requirement already satisfied: urllib3<2.1,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore) (1.26.18)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore) (1.16.0)
Installing collected packages: botocore
  Attempting uninstall: botocore
    Found existing installation: botocore 1.20.112
    Uninstalling botocore-1.20.112:
      Successfully uninstalled botocore-1.20.112
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
boto3 1.17.105 requires botocore<1.21.0,>=1.20.105, but you have botocore 1.34.3 which is incompatible.
Successfully installed botocore-1.34.3
Collecting s3fs
  Downloading s3fs-2023.12.2-py3-none-any.whl (28 kB)
Collecting aiobotocore<3.0.0,>=2.5.4 (from s3fs)
  Downloading aiobotocore-2.9.0-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.0/76.0 kB 3.1 MB/s eta 0:00:00
Collecting fsspec==2023.12.2 (from s3fs)
  Downloading fsspec-2023.12.2-py3-none-any.whl (168 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 169.0/169.0 kB 11.9 MB/s eta 0:00:00
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.10/dist-packages (from s3fs) (3.9.1)
Collecting botocore<1.33.14,>=1.33.2 (from aiobotocore<3.0.0,>=2.5.4->s3fs)
  Downloading botocore-1.33.13-py3-none-any.whl (11.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 78.7 MB/s eta 0:00:00
Requirement already satisfied: wrapt<2.0.0,>=1.10.10 in /usr/local/lib/python3.10/dist-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (1.14.1)
Collecting aioitertools<1.0.0,>=0.5.1 (from aiobotocore<3.0.0,>=2.5.4->s3fs)
  Downloading aioitertools-0.11.0-py3-none-any.whl (23 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.9.4)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.3.1)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (4.0.3)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.33.14,>=1.33.2->aiobotocore<3.0.0,>=2.5.4->s3fs) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.33.14,>=1.33.2->aiobotocore<3.0.0,>=2.5.4->s3fs) (2.8.2)
Requirement already satisfied: urllib3<2.1,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore<1.33.14,>=1.33.2->aiobotocore<3.0.0,>=2.5.4->s3fs) (1.26.18)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.10/dist-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (3.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.33.14,>=1.33.2->aiobotocore<3.0.0,>=2.5.4->s3fs) (1.16.0)
Installing collected packages: fsspec, aioitertools, botocore, aiobotocore, s3fs
  Attempting uninstall: fsspec
    Found existing installation: fsspec 2023.6.0
    Uninstalling fsspec-2023.6.0:
      Successfully uninstalled fsspec-2023.6.0
  Attempting uninstall: botocore
    Found existing installation: botocore 1.34.3
    Uninstalling botocore-1.34.3:
      Successfully uninstalled botocore-1.34.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
boto3 1.17.105 requires botocore<1.21.0,>=1.20.105, but you have botocore 1.33.13 which is incompatible.
gcsfs 2023.6.0 requires fsspec==2023.6.0, but you have fsspec 2023.12.2 which is incompatible.
Successfully installed aiobotocore-2.9.0 aioitertools-0.11.0 botocore-1.33.13 fsspec-2023.12.2 s3fs-2023.12.2
Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (10.0.1)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.10/dist-packages (from pyarrow) (1.23.5)

In [ ]:
import boto3
import pandas as pd
import numpy as np
import pyarrow.parquet as pq
from io import BytesIO
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import missingno as msno
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
import itertools
from sklearn.metrics import confusion_matrix, roc_curve, precision_recall_curve, roc_auc_score

In [ ]:
s3 = boto3.resource(
    service_name='s3',
    region_name='us-east-1',
    aws_access_key_id='AKIAYTYOYG7SCH7IJSEG',
    aws_secret_access_key='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'
)

In [ ]:
# Supondo que df seja o seu DataFrame
# Configuração para exibir todas as colunas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

# Configuração para exibir todas as linhas e colunas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### **Input Variáveis**

#### **Informações ABT - Feature Engineering**

In [ ]:
## Especificar o caminho do objeto do ABT de variáveis preditivas no S3
# Nomedo bucket
bucket_name_abt_fe = 'pod-academy-analise-de-credito-para-fintech'
# Nome da pasta até o arquivo
object_key_abt_fe = 'feature-engineering/01-Bureau/abt_f_bureau.parquet'

# ID
ID_abt_fe = 'SK_ID_CURR_bureau'

#### **Informações ABT - Treino**

In [ ]:
# Nome do bucket
bucket_name_treino = 'pod-academy-analise-de-credito-para-fintech'
# Nome da pasta até o arquivo
object_key_treino = 'dados/application_train.csv'

# ID
ID_treino = 'SK_ID_CURR'

#### **Informações ABT - Teste**

In [ ]:
# Nome do bucket
bucket_name_teste = 'pod-academy-analise-de-credito-para-fintech'
# Nome da pasta até o arquivo
object_key_teste = 'dados/application_test.csv'

# ID
ID_teste = 'SK_ID_CURR'

#### **Informação Sample Submission**

In [ ]:
# Nome do bucket
bucket_name_ss = 'pod-academy-analise-de-credito-para-fintech'
# Nome da pasta até o arquivo
object_key_ss = 'dados/sample_submission.csv'

#### **Pastas no Drive**

In [ ]:
# Pasta no drive em que os .pkl serão salvos
path_pasta_drive = '/content/drive/MyDrive/2. Study  Work/Pod Academy/Hackathon - Ciência de Dados/Códigos e artefatos/00 - Modelagem/01 - Modelo Versão 01'

##### **01 - DataPrep**

In [ ]:
# Pasta no drive em que os .pkl serão salvos
path_drive_dataprep = '/content/drive/MyDrive/2. Study  Work/Pod Academy/Hackathon - Ciência de Dados/Códigos e artefatos/00 - Modelagem/01 - Modelo Versão 01/01 - Data Prep'

#### **Salvar DataPrep**

In [ ]:
# Nome do bucket que o arquivo será salvo
bucket_name = 'pod-academy-analise-de-credito-para-fintech'

# Nome da pasta que o ABT treino será salvo
object_key_abt_treino = 'modelos/modelo_versao_01/abt_train.csv'

# Nome da pasta que o ABT teste será salvo
object_key_abt_teste = 'modelos/modelo_versao_01/abt_test.csv'

### **Ler os dados originais (ABT)**

#### **Dados de abt_f_bureau**

In [ ]:
# Obter o cliente S3 usando meta.client
s3_client = s3.meta.client

# Obter o conteúdo do objeto
response = s3_client.get_object(Bucket=bucket_name_abt_fe, Key=object_key_abt_fe)
body = response['Body'].read()

# Ler o arquivo Parquet usando pyarrow
table = pq.read_table(BytesIO(body))
abt_fe = table.to_pandas()

In [ ]:
abt_fe[ID_abt_fe] = abt_fe[ID_abt_fe].astype('int64')

In [ ]:
abt_fe.shape

(305811, 117)

In [ ]:
abt_fe.head()

,SK_ID_CURR_bureau,sum_credit_day_overdue_credit_active_active,sum_days_credit_enddate_credit_active_active,sum_amt_credit_sum_limit_credit_active_active,sum_amt_credit_sum_debt_credit_active_active,sum_amt_credit_sum_credit_active_active,sum_amt_annuity_credit_active_active,sum_credit_day_overdue_credit_active_closed,sum_days_credit_enddate_credit_active_closed,sum_amt_credit_sum_limit_credit_active_closed,sum_amt_credit_sum_debt_credit_active_closed,sum_amt_credit_sum_credit_active_closed,sum_amt_annuity_credit_active_closed,sum_credit_day_overdue_credit_type_consumer_credit,sum_days_credit_enddate_credit_type_consumer_credit,sum_amt_credit_sum_limit_credit_type_consumer_credit,sum_amt_credit_sum_debt_credit_type_consumer_credit,sum_amt_credit_sum_credit_type_consumer_credit,sum_amt_annuity_credit_type_consumer_credit,sum_credit_day_overdue_credit_type_credit_card,sum_days_credit_enddate_credit_type_credit_card,sum_amt_credit_sum_limit_credit_type_credit_card,sum_amt_credit_sum_debt_credit_type_credit_card,sum_amt_credit_sum_credit_type_credit_card,sum_credit_day_overdue_credit_currency_currency_1,sum_days_credit_enddate_credit_currency_currency_1,sum_amt_credit_sum_limit_credit_currency_currency_1,sum_amt_credit_sum_debt_credit_currency_currency_1,sum_amt_credit_sum_credit_currency_currency_1,sum_amt_annuity_credit_currency_currency_1,max_credit_day_overdue_credit_active_active,max_days_credit_enddate_credit_active_active,max_amt_credit_sum_limit_credit_active_active,max_amt_credit_sum_debt_credit_active_active,max_amt_credit_sum_credit_active_active,max_amt_annuity_credit_active_active,max_credit_day_overdue_credit_active_closed,max_days_credit_enddate_credit_active_closed,max_amt_credit_sum_limit_credit_active_closed,max_amt_credit_sum_debt_credit_active_closed,max_amt_credit_sum_credit_active_closed,max_amt_annuity_credit_active_closed,max_credit_day_overdue_credit_type_consumer_credit,max_days_credit_enddate_credit_type_consumer_credit,max_amt_credit_sum_limit_credit_type_consumer_credit,max_amt_credit_sum_debt_credit_type_consumer_credit,max_amt_credit_sum_credit_type_consumer_credit,max_amt_annuity_credit_type_consumer_credit,max_credit_day_overdue_credit_type_credit_card,max_days_credit_enddate_credit_type_credit_card,max_amt_credit_sum_limit_credit_type_credit_card,max_amt_credit_sum_debt_credit_type_credit_card,max_amt_credit_sum_credit_type_credit_card,max_credit_day_overdue_credit_currency_currency_1,max_days_credit_enddate_credit_currency_currency_1,max_amt_credit_sum_limit_credit_currency_currency_1,max_amt_credit_sum_debt_credit_currency_currency_1,max_amt_credit_sum_credit_currency_currency_1,max_amt_annuity_credit_currency_currency_1,min_credit_day_overdue_credit_active_active,min_days_credit_enddate_credit_active_active,min_amt_credit_sum_limit_credit_active_active,min_amt_credit_sum_debt_credit_active_active,min_amt_credit_sum_credit_active_active,min_amt_annuity_credit_active_active,min_credit_day_overdue_credit_active_closed,min_days_credit_enddate_credit_active_closed,min_amt_credit_sum_limit_credit_active_closed,min_amt_credit_sum_debt_credit_active_closed,min_amt_credit_sum_credit_active_closed,min_amt_annuity_credit_active_closed,min_credit_day_overdue_credit_type_consumer_credit,min_days_credit_enddate_credit_type_consumer_credit,min_amt_credit_sum_limit_credit_type_consumer_credit,min_amt_credit_sum_debt_credit_type_consumer_credit,min_amt_credit_sum_credit_type_consumer_credit,min_amt_annuity_credit_type_consumer_credit,min_credit_day_overdue_credit_type_credit_card,min_days_credit_enddate_credit_type_credit_card,min_amt_credit_sum_limit_credit_type_credit_card,min_amt_credit_sum_debt_credit_type_credit_card,min_amt_credit_sum_credit_type_credit_card,min_credit_day_overdue_credit_currency_currency_1,min_days_credit_enddate_credit_currency_currency_1,min_amt_credit_sum_limit_credit_currency_currency_1,min_amt_credit_sum_debt_credit_currency_currency_1,min_amt_credit_sum_credit_currency_currency_1,min_amt_annuity_credit_currency_currency_1,avg_credit_day_overdue_credit_active_active,avg_days_credit_enddate_credit_active_active,avg_amt_credit_sum_limit_credit_active_active,avg_amt_credit_sum_debt_credit_active_active,avg_amt_credit_sum_credit_active_active,avg_amt_annuity_credit_active_active,avg_credit_day_overdue_credit_active_closed,avg_days_credit_enddate_credit_active_closed,avg_amt_credit_sum_limit_credit_active_closed,avg_amt_credit_sum_debt_credit_active_closed,avg_amt_credit_sum_credit_active_closed,avg_amt_annuity_credit_active_closed,avg_credit_day_overdue_credit_type_consumer_credit,avg_days_credit_enddate_credit_type_consumer_credit,avg_amt_credit_sum_limit_credit_type_consumer_credit,avg_amt_credit_sum_debt_credit_type_consumer_credit,avg_amt_credit_sum_credit_type_consumer_credit,avg_amt_annuity_credit_type_consumer_credit,avg_credit_day_overdue_credit_type_credit_card,avg_days_credit_enddate_credit_type_credit_card,avg_amt_credit_sum_limit_credit_type_credit_card,avg_amt_credit_sum_debt_credit_type_credit_card,avg_amt_credit_sum_credit_type_credit_card,avg_credit_day_overdue_credit_currency_currency_1,avg_days_credit_enddate_credit_currency_currency_1,avg_amt_credit_sum_limit_credit_currency_currency_1,avg_amt_credit_sum_debt_credit_currency_currency_1,avg_amt_credit_sum_credit_currency_currency_1,avg_amt_annuity_credit_currency_currency_1
0,100014,0.0,1427.0,0.0,758214.00,1005750.0,NaN,0.0,-4526.0,0.0,0.0,1724182.43,NaN,0.0,-3099.0,0.0,758214.00,2729932.43,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-3099.0,0.0,758214.00,2729932.43,NaN,0.0,723.0,0.0,420201.00,571500.0,NaN,0.0,45.0,0.0,0.0,900000.00,NaN,0.0,723.0,0.0,420201.00,900000.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,723.0,0.0,420201.00,900000.0,NaN,0.0,704.0,0.0,338013.00,434250.0,NaN,0.0,-1250.0,0.0,0.0,121358.93,NaN,0.0,-1250.0,0.0,0.00,121358.93,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-1250.0,0.0,0.00,121358.93,NaN,0.0,713.5,0.0,379107.00,502875.0,NaN,0.0,-754.33,0.0,0.0,287363.74,NaN,0.0,-387.38,0.0,151642.80,341241.55,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-387.38,0.0,151642.80,341241.55,NaN
1,100090,0.0,207.0,NaN,62170.83,113041.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,207.0,NaN,62170.83,113041.80,NaN,NaN,NaN,NaN,NaN,NaN,0.0,207.0,NaN,62170.83,113041.80,NaN,0.0,50.0,NaN,40522.28,61084.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,50.0,NaN,40522.28,61084.8,NaN,NaN,NaN,NaN,NaN,NaN,0.0,50.0,NaN,40522.28,61084.8,NaN,0.0,157.0,NaN,21648.56,51957.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,157.0,NaN,21648.56,51957.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,157.0,NaN,21648.56,51957.00,NaN,0.0,103.5,NaN,31085.42,56520.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,103.50,NaN,31085.42,56520.90,NaN,NaN,NaN,NaN,NaN,NaN,0.0,103.50,NaN,31085.42,56520.90,NaN
2,100156,0.0,150.0,0.0,0.00,95445.0,0.0,0.0,-6543.0,0.0,0.0,234301.50,3132.0,0.0,-6504.0,0.0,0.00,284746.50,3132.0,0.0,111.0,0.0,0.0,45000.0,0.0,-6393.0,0.0,0.00,329746.50,3132.0,0.0,39.0,0.0,0.00,50445.0,0.0,0.0,-840.0,0.0,0.0,39274.25,954.0,0.0,39.0,0.0,0.00,50445.0,954.0,0.0,111.0,0.0,0.0,45000.0,0.0,39.0,0.0,0.00,50445.0,954.0,0.0,111.0,0.0,0.00,45000.0,0.0,0.0,-1279.0,0.0,0.0,119340.00,0.0,0.0,-1279.0,0.0,0.00,119340.00,0.0,0.0,111.0,0.0,0.0,45000.0,0.0,-1279.0,0.0,0.00,119340.00,0.0,0.0,75.0,0.0,0.00,47722.5,0.0,0.0,-1308.60,0.0,0.0,46860.30,1044.0,0.0,-1084.00,0.0,0.00,47457.75,783.0,0.0,111.0,0.0,0.0,45000.0,0.0,-913.29,0.0,0.00,47106.64,626.4
3,100192,0.0,27519.0,0.0,83998.80,135000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,27519.0,0.0,83998.8,135000.0,0.0,27519.0,0.0,83998.80,135000.00,NaN,0.0,27519.0,0.0,83998.80,135000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,27519.0,0.0,83998.8,135000.0,0.0,27519.0,0.0,83998.80,135000.0,NaN,0.0,27519.0,0.0,83998.80,135000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,27519.0,0.0,83998.8,135000.0,0.0,27519.0,0.0,83998.80,135000.00,NaN,0.0,27519.0,0.0,83998.80,135000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,27519.0,0.0,83998.8,135000.0,0.0,27519.00,0.0,83998.80,135000.00,NaN
4,100262,0.0,1130.0,NaN,2014218.00,2109915.0,NaN,0.0,-4483.0,0.0,0.0,1380478.50,NaN,0.0,-4483.0,0.0,0.00,1380478.50,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-3353.0,0.0,2014218.00,3490393.50,NaN,0.0,1130.0,NaN,2014218.00,2109915.0,NaN,0.0,-766.0,0.0,0.0,675000.00,NaN,0.0,-766.0,0.0,0.00,675000.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1130.0,0.0,2014218.00,675000.0,NaN,0.0,1130.0,NaN,2014218.00,2109915.0,NaN,0.0,-1205.0,0.0,0.0,40230.00,NaN,0.0,-1205.0,0.0,0.00,40230.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-1205.0,0.0,0.00,2109915.00,NaN,0.0,1130.0,NaN,2014218.00,2109915.0,NaN,0.0,-1120.75,0.0,0.0,345119.63,NaN,0.0,-1120.75,0.0,0.00,345119.63,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-670.60,0.0,402843.60,698078.70,NaN

#### **Dados de Treino**

In [ ]:
# Load csv file directly into python
obj = s3.Bucket(bucket_name_treino).Object(object_key_treino).get()
df_train = pd.read_csv(obj['Body'])

In [ ]:
df_train.shape

(215257, 172)

In [ ]:
df_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50
0,247330,0,Cash loans,F,N,N,0,157500.0,706410.0,67072.5,679500.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.032561,-14653,-2062,-8599.0,-2087,NaN,1,1,0,1,1,0,Private service staff,2.0,1,1,WEDNESDAY,13,0,0,0,0,0,0,Services,NaN,0.632424,0.220095,NaN,0.1050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0702,Panel,No,1.0,0.0,1.0,0.0,-1254.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.381340,0.253773,0.205728,0.808261,0.917700,0.487698,0.955921,0.089342,0.519432,0.667806,0.333320,0.873508,0.293837,0.758751,0.972640,0.813237,0.398762,0.060109,0.432021,0.711729,0.455977,0.532977,0.615955,0.005083,0.465449,0.145924,0.026534,0.562217,0.380997,0.634713,0.322195,0.677877,0.518137,0.284267,0.896499,0.260938,0.030923,0.052023,0.969193,0.984378,0.824762,0.333516,0.293260,0.564878,0.115058,0.655605,0.415562,0.092643,0.723331,0.796523
1,425716,1,Cash loans,F,Y,Y,1,121500.0,545040.0,25407.0,450000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.007114,-13995,-2246,-348.0,-172,12.0,1,1,1,1,1,0,Secretaries,3.0,2,2,MONDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.593456,0.695997,0.633032,0.6680,NaN,0.9856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6817,NaN,NaN,0.6807,NaN,0.9856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7102,NaN,NaN,0.6745,NaN,0.9856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6939,NaN,NaN,NaN,block of flats,0.5501,"Stone, brick",No,1.0,0.0,1.0,0.0,-907.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.936515,0.179481,0.843631,0.520029,0.907421,0.442279,0.305319,0.125968,0.925484,0.198714,0.793117,0.920624,0.587697,0.193858,0.720867,0.347189,0.906016,0.329694,0.802493,0.150473,0.418284,0.868025,0.254219,0.956146,0.347596,0.341439,0.744123,0.045891,0.978561,0.961868,0.985735,0.547768,0.822529,0.392172,0.463642,0.523900,0.397622,0.483889,0.599514,0.101305,0.416260,0.404293,0.137944,0.457971,0.303691,0.215059,0.838892,0.608335,0.585643,0.298456
2,331625,0,Cash loans,M,Y,Y,1,225000.0,942300.0,27679.5,675000.0,Unaccompanied,Working,Secondary / secondary special,Married,Municipal apartment,0.022625,-21687,-1335,-6306.0,-4026,1.0,1,1,0,1,0,0,Laborers,3.0,2,2,THURSDAY,10,0,0,0,0,0,0,Self-employed,NaN,0.667686,0.607557,0.6443,0.3483,0.9791,0.7144,0.3331,0.72,0.6207,0.3333,0.375,0.3720,0.5253,0.6223,0.0,0.0,0.6565,0.3615,0.9791,0.7256,0.3361,0.725,0.6207,0.3333,0.375,0.3804,0.5739,0.6483,0.0,0.0,0.6506,0.3483,0.9791,0.7182,0.3352,0.72,0.6207,0.3333,0.375,0.3784,0.5344,0.6334,0.0,0.0,reg oper account,block of flats,0.6714,Panel,No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.499898,0.984300,0.145573,0.763623,0.517144,0.251938,0.778078,0.778633,0.711306,0.606748,0.808992,0.594886,0.861306,0.225132,0.578306,0.007019,0.651399,0.145081,0.724807,0.154568,0.379459,0.901351,0.569352,0.366350,0.004014,0.151749,0.197556,0.512563,0.932741,0.427496,0.737803,0.399106,0.900378,0.348174,0.614347,0.934229,0.006252,0.547868,0.479080,0.600169,0.037711,0.124465,0.091840,0.364601,0.978220,0.520309,0.594523,0.559650,0.361873,0.254804
3,455397,0,Revolving loans,F,N,Y,2,144000.0,180000.0,9000.0,180000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,House / apartment,0.006629,-13071,-2292,-742.0,-1201,NaN,1,1,1,1,1,0,Cooking staff,3.0,2,2,MONDAY,8,0,0,0,0,0,0,Restaurant,NaN,0.314634,0.427657,0.0261,0.0000,0.9881,0.8640,NaN,0.00,0.0803,0.0692,NaN,0.0085,NaN,0.0190,NaN,0.0,0.0189,0.0000,0.9871,0.8693,NaN,0.000,0.1034,0.0833,NaN,0.0068,NaN,0.0114,NaN,0.0,0.0281,0.0000,0.9871,0.8658,NaN,0.00,0.1034,0.0833,NaN,0.0088,NaN,0.0195,NaN,0.0,reg oper account,block of flats,0.0180,Block,No,0.0,0.0,0.0,0.0,-394.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0,0.315107,0.766009,0.065409,0.205370,0.426937,0.669344,0.490902,0.392566,0.346318,0.025155,0.760782,0.530627,0.848179,0.759807,0.754668,0.795626,0.242511,0.802291,0.026778,0.787870,0.355061,0.132290,0.246993,0.506481,0.684924,0.233690,0.804141,0.010132,0.932631,0.090540,0.683468,0.365466,0.280388,0.670943,0.850415,0.759835,0.979863,0.922059,0.950338,0.822062,0.784630,0.831403,0.210872,0.049639,0.814219,0.830179,0.755163,0.216664,0.603002,0.429001
4,449114,0,Cash loans,F,N,Y,0,112500.0,729792.0,37390.5,630000.0,Unaccompanied,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,0.046220,-19666,365243,-169.0,-3112,NaN,1,0,0,1,0,0,NaN,2.0,1,1,FRIDAY,10,0,0,0,0,0,0,XNA,0.599579,0.505944,0.239226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.448089,0.374995,0.606112,0.488309,0.321528,0.338132,0.866652,0.102163,0.449259,0.604513,0.691355,0.978607,0.978347,0.755776,0.037144,0.203080,0.492793,0.334378,0.447210,0.295394,0.620938,0.322072,0.264834,0.209451,0.654736,0.264538,0.133390,0.918640,0.890932,0.243396,0.108121,0.472345,0.045164,0.746089,0.469676,0.594308,0.961698,0.608098,0.041375,0.767341,0.265381,0.655344,0.668705,0.171391,0.335702,0.585494,0.619551,0.686738,0.540449,0.343632

#### **Agregar abt_f_bureau com Treino**

In [ ]:
df_train_00 = pd.merge(df_train, abt_fe, left_on=ID_treino, right_on=ID_abt_fe, how='left')

In [ ]:
df_train_00.shape

(215257, 289)

In [ ]:
df_train_00.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50,SK_ID_CURR_bureau,sum_credit_day_overdue_credit_active_active,sum_days_credit_enddate_credit_active_active,sum_amt_credit_sum_limit_credit_active_active,sum_amt_credit_sum_debt_credit_active_active,sum_amt_credit_sum_credit_active_active,sum_amt_annuity_credit_active_active,sum_credit_day_overdue_credit_active_closed,sum_days_credit_enddate_credit_active_closed,sum_amt_credit_sum_limit_credit_active_closed,sum_amt_credit_sum_debt_credit_active_closed,sum_amt_credit_sum_credit_active_closed,sum_amt_annuity_credit_active_closed,sum_credit_day_overdue_credit_type_consumer_credit,sum_days_credit_enddate_credit_type_consumer_credit,sum_amt_credit_sum_limit_credit_type_consumer_credit,sum_amt_credit_sum_debt_credit_type_consumer_credit,sum_amt_credit_sum_credit_type_consumer_credit,sum_amt_annuity_credit_type_consumer_credit,sum_credit_day_overdue_credit_type_credit_card,sum_days_credit_enddate_credit_type_credit_card,sum_amt_credit_sum_limit_credit_type_credit_card,sum_amt_credit_sum_debt_credit_type_credit_card,sum_amt_credit_sum_credit_type_credit_card,sum_credit_day_overdue_credit_currency_currency_1,sum_days_credit_enddate_credit_currency_currency_1,sum_amt_credit_sum_limit_credit_currency_currency_1,sum_amt_credit_sum_debt_credit_currency_currency_1,sum_amt_credit_sum_credit_currency_currency_1,sum_amt_annuity_credit_currency_currency_1,max_credit_day_overdue_credit_active_active,max_days_credit_enddate_credit_active_active,max_amt_credit_sum_limit_credit_active_active,max_amt_credit_sum_debt_credit_active_active,max_amt_credit_sum_credit_active_active,max_amt_annuity_credit_active_active,max_credit_day_overdue_credit_active_closed,max_days_credit_enddate_credit_active_closed,max_amt_credit_sum_limit_credit_active_closed,max_amt_credit_sum_debt_credit_active_closed,max_amt_credit_sum_credit_active_closed,max_amt_annuity_credit_active_closed,max_credit_day_overdue_credit_type_consumer_credit,max_days_credit_enddate_credit_type_consumer_credit,max_amt_credit_sum_limit_credit_type_consumer_credit,max_amt_credit_sum_debt_credit_type_consumer_credit,max_amt_credit_sum_credit_type_consumer_credit,max_amt_annuity_credit_type_consumer_credit,max_credit_day_overdue_credit_type_credit_card,max_days_credit_enddate_credit_type_credit_card,max_amt_credit_sum_limit_credit_type_credit_card,max_amt_credit_sum_debt_credit_type_credit_card,max_amt_credit_sum_credit_type_credit_card,max_credit_day_overdue_credit_currency_currency_1,max_days_credit_enddate_credit_currency_currency_1,max_amt_credit_sum_limit_credit_currency_currency_1,max_amt_credit_sum_debt_credit_currency_currency_1,max_amt_credit_sum_credit_currency_currency_1,max_amt_annuity_credit_currency_currency_1,min_credit_day_overdue_credit_active_active,min_days_credit_enddate_credit_active_active,min_amt_credit_sum_limit_credit_active_active,min_amt_credit_sum_debt_credit_active_active,min_amt_credit_sum_credit_active_active,min_amt_annuity_credit_active_active,min_credit_day_overdue_credit_active_closed,min_days_credit_enddate_credit_active_closed,min_amt_credit_sum_limit_credit_active_closed,min_amt_credit_sum_debt_credit_active_closed,min_amt_credit_sum_credit_active_closed,min_amt_annuity_credit_active_closed,min_credit_day_overdue_credit_type_consumer_credit,min_days_credit_enddate_credit_type_consumer_credit,min_amt_credit_sum_limit_credit_type_consumer_credit,min_amt_credit_sum_debt_credit_type_consumer_credit,min_amt_credit_sum_credit_type_consumer_credit,min_amt_annuity_credit_type_consumer_credit,min_credit_day_overdue_credit_type_credit_card,min_days_credit_enddate_credit_type_credit_card,min_amt_credit_sum_limit_credit_type_credit_card,min_amt_credit_sum_debt_credit_type_credit_card,min_amt_credit_sum_credit_type_credit_card,min_credit_day_overdue_credit_currency_currency_1,min_days_credit_enddate_credit_currency_currency_1,min_amt_credit_sum_limit_credit_currency_currency_1,min_amt_credit_sum_debt_credit_currency_currency_1,min_amt_credit_sum_credit_currency_currency_1,min_amt_annuity_credit_currency_currency_1,avg_credit_day_overdue_credit_active_active,avg_days_credit_enddate_credit_active_active,avg_amt_credit_sum_limit_credit_active_active,avg_amt_credit_sum_debt_credit_active_active,avg_amt_credit_sum_credit_active_active,avg_amt_annuity_credit_active_active,avg_credit_day_overdue_credit_active_closed,avg_days_credit_enddate_credit_active_closed,avg_amt_credit_sum_limit_credit_active_closed,avg_amt_credit_sum_debt_credit_active_closed,avg_amt_credit_sum_credit_active_closed,avg_amt_annuity_credit_active_closed,avg_credit_day_overdue_credit_type_consumer_credit,avg_days_credit_enddate_credit_type_consumer_credit,avg_amt_credit_sum_limit_credit_type_consumer_credit,avg_amt_credit_sum_debt_credit_type_consumer_credit,avg_amt_credit_sum_credit_type_consumer_credit,avg_amt_annuity_credit_type_consumer_credit,avg_credit_day_overdue_credit_type_credit_card,avg_days_credit_enddate_credit_type_credit_card,avg_amt_credit_sum_limit_credit_type_credit_card,avg_amt_credit_sum_debt_credit_type_credit_card,avg_amt_credit_sum_credit_type_credit_card,avg_credit_day_overdue_credit_currency_currency_1,avg_days_credit_enddate_credit_currency_currency_1,avg_amt_credit_sum_limit_credit_currency_currency_1,avg_amt_credit_sum_debt_credit_currency_currency_1,avg_amt_credit_sum_credit_currency_currency_1,avg_amt_annuity_credit_currency_currency_1
0,247330,0,Cash loans,F,N,N,0,157500.0,706410.0,67072.5,679500.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.032561,-14653,-2062,-8599.0,-2087,NaN,1,1,0,1,1,0,Private service staff,2.0,1,1,WEDNESDAY,13,0,0,0,0,0,0,Services,NaN,0.632424,0.220095,NaN,0.1050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0702,Panel,No,1.0,0.0,1.0,0.0,-1254.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.381340,0.253773,0.205728,0.808261,0.917700,0.487698,0.955921,0.089342,0.519432,0.667806,0.333320,0.873508,0.293837,0.758751,0.972640,0.813237,0.398762,0.060109,0.432021,0.711729,0.455977,0.532977,0.615955,0.005083,0.465449,0.145924,0.026534,0.562217,0.380997,0.634713,0.322195,0.677877,0.518137,0.284267,0.896499,0.260938,0.030923,0.052023,0.969193,0.984378,0.824762,0.333516,0.293260,0.564878,0.115058,0.655605,0.415562,0.092643,0.723331,0.796523,247330.0,0.0,562.0,30927.38,445207.5,805500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,562.0,30927.38,445207.50,805500.0,0.0,562.0,30927.38,445207.5,805500.00,NaN,0.0,562.0,30927.38,300636.0,630000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,562.0,30927.38,300636.00,630000.0,0.0,562.0,30927.38,300636.0,630000.0,NaN,0.0,562.0,0.00,144571.50,175500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,562.0,0.00,144571.50,175500.0,0.0,562.0,0.0,144571.50,175500.0,NaN,0.0,562.00,15463.69,222603.75,402750.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,562.00,15463.69,222603.75,402750.0,0.0,562.00,15463.69,222603.75,402750.00,NaN
1,425716,1,Cash loans,F,Y,Y,1,121500.0,545040.0,25407.0,450000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.007114,-13995,-2246,-348.0,-172,12.0,1,1,1,1,1,0,Secretaries,3.0,2,2,MONDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.593456,0.695997,0.633032,0.6680,NaN,0.9856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6817,NaN,NaN,0.6807,NaN,0.9856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7102,NaN,NaN,0.6745,NaN,0.9856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6939,NaN,NaN,NaN,block of flats,0.5501,"Stone, brick",No,1.0,0.0,1.0,0.0,-907.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.936515,0.179481,0.843631,0.520029,0.907421,0.442279,0.305319,0.125968,0.925484,0.198714,0.793117,0.920624,0.587697,0.193858,0.720867,0.347189,0.906016,0.329694,0.802493,0.150473,0.418284,0.868025,0.254219,0.956146,0.347596,0.341439,0.744123,0.045891,0.978561,0.961868,0.985735,0.547768,0.822529,0.392172,0.463642,0.523900,0.397622,0.483889,0.599514,0.101305,0.416260,0.404293,0.137944,0.457971,0.303691,0.215059,0.838892,0.608335,0.585643,0.298456,425716.0,0.0,199.0,0.00,53883.0,84150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,199.0,0.0,53883.0,84150.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,199.0,0.00,53883.0,84150.00,NaN,0.0,199.0,0.00,53883.0,84150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,199.0,0.0,53883.0,84150.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,199.0,0.00,53883.0,84150.0,NaN,0.0,199.0,0.00,53883.00,84150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,199.0,0.0,53883.0,84150.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,199.0,0.0,53883.00,84150.0,NaN,0.0,199.00,0.00,53883.00,84150.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,199.0,0.0,53883.0,84150.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,199.00,0.00,53883.00,84150.00,NaN
2,331625,0,Cash loans,M,Y,Y,1,225000.0,942300.0,27679.5,675000.0,Unaccompanied,Working,Secondary / secondary special,Married,Municipal apartment,0.022625,-21687,-1335,-6306.0,-4026,1.0,1,1,0,1,0,0,Laborers,3.0,2,2,THURSDAY,10,0,0,0,0,0,0,Self-employed,NaN,0.667686,0.607557,0.6443,0.3483,0.9791,0.7144,0.3331,0.72,0.6207,0.3333,0.375,0.3720,0.5253,0.6223,0.0,0.0,0.6565,0.3615,0.9791,0.7256,0.3361,0.725,0.6207,0.3333,0.375,0.3804,0.5739,0.6483,0.0,0.0,0.6506,0.3483,0.9791,0.7182,0.3352,0.72,0.6207,0.3333,0.375,0.3784,0.5344,0.6334,0.0,0.0,reg oper account,block of flats,0.6714,Panel,No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.499898,0.984300,0.145573,0.763623,0.517144,0.251938,0.778078,0.778633,0.711306,0.606748,0.808992,0.594886,0.861306,0.225132,0.578306,0.007019,0.651399,0.145081,0.724807,0.154568,0.379459,0.901351,0.569352,0.366350,0.004014,0.151749,0.197556,0.512563,0.932741,0.427496,0.737803,0.399106,0.900378,0.348174,0.614347,0.934229,0.006252,0.547868,0.479080,0.600169,0.037711,0.124465,0.091840,0.364601,0.978220,0.520309,0.594523,0.559650,0.361873,0.254804,331625.0,0.0,2631.0,482675.81,3471973.7,4301235.0,NaN,0.0,-2398.0,0.0,0.0,65316.42,NaN,0.0,-2398.0,0.0,0.0,65316.42,NaN,0.0,1166.0,482675.81,219324.19,409500.0,0.0,-655.0,482675.81,3471973.7,7014879.27,NaN,0.0,856.0,816.89,3252649.5,3891735.0,NaN,0.0,-1354.0,0.0,0.0,36817.92,NaN,0.0,-1354.0,0.0,0.0,36817.92,NaN,0.0,856.0,816.89,220141.08,274500.0,0.0,856.0,816.89,3252649.5,3891735.0,NaN,0.0,-454.0,207358.92,-816.89,0.0,NaN,0.0,-1044.0,0.0,0.0,28498.5,NaN,0.0,-1044.0,0.0,0.0,28498.5,NaN,0.0,-454.0,207358.92,-816.89,0.0,0.0,-1044.0,0.0,-816.89,0.0,NaN,0.0,657.75,160891.94,867993.42,1075308.75,NaN,0.0,-1199.0,0.0,0.0,32658.21,NaN,0.0,-1199.0,0.0,0.0,32658.21,NaN,0.0,388.67,160891.94,73108.06,136500.0,0.0,-93.57,96535.16,495996.24,1002125.61,NaN
3,455397,0,Revolving loans,F,N,Y,2,144000.0,180000.0,9000.0,180000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,House / apartment,0.006629,-13071,-2292,-742.0,-1201,NaN,1,1,1,1,1,0,Cooking staff,3.0,2,2,MONDAY,8,0,0,0,0,0,0,Restaurant,NaN,0.314634,0.427657,0.0261,0.0000,0.9881,0.8640,NaN,0.00,0.0803,0.0692,NaN,0.0085,NaN,0.0190,NaN,0.0,0.0189,0.0000,0.9871,0.8693,NaN,0.000,0.1034,0.0833,NaN,0.0068,NaN,0.0114,NaN,0.0,0.0281,0.0000,0.9871,0.8658,NaN,0.00,0.1034,0.0833,NaN,0.0088,NaN,0.0195,NaN,0.0,reg oper account,block of flats,0.0180,Block,No,0.0,0.0,0.0,0.0,-394.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0,0.315107,0.766009,0.065409,0.205370,0.426937,0.669344,0.490902,0.392566,0.346318,0.025155,0.760782,0.530627,0.848179,0.759807,0.754668,0.795626,0.242511,0.802291,0.026778,0.787870,0.355061,0.132290,0.246993,0.506481,0.684924,0.233690,0.804141,0.010132,0.932631,0.090540,0.683468,0.365466,0.280388,0.670943,0.850415,0.759835,0.979863,0.922059,0.950338,0.822062,0.784630,0.831403,0.210872,0.049639,0.814219,0.830179,0.755163,0.216664,0.603002,0.429001,455397.0,0.0,280.0,0.00,93339.0,107325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,280.0,0.0,93339.0,107325.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,280.0,0.00,93339.0,107325.00,NaN,0.0,280.0,0.00,93339.0,107325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,280.0,0.0,93339.0,107325.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,280.0,0.00,93339.0,107325.0,NaN,0.0,280.0,0.00,93339.00,107325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,280.0,0.0,93339.0,107325.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,280.0,0.0,93339.00,107325.0,NaN,0.0,280.00,0.00,93339.00,107325.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,280.0,0.0,93339.0,107325.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,280.00,0.00,93339.00,107325.00,NaN
4,449114,0,Cash loans,F,N,Y,0,112500.0,729792.0,37390.5,630000.0,Unaccompanied,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,0.046220,-19666,365243,-169.0,-3112,NaN,1,0,0,1,0,0,NaN,2.0,1,1,FRIDAY,10,0,0,0,0,0,0,XNA,0.599579,0.505944,0.239226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.448089,0.374995,0.606112,0.488309,0.321528,0.338132,0.866652,0.102163,0.449259,0.604513,0.691355,0.978607,0.978347,0.755776,0.037144,0.203080,0.492793,0.334378,0.447210,0.295394,0.620938,0.322072,0.264834,0.209451,0.654736,0.264538,0.133390,0.918640,0.890932,0.243396,0.108121,0.472345,0.045164,0.746089,0.469676,0.594308,0.961698,0.608098,0.041375,0.767341,0.265381,0.655344,0.668705,0.171391,0.335702,0.585494,0.619551,0.686738,0.540449,0.343632,449114.0,0.0,532.0,0.00,65619.0,67500.0,3960.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,532.0,0.00,65619.00,67500.0,0.0,532.0,0.00,65619.0,67500.00,3960.0,0.0,532.0,0.00,65619.0,67500.0,3960.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,532.0,0.00,65619.00,67500.0,0.0,532.0,0.00,65619.0,67500.0,3960.0,0.0,532.0,0.00,65619.00,67500.0,3960.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,532.0,0.00,65619.00,67500.0,0.0,532.0,0.0,65619.00,67500.0,3960.0,0.0,532.00,0.00,65619.00,67500.00,3960.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,532.00,0.00,65619.00,67500.0,0.0,532.00,0.00,65619.00,67500.00,3960.0

#### **Dados de Teste**

In [ ]:
# Load csv file directly into python
obj = s3.Bucket(bucket_name_teste).Object(object_key_teste).get()
df_test = pd.read_csv(obj['Body'])

In [ ]:
df_test.shape

(92254, 171)

In [ ]:
df_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50
0,384575,Cash loans,M,Y,N,2,207000.0,465457.5,52641.0,418500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.009630,-13297,-762,-637.0,-4307,19.0,1,1,0,1,0,0,Sales staff,4.0,2,2,THURSDAY,11,0,0,0,0,1,1,Business Entity Type 3,0.675878,0.604894,0.000527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0,0.498778,0.625884,0.265659,0.025378,0.098284,0.570080,0.688300,0.499184,0.160768,0.907588,0.413844,0.433962,0.062781,0.056164,0.053984,0.169830,0.792787,0.754734,0.093528,0.166290,0.185699,0.423460,0.772894,0.950160,0.775363,0.321992,0.059547,0.378230,0.515026,0.643832,0.523899,0.946518,0.680461,0.263576,0.588816,0.325690,0.892676,0.608591,0.700737,0.691937,0.633686,0.664401,0.087885,0.350320,0.247838,0.700314,0.709003,0.625105,0.847218,0.445958
1,214010,Cash loans,F,Y,Y,0,247500.0,1281712.5,48946.5,1179000.0,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,0.006852,-14778,-1141,-1610.0,-4546,11.0,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.430827,0.425351,0.712155,0.0753,0.0568,0.9970,0.9592,0.1326,0.08,0.0517,0.4167,0.2917,0.0735,0.0601,0.0844,0.0058,0.1118,0.0756,0.0566,0.9940,0.9216,0.0523,0.0806,0.0345,0.3333,0.0417,0.0445,0.0652,0.0857,0.0,0.0000,0.0760,0.0568,0.9970,0.9597,0.1335,0.08,0.0517,0.4167,0.2917,0.0748,0.0611,0.0859,0.0058,0.1142,reg oper account,block of flats,0.0754,Monolithic,No,2.0,0.0,2.0,0.0,-1071.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0,0.743815,0.706303,0.107170,0.214413,0.578901,0.976152,0.080877,0.258163,0.556638,0.514318,0.466754,0.838954,0.021139,0.829923,0.307845,0.648014,0.289500,0.237590,0.338313,0.727474,0.741091,0.825345,0.404855,0.358584,0.778997,0.821256,0.841797,0.456666,0.242587,0.147250,0.234968,0.466480,0.505761,0.620883,0.286285,0.112869,0.311603,0.081432,0.934776,0.414297,0.249826,0.569889,0.161183,0.932276,0.720287,0.251879,0.439528,0.269992,0.547486,0.657934
2,142232,Cash loans,F,Y,N,0,202500.0,495000.0,39109.5,495000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-17907,-639,-2507.0,-1461,4.0,1,1,1,1,0,0,Sales staff,2.0,2,2,TUESDAY,16,0,0,0,0,0,0,Self-employed,0.527239,0.531760,0.207964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0.0,5.0,0.0,-1435.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0,0.321900,0.267463,0.087238,0.356200,0.739791,0.267510,0.418676,0.937275,0.790341,0.511647,0.044840,0.550507,0.884842,0.785302,0.020373,0.763583,0.834871,0.572777,0.184390,0.794555,0.440456,0.307926,0.835268,0.988496,0.367651,0.054285,0.311133,0.294156,0.418275,0.247888,0.499605,0.225794,0.638410,0.631781,0.450748,0.929628,0.045871,0.582653,0.036832,0.653533,0.081305,0.025186,0.391566,0.737325,0.090995,0.327031,0.787739,0.820345,0.523118,0.339553
3,389171,Cash loans,F,N,Y,0,247500.0,254700.0,24939.0,225000.0,Unaccompanied,State servant,Secondary / secondary special,Widow,House / apartment,0.046220,-19626,-6982,-11167.0,-3158,NaN,1,1,0,1,0,0,High skill tech staff,1.0,1,1,FRIDAY,14,0,0,0,0,0,0,Business Entity Type 3,NaN,0.693521,0.614414,0.1320,0.0645,0.9846,NaN,NaN,0.16,0.0690,0.6250,NaN,NaN,NaN,0.1628,NaN,0.0022,0.1345,0.0670,0.9846,NaN,NaN,0.1611,0.0690,0.6250,NaN,NaN,NaN,0.1696,NaN,0.0023,0.1332,0.0645,0.9846,NaN,NaN,0.16,0.0690,0.6250,NaN,NaN,NaN,0.1657,NaN,0.0022,NaN,NaN,0.1285,Panel,No,0.0,0.0,0.0,0.0,-2000.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.390956,0.604897,0.303842,0.999446,0.899552,0.261569,0.548164,0.181702,0.543788,0.095174,0.160118,0.409045,0.452321,0.779180,0.824355,0.386307,0.812087,0.413735,0.255476,0.789900,0.485669,0.810365,0.804058,0.259619,0.113242,0.359041,0.584501,0.273965,0.085406,0.322665,0.340936,0.900358,0.533037,0.624652,0.945713,0.456945,0.869041,0.681266,0.905376,0.391322,0.062781,0.129004,0.054182,0.084110,0.619411,0.115114,0.314785,0.659989,0.864239,0.315243
4,283617,Cash loans,M,N,Y,0,112500.0,308133.0,15862.5,234000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018850,-20327,-1105,-7299.0,-494,NaN,1,1,0,1,0,0,Laborers,1.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.654882,0.560690,0.636376,0.0619,0.0553,0.9717,NaN,NaN,0.00,0.1724,0.1667,NaN,0.0866,NaN,0.0749,NaN,0.0149,0.0630,0.0574,0.9717,NaN,NaN,0.0000,0.1724,0.1667,NaN,0.0885,NaN,0.0780,NaN,0.0158,0.0625,0.0553,0.9717,NaN,NaN,0.00,0.1724,0.1667,NaN,0.0881,NaN,0.0762,NaN,0.0152,NaN,block of flats,0.0765,"Stone, brick",No,0.0,0.0,0.0,0.0,-173.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.551819,0.954089,0.193512,0.439986,0.379392,0.207062,0.173192,0.033075,0.122819,0.464452,0.129018,0.939042,0.316347,0.952071,0.115627,0.693830,0.519580,0.950370,0.037493,0.194599,0.467339,0.716767,0.950783,0.875115,0.840490,0.117395,0.016361,0.033624,0.460128,0.475005,0.243073,0.852999,0.517462,0.800959,0.551707,0.489455,0.307185,0.170799,0.410885,0.730939,0.730765,0.292157,0.155718,0.276252,0.666383,0.140511,0.598934,0.631357,0.412754,0.628068

#### **Agregar abt_f_bureau com Teste**

In [ ]:
df_test_00 = pd.merge(df_test, abt_fe, left_on=ID_teste, right_on=ID_abt_fe, how='left')

In [ ]:
df_test_00.shape

(92254, 288)

In [ ]:
df_test_00.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50,SK_ID_CURR_bureau,sum_credit_day_overdue_credit_active_active,sum_days_credit_enddate_credit_active_active,sum_amt_credit_sum_limit_credit_active_active,sum_amt_credit_sum_debt_credit_active_active,sum_amt_credit_sum_credit_active_active,sum_amt_annuity_credit_active_active,sum_credit_day_overdue_credit_active_closed,sum_days_credit_enddate_credit_active_closed,sum_amt_credit_sum_limit_credit_active_closed,sum_amt_credit_sum_debt_credit_active_closed,sum_amt_credit_sum_credit_active_closed,sum_amt_annuity_credit_active_closed,sum_credit_day_overdue_credit_type_consumer_credit,sum_days_credit_enddate_credit_type_consumer_credit,sum_amt_credit_sum_limit_credit_type_consumer_credit,sum_amt_credit_sum_debt_credit_type_consumer_credit,sum_amt_credit_sum_credit_type_consumer_credit,sum_amt_annuity_credit_type_consumer_credit,sum_credit_day_overdue_credit_type_credit_card,sum_days_credit_enddate_credit_type_credit_card,sum_amt_credit_sum_limit_credit_type_credit_card,sum_amt_credit_sum_debt_credit_type_credit_card,sum_amt_credit_sum_credit_type_credit_card,sum_credit_day_overdue_credit_currency_currency_1,sum_days_credit_enddate_credit_currency_currency_1,sum_amt_credit_sum_limit_credit_currency_currency_1,sum_amt_credit_sum_debt_credit_currency_currency_1,sum_amt_credit_sum_credit_currency_currency_1,sum_amt_annuity_credit_currency_currency_1,max_credit_day_overdue_credit_active_active,max_days_credit_enddate_credit_active_active,max_amt_credit_sum_limit_credit_active_active,max_amt_credit_sum_debt_credit_active_active,max_amt_credit_sum_credit_active_active,max_amt_annuity_credit_active_active,max_credit_day_overdue_credit_active_closed,max_days_credit_enddate_credit_active_closed,max_amt_credit_sum_limit_credit_active_closed,max_amt_credit_sum_debt_credit_active_closed,max_amt_credit_sum_credit_active_closed,max_amt_annuity_credit_active_closed,max_credit_day_overdue_credit_type_consumer_credit,max_days_credit_enddate_credit_type_consumer_credit,max_amt_credit_sum_limit_credit_type_consumer_credit,max_amt_credit_sum_debt_credit_type_consumer_credit,max_amt_credit_sum_credit_type_consumer_credit,max_amt_annuity_credit_type_consumer_credit,max_credit_day_overdue_credit_type_credit_card,max_days_credit_enddate_credit_type_credit_card,max_amt_credit_sum_limit_credit_type_credit_card,max_amt_credit_sum_debt_credit_type_credit_card,max_amt_credit_sum_credit_type_credit_card,max_credit_day_overdue_credit_currency_currency_1,max_days_credit_enddate_credit_currency_currency_1,max_amt_credit_sum_limit_credit_currency_currency_1,max_amt_credit_sum_debt_credit_currency_currency_1,max_amt_credit_sum_credit_currency_currency_1,max_amt_annuity_credit_currency_currency_1,min_credit_day_overdue_credit_active_active,min_days_credit_enddate_credit_active_active,min_amt_credit_sum_limit_credit_active_active,min_amt_credit_sum_debt_credit_active_active,min_amt_credit_sum_credit_active_active,min_amt_annuity_credit_active_active,min_credit_day_overdue_credit_active_closed,min_days_credit_enddate_credit_active_closed,min_amt_credit_sum_limit_credit_active_closed,min_amt_credit_sum_debt_credit_active_closed,min_amt_credit_sum_credit_active_closed,min_amt_annuity_credit_active_closed,min_credit_day_overdue_credit_type_consumer_credit,min_days_credit_enddate_credit_type_consumer_credit,min_amt_credit_sum_limit_credit_type_consumer_credit,min_amt_credit_sum_debt_credit_type_consumer_credit,min_amt_credit_sum_credit_type_consumer_credit,min_amt_annuity_credit_type_consumer_credit,min_credit_day_overdue_credit_type_credit_card,min_days_credit_enddate_credit_type_credit_card,min_amt_credit_sum_limit_credit_type_credit_card,min_amt_credit_sum_debt_credit_type_credit_card,min_amt_credit_sum_credit_type_credit_card,min_credit_day_overdue_credit_currency_currency_1,min_days_credit_enddate_credit_currency_currency_1,min_amt_credit_sum_limit_credit_currency_currency_1,min_amt_credit_sum_debt_credit_currency_currency_1,min_amt_credit_sum_credit_currency_currency_1,min_amt_annuity_credit_currency_currency_1,avg_credit_day_overdue_credit_active_active,avg_days_credit_enddate_credit_active_active,avg_amt_credit_sum_limit_credit_active_active,avg_amt_credit_sum_debt_credit_active_active,avg_amt_credit_sum_credit_active_active,avg_amt_annuity_credit_active_active,avg_credit_day_overdue_credit_active_closed,avg_days_credit_enddate_credit_active_closed,avg_amt_credit_sum_limit_credit_active_closed,avg_amt_credit_sum_debt_credit_active_closed,avg_amt_credit_sum_credit_active_closed,avg_amt_annuity_credit_active_closed,avg_credit_day_overdue_credit_type_consumer_credit,avg_days_credit_enddate_credit_type_consumer_credit,avg_amt_credit_sum_limit_credit_type_consumer_credit,avg_amt_credit_sum_debt_credit_type_consumer_credit,avg_amt_credit_sum_credit_type_consumer_credit,avg_amt_annuity_credit_type_consumer_credit,avg_credit_day_overdue_credit_type_credit_card,avg_days_credit_enddate_credit_type_credit_card,avg_amt_credit_sum_limit_credit_type_credit_card,avg_amt_credit_sum_debt_credit_type_credit_card,avg_amt_credit_sum_credit_type_credit_card,avg_credit_day_overdue_credit_currency_currency_1,avg_days_credit_enddate_credit_currency_currency_1,avg_amt_credit_sum_limit_credit_currency_currency_1,avg_amt_credit_sum_debt_credit_currency_currency_1,avg_amt_credit_sum_credit_currency_currency_1,avg_amt_annuity_credit_currency_currency_1
0,384575,Cash loans,M,Y,N,2,207000.0,465457.5,52641.0,418500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.009630,-13297,-762,-637.0,-4307,19.0,1,1,0,1,0,0,Sales staff,4.0,2,2,THURSDAY,11,0,0,0,0,1,1,Business Entity Type 3,0.675878,0.604894,0.000527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0,0.498778,0.625884,0.265659,0.025378,0.098284,0.570080,0.688300,0.499184,0.160768,0.907588,0.413844,0.433962,0.062781,0.056164,0.053984,0.169830,0.792787,0.754734,0.093528,0.166290,0.185699,0.423460,0.772894,0.950160,0.775363,0.321992,0.059547,0.378230,0.515026,0.643832,0.523899,0.946518,0.680461,0.263576,0.588816,0.325690,0.892676,0.608591,0.700737,0.691937,0.633686,0.664401,0.087885,0.350320,0.247838,0.700314,0.709003,0.625105,0.847218,0.445958,384575.0,0.0,-2479.0,27000.0,276988.5,481374.0,0.0,0.0,-2867.0,0.0,0.0,488902.50,74610.0,0.0,-5346.0,0.0,276988.5,943276.50,74610.0,0.0,NaN,27000.0,0.0,27000.0,0.0,-5346.0,27000.0,276988.5,970276.50,74610.0,0.0,231.0,27000.0,276988.5,49374.0,0.0,0.0,-570.0,0.0,0.0,225000.0,37305.0,0.0,231.0,0.0,276988.5,49374.0,37305.0,0.0,NaN,27000.0,0.0,27000.0,0.0,231.0,27000.0,276988.5,49374.0,37305.0,0.0,-2710.0,0.0,0.0,27000.0,0.0,0.0,-1036.0,0.0,0.0,19449.00,0.0,0.0,-1036.0,0.0,0.0,19449.00,0.0,0.0,NaN,27000.0,0.0,27000.0,0.0,-1036.0,0.0,0.0,19449.00,0.0,0.0,-1239.50,13500.0,92329.5,160458.0,0.0,0.0,-716.75,0.0,0.0,122225.63,18652.5,0.0,-891.00,0.0,46164.75,157212.75,14922.0,0.0,NaN,27000.0,0.0,27000.0,0.0,-891.00,5400.0,39569.79,138610.93,12435.0
1,214010,Cash loans,F,Y,Y,0,247500.0,1281712.5,48946.5,1179000.0,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,0.006852,-14778,-1141,-1610.0,-4546,11.0,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.430827,0.425351,0.712155,0.0753,0.0568,0.9970,0.9592,0.1326,0.08,0.0517,0.4167,0.2917,0.0735,0.0601,0.0844,0.0058,0.1118,0.0756,0.0566,0.9940,0.9216,0.0523,0.0806,0.0345,0.3333,0.0417,0.0445,0.0652,0.0857,0.0,0.0000,0.0760,0.0568,0.9970,0.9597,0.1335,0.08,0.0517,0.4167,0.2917,0.0748,0.0611,0.0859,0.0058,0.1142,reg oper account,block of flats,0.0754,Monolithic,No,2.0,0.0,2.0,0.0,-1071.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0,0.743815,0.706303,0.107170,0.214413,0.578901,0.976152,0.080877,0.258163,0.556638,0.514318,0.466754,0.838954,0.021139,0.829923,0.307845,0.648014,0.289500,0.237590,0.338313,0.727474,0.741091,0.825345,0.404855,0.358584,0.778997,0.821256,0.841797,0.456666,0.242587,0.147250,0.234968,0.466480,0.505761,0.620883,0.286285,0.112869,0.311603,0.081432,0.934776,0.414297,0.249826,0.569889,0.161183,0.932276,0.720287,0.251879,0.439528,0.269992,0.547486,0.657934,214010.0,0.0,10967.0,NaN,NaN,2317500.0,NaN,0.0,897.0,0.0,0.0,2013367.50,NaN,0.0,2385.0,0.0,0.0,3930367.50,NaN,0.0,9479.0,NaN,NaN,400500.0,0.0,11864.0,0.0,0.0,4330867.50,NaN,0.0,9479.0,NaN,NaN,400500.0,NaN,0.0,70.0,0.0,0.0,675000.0,NaN,0.0,70.0,0.0,0.0,675000.0,NaN,0.0,9479.0,NaN,NaN,400500.0,0.0,9479.0,0.0,0.0,675000.0,NaN,0.0,1488.0,NaN,NaN,1917000.0,NaN,0.0,-391.0,0.0,0.0,1147500.00,NaN,0.0,-391.0,0.0,0.0,1147500.00,NaN,0.0,9479.0,NaN,NaN,400500.0,0.0,-391.0,0.0,0.0,1147500.00,NaN,0.0,5483.50,NaN,NaN,1158750.0,NaN,0.0,299.00,0.0,0.0,671122.50,NaN,0.0,596.25,0.0,0.00,982591.88,NaN,0.0,9479.0,NaN,NaN,400500.0,0.0,2372.80,0.0,0.00,866173.50,NaN
2,142232,Cash loans,F,Y,N,0,202500.0,495000.0,39109.5,495000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-17907,-639,-2507.0,-1461,4.0,1,1,1,1,0,0,Sales staff,2.0,2,2,TUESDAY,16,0,0,0,0,0,0,Self-employed,0.527239,0.531760,0.207964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0.0,5.0,0.0,-1435.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0,0.321900,0.267463,0.087238,0.356200,0.739791,0.267510,0.418676,0.937275,0.790341,0.511647,0.044840,0.550507,0.884842,0.785302,0.020373,0.763583,0.834871,0.572777,0.184390,0.794555,0.440456,0.307926,0.835268,0.988496,0.367651,0.054285,0.311133,0.294156,0.418275,0.247888,0.499605,0.225794,0.638410,0.631781,0.450748,0.929628,0.045871,0.582653,0.036832,0.653533,0.081305,0.025186,0.391566,0.737325,0.090995,0.327031,0.787739,0.820345,0.523118,0.339553,142232.0,0.0,2579.0,0.0,1431166.5,2053125.0,24912.0,0.0,-2914.0,0.0,0.0,750960.00,0.0,0.0,-1524.0,0.0,1048869.0,2100960.00,24912.0,NaN,NaN,NaN,NaN,NaN,0.0,-335.0,0.0,1431166.5,2804085.00,24912.0,0.0,695.0,0.0,556654.5,703125.0,24912.0,0.0,-397.0,0.0,0.0,323910.0,0.0,0.0,695.0,0.0,556654.5,675000.0,24912.0,NaN,NaN,NaN,NaN,NaN,0.0,695.0,0.0,556654.5,703125.0,24912.0,0.0,1189.0,0.0,382297.5,675000.0,24912.0,0.0,-2123.0,0.0,0.0,179550.00,0.0,0.0,-2123.0,0.0,0.0,179550.00,0.0,NaN,NaN,NaN,NaN,NaN,0.0,-2123.0,0.0,0.0,179550.00,0.0,0.0,859.67,0.0,477055.5,684375.0,24912.0,0.0,-971.33,0.0,0.0,250320.00,0.0,0.0,-304.80,0.0,209773.80,420192.00,12456.0,NaN,NaN,NaN,NaN,NaN,0.0,-55.83,0.0,238527.75,467347.50,12456.0
3,389171,Cash loans,F,N,Y,0,247500.0,254700.0,24939.0,225000.0,Unaccompanied,State servant,Secondary / secondary special,Widow,House / apartment,0.046220,-19626,-6982,-11167.0,-3158,NaN,1,1,0,1,0,0,High skill tech staff,1.0,1,1,FRIDAY,14,0,0,0,0,0,0,Business Entity Type 3,NaN,0.693521,0.614414,0.1320,0.0645,0.9846,NaN,NaN,0.16,0.0690,0.6250,NaN,NaN,NaN,0.1628,NaN,0.0022,0.1345,0.0670,0.9846,NaN,NaN,0.1611,0.0690,0.6250,NaN,NaN,NaN,0.1696,NaN,0.0023,0.1332,0.0645,0.9846,NaN,NaN,0.16,0.0690,0.6250,NaN,NaN,NaN,0.1657,NaN,0.0022,NaN,NaN,0.1285,Panel,No,0.0,0.0,0.0,0.0,-2000.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.390956,0.604897,0.303842,0.999446,0.899552,0.261569,0.548164,0.181702,0.543788,0.095174,0.160118,0.409045,0.452321,0.779180,0.824355,0.386307,0.812087,0.413735,0.255476,0.789900,0.485669,0.810365,0.804058,0.259619,0.113242,0.359041,0.584501,0.273965,0.085406,0.322665,0.340936,0.900358,0.533037,0.624652,0.945713,0.456945,0.869041,0.681266,0.905376,0.391322,0.062781,0.129004,0.054182,0.084110,0.619411,0.115114,0.314785,0.659989,0.864239,0.315243,389171.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-4326.0,0.0,0.0,252517.05,NaN,0.0,-4326.0,0.0,0.0,252517.05,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-4326.0,0.0,0.0,252517.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-2322.0,0.0,0.0,38268.0,NaN,0.0,-2322.0,0.0,0.0,38268.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-2322.0,0.0,0.0,38268.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-2004.0,0.0,0.0,214249.05,NaN,0.0,-2004.0,0.0,0.0,214249.05,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-2004.0,0.0,0.0,214249.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-2163.00,0.0,0.0,126258.53,NaN,0.0,-2163.00,0.0,0.00,126258.53,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-2163.00,0.0,0.00,126258.53,NaN
4,283617,Cash loans,M,N,Y,0,112500.0,308133.0,15862.5,234000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018850,-20327,-1105,-7299.0,-494,NaN,1,1,0,1,0,0,Laborers,1.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.654882,0.560690,0.636376,0.0619,0.0553,0.9717,NaN,NaN,0.00,0.1724,0.1667,NaN,0.0866,NaN,0.0749,NaN,0.0149,0.0630,0.0574,0.9717,NaN,NaN,0.0000,0.1724,0.1667,NaN,0.0885,NaN,0.0780,NaN,0.0158,0.0625,0.0553,0.9717,NaN,NaN,0.00,0.1724,0.1667,NaN,0.0881,NaN,0.0762,NaN,0.0152,NaN,block of flats,0.0765,"Stone, brick",No,0.0,0.0,0.0,0.0,-173.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.551819,0.954089,0.193512,0.439986,0.379392,0.207062,0.173192,0.033075,0.122819,0.464452,0.129018,0.939042,0.316347,0.952071,0.115627,0.693830,0.519580,0.950370,0.037493,0.194599,0.467339,0.716767,0.950783,0.875115,0.840490,0.117395,0.016361,0.033624,0.460128,0.475005,0.243073,0.852999,0.517462,0.800959,0.551707,0.489455,0.307185,0.170799,0.410885,0.730939,0.730765,0.292157,0.155718,0.276252,0.666383,0.140511,0.598934,0.631357,0.412754,0.628068,283617.0,0.0,1609.0,0.0,487476.0,783000.0,NaN,0.0,-2512.0,0.0,0.0,577575.00,NaN,0.0,-903.0,0.0,487476.0,1360575.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-903.0,0.0,487476.0,1360575.00,NaN,0.0,1609.0,0.0,487476.0,783000.0,NaN,0.0,-82.0,0.0,0.0,549000.0,NaN,0.0,1609.0,0.0,487476.0,783000.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1609.0,0.0,487476.0,783000.0,NaN,0.0,1609.0,0.0,487476.0,783000.0,NaN,0.0,-2430.0,0.0,0.0,28575.00,NaN,0.0,-2430.0,0.0,0.0,28575.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-2430.0,0.0,0.0,28575.00,NaN,0.0,1609.00,0.0,487476.0,783000.0,NaN,0.0,-1256.00,0.0,0.0,288787.50,NaN,0.0,-301.00,0.0,162492.00,453525.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-301.00,0.0,162492.00,453525.00,NaN

### **Verificar estatísticas básicas das variáveis**

In [ ]:
df_train_00.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50,SK_ID_CURR_bureau,sum_credit_day_overdue_credit_active_active,sum_days_credit_enddate_credit_active_active,sum_amt_credit_sum_limit_credit_active_active,sum_amt_credit_sum_debt_credit_active_active,sum_amt_credit_sum_credit_active_active,sum_amt_annuity_credit_active_active,sum_credit_day_overdue_credit_active_closed,sum_days_credit_enddate_credit_active_closed,sum_amt_credit_sum_limit_credit_active_closed,sum_amt_credit_sum_debt_credit_active_closed,sum_amt_credit_sum_credit_active_closed,sum_amt_annuity_credit_active_closed,sum_credit_day_overdue_credit_type_consumer_credit,sum_days_credit_enddate_credit_type_consumer_credit,sum_amt_credit_sum_limit_credit_type_consumer_credit,sum_amt_credit_sum_debt_credit_type_consumer_credit,sum_amt_credit_sum_credit_type_consumer_credit,sum_amt_annuity_credit_type_consumer_credit,sum_credit_day_overdue_credit_type_credit_card,sum_days_credit_enddate_credit_type_credit_card,sum_amt_credit_sum_limit_credit_type_credit_card,sum_amt_credit_sum_debt_credit_type_credit_card,sum_amt_credit_sum_credit_type_credit_card,sum_credit_day_overdue_credit_currency_currency_1,sum_days_credit_enddate_credit_currency_currency_1,sum_amt_credit_sum_limit_credit_currency_currency_1,sum_amt_credit_sum_debt_credit_currency_currency_1,sum_amt_credit_sum_credit_currency_currency_1,sum_amt_annuity_credit_currency_currency_1,max_credit_day_overdue_credit_active_active,max_days_credit_enddate_credit_active_active,max_amt_credit_sum_limit_credit_active_active,max_amt_credit_sum_debt_credit_active_active,max_amt_credit_sum_credit_active_active,max_amt_annuity_credit_active_active,max_credit_day_overdue_credit_active_closed,max_days_credit_enddate_credit_active_closed,max_amt_credit_sum_limit_credit_active_closed,max_amt_credit_sum_debt_credit_active_closed,max_amt_credit_sum_credit_active_closed,max_amt_annuity_credit_active_closed,max_credit_day_overdue_credit_type_consumer_credit,max_days_credit_enddate_credit_type_consumer_credit,max_amt_credit_sum_limit_credit_type_consumer_credit,max_amt_credit_sum_debt_credit_type_consumer_credit,max_amt_credit_sum_credit_type_consumer_credit,max_amt_annuity_credit_type_consumer_credit,max_credit_day_overdue_credit_type_credit_card,max_days_credit_enddate_credit_type_credit_card,max_amt_credit_sum_limit_credit_type_credit_card,max_amt_credit_sum_debt_credit_type_credit_card,max_amt_credit_sum_credit_type_credit_card,max_credit_day_overdue_credit_currency_currency_1,max_days_credit_enddate_credit_currency_currency_1,max_amt_credit_sum_limit_credit_currency_currency_1,max_amt_credit_sum_debt_credit_currency_currency_1,max_amt_credit_sum_credit_currency_currency_1,max_amt_annuity_credit_currency_currency_1,min_credit_day_overdue_credit_active_active,min_days_credit_enddate_credit_active_active,min_amt_credit_sum_limit_credit_active_active,min_amt_credit_sum_debt_credit_active_active,min_amt_credit_sum_credit_active_active,min_amt_annuity_credit_active_active,min_credit_day_overdue_credit_active_closed,min_days_credit_enddate_credit_active_closed,min_amt_credit_sum_limit_credit_active_closed,min_amt_credit_sum_debt_credit_active_closed,min_amt_credit_sum_credit_active_closed,min_amt_annuity_credit_active_closed,min_credit_day_overdue_credit_type_consumer_credit,min_days_credit_enddate_credit_type_consumer_credit,min_amt_credit_sum_limit_credit_type_consumer_credit,min_amt_credit_sum_debt_credit_type_consumer_credit,min_amt_credit_sum_credit_type_consumer_credit,min_amt_annuity_credit_type_consumer_credit,min_credit_day_overdue_credit_type_credit_card,min_days_credit_enddate_credit_type_credit_card,min_amt_credit_sum_limit_credit_type_credit_card,min_amt_credit_sum_debt_credit_type_credit_card,min_amt_credit_sum_credit_type_credit_card,min_credit_day_overdue_credit_currency_currency_1,min_days_credit_enddate_credit_currency_currency_1,min_amt_credit_sum_limit_credit_currency_currency_1,min_amt_credit_sum_debt_credit_currency_currency_1,min_amt_credit_sum_credit_currency_currency_1,min_amt_annuity_credit_currency_currency_1,avg_credit_day_overdue_credit_active_active,avg_days_credit_enddate_credit_active_active,avg_amt_credit_sum_limit_credit_active_active,avg_amt_credit_sum_debt_credit_active_active,avg_amt_credit_sum_credit_active_active,avg_amt_annuity_credit_active_active,avg_credit_day_overdue_credit_active_closed,avg_days_credit_enddate_credit_active_closed,avg_amt_credit_sum_limit_credit_active_closed,avg_amt_credit_sum_debt_credit_active_closed,avg_amt_credit_sum_credit_active_closed,avg_amt_annuity_credit_active_closed,avg_credit_day_overdue_credit_type_consumer_credit,avg_days_credit_enddate_credit_type_consumer_credit,avg_amt_credit_sum_limit_credit_type_consumer_credit,avg_amt_credit_sum_debt_credit_type_consumer_credit,avg_amt_credit_sum_credit_type_consumer_credit,avg_amt_annuity_credit_type_consumer_credit,avg_credit_day_overdue_credit_type_credit_card,avg_days_credit_enddate_credit_type_credit_card,avg_amt_credit_sum_limit_credit_type_credit_card,avg_amt_credit_sum_debt_credit_type_credit_card,avg_amt_credit_sum_credit_type_credit_card,avg_credit_day_overdue_credit_currency_currency_1,avg_days_credit_enddate_credit_currency_currency_1,avg_amt_credit_sum_limit_credit_currency_currency_1,avg_amt_credit_sum_debt_credit_currency_currency_1,avg_amt_credit_sum_credit_currency_currency_1,avg_amt_annuity_credit_currency_currency_1
count,215257.000000,215257.000000,215257.000000,2.152570e+05,2.152570e+05,215249.000000,2.150580e+05,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,73421.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215256.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,94008.000000,2.147840e+05,172420.000000,105957.000000,89273.000000,110268.000000,72118.000000,64880.000000,100536.000000,106839.000000,108075.000000,69261.000000,87450.000000,68178.000000,107173.000000,65850.000000,96369.000000,105957.000000,89273.000000,110268.000000,72118.000000,64880.000000,100536.000000,106839.000000,108075.000000,69261.000000,87450.000000,68178.000000,107173.000000,65850.000000,96369.000000,105957.000000,89273.000000,110268.000000,72118.000000,64880.000000,100536.000000,106839.000000,108075.000000,69261.000000,87450.000000,68178.000000,107173.000000,65850.000000,96369.000000,111352.000000,214553.000000,214553.000000,214553.000000,214553.000000,215256.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,186107.000000,186107.000000,186107.000000,186107.000000,186107.000000,186107.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,2.152570e+05,215257.000000,215257.000000,2.152570e+05,215257.000000,2.152570e+05,215257.000000,215257.000000,215257.000000,2.152570e+05,2.152570e+05,2.152570e+05,2.152570e+05,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,2.152570e+05,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,2.152570e+05,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,184350.000000,152021.000000,145785.000000,1.320840e+05,1.446220e+05,1.520200e+05,4.292600e+04,161095.000000,160016.000000,1.392470e+05,1.528080e+05,1.610950e+05,4.610500e+04,172585.000000,172076.000000,1.535560e+05,1.655080e+05,1.725850e+05,5.092300e+04,120600.000000,105907.000000,1.020740e+05,1.129560e+05,1.206000e+05,184328.000000,182745.000000,1.695630e+05,1.791360e+05,1.843270e+05,5.588800e+04,152021.000000,145785.000000,1.320840e+05,1.446220e+05,1.520200e+05,4.292600e+04,161095.000000,160016.000000,1.392470e+05,1.528080e+05,1.610950e+05,4.610500e+04,172585.000000,172076.000000,1.535560e+05,1.655080e+05,1.725850e+05,5.092300e+04,120600.000000,105907.000000,1.020740e+05,1.129560e+05,1.206000e+05,184328.000000,182745.000000,1.695630e+05,1.791360e+05,1.843270e+05,5.588800e+04,152021.000000,145785.000000,1.320840e+05,1.446220e+05,1.520200e+05,4.292600e+04,161095.000000,160016.000000,1.392470e+05,1.528080e+05,1.610950e+05,4.610500e+04,172585.000000,172076.000000,153556.0,1.655080e+05,1.725850e+05,5.092300e+04,120600.000000,105907.000000,1.020740e+05,1.129560e+05,1.206000e+05,184328.000000,182745.000000,1.695630e+05,1.791360e+05,1.843270e+05,5.588800e+04,152021.000000,145785.000000,1.320840e+05,1.446220e+05,1.520200e+05,4.292600e+04,161095.000000,160016.000000,1.392470e+05,1.528080e+05,1.610950e+05,4.610500e+04,172585.000000,172076.000000,153556.000000,1.655080e+05,1.725850e+05,5.092300e+04,120600.000000,105907.000000,1.020740e+05,1.129560e+05,1.206000e+05,184328.000000,182745.000000,1.695630e+05,1.791360e+05,1.843270e+05,5.588800e+04
mean,278236.387137,0.080889,0.416637,1.685568e+05,5.994960e+05,27119.681762,5.388269e+05,0.020869,-16033.152241,63737.365791,-4979.871219,-2991.410296,12.055679,0.999995,0.820103,0.199064,0.998044,0.280432,0.057169,2.153111,2.052519,2.031330,12.063905,0.015344,0.051097,0.040835,0.078497,0.230218,0.179051,0.502324,5.141921e-01,0.511070,0.117483,0.088567,0.977678,0.752790,0.044620,0.079288,0.149832,0.226471,0.232182,0.066406,0.100884,0.107601,0.008885,0.028432,0.114157,0.087627,0.977014,0.759946,0.042499,0.074745,0.145280,0.222460,0.228242,0.064933,0.105615,0.106061,0.008126,0.027020,0.117843,0.088059,0.977681,0.756039,0.044569,0.078392,0.149303,0.226087,0.231873,0.067219,0.101995,0.108775,0.008703,0.028240,0.102684,1.423280,0.143135,1.406305,0.099873,-961.392876,0.000028,0.709807,0.000074,0.015177,0.087881,0.000186,0.081205,0.003898,0.000019,0.003921,0.000005,0.003428,0.002922,0.001157,0.010081,0.000251,0.008060,0.000581,0.000469,0.000311,0.006416,0.006647,0.034260,0.267319,0.266030,1.899429,0.498353,0.499297,0.500554,0.498585,0.500355,0.499631,0.500257,0.500220,5.002486e-01,0.499485,0.499765,5.008823e-01,0.500310,4.996073e-01,0.501125,0.500272,0.500805,5.003699e-01,4.984068e-01,4.994679e-01,4.998563e-01,0.500335,0.500114,0.500764,0.499688,0.500286,0.498997,0.499907,0.500060,0.499810,0.499934,0.500466,0.500535,5.002453e-01,0.500267,0.499219,0.499109,0.499874,0.500117,0.499852,5.000397e-01,0.500387,0.499759,0.499714,0.500411,0.500602,0.499781,0.500618,0.499476,0.499538,278130.226607,4.884601,5765.143204,2.847962e+04,8.073442e+05,1.315524e+06,3.654851e+04,0.492219,-2289.290783,4.299834e+03,9.919979e+03,9.797714e+05,4.905742e+04,4.515839,-2427.820277,2.072026e+01,3.777112e+05,1.316225e+06,5.484175e+04,1.058698,7970.779316,4.270356e+04,1.471021e+05,3.447039e+05,5.001177,2591.042108,2.565893e+04,6.583483e+05,1.937000e+06,6.448523e+04,4.622269,2516.849744,2.192569e+04,4.514168e+05,5.968903e+05,2.162176e+04,0.489159,352.463572,3.416833e+03,9.110189e+03,2.710512e+05,2.285628e+04,4.346050,99.358406,2.072026e+01,2.557969e+05,3.255162e+05,2.393031e+04,1.022927,5115.526764,3.112403e+04,1.096623e+05,1.941239e+05,4.725424,2008.313968,1.874267e+04,3.639532e+05,4.072316e+05,2.405088e+04,0.696588,1957.540419,6.220455e+03,2.920312e+05,5.253855e+05,1.307526e+04,0.038127,-918.215578,2.694316e+02,7.730128e+02,2.422328e+05,1.082152e+04,0.403274,-851.700917,0.0,4.061568e+04,3.293715e+05,1.001939e+04,0.256426,3625.284004,1.305699e+04,5.936060e+04,1.464516e+05,0.165965,-469.927604,1.152666e+03,4.885191e+04,3.220162e+05,8.350818e+03,2.037342,2474.184614,1.278143e+04,3.788132e+05,5.661380e+05,1.721697e+04,0.154596,-564.633437,1.109756e+03,2.773612e+03,2.584139e+05,1.649329e+04,1.289268,-491.187887,5.667799,1.138391e+05,3.169550e+05,1.678718e+04,0.519307,4524.925931,2.146884e+04,8.226023e+04,1.738063e+05,1.052073,653.438244,5.884902e+03,1.596229e+05,3.730428e+05,1.548298e+04
std,102885.029589,0.272666,0.719695,1.058557e+05,4.028989e+05,14522.021876,3.698161e+05,0.013829,4361.858115,141210.765298,3522.665372,1508.956090,11.919714,0.002155,0.384102,0.399297,0.044181,0.449211,0.232166,0.908398,0.509422,0.502949,3.267196,0.122919,0.220196,0.197908,0.268952,0.420973,0.383396,0.210772,1.911085e-01,0.194739,0.108153,0.082452,0.060003,0.113206,0.075854,0.135023,0.099972,0.144711,0.161368,0.080947,0.092923,0.110879,0.048244,0.069778,0.107664,0.084346,0.065228,0.110073,0.074091,0.132596,0.100925,0.143757,0.161110,0.081217,0.097927,0.111928,0.046591,0.070129,0.108894,0.082163,0.060718,0.112003,0.075872,0.134888,0.100282,0.145107,0.161891,0.081833,0.093820,0.112526,0.047776,0.070241,0.107589,2.432463,0.448213,2.410989,0.363351,827.691447,0.005279,0.453852,0.008621,0.122258,0.283122,0.013631,0.273151,0.062310,0.004311,0.062494,0.002155,0.058453,0.053977,0.033992,0.099897,0.015837,0.089416,0.024091,0.021656,0.017640,0.083910,0.106599,0.205137,0.913343,0.614033,1.870725,0.289649,0.288722,0.288477,0.288629,0.288214,0.288751,0.289032,0.288373,2.885172e-01,0.288826,0.288295,2.886522e-01,0.289383,2.890785e-01,0.288362,0.288947,0.288356,2.889900e-01,2.888495e-01,2.888349e-01,2.887886e-01,0.288721,0.288890,0.288559,0.288721,0.288640,0.288963,0.288805,0.288944,0.288795,0.288433,0.288502,0.289216,2.885434e-01,0.288681,0.288957,0.288552,0.288710,0.288433,0.288508,2.886308e-01,0.288874,0.288854,0.288689,0.288678,0.288052,0.288411,0.288286,0.288685,0.288505,102899.964455,90.928589,11859.793889,1.089397e+05,1.866811e+06,2.378251e+06,3.789347e+05,28.130641,6576.857137,4.206296e+04,1.452349e+05,3.426670e+06,6.421593e+05,92.139896,3842.299321,4.192014e+03,1.128631e+06,3.384657e+06,6.904495e+05,29.873209,15047.493323,1.347489e+05,2.495182e+05,9.024830e+05,93.613430,12583.300345,1.050351e+05,1.690934e+06,4.115507e+06,6.384655e+05,86.339509,6731.907909,8.440272e+04,1.210166e+06,1.387595e+06,3.585155e+05,28.050130,4584.935640,3.287926e+04,1.301476e+05,8.791657e+05,4.069537e+05,88.538551,1136.899676,4.192014e+03,6.919668e+05,6.803082e+05,4.702471e+05,28.870326,10232.600117,9.884446e+04,1.760632e+05,3.381381e+05,88.650178,6341.840245,7.823336e+04,1.066564e+06,1.074398e+06,4.268400e+05,33.132242,6258.336092,4.661679e+04,9.809188e+05,1.357399e+06,7.222235e+04,7.734818,1414.153030,9.354935e+03,4.452403e+04,8.937257e+05,2.714772e+05,27.826192,894.290609,0.0,2.380990e+05,6.836712e+05,1.649843e+05,11.224068,9322.137671,6.252123e+04,1.347990e+05,2.362171e+05,16.985311,2989.407071,2.210813e+04,4.257020e+05,9.204818e+05,5.609765e+04,44.379546,5504.194028,5.341879e+04,9.651737e+05,1.124057e+06,1.701112e+05,10.941951,1743.278642,1.301548e+04,5.674243e+04,7.362933e+05,2.933744e+05,34.891490,805.533748,1191.623676,2.932386e+05,5.318622e+05,2.394519e+05,14.801050,8748.668941,6.800927e+04,1.354460e+05,2.028461e+05,25.949925,3288.164561,3.038473e+04,5.090178e+05,7.158291e+05,1.549319e+05

## **Preparação dos Dados**
- Gerar Metadados da ABT (Tabela Analítica de Modelagem)
- Tratamento de missing (nulos)
- Tratamento de categóricas de alta cardinalidade (LabelEncoder)
- Tratamento de categóricas de baixa cardinalidade (OneHotEncoder)
- Aplicar normalização a toda tabela de modelagem (ABT)
- Gerar artefatos para implantação do data prep realizado

### **Separando dados para garantir validação cruzada Holdout 70/30**

In [ ]:
# Suponha que você queira separar 70% dos dados para treino e 30% para validação
train, test = train_test_split(df_train_00, test_size=0.3, random_state=42)
train.shape,test.shape

((150679, 289), (64578, 289))

In [ ]:
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50,SK_ID_CURR_bureau,sum_credit_day_overdue_credit_active_active,sum_days_credit_enddate_credit_active_active,sum_amt_credit_sum_limit_credit_active_active,sum_amt_credit_sum_debt_credit_active_active,sum_amt_credit_sum_credit_active_active,sum_amt_annuity_credit_active_active,sum_credit_day_overdue_credit_active_closed,sum_days_credit_enddate_credit_active_closed,sum_amt_credit_sum_limit_credit_active_closed,sum_amt_credit_sum_debt_credit_active_closed,sum_amt_credit_sum_credit_active_closed,sum_amt_annuity_credit_active_closed,sum_credit_day_overdue_credit_type_consumer_credit,sum_days_credit_enddate_credit_type_consumer_credit,sum_amt_credit_sum_limit_credit_type_consumer_credit,sum_amt_credit_sum_debt_credit_type_consumer_credit,sum_amt_credit_sum_credit_type_consumer_credit,sum_amt_annuity_credit_type_consumer_credit,sum_credit_day_overdue_credit_type_credit_card,sum_days_credit_enddate_credit_type_credit_card,sum_amt_credit_sum_limit_credit_type_credit_card,sum_amt_credit_sum_debt_credit_type_credit_card,sum_amt_credit_sum_credit_type_credit_card,sum_credit_day_overdue_credit_currency_currency_1,sum_days_credit_enddate_credit_currency_currency_1,sum_amt_credit_sum_limit_credit_currency_currency_1,sum_amt_credit_sum_debt_credit_currency_currency_1,sum_amt_credit_sum_credit_currency_currency_1,sum_amt_annuity_credit_currency_currency_1,max_credit_day_overdue_credit_active_active,max_days_credit_enddate_credit_active_active,max_amt_credit_sum_limit_credit_active_active,max_amt_credit_sum_debt_credit_active_active,max_amt_credit_sum_credit_active_active,max_amt_annuity_credit_active_active,max_credit_day_overdue_credit_active_closed,max_days_credit_enddate_credit_active_closed,max_amt_credit_sum_limit_credit_active_closed,max_amt_credit_sum_debt_credit_active_closed,max_amt_credit_sum_credit_active_closed,max_amt_annuity_credit_active_closed,max_credit_day_overdue_credit_type_consumer_credit,max_days_credit_enddate_credit_type_consumer_credit,max_amt_credit_sum_limit_credit_type_consumer_credit,max_amt_credit_sum_debt_credit_type_consumer_credit,max_amt_credit_sum_credit_type_consumer_credit,max_amt_annuity_credit_type_consumer_credit,max_credit_day_overdue_credit_type_credit_card,max_days_credit_enddate_credit_type_credit_card,max_amt_credit_sum_limit_credit_type_credit_card,max_amt_credit_sum_debt_credit_type_credit_card,max_amt_credit_sum_credit_type_credit_card,max_credit_day_overdue_credit_currency_currency_1,max_days_credit_enddate_credit_currency_currency_1,max_amt_credit_sum_limit_credit_currency_currency_1,max_amt_credit_sum_debt_credit_currency_currency_1,max_amt_credit_sum_credit_currency_currency_1,max_amt_annuity_credit_currency_currency_1,min_credit_day_overdue_credit_active_active,min_days_credit_enddate_credit_active_active,min_amt_credit_sum_limit_credit_active_active,min_amt_credit_sum_debt_credit_active_active,min_amt_credit_sum_credit_active_active,min_amt_annuity_credit_active_active,min_credit_day_overdue_credit_active_closed,min_days_credit_enddate_credit_active_closed,min_amt_credit_sum_limit_credit_active_closed,min_amt_credit_sum_debt_credit_active_closed,min_amt_credit_sum_credit_active_closed,min_amt_annuity_credit_active_closed,min_credit_day_overdue_credit_type_consumer_credit,min_days_credit_enddate_credit_type_consumer_credit,min_amt_credit_sum_limit_credit_type_consumer_credit,min_amt_credit_sum_debt_credit_type_consumer_credit,min_amt_credit_sum_credit_type_consumer_credit,min_amt_annuity_credit_type_consumer_credit,min_credit_day_overdue_credit_type_credit_card,min_days_credit_enddate_credit_type_credit_card,min_amt_credit_sum_limit_credit_type_credit_card,min_amt_credit_sum_debt_credit_type_credit_card,min_amt_credit_sum_credit_type_credit_card,min_credit_day_overdue_credit_currency_currency_1,min_days_credit_enddate_credit_currency_currency_1,min_amt_credit_sum_limit_credit_currency_currency_1,min_amt_credit_sum_debt_credit_currency_currency_1,min_amt_credit_sum_credit_currency_currency_1,min_amt_annuity_credit_currency_currency_1,avg_credit_day_overdue_credit_active_active,avg_days_credit_enddate_credit_active_active,avg_amt_credit_sum_limit_credit_active_active,avg_amt_credit_sum_debt_credit_active_active,avg_amt_credit_sum_credit_active_active,avg_amt_annuity_credit_active_active,avg_credit_day_overdue_credit_active_closed,avg_days_credit_enddate_credit_active_closed,avg_amt_credit_sum_limit_credit_active_closed,avg_amt_credit_sum_debt_credit_active_closed,avg_amt_credit_sum_credit_active_closed,avg_amt_annuity_credit_active_closed,avg_credit_day_overdue_credit_type_consumer_credit,avg_days_credit_enddate_credit_type_consumer_credit,avg_amt_credit_sum_limit_credit_type_consumer_credit,avg_amt_credit_sum_debt_credit_type_consumer_credit,avg_amt_credit_sum_credit_type_consumer_credit,avg_amt_annuity_credit_type_consumer_credit,avg_credit_day_overdue_credit_type_credit_card,avg_days_credit_enddate_credit_type_credit_card,avg_amt_credit_sum_limit_credit_type_credit_card,avg_amt_credit_sum_debt_credit_type_credit_card,avg_amt_credit_sum_credit_type_credit_card,avg_credit_day_overdue_credit_currency_currency_1,avg_days_credit_enddate_credit_currency_currency_1,avg_amt_credit_sum_limit_credit_currency_currency_1,avg_amt_credit_sum_debt_credit_currency_currency_1,avg_amt_credit_sum_credit_currency_currency_1,avg_amt_annuity_credit_currency_currency_1
45499,102669,0,Cash loans,F,N,Y,0,157500.0,709033.5,39721.5,657000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.024610,-11687,-1430,-1443.0,-4141,NaN,1,1,0,1,0,0,Sales staff,1.0,2,2,FRIDAY,10,0,0,0,0,0,0,Business Entity Type 3,NaN,0.246830,0.413597,0.0619,0.0559,0.9821,NaN,NaN,0.00,0.1379,0.1667,NaN,0.0125,NaN,0.0608,NaN,0.0614,0.0630,0.0580,0.9821,NaN,NaN,0.0000,0.1379,0.1667,NaN,0.0128,NaN,0.0633,NaN,0.0651,0.0625,0.0559,0.9821,NaN,NaN,0.00,0.1379,0.1667,NaN,0.0127,NaN,0.0619,NaN,0.0627,NaN,block of flats,0.0612,"Stone, brick",No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0.623251,0.538599,0.545589,0.583404,0.798990,0.263193,0.841677,0.021447,0.304555,0.588261,0.688669,0.210169,0.054338,0.790777,0.763634,0.790980,0.576544,0.748658,0.400948,0.696015,0.705815,0.924598,0.718842,0.412503,0.010390,0.619381,0.954915,0.253974,0.336066,0.995809,0.709630,0.115768,0.247564,0.164696,0.382646,0.221486,0.724027,0.799399,0.615608,0.008782,0.614907,0.182116,0.283521,0.716671,0.041032,0.432577,0.302302,0.812673,0.622103,0.290383,102669.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.0,0.0,160650.0,NaN,0.0,-53.0,0.0,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.00,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.0,0.0,160650.0,NaN,0.0,-53.0,0.0,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.00,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.0,0.0,160650.0,NaN,0.0,-53.0,0.0,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.0,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-53.00,0.0,0.0,160650.00,NaN,0.0,-53.00,0.0,0.00,160650.00,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-53.00,0.00,0.0,160650.00,NaN
74186,202196,1,Cash loans,F,N,Y,1,189000.0,640080.0,31261.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.046220,-12453,-158,-1596.0,-1580,NaN,1,1,0,1,0,0,Laborers,3.0,1,1,THURSDAY,11,0,1,1,0,0,0,Business Entity Type 2,0.495899,0.452236,0.276441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-414.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.271789,0.450667,0.915251,0.609587,0.156781,0.990234,0.922602,0.846543,0.534668,0.665733,0.491554,0.616078,0.714990,0.670361,0.120311,0.551883,0.201516,0.012140,0.026045,0.928996,0.889396,0.660983,0.508232,0.946107,0.420490,0.347951,0.866346,0.916568,0.797150,0.656244,0.061100,0.440124,0.141237,0.372216,0.501584,0.716653,0.252760,0.085425,0.769355,0.550976,0.855122,0.907023,0.555958,0.114399,0.959646,0.551736,0.793345,0.769783,0.029523,0.605118,202196.0,0.0,NaN,130083.35,274914.0,405000.0,NaN,0.0,-1615.0,0.0,0.0,263236.5,NaN,0.0,-1615.0,0.0,0.0,263236.5,NaN,0.0,NaN,130083.35,274914.0,405000.0,0.0,-1615.0,130083.35,274914.0,668236.5,NaN,0.0,NaN,130083.35,274914.0,405000.0,NaN,0.0,-931.0,0.0,0.0,91516.5,NaN,0.0,-931.0,0.0,0.0,91516.5,NaN,0.0,NaN,130083.35,274914.0,405000.0,0.0,-931.0,130083.35,274914.0,91516.5,NaN,0.0,NaN,130083.35,274914.0,405000.0,NaN,0.0,-325.0,0.0,0.0,124933.5,NaN,0.0,-325.0,0.0,0.0,124933.5,NaN,0.0,NaN,130083.35,274914.0,405000.0,0.0,-325.0,0.0,0.0,124933.5,NaN,0.0,NaN,130083.35,274914.0,405000.0,NaN,0.0,-538.33,0.0,0.0,87745.50,NaN,0.0,-538.33,0.0,0.00,87745.50,NaN,0.0,NaN,130083.35,274914.0,405000.0,0.0,-538.33,43361.12,91638.0,167059.13,NaN
65253,272854,0,Cash loans,F,N,N,1,121500.0,104256.0,8194.5,90000.0,Unaccompanied,Working,Higher education,Single / not married,Rented apartment,0.035792,-9859,-392,-828.0,-2511,NaN,1,1,1,1,0,0,Sales staff,2.0,2,2,SATURDAY,12,0,0,0,0,0,0,Self-employed,0.352115,0.135407,0.656158,0.0330,0.0108,0.9737,0.6396,0.0171,0.00,0.0690,0.1250,0.1667,0.0611,0.0269,0.0295,0.0000,0.0000,0.0336,0.0112,0.9737,0.6537,0.0173,0.0000,0.0690,0.1250,0.1667,0.0625,0.0294,0.0307,0.0000,0.0000,0.0333,0.0108,0.9737,0.6444,0.0172,0.00,0.0690,0.1250,0.1667,0.0622,0.0274,0.0300,0.0000,0.0000,reg oper account,block of flats,0.0325,"Stone, brick",No,0.0,0.0,0.0,0.0,-1.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0,0.089877,0.447568,0.131639,0.064082,0.435259,0.689218,0.745716,0.863553,0.579129,0.538519,0.941202,0.761630,0.503093,0.587689,0.537260,0.484700,0.679185,0.281975,0.399896,0.521913,0.274328,0.502114,0.701955,0.538385,0.077082,0.257142,0.573929,0.079377,0.480612,0.971505,0.890001,0.381080,0.828747,0.598202,0.583725,0.371399,0.883350,0.249075,0.651910,0.039176,0.837285,0.401049,0.896599,0.775044,0.372050,0.355883,0.259412,0.282194,0.438214,0.348245,272854.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-1031.0,0.0,0.0,305500.5,0.0,0.0,-1031.0,0.0,0.0,305500.5,0.0,NaN,NaN,NaN,NaN,NaN,0.0,-1031.0,0.00,0.0,305500.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-390.0,0.0,0.0,76500.0,0.0,0.0,-390.0,0.0,0.0,76500.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,-390.0,0.00,0.0,76500.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-304.0,0.0,0.0,104400.0,0.0,0.0,-304.0,0.0,0.0,104400.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,-304.0,0.0,0.0,104400.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,-343.67,0.0,0.0,101833.50,0.0,0.0,-343.67,0.0,0.00,101833.50,0.0,NaN,NaN,NaN,NaN,NaN,0.0,-343.67,0.00,0.0,101833.50,0.0
60400,207628,0,Cash loans,F,N,N,0,112500.0,755190.0,36328.5,675000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.010032,-9233,-878,-333.0,-522,NaN,1,1,1,1,0,0,Core staff,2.0,2,2,FRIDAY,11,0,1,1,0,1,1,School,0.398403,0.372591,NaN,0.0742,0.0468,0.9826,0.7620,0.0147,0.08,0.0690,0.3333,0.0417,0.0769,0.0605,0.0789,0.0077,0.0371,0.0756,0.0486,0.9826,0.7713,0.0149,0.0806,0.0690,0.3333,0.0417,0.0786,0.0661,0.0822,0.0078,0.0392,0.0749,0.0468,0.9826,0.7652,0.0148,0.08,0.0690,0.3333,0.0417,0.0782,0.0616,0.0803,0.0078,0.0378,org spec account,block of flats,0.0883,"Stone, brick",No,0.0,0.0,0.0,0.0,-292.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.506338,0.355571,0.332951,0.663856,0.123350,0.321629,0.188188,0.558208,0.636772,0.396435,0.105420,0.624019,0.960336,0.061083,0.717732,0.341678,0.135631,0.166267,0.464307,0.710085,0.193339,0.289841,0.160412,0.610231,0.666622,0.467409,0.485829,0.228924,0.347892,0.154565,0.367409,0.872489,0.344479,0.080144,0.673778,0.683198,0.395718,0.041105,0.500510,0.430966,0.046936,0.164097,0.416916,0.498222,0.366917,0.326498,0.383481,0.743987,0.612620,0.627862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71140,244369,1,Cash loans,F,N,N,1,193500.0,521280.0,25209.0,450000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,House / apartment,0.020246,-15201,-2196,-2848.0,-3779,NaN,1,1,1,1,0,0,Core staff,2.0,3,3,SUNDAY,11,0,0,0,0,0,0,Self-employed,0.244596,0.317423,0.634706,0.0660,0.0591,0.9851,0.7960,0.0196,0.00,0.0690,0.1250,0.0417,0.0095,0.0521,0.0218,0.0077,0.0493,0.0672,0.0613,0.9851,0.8040,0.0198,0.0000,0.0690,0.1250,0.0417,0.0097,0.0569,0.0227,0.0078,0.0522,0.0666,0.0591,0.9851,0.7987,0.0197,0.00,0.0690,0.1250,0.0417,0.0096,0.0530,0.0221,0.0078,0.0504,reg oper account,specific housing,0.0278,Mixed,No,0.0,0.0,0.0,0.0,-792.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.839271,0.927509,0.334800,0.393198,0.265743,0.162118,0.245030,0.719947,0.551477,0.279833,0.921964,0.023290,0.202615,0.745080,0.464906,0.566765,0.728211,0.719937,0.782813,0.679615,0.701390,0.428348,0.481115,0.221077,0.977722,0.671127,0.254047,0.880408,0.336782,0.838923,0.366654,0.653585,0.619040,0.779318,0.972787,0.684157,0.943597,0.159651,0.793458,0.705570,0.245522,0.720827,0.837383,0.520593,0.111493,0.763497,0.666572,0.421767,0.714451,0.916040,244369.0,0.0,2016.0,0.00,318537.0,1094031.0,NaN,0.0,-3738.0,0.0,0.0,1566427.5,NaN,0.0,-2112.0,0.0,84730.5,1899958.5,NaN,0.0,390.0,0.00,233806.5,760500.0,0.0,-1722.0,0.00,318537.0,2660458.5,NaN,0.0,390.0,0.00,84730.5,752031.0,NaN,0.0,162.0,0.0,0.0,90000.0,NaN,0.0,216.0,0.0,84730.5,752031.0,NaN,0.0,390.0,0.00,233806.5,90000.0,0.0,390.0,0.00,84730.5,90000.0,NaN,0.0,1410.0,0.00,233806.5,121500.0,NaN,0.0,-1092.0,0.0,0.0,166252.5,NaN,0.0,-1092.0,0.0,0.0,121500.0,NaN,0.0,390.0,0.00,233806.5,220500.0,0.0,-1092.0,0.0,0.0,121500.0,NaN,0.0,672.0,0.00,159268.5,364677.0,NaN,0.0,-934.50,0.0,0.0,261071.25,NaN,0.0,-352.00,0.0,21182.63,316659.75,NaN,0.0,390.0,0.00,233806.5,253500.0,0.0,-246.00,0.00,63707.4,295606.50,NaN

In [ ]:
df_train_01 = train.copy()

In [ ]:
def pod_academy_generate_metadata(df, ids, targets, orderby = 'PC_NULOS'):
    import pandas as pd
    """
    Esta função retorna uma tabela com informações descritivas sobre um DataFrame.

    Parâmetros:
    - df: DataFrame que você quer descrever.
    - ids: Lista de colunas que são identificadores.
    - targets: Lista de colunas que são variáveis alvo.

    Retorna:
    Um DataFrame com informações sobre o df original.
    """

    summary = pd.DataFrame({
        'USO_FEATURE': ['ID' if col in ids else 'Target' if col in targets else 'Explicativa' for col in df.columns],
        'QT_NULOS': df.isnull().sum(),
        'PC_NULOS': round((df.isnull().sum() / len(df))* 100,2),
        'CARDINALIDADE': df.nunique(),
        'TIPO_FEATURE': df.dtypes
    })

    summary_sorted = summary.sort_values(by=orderby, ascending=False)
    summary_sorted = summary_sorted.reset_index()
    # Renomeando a coluna 'index' para 'FEATURES'
    summary_sorted = summary_sorted.rename(columns={'index': 'FEATURE'})
    return summary_sorted

In [ ]:
metadados = pod_academy_generate_metadata(df_train_01,
                                          ids=[ID_treino],
                                          targets=['TARGET'],
                                          orderby = 'PC_NULOS')

metadados

,FEATURE,USO_FEATURE,QT_NULOS,PC_NULOS,CARDINALIDADE,TIPO_FEATURE
0,sum_amt_annuity_credit_active_active,Explicativa,120553,80.01,14757,float64
1,avg_amt_annuity_credit_active_active,Explicativa,120553,80.01,15199,float64
2,max_amt_annuity_credit_active_active,Explicativa,120553,80.01,11552,float64
3,min_amt_annuity_credit_active_active,Explicativa,120553,80.01,8955,float64
4,avg_amt_annuity_credit_active_closed,Explicativa,118355,78.55,14055,float64
5,sum_amt_annuity_credit_active_closed,Explicativa,118355,78.55,13273,float64
6,min_amt_annuity_credit_active_closed,Explicativa,118355,78.55,6341,float64
7,max_amt_annuity_credit_active_closed,Explicativa,118355,78.55,10488,float64
8,avg_amt_annuity_credit_type_consumer_credit,Explicativa,115033,76.34,18642,float64
9,sum_amt_annuity_credit_type_consumer_credit,Explicativa,115033,76.34,17461,float64
10,min_amt_annuity_credit_type_consumer_credit,Explicativa,115033,76.34,7674,float64
11,max_amt_annuity_credit_type_consumer_credit,Explicativa,115033,76.34,12895,float64
12,min_amt_annuity_credit_currency_currency_1,Explicativa,111519,74.01,7831,float64
13,max_amt_annuity_credit_currency_currency_1,Explicativa,111519,74.01,14076,float64
14,avg_amt_annuity_credit_currency_currency_1,Explicativa,111519,74.01,21996,float64
15,sum_amt_annuity_credit_currency_currency_1,Explicativa,111519,74.01,20601,float64
16,COMMONAREA_MEDI,Explicativa,105323,69.90,2741,float64
17,COMMONAREA_AVG,Explicativa,105323,69.90,2721,float64
18,COMMONAREA_MODE,Explicativa,105323,69.90,2681,float64
19,NONLIVINGAPARTMENTS_MEDI,Explicativa,104662,69.46,178,float64
20,NONLIVINGAPARTMENTS_MODE,Explicativa,104662,69.46,140,float64
21,NONLIVINGAPARTMENTS_AVG,Explicativa,104662,69.46,321,float64
22,FONDKAPREMONT_MODE,Explicativa,103135,68.45,4,object
23,LIVINGAPARTMENTS_MEDI,Explicativa,103035,68.38,1013,float64
24,LIVINGAPARTMENTS_AVG,Explicativa,103035,68.38,1631,float64
25,LIVINGAPARTMENTS_MODE,Explicativa,103035,68.38,686,float64
26,FLOORSMIN_MODE,Explicativa,102296,67.89,25,float64
27,FLOORSMIN_MEDI,Explicativa,102296,67.89,47,float64
28,FLOORSMIN_AVG,Explicativa,102296,67.89,257,float64
29,YEARS_BUILD_AVG,Explicativa,100319,66.58,143,float64
30,YEARS_BUILD_MODE,Explicativa,100319,66.58,147,float64
31,YEARS_BUILD_MEDI,Explicativa,100319,66.58,144,float64
32,OWN_CAR_AGE,Explicativa,99165,65.81,57,float64
33,LANDAREA_AVG,Explicativa,89529,59.42,3189,float64
34,LANDAREA_MEDI,Explicativa,89529,59.42,3218,float64
35,LANDAREA_MODE,Explicativa,89529,59.42,3209,float64
36,BASEMENTAREA_MODE,Explicativa,88290,58.59,3489,float64
37,BASEMENTAREA_AVG,Explicativa,88290,58.59,3438,float64
38,BASEMENTAREA_MEDI,Explicativa,88290,58.59,3427,float64
39,EXT_SOURCE_1,Explicativa,84849,56.31,60796,float64
40,NONLIVINGAREA_AVG,Explicativa,83372,55.33,2805,float64
41,NONLIVINGAREA_MODE,Explicativa,83372,55.33,2833,float64
42,NONLIVINGAREA_MEDI,Explicativa,83372,55.33,2833,float64
43,ELEVATORS_MODE,Explicativa,80335,53.32,26,float64
44,ELEVATORS_AVG,Explicativa,80335,53.32,231,float64
45,ELEVATORS_MEDI,Explicativa,80335,53.32,46,float64
46,min_amt_credit_sum_limit_credit_type_credit_card,Explicativa,78966,52.41,7858,float64
47,max_amt_credit_sum_limit_credit_type_credit_card,Explicativa,78966,52.41,17633,float64
48,avg_amt_credit_sum_limit_credit_type_credit_card,Explicativa,78966,52.41,19206,float64
49,sum_amt_credit_sum_limit_credit_type_credit_card,Explicativa,78966,52.41,18865,float64
50,WALLSMATERIAL_MODE,Explicativa,76701,50.90,7,object
51,APARTMENTS_MODE,Explicativa,76604,50.84,716,float64
52,APARTMENTS_AVG,Explicativa,76604,50.84,2049,float64
53,APARTMENTS_MEDI,Explicativa,76604,50.84,1073,float64
54,sum_days_credit_enddate_credit_type_credit_card,Explicativa,76417,50.72,18890,float64
55,max_days_credit_enddate_credit_type_credit_card,Explicativa,76417,50.72,8332,float64
56,avg_days_credit_enddate_credit_type_credit_card,Explicativa,76417,50.72,23771,float64
57,min_days_credit_enddate_credit_type_credit_card,Explicativa,76417,50.72,7816,float64
58,ENTRANCES_MODE,Explicativa,75957,50.41,30,float64
59,ENTRANCES_AVG,Explicativa,75957,50.41,250,float64
60,ENTRANCES_MEDI,Explicativa,75957,50.41,45,float64
61,LIVINGAREA_AVG,Explicativa,75738,50.26,4737,float64
62,LIVINGAREA_MODE,Explicativa,75738,50.26,4776,float64
63,LIVINGAREA_MEDI,Explicativa,75738,50.26,4791,float64
64,HOUSETYPE_MODE,Explicativa,75720,50.25,3,object
65,FLOORSMAX_MEDI,Explicativa,75071,49.82,48,float64
66,FLOORSMAX_MODE,Explicativa,75071,49.82,25,float64
67,FLOORSMAX_AVG,Explicativa,75071,49.82,335,float64
68,YEARS_BEGINEXPLUATATION_MODE,Explicativa,73557,48.82,195,float64
69,YEARS_BEGINEXPLUATATION_AVG,Explicativa,73557,48.82,238,float64
70,YEARS_BEGINEXPLUATATION_MEDI,Explicativa,73557,48.82,215,float64
71,TOTALAREA_MODE,Explicativa,72802,48.32,4643,float64
72,EMERGENCYSTATE_MODE,Explicativa,71498,47.45,2,object
73,sum_amt_credit_sum_debt_credit_type_credit_card,Explicativa,71407,47.39,41635,float64
74,min_amt_credit_sum_debt_credit_type_credit_card,Explicativa,71407,47.39,25656,float64
75,max_amt_credit_sum_debt_credit_type_credit_card,Explicativa,71407,47.39,38367,float64
76,avg_amt_credit_sum_debt_credit_type_credit_card,Explicativa,71407,47.39,43266,float64
77,min_credit_day_overdue_credit_type_credit_card,Explicativa,66076,43.85,121,float64
78,sum_amt_credit_sum_credit_type_credit_card,Explicativa,66076,43.85,10315,float64
79,max_credit_day_overdue_credit_type_credit_card,Explicativa,66076,43.85,212,float64
80,avg_amt_credit_sum_credit_type_credit_card,Explicativa,66076,43.85,11533,float64
81,max_amt_credit_sum_credit_type_credit_card,Explicativa,66076,43.85,5049,float64
82,avg_credit_day_overdue_credit_type_credit_card,Explicativa,66076,43.85,314,float64
83,sum_credit_day_overdue_credit_type_credit_card,Explicativa,66076,43.85,214,float64
84,min_amt_credit_sum_credit_type_credit_card,Explicativa,66076,43.85,4254,float64
85,avg_amt_credit_sum_limit_credit_active_active,Explicativa,57962,38.47,18675,float64
86,max_amt_credit_sum_limit_credit_active_active,Explicativa,57962,38.47,17183,float64
87,sum_amt_credit_sum_limit_credit_active_active,Explicativa,57962,38.47,18258,float64
88,min_amt_credit_sum_limit_credit_active_active,Explicativa,57962,38.47,4669,float64
89,avg_amt_credit_sum_limit_credit_active_closed,Explicativa,53079,35.23,1326,float64
90,sum_amt_credit_sum_limit_credit_active_closed,Explicativa,53079,35.23,1236,float64
91,min_amt_credit_sum_limit_credit_active_closed,Explicativa,53079,35.23,114,float64
92,max_amt_credit_sum_limit_credit_active_closed,Explicativa,53079,35.23,1175,float64
93,avg_amt_credit_sum_debt_credit_active_active,Explicativa,49175,32.64,83303,float64
94,sum_amt_credit_sum_debt_credit_active_active,Explicativa,49175,32.64,81817,float64
95,min_amt_credit_sum_debt_credit_active_active,Explicativa,49175,32.64,51771,float64
96,max_amt_credit_sum_debt_credit_active_active,Explicativa,49175,32.64,69439,float64
97,max_days_credit_enddate_credit_active_active,Explicativa,48388,32.11,8756,float64
98,sum_days_credit_enddate_credit_active_active,Explicativa,48388,32.11,20486,float64
99,min_days_credit_enddate_credit_active_active,Explicativa,48388,32.11,8443,float64
100,avg_days_credit_enddate_credit_active_active,Explicativa,48388,32.11,30468,float64
101,OCCUPATION_TYPE,Explicativa,47132,31.28,18,object
102,max_amt_credit_sum_credit_active_active,Explicativa,44018,29.21,23752,float64
103,sum_credit_day_overdue_credit_active_active,Explicativa,44018,29.21,461,float64
104,min_credit_day_overdue_credit_active_active,Explicativa,44018,29.21,121,float64
105,avg_amt_credit_sum_credit_active_active,Explicativa,44018,29.21,53129,float64
106,avg_credit_day_overdue_credit_active_active,Explicativa,44018,29.21,686,float64
107,min_amt_credit_sum_credit_active_active,Explicativa,44018,29.21,22512,float64
108,sum_amt_credit_sum_credit_active_active,Explicativa,44018,29.21,51241,float64
109,max_credit_day_overdue_credit_active_active,Explicativa,44018,29.21,452,float64
110,min_amt_credit_sum_debt_credit_active_closed,Explicativa,43576,28.92,949,float64
111,max_amt_credit_sum_debt_credit_active_closed,Explicativa,43576,28.92,2406,float64
112,sum_amt_credit_sum_debt_credit_active_closed,Explicativa,43576,28.92,3105,float64
113,avg_amt_credit_sum_debt_credit_active_closed,Explicativa,43576,28.92,3162,float64
114,avg_amt_credit_sum_limit_credit_type_consumer_credit,Explicativa,43050,28.57,10,float64
115,min_amt_credit_sum_limit_credit_type_consumer_credit,Explicativa,43050,28.57,1,float64
116,sum_amt_credit_sum_limit_credit_type_consumer_credit,Explicativa,43050,28.57,10,float64
117,max_amt_credit_sum_limit_credit_type_consumer_credit,Explicativa,43050,28.57,10,float64
118,max_days_credit_enddate_credit_active_closed,Explicativa,38553,25.59,7545,float64
119,sum_days_credit_enddate_credit_active_closed,Explicativa,38553,25.59,21787,float64
120,min_days_credit_enddate_credit_active_closed,Explicativa,38553,25.59,4748,float64
121,avg_days_credit_enddate_credit_active_closed,Explicativa,38553,25.59,36787,float64
122,max_amt_credit_sum_credit_active_closed,Explicativa,37793,25.08,39718,float64
123,max_credit_day_overdue_credit_active_closed,Explicativa,37793,25.08,37,float64
124,min_credit_day_overdue_credit_active_closed,Explicativa,37793,25.08,5,float64
125,min_amt_credit_sum_credit_active_closed,Explicativa,37793,25.08,38840,float64
126,sum_credit_day_overdue_credit_active_closed,Explicativa,37793,25.08,37,float64
127,avg_credit_day_overdue_credit_active_closed,Explicativa,37793,25.08,37,float64
128,avg_amt_credit_sum_credit_active_closed,Explicativa,37793,25.08,89615,float64
129,sum_amt_credit_sum_credit_active_closed,Explicativa,37793,25.08,88817,float64
130,avg_amt_credit_sum_debt_credit_type_consumer_credit,Explicativa,34689,23.02,65459,float64
131,sum_amt_credit_sum_debt_credit_type_consumer_credit,Explicativa,34689,23.02,62306,float64
132,min_amt_credit_sum_debt_credit_type_consumer_credit,Explicativa,34689,23.02,11609,float64
133,max_amt_credit_sum_debt_credit_type_consumer_credit,Explicativa,34689,23.02,57217,float64
134,min_amt_credit_sum_limit_credit_currency_currency_1,Explicativa,31778,21.09,1497,float64
135,sum_amt_credit_sum_limit_credit_currency_currency_1,Explicativa,31778,21.09,18865,float64
136,avg_amt_credit_sum_limit_credit_currency_currency_1,Explicativa,31778,21.09,19571,float64
137,max_amt_credit_sum_limit_credit_currency_currency_1,Explicativa,31778,21.09,17626,float64
138,min_days_credit_enddate_credit_type_consumer_credit,Explicativa,30117,19.99,4671,float64
139,max_days_credit_enddate_credit_type_consumer_credit,Explicativa,30117,19.99,5142,float64
140,avg_days_credit_enddate_credit_type_consumer_credit,Explicativa,30117,19.99,39981,float64
141,sum_days_credit_enddate_credit_type_consumer_credit,Explicativa,30117,19.99,17959,float64
142,EXT_SOURCE_3,Explicativa,29777,19.76,786,float64
143,avg_credit_day_overdue_credit_type_consumer_credit,Explicativa,29752,19.75,616,float64
144,max_amt_credit_sum_credit_type_consumer_credit,Explicativa,29752,19.75,40957,float64
145,min_amt_credit_sum_credit_type_consumer_credit,Explicativa,29752,19.75,43033,float64
146,avg_amt_credit_sum_credit_type_consumer_credit,Explicativa,29752,19.75,100379,float64
147,min_credit_day_overdue_credit_type_consumer_credit,Explicativa,29752,19.75,63,float64
148,sum_amt_credit_sum_credit_type_consumer_credit,Explicativa,29752,19.75,99685,float64
149,max_credit_day_overdue_credit_type_consumer_credit,Explicativa,29752,19.75,409,float64
150,sum_credit_day_overdue_credit_type_consumer_credit,Explicativa,29752,19.75,417,float64
151,sum_amt_credit_sum_debt_credit_currency_currency_1,Explicativa,25128,16.68,82511,float64
152,avg_amt_credit_sum_debt_credit_currency_currency_1,Explicativa,25128,16.68,86607,float64
153,min_amt_credit_sum_debt_credit_currency_currency_1,Explicativa,25128,16.68,15002,float64
154,max_amt_credit_sum_debt_credit_currency_currency_1,Explicativa,25128,16.68,69601,float64
155,min_days_credit_enddate_credit_currency_currency_1,Explicativa,22599,15.00,6318,float64
156,sum_days_credit_enddate_credit_currency_currency_1,Explicativa,22599,15.00,33566,float64
157,avg_days_credit_enddate_credit_currency_currency_1,Explicativa,22599,15.00,60821,float64
158,max_days_credit_enddate_credit_currency_currency_1,Explicativa,22599,15.00,9830,float64
159,sum_amt_credit_sum_credit_currency_currency_1,Explicativa,21487,14.26,105673,float64
160,sum_credit_day_overdue_credit_currency_currency_1,Explicativa,21487,14.26,522,float64
161,min_amt_credit_sum_credit_currency_currency_1,Explicativa,21487,14.26,33686,float64
162,avg_credit_day_overdue_credit_currency_currency_1,Explicativa,21487,14.26,877,float64
163,max_amt_credit_sum_credit_currency_currency_1,Explicativa,21487,14.26,36529,float64
164,avg_amt_credit_sum_credit_currency_currency_1,Explicativa,21487,14.26,107114,float64
165,max_credit_day_overdue_credit_currency_currency_1,Explicativa,21487,14.26,512,float64
166,min_credit_day_overdue_credit_currency_currency_1,Explicativa,21487,14.26,48,float64
167,SK_ID_CURR_bureau,Explicativa,21471,14.25,129208,float64
168,AMT_REQ_CREDIT_BUREAU_DAY,Explicativa,20264,13.45,8,float64
169,AMT_REQ_CREDIT_BUREAU_HOUR,Explicativa,20264,13.45,4,float64
170,AMT_REQ_CREDIT_BUREAU_WEEK,Explicativa,20264,13.45,9,float64
171,AMT_REQ_CREDIT_BUREAU_MON,Explicativa,20264,13.45,21,float64
172,AMT_REQ_CREDIT_BUREAU_QRT,Explicativa,20264,13.45,10,float64
173,AMT_REQ_CREDIT_BUREAU_YEAR,Explicativa,20264,13.45,22,float64
174,NAME_TYPE_SUITE,Explicativa,636,0.42,7,object
175,DEF_60_CNT_SOCIAL_CIRCLE,Explicativa,494,0.33,9,float64
176,OBS_60_CNT_SOCIAL_CIRCLE,Explicativa,494,0.33,31,float64
177,DEF_30_CNT_SOCIAL_CIRCLE,Explicativa,494,0.33,9,float64
178,OBS_30_CNT_SOCIAL_CIRCLE,Explicativa,494,0.33,32,float64
179,EXT_SOURCE_2,Explicativa,319,0.21,84605,float64
180,AMT_GOODS_PRICE,Explicativa,135,0.09,719,float64
181,SK_ID_CURR,ID,0,0.00,150679,int64
182,var_50,Explicativa,0,0.00,150679,float64
183,REGION_RATING_CLIENT_W_CITY,Explicativa,0,0.00,3,int64
184,HOUR_APPR_PROCESS_START,Explicativa,0,0.00,24,int64
185,REG_REGION_NOT_LIVE_REGION,Explicativa,0,0.00,2,int64
186,REG_REGION_NOT_WORK_REGION,Explicativa,0,0.00,2,int64
187,LIVE_REGION_NOT_WORK_REGION,Explicativa,0,0.00,2,int64
188,REG_CITY_NOT_LIVE_CITY,Explicativa,0,0.00,2,int64
189,REG_CITY_NOT_WORK_CITY,Explicativa,0,0.00,2,int64
190,LIVE_CITY_NOT_WORK_CITY,Explicativa,0,0.00,2,int64
191,ORGANIZATION_TYPE,Explicativa,0,0.00,58,object
192,DAYS_LAST_PHONE_CHANGE,Explicativa,1,0.00,3644,float64
193,FLAG_DOCUMENT_2,Explicativa,0,0.00,2,int64
194,FLAG_DOCUMENT_3,Explicativa,0,0.00,2,int64
195,FLAG_DOCUMENT_4,Explicativa,0,0.00,2,int64
196,FLAG_DOCUMENT_5,Explicativa,0,0.00,2,int64
197,FLAG_DOCUMENT_6,Explicativa,0,0.00,2,int64
198,FLAG_DOCUMENT_7,Explicativa,0,0.00,2,int64
199,FLAG_DOCUMENT_8,Explicativa,0,0.00,2,int64
200,FLAG_DOCUMENT_9,Explicativa,0,0.00,2,int64
201,FLAG_DOCUMENT_10,Explicativa,0,0.00,2,int64
202,FLAG_DOCUMENT_11,Explicativa,0,0.00,2,int64
203,FLAG_DOCUMENT_12,Explicativa,0,0.00,2,int64
204,FLAG_DOCUMENT_13,Explicativa,0,0.00,2,int64
205,FLAG_DOCUMENT_14,Explicativa,0,0.00,2,int64
206,FLAG_DOCUMENT_15,Explicativa,0,0.00,2,int64
207,WEEKDAY_APPR_PROCESS_START,Explicativa,0,0.00,7,object
208,REGION_RATING_CLIENT,Explicativa,0,0.00,3,int64
209,FLAG_DOCUMENT_17,Explicativa,0,0.00,2,int64
210,CNT_FAM_MEMBERS,Explicativa,0,0.00,16,float64
211,NAME_CONTRACT_TYPE,Explicativa,0,0.00,2,object
212,CODE_GENDER,Explicativa,0,0.00,3,object
213,FLAG_OWN_CAR,Explicativa,0,0.00,2,object
214,FLAG_OWN_REALTY,Explicativa,0,0.00,2,object
215,CNT_CHILDREN,Explicativa,0,0.00,14,int64
216,AMT_INCOME_TOTAL,Explicativa,0,0.00,1558,float64
217,AMT_CREDIT,Explicativa,0,0.00,4625,float64
218,AMT_ANNUITY,Explicativa,5,0.00,11935,float64
219,NAME_INCOME_TYPE,Explicativa,0,0.00,8,object
220,NAME_EDUCATION_TYPE,Explicativa,0,0.00,5,object
221,NAME_FAMILY_STATUS,Explicativa,0,0.00,5,object
222,NAME_HOUSING_TYPE,Explicativa,0,0.00,6,object
223,REGION_POPULATION_RELATIVE,Explicativa,0,0.00,81,float64
224,DAYS_BIRTH,Explicativa,0,0.00,17249,int64
225,DAYS_EMPLOYED,Explicativa,0,0.00,10912,int64
226,DAYS_REGISTRATION,Explicativa,0,0.00,14710,float64
227,DAYS_ID_PUBLISH,Explicativa,0,0.00,6051,int64
228,FLAG_MOBIL,Explicativa,0,0.00,2,int64
229,FLAG_EMP_PHONE,Explicativa,0,0.00,2,int64
230,FLAG_WORK_PHONE,Explicativa,0,0.00,2,int64
231,FLAG_CONT_MOBILE,Explicativa,0,0.00,2,int64
232,FLAG_PHONE,Explicativa,0,0.00,2,int64
233,FLAG_EMAIL,Explicativa,0,0.00,2,int64
234,FLAG_DOCUMENT_16,Explicativa,0,0.00,2,int64
235,FLAG_DOCUMENT_18,Explicativa,0,0.00,2,int64
236,var_49,Explicativa,0,0.00,150679,float64
237,var_24,Explicativa,0,0.00,150679,float64
238,var_26,Explicativa,0,0.00,150679,float64
239,var_27,Explicativa,0,0.00,150679,float64
240,var_28,Explicativa,0,0.00,150679,float64
241,var_29,Explicativa,0,0.00,150679,float64
242,var_30,Explicativa,0,0.00,150679,float64
243,var_31,Explicativa,0,0.00,150679,float64
244,var_32,Explicativa,0,0.00,150679,float64
245,var_33,Explicativa,0,0.00,150679,float64
246,var_34,Explicativa,0,0.00,150679,float64
247,var_35,Explicativa,0,0.00,150679,float64
248,var_36,Explicativa,0,0.00,150679,float64
249,var_37,Explicativa,0,0.00,150679,float64
250,var_38,Explicativa,0,0.00,150679,float64
251,var_39,Explicativa,0,0.00,150679,float64
252,var_40,Explicativa,0,0.00,150679,float64
253,var_41,Explicativa,0,0.00,150679,float64
254,var_42,Explicativa,0,0.00,150679,float64
255,var_43,Explicativa,0,0.00,150679,float64
256,var_44,Explicativa,0,0.00,150679,float64
257,var_45,Explicativa,0,0.00,150679,float64
258,var_46,Explicativa,0,0.00,150679,float64
259,var_47,Explicativa,0,0.00,150679,float64
260,var_48,Explicativa,0,0.00,150679,float64
261,var_25,Explicativa,0,0.00,150679,float64
262,TARGET,Target,0,0.00,2,int64
263,FLAG_DOCUMENT_19,Explicativa,0,0.00,2,int64
264,var_22,Explicativa,0,0.00,150679,float64
265,FLAG_DOCUMENT_20,Explicativa,0,0.00,2,int64
266,FLAG_DOCUMENT_21,Explicativa,0,0.00,2,int64
267,var_1,Explicativa,0,0.00,150679,float64
268,var_2,Explicativa,0,0.00,150679,float64
269,var_3,Explicativa,0,0.00,150679,float64
270,var_4,Explicativa,0,0.00,150679,float64
271,var_5,Explicativa,0,0.00,150679,float64
272,var_6,Explicativa,0,0.00,150679,float64
273,var_7,Explicativa,0,0.00,150679,float64
274,var_8,Explicativa,0,0.00,150679,float64
275,var_9,Explicativa,0,0.00,150679,float64
276,var_10,Explicativa,0,0.00,150679,float64
277,var_11,Explicativa,0,0.00,150679,float64
278,var_12,Explicativa,0,0.00,150679,float64
279,var_13,Explicativa,0,0.00,150679,float64
280,var_14,Explicativa,0,0.00,150679,float64
281,var_15,Explicativa,0,0.00,150679,float64
282,var_16,Explicativa,0,0.00,150679,float64
283,var_17,Explicativa,0,0.00,150679,float64
284,var_18,Explicativa,0,0.00,150679,float64
285,var_19,Explicativa,0,0.00,150679,float64
286,var_20,Explicativa,0,0.00,150679,float64
287,var_21,Explicativa,0,0.00,150679,float64
288,var_23,Explicativa,0,0.00,150679,float64

### **Excluindo variáveis com mais que 70% de nulos**

In [ ]:
missing_cutoff = 70

drop_vars_nulos = metadados[(metadados['PC_NULOS'] >= missing_cutoff)]
lista_drop_vars = list(drop_vars_nulos.FEATURE.values)

print('Variáveis que serão excluídas por alto percentual de nulos: ',lista_drop_vars)
# retirando lista de variáveis com alto percentual de nulos
df_train_02 = df_train_01.drop(axis=1,columns=lista_drop_vars)
df_train_02.shape

Variáveis que serão excluídas por alto percentual de nulos:  ['sum_amt_annuity_credit_active_active', 'avg_amt_annuity_credit_active_active', 'max_amt_annuity_credit_active_active', 'min_amt_annuity_credit_active_active', 'avg_amt_annuity_credit_active_closed', 'sum_amt_annuity_credit_active_closed', 'min_amt_annuity_credit_active_closed', 'max_amt_annuity_credit_active_closed', 'avg_amt_annuity_credit_type_consumer_credit', 'sum_amt_annuity_credit_type_consumer_credit', 'min_amt_annuity_credit_type_consumer_credit', 'max_amt_annuity_credit_type_consumer_credit', 'min_amt_annuity_credit_currency_currency_1', 'max_amt_annuity_credit_currency_currency_1', 'avg_amt_annuity_credit_currency_currency_1', 'sum_amt_annuity_credit_currency_currency_1']

(150679, 273)

In [ ]:
# Salvar a lista em um arquivo .pkl
with open(f'{path_drive_dataprep}/prd_drop_nullvars.pkl', 'wb') as f:
    pickle.dump(lista_drop_vars, f)

In [ ]:
with open(f'{path_drive_dataprep}/prd_drop_nullvars.pkl', 'rb') as f:
  loaded_drop_nullvar = pickle.load(f)
loaded_drop_nullvar

['sum_amt_annuity_credit_active_active',
 'avg_amt_annuity_credit_active_active',
 'max_amt_annuity_credit_active_active',
 'min_amt_annuity_credit_active_active',
 'avg_amt_annuity_credit_active_closed',
 'sum_amt_annuity_credit_active_closed',
 'min_amt_annuity_credit_active_closed',
 'max_amt_annuity_credit_active_closed',
 'avg_amt_annuity_credit_type_consumer_credit',
 'sum_amt_annuity_credit_type_consumer_credit',
 'min_amt_annuity_credit_type_consumer_credit',
 'max_amt_annuity_credit_type_consumer_credit',
 'min_amt_annuity_credit_currency_currency_1',
 'max_amt_annuity_credit_currency_currency_1',
 'avg_amt_annuity_credit_currency_currency_1',
 'sum_amt_annuity_credit_currency_currency_1']

In [ ]:
test = test.drop(loaded_drop_nullvar, axis=1)
test.shape

(64578, 273)

In [ ]:
df_train_02.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50,SK_ID_CURR_bureau,sum_credit_day_overdue_credit_active_active,sum_days_credit_enddate_credit_active_active,sum_amt_credit_sum_limit_credit_active_active,sum_amt_credit_sum_debt_credit_active_active,sum_amt_credit_sum_credit_active_active,sum_credit_day_overdue_credit_active_closed,sum_days_credit_enddate_credit_active_closed,sum_amt_credit_sum_limit_credit_active_closed,sum_amt_credit_sum_debt_credit_active_closed,sum_amt_credit_sum_credit_active_closed,sum_credit_day_overdue_credit_type_consumer_credit,sum_days_credit_enddate_credit_type_consumer_credit,sum_amt_credit_sum_limit_credit_type_consumer_credit,sum_amt_credit_sum_debt_credit_type_consumer_credit,sum_amt_credit_sum_credit_type_consumer_credit,sum_credit_day_overdue_credit_type_credit_card,sum_days_credit_enddate_credit_type_credit_card,sum_amt_credit_sum_limit_credit_type_credit_card,sum_amt_credit_sum_debt_credit_type_credit_card,sum_amt_credit_sum_credit_type_credit_card,sum_credit_day_overdue_credit_currency_currency_1,sum_days_credit_enddate_credit_currency_currency_1,sum_amt_credit_sum_limit_credit_currency_currency_1,sum_amt_credit_sum_debt_credit_currency_currency_1,sum_amt_credit_sum_credit_currency_currency_1,max_credit_day_overdue_credit_active_active,max_days_credit_enddate_credit_active_active,max_amt_credit_sum_limit_credit_active_active,max_amt_credit_sum_debt_credit_active_active,max_amt_credit_sum_credit_active_active,max_credit_day_overdue_credit_active_closed,max_days_credit_enddate_credit_active_closed,max_amt_credit_sum_limit_credit_active_closed,max_amt_credit_sum_debt_credit_active_closed,max_amt_credit_sum_credit_active_closed,max_credit_day_overdue_credit_type_consumer_credit,max_days_credit_enddate_credit_type_consumer_credit,max_amt_credit_sum_limit_credit_type_consumer_credit,max_amt_credit_sum_debt_credit_type_consumer_credit,max_amt_credit_sum_credit_type_consumer_credit,max_credit_day_overdue_credit_type_credit_card,max_days_credit_enddate_credit_type_credit_card,max_amt_credit_sum_limit_credit_type_credit_card,max_amt_credit_sum_debt_credit_type_credit_card,max_amt_credit_sum_credit_type_credit_card,max_credit_day_overdue_credit_currency_currency_1,max_days_credit_enddate_credit_currency_currency_1,max_amt_credit_sum_limit_credit_currency_currency_1,max_amt_credit_sum_debt_credit_currency_currency_1,max_amt_credit_sum_credit_currency_currency_1,min_credit_day_overdue_credit_active_active,min_days_credit_enddate_credit_active_active,min_amt_credit_sum_limit_credit_active_active,min_amt_credit_sum_debt_credit_active_active,min_amt_credit_sum_credit_active_active,min_credit_day_overdue_credit_active_closed,min_days_credit_enddate_credit_active_closed,min_amt_credit_sum_limit_credit_active_closed,min_amt_credit_sum_debt_credit_active_closed,min_amt_credit_sum_credit_active_closed,min_credit_day_overdue_credit_type_consumer_credit,min_days_credit_enddate_credit_type_consumer_credit,min_amt_credit_sum_limit_credit_type_consumer_credit,min_amt_credit_sum_debt_credit_type_consumer_credit,min_amt_credit_sum_credit_type_consumer_credit,min_credit_day_overdue_credit_type_credit_card,min_days_credit_enddate_credit_type_credit_card,min_amt_credit_sum_limit_credit_type_credit_card,min_amt_credit_sum_debt_credit_type_credit_card,min_amt_credit_sum_credit_type_credit_card,min_credit_day_overdue_credit_currency_currency_1,min_days_credit_enddate_credit_currency_currency_1,min_amt_credit_sum_limit_credit_currency_currency_1,min_amt_credit_sum_debt_credit_currency_currency_1,min_amt_credit_sum_credit_currency_currency_1,avg_credit_day_overdue_credit_active_active,avg_days_credit_enddate_credit_active_active,avg_amt_credit_sum_limit_credit_active_active,avg_amt_credit_sum_debt_credit_active_active,avg_amt_credit_sum_credit_active_active,avg_credit_day_overdue_credit_active_closed,avg_days_credit_enddate_credit_active_closed,avg_amt_credit_sum_limit_credit_active_closed,avg_amt_credit_sum_debt_credit_active_closed,avg_amt_credit_sum_credit_active_closed,avg_credit_day_overdue_credit_type_consumer_credit,avg_days_credit_enddate_credit_type_consumer_credit,avg_amt_credit_sum_limit_credit_type_consumer_credit,avg_amt_credit_sum_debt_credit_type_consumer_credit,avg_amt_credit_sum_credit_type_consumer_credit,avg_credit_day_overdue_credit_type_credit_card,avg_days_credit_enddate_credit_type_credit_card,avg_amt_credit_sum_limit_credit_type_credit_card,avg_amt_credit_sum_debt_credit_type_credit_card,avg_amt_credit_sum_credit_type_credit_card,avg_credit_day_overdue_credit_currency_currency_1,avg_days_credit_enddate_credit_currency_currency_1,avg_amt_credit_sum_limit_credit_currency_currency_1,avg_amt_credit_sum_debt_credit_currency_currency_1,avg_amt_credit_sum_credit_currency_currency_1
45499,102669,0,Cash loans,F,N,Y,0,157500.0,709033.5,39721.5,657000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.024610,-11687,-1430,-1443.0,-4141,NaN,1,1,0,1,0,0,Sales staff,1.0,2,2,FRIDAY,10,0,0,0,0,0,0,Business Entity Type 3,NaN,0.246830,0.413597,0.0619,0.0559,0.9821,NaN,NaN,0.00,0.1379,0.1667,NaN,0.0125,NaN,0.0608,NaN,0.0614,0.0630,0.0580,0.9821,NaN,NaN,0.0000,0.1379,0.1667,NaN,0.0128,NaN,0.0633,NaN,0.0651,0.0625,0.0559,0.9821,NaN,NaN,0.00,0.1379,0.1667,NaN,0.0127,NaN,0.0619,NaN,0.0627,NaN,block of flats,0.0612,"Stone, brick",No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0.623251,0.538599,0.545589,0.583404,0.798990,0.263193,0.841677,0.021447,0.304555,0.588261,0.688669,0.210169,0.054338,0.790777,0.763634,0.790980,0.576544,0.748658,0.400948,0.696015,0.705815,0.924598,0.718842,0.412503,0.010390,0.619381,0.954915,0.253974,0.336066,0.995809,0.709630,0.115768,0.247564,0.164696,0.382646,0.221486,0.724027,0.799399,0.615608,0.008782,0.614907,0.182116,0.283521,0.716671,0.041032,0.432577,0.302302,0.812673,0.622103,0.290383,102669.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.0,0.0,160650.0,0.0,-53.0,0.0,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.00,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.0,0.0,160650.0,0.0,-53.0,0.0,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.00,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.0,0.0,160650.0,0.0,-53.0,0.0,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.0,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.00,0.0,0.0,160650.00,0.0,-53.00,0.0,0.00,160650.00,NaN,NaN,NaN,NaN,NaN,0.0,-53.00,0.00,0.0,160650.00
74186,202196,1,Cash loans,F,N,Y,1,189000.0,640080.0,31261.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.046220,-12453,-158,-1596.0,-1580,NaN,1,1,0,1,0,0,Laborers,3.0,1,1,THURSDAY,11,0,1,1,0,0,0,Business Entity Type 2,0.495899,0.452236,0.276441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-414.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.271789,0.450667,0.915251,0.609587,0.156781,0.990234,0.922602,0.846543,0.534668,0.665733,0.491554,0.616078,0.714990,0.670361,0.120311,0.551883,0.201516,0.012140,0.026045,0.928996,0.889396,0.660983,0.508232,0.946107,0.420490,0.347951,0.866346,0.916568,0.797150,0.656244,0.061100,0.440124,0.141237,0.372216,0.501584,0.716653,0.252760,0.085425,0.769355,0.550976,0.855122,0.907023,0.555958,0.114399,0.959646,0.551736,0.793345,0.769783,0.029523,0.605118,202196.0,0.0,NaN,130083.35,274914.0,405000.0,0.0,-1615.0,0.0,0.0,263236.5,0.0,-1615.0,0.0,0.0,263236.5,0.0,NaN,130083.35,274914.0,405000.0,0.0,-1615.0,130083.35,274914.0,668236.5,0.0,NaN,130083.35,274914.0,405000.0,0.0,-931.0,0.0,0.0,91516.5,0.0,-931.0,0.0,0.0,91516.5,0.0,NaN,130083.35,274914.0,405000.0,0.0,-931.0,130083.35,274914.0,91516.5,0.0,NaN,130083.35,274914.0,405000.0,0.0,-325.0,0.0,0.0,124933.5,0.0,-325.0,0.0,0.0,124933.5,0.0,NaN,130083.35,274914.0,405000.0,0.0,-325.0,0.0,0.0,124933.5,0.0,NaN,130083.35,274914.0,405000.0,0.0,-538.33,0.0,0.0,87745.50,0.0,-538.33,0.0,0.00,87745.50,0.0,NaN,130083.35,274914.0,405000.0,0.0,-538.33,43361.12,91638.0,167059.13
65253,272854,0,Cash loans,F,N,N,1,121500.0,104256.0,8194.5,90000.0,Unaccompanied,Working,Higher education,Single / not married,Rented apartment,0.035792,-9859,-392,-828.0,-2511,NaN,1,1,1,1,0,0,Sales staff,2.0,2,2,SATURDAY,12,0,0,0,0,0,0,Self-employed,0.352115,0.135407,0.656158,0.0330,0.0108,0.9737,0.6396,0.0171,0.00,0.0690,0.1250,0.1667,0.0611,0.0269,0.0295,0.0000,0.0000,0.0336,0.0112,0.9737,0.6537,0.0173,0.0000,0.0690,0.1250,0.1667,0.0625,0.0294,0.0307,0.0000,0.0000,0.0333,0.0108,0.9737,0.6444,0.0172,0.00,0.0690,0.1250,0.1667,0.0622,0.0274,0.0300,0.0000,0.0000,reg oper account,block of flats,0.0325,"Stone, brick",No,0.0,0.0,0.0,0.0,-1.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0,0.089877,0.447568,0.131639,0.064082,0.435259,0.689218,0.745716,0.863553,0.579129,0.538519,0.941202,0.761630,0.503093,0.587689,0.537260,0.484700,0.679185,0.281975,0.399896,0.521913,0.274328,0.502114,0.701955,0.538385,0.077082,0.257142,0.573929,0.079377,0.480612,0.971505,0.890001,0.381080,0.828747,0.598202,0.583725,0.371399,0.883350,0.249075,0.651910,0.039176,0.837285,0.401049,0.896599,0.775044,0.372050,0.355883,0.259412,0.282194,0.438214,0.348245,272854.0,NaN,NaN,NaN,NaN,NaN,0.0,-1031.0,0.0,0.0,305500.5,0.0,-1031.0,0.0,0.0,305500.5,NaN,NaN,NaN,NaN,NaN,0.0,-1031.0,0.00,0.0,305500.5,NaN,NaN,NaN,NaN,NaN,0.0,-390.0,0.0,0.0,76500.0,0.0,-390.0,0.0,0.0,76500.0,NaN,NaN,NaN,NaN,NaN,0.0,-390.0,0.00,0.0,76500.0,NaN,NaN,NaN,NaN,NaN,0.0,-304.0,0.0,0.0,104400.0,0.0,-304.0,0.0,0.0,104400.0,NaN,NaN,NaN,NaN,NaN,0.0,-304.0,0.0,0.0,104400.0,NaN,NaN,NaN,NaN,NaN,0.0,-343.67,0.0,0.0,101833.50,0.0,-343.67,0.0,0.00,101833.50,NaN,NaN,NaN,NaN,NaN,0.0,-343.67,0.00,0.0,101833.50
60400,207628,0,Cash loans,F,N,N,0,112500.0,755190.0,36328.5,675000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.010032,-9233,-878,-333.0,-522,NaN,1,1,1,1,0,0,Core staff,2.0,2,2,FRIDAY,11,0,1,1,0,1,1,School,0.398403,0.372591,NaN,0.0742,0.0468,0.9826,0.7620,0.0147,0.08,0.0690,0.3333,0.0417,0.0769,0.0605,0.0789,0.0077,0.0371,0.0756,0.0486,0.9826,0.7713,0.0149,0.0806,0.0690,0.3333,0.0417,0.0786,0.0661,0.0822,0.0078,0.0392,0.0749,0.0468,0.9826,0.7652,0.0148,0.08,0.0690,0.3333,0.0417,0.0782,0.0616,0.0803,0.0078,0.0378,org spec account,block of flats,0.0883,"Stone, brick",No,0.0,0.0,0.0,0.0,-292.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.506338,0.355571,0.332951,0.663856,0.123350,0.321629,0.188188,0.558208,0.636772,0.396435,0.105420,0.624019,0.960336,0.061083,0.717732,0.341678,0.135631,0.166267,0.464307,0.710085,0.193339,0.289841,0.160412,0.610231,0.666622,0.467409,0.485829,0.228924,0.347892,0.154565,0.367409,0.872489,0.344479,0.080144,0.673778,0.683198,0.395718,0.041105,0.500510,0.430966,0.046936,0.164097,0.416916,0.498222,0.366917,0.326498,0.383481,0.743987,0.612620,0.627862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71140,244369,1,Cash loans,F,N,N,1,193500.0,521280.0,25209.0,450000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,House / apartment,0.020246,-15201,-2196,-2848.0,-3779,NaN,1,1,1,1,0,0,Core staff,2.0,3,3,SUNDAY,11,0,0,0,0,0,0,Self-employed,0.244596,0.317423,0.634706,0.0660,0.0591,0.9851,0.7960,0.0196,0.00,0.0690,0.1250,0.0417,0.0095,0.0521,0.0218,0.0077,0.0493,0.0672,0.0613,0.9851,0.8040,0.0198,0.0000,0.0690,0.1250,0.0417,0.0097,0.0569,0.0227,0.0078,0.0522,0.0666,0.0591,0.9851,0.7987,0.0197,0.00,0.0690,0.1250,0.0417,0.0096,0.0530,0.0221,0.0078,0.0504,reg oper account,specific housing,0.0278,Mixed,No,0.0,0.0,0.0,0.0,-792.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.839271,0.927509,0.334800,0.393198,0.265743,0.162118,0.245030,0.719947,0.551477,0.279833,0.921964,0.023290,0.202615,0.745080,0.464906,0.566765,0.728211,0.719937,0.782813,0.679615,0.701390,0.428348,0.481115,0.221077,0.977722,0.671127,0.254047,0.880408,0.336782,0.838923,0.366654,0.653585,0.619040,0.779318,0.972787,0.684157,0.943597,0.159651,0.793458,0.705570,0.245522,0.720827,0.837383,0.520593,0.111493,0.763497,0.666572,0.421767,0.714451,0.916040,244369.0,0.0,2016.0,0.00,318537.0,1094031.0,0.0,-3738.0,0.0,0.0,1566427.5,0.0,-2112.0,0.0,84730.5,1899958.5,0.0,390.0,0.00,233806.5,760500.0,0.0,-1722.0,0.00,318537.0,2660458.5,0.0,390.0,0.00,84730.5,752031.0,0.0,162.0,0.0,0.0,90000.0,0.0,216.0,0.0,84730.5,752031.0,0.0,390.0,0.00,233806.5,90000.0,0.0,390.0,0.00,84730.5,90000.0,0.0,1410.0,0.00,233806.5,121500.0,0.0,-1092.0,0.0,0.0,166252.5,0.0,-1092.0,0.0,0.0,121500.0,0.0,390.0,0.00,233806.5,220500.0,0.0,-1092.0,0.0,0.0,121500.0,0.0,672.0,0.00,159268.5,364677.0,0.0,-934.50,0.0,0.0,261071.25,0.0,-352.00,0.0,21182.63,316659.75,0.0,390.0,0.00,233806.5,253500.0,0.0,-246.00,0.00,63707.4,295606.50

In [ ]:
# Retirar SK_ID_CURR e TARGET do tratamento de nulos

df_train_02 = df_train_02.drop(axis=1, columns=[ID_treino, 'TARGET'])
df_train_02.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50,SK_ID_CURR_bureau,sum_credit_day_overdue_credit_active_active,sum_days_credit_enddate_credit_active_active,sum_amt_credit_sum_limit_credit_active_active,sum_amt_credit_sum_debt_credit_active_active,sum_amt_credit_sum_credit_active_active,sum_credit_day_overdue_credit_active_closed,sum_days_credit_enddate_credit_active_closed,sum_amt_credit_sum_limit_credit_active_closed,sum_amt_credit_sum_debt_credit_active_closed,sum_amt_credit_sum_credit_active_closed,sum_credit_day_overdue_credit_type_consumer_credit,sum_days_credit_enddate_credit_type_consumer_credit,sum_amt_credit_sum_limit_credit_type_consumer_credit,sum_amt_credit_sum_debt_credit_type_consumer_credit,sum_amt_credit_sum_credit_type_consumer_credit,sum_credit_day_overdue_credit_type_credit_card,sum_days_credit_enddate_credit_type_credit_card,sum_amt_credit_sum_limit_credit_type_credit_card,sum_amt_credit_sum_debt_credit_type_credit_card,sum_amt_credit_sum_credit_type_credit_card,sum_credit_day_overdue_credit_currency_currency_1,sum_days_credit_enddate_credit_currency_currency_1,sum_amt_credit_sum_limit_credit_currency_currency_1,sum_amt_credit_sum_debt_credit_currency_currency_1,sum_amt_credit_sum_credit_currency_currency_1,max_credit_day_overdue_credit_active_active,max_days_credit_enddate_credit_active_active,max_amt_credit_sum_limit_credit_active_active,max_amt_credit_sum_debt_credit_active_active,max_amt_credit_sum_credit_active_active,max_credit_day_overdue_credit_active_closed,max_days_credit_enddate_credit_active_closed,max_amt_credit_sum_limit_credit_active_closed,max_amt_credit_sum_debt_credit_active_closed,max_amt_credit_sum_credit_active_closed,max_credit_day_overdue_credit_type_consumer_credit,max_days_credit_enddate_credit_type_consumer_credit,max_amt_credit_sum_limit_credit_type_consumer_credit,max_amt_credit_sum_debt_credit_type_consumer_credit,max_amt_credit_sum_credit_type_consumer_credit,max_credit_day_overdue_credit_type_credit_card,max_days_credit_enddate_credit_type_credit_card,max_amt_credit_sum_limit_credit_type_credit_card,max_amt_credit_sum_debt_credit_type_credit_card,max_amt_credit_sum_credit_type_credit_card,max_credit_day_overdue_credit_currency_currency_1,max_days_credit_enddate_credit_currency_currency_1,max_amt_credit_sum_limit_credit_currency_currency_1,max_amt_credit_sum_debt_credit_currency_currency_1,max_amt_credit_sum_credit_currency_currency_1,min_credit_day_overdue_credit_active_active,min_days_credit_enddate_credit_active_active,min_amt_credit_sum_limit_credit_active_active,min_amt_credit_sum_debt_credit_active_active,min_amt_credit_sum_credit_active_active,min_credit_day_overdue_credit_active_closed,min_days_credit_enddate_credit_active_closed,min_amt_credit_sum_limit_credit_active_closed,min_amt_credit_sum_debt_credit_active_closed,min_amt_credit_sum_credit_active_closed,min_credit_day_overdue_credit_type_consumer_credit,min_days_credit_enddate_credit_type_consumer_credit,min_amt_credit_sum_limit_credit_type_consumer_credit,min_amt_credit_sum_debt_credit_type_consumer_credit,min_amt_credit_sum_credit_type_consumer_credit,min_credit_day_overdue_credit_type_credit_card,min_days_credit_enddate_credit_type_credit_card,min_amt_credit_sum_limit_credit_type_credit_card,min_amt_credit_sum_debt_credit_type_credit_card,min_amt_credit_sum_credit_type_credit_card,min_credit_day_overdue_credit_currency_currency_1,min_days_credit_enddate_credit_currency_currency_1,min_amt_credit_sum_limit_credit_currency_currency_1,min_amt_credit_sum_debt_credit_currency_currency_1,min_amt_credit_sum_credit_currency_currency_1,avg_credit_day_overdue_credit_active_active,avg_days_credit_enddate_credit_active_active,avg_amt_credit_sum_limit_credit_active_active,avg_amt_credit_sum_debt_credit_active_active,avg_amt_credit_sum_credit_active_active,avg_credit_day_overdue_credit_active_closed,avg_days_credit_enddate_credit_active_closed,avg_amt_credit_sum_limit_credit_active_closed,avg_amt_credit_sum_debt_credit_active_closed,avg_amt_credit_sum_credit_active_closed,avg_credit_day_overdue_credit_type_consumer_credit,avg_days_credit_enddate_credit_type_consumer_credit,avg_amt_credit_sum_limit_credit_type_consumer_credit,avg_amt_credit_sum_debt_credit_type_consumer_credit,avg_amt_credit_sum_credit_type_consumer_credit,avg_credit_day_overdue_credit_type_credit_card,avg_days_credit_enddate_credit_type_credit_card,avg_amt_credit_sum_limit_credit_type_credit_card,avg_amt_credit_sum_debt_credit_type_credit_card,avg_amt_credit_sum_credit_type_credit_card,avg_credit_day_overdue_credit_currency_currency_1,avg_days_credit_enddate_credit_currency_currency_1,avg_amt_credit_sum_limit_credit_currency_currency_1,avg_amt_credit_sum_debt_credit_currency_currency_1,avg_amt_credit_sum_credit_currency_currency_1
45499,Cash loans,F,N,Y,0,157500.0,709033.5,39721.5,657000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.024610,-11687,-1430,-1443.0,-4141,NaN,1,1,0,1,0,0,Sales staff,1.0,2,2,FRIDAY,10,0,0,0,0,0,0,Business Entity Type 3,NaN,0.246830,0.413597,0.0619,0.0559,0.9821,NaN,NaN,0.00,0.1379,0.1667,NaN,0.0125,NaN,0.0608,NaN,0.0614,0.0630,0.0580,0.9821,NaN,NaN,0.0000,0.1379,0.1667,NaN,0.0128,NaN,0.0633,NaN,0.0651,0.0625,0.0559,0.9821,NaN,NaN,0.00,0.1379,0.1667,NaN,0.0127,NaN,0.0619,NaN,0.0627,NaN,block of flats,0.0612,"Stone, brick",No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0.623251,0.538599,0.545589,0.583404,0.798990,0.263193,0.841677,0.021447,0.304555,0.588261,0.688669,0.210169,0.054338,0.790777,0.763634,0.790980,0.576544,0.748658,0.400948,0.696015,0.705815,0.924598,0.718842,0.412503,0.010390,0.619381,0.954915,0.253974,0.336066,0.995809,0.709630,0.115768,0.247564,0.164696,0.382646,0.221486,0.724027,0.799399,0.615608,0.008782,0.614907,0.182116,0.283521,0.716671,0.041032,0.432577,0.302302,0.812673,0.622103,0.290383,102669.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.0,0.0,160650.0,0.0,-53.0,0.0,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.00,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.0,0.0,160650.0,0.0,-53.0,0.0,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.00,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.0,0.0,160650.0,0.0,-53.0,0.0,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.0,0.0,0.0,160650.0,NaN,NaN,NaN,NaN,NaN,0.0,-53.00,0.0,0.0,160650.00,0.0,-53.00,0.0,0.00,160650.00,NaN,NaN,NaN,NaN,NaN,0.0,-53.00,0.00,0.0,160650.00
74186,Cash loans,F,N,Y,1,189000.0,640080.0,31261.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.046220,-12453,-158,-1596.0,-1580,NaN,1,1,0,1,0,0,Laborers,3.0,1,1,THURSDAY,11,0,1,1,0,0,0,Business Entity Type 2,0.495899,0.452236,0.276441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-414.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.271789,0.450667,0.915251,0.609587,0.156781,0.990234,0.922602,0.846543,0.534668,0.665733,0.491554,0.616078,0.714990,0.670361,0.120311,0.551883,0.201516,0.012140,0.026045,0.928996,0.889396,0.660983,0.508232,0.946107,0.420490,0.347951,0.866346,0.916568,0.797150,0.656244,0.061100,0.440124,0.141237,0.372216,0.501584,0.716653,0.252760,0.085425,0.769355,0.550976,0.855122,0.907023,0.555958,0.114399,0.959646,0.551736,0.793345,0.769783,0.029523,0.605118,202196.0,0.0,NaN,130083.35,274914.0,405000.0,0.0,-1615.0,0.0,0.0,263236.5,0.0,-1615.0,0.0,0.0,263236.5,0.0,NaN,130083.35,274914.0,405000.0,0.0,-1615.0,130083.35,274914.0,668236.5,0.0,NaN,130083.35,274914.0,405000.0,0.0,-931.0,0.0,0.0,91516.5,0.0,-931.0,0.0,0.0,91516.5,0.0,NaN,130083.35,274914.0,405000.0,0.0,-931.0,130083.35,274914.0,91516.5,0.0,NaN,130083.35,274914.0,405000.0,0.0,-325.0,0.0,0.0,124933.5,0.0,-325.0,0.0,0.0,124933.5,0.0,NaN,130083.35,274914.0,405000.0,0.0,-325.0,0.0,0.0,124933.5,0.0,NaN,130083.35,274914.0,405000.0,0.0,-538.33,0.0,0.0,87745.50,0.0,-538.33,0.0,0.00,87745.50,0.0,NaN,130083.35,274914.0,405000.0,0.0,-538.33,43361.12,91638.0,167059.13
65253,Cash loans,F,N,N,1,121500.0,104256.0,8194.5,90000.0,Unaccompanied,Working,Higher education,Single / not married,Rented apartment,0.035792,-9859,-392,-828.0,-2511,NaN,1,1,1,1,0,0,Sales staff,2.0,2,2,SATURDAY,12,0,0,0,0,0,0,Self-employed,0.352115,0.135407,0.656158,0.0330,0.0108,0.9737,0.6396,0.0171,0.00,0.0690,0.1250,0.1667,0.0611,0.0269,0.0295,0.0000,0.0000,0.0336,0.0112,0.9737,0.6537,0.0173,0.0000,0.0690,0.1250,0.1667,0.0625,0.0294,0.0307,0.0000,0.0000,0.0333,0.0108,0.9737,0.6444,0.0172,0.00,0.0690,0.1250,0.1667,0.0622,0.0274,0.0300,0.0000,0.0000,reg oper account,block of flats,0.0325,"Stone, brick",No,0.0,0.0,0.0,0.0,-1.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0,0.089877,0.447568,0.131639,0.064082,0.435259,0.689218,0.745716,0.863553,0.579129,0.538519,0.941202,0.761630,0.503093,0.587689,0.537260,0.484700,0.679185,0.281975,0.399896,0.521913,0.274328,0.502114,0.701955,0.538385,0.077082,0.257142,0.573929,0.079377,0.480612,0.971505,0.890001,0.381080,0.828747,0.598202,0.583725,0.371399,0.883350,0.249075,0.651910,0.039176,0.837285,0.401049,0.896599,0.775044,0.372050,0.355883,0.259412,0.282194,0.438214,0.348245,272854.0,NaN,NaN,NaN,NaN,NaN,0.0,-1031.0,0.0,0.0,305500.5,0.0,-1031.0,0.0,0.0,305500.5,NaN,NaN,NaN,NaN,NaN,0.0,-1031.0,0.00,0.0,305500.5,NaN,NaN,NaN,NaN,NaN,0.0,-390.0,0.0,0.0,76500.0,0.0,-390.0,0.0,0.0,76500.0,NaN,NaN,NaN,NaN,NaN,0.0,-390.0,0.00,0.0,76500.0,NaN,NaN,NaN,NaN,NaN,0.0,-304.0,0.0,0.0,104400.0,0.0,-304.0,0.0,0.0,104400.0,NaN,NaN,NaN,NaN,NaN,0.0,-304.0,0.0,0.0,104400.0,NaN,NaN,NaN,NaN,NaN,0.0,-343.67,0.0,0.0,101833.50,0.0,-343.67,0.0,0.00,101833.50,NaN,NaN,NaN,NaN,NaN,0.0,-343.67,0.00,0.0,101833.50
60400,Cash loans,F,N,N,0,112500.0,755190.0,36328.5,675000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.010032,-9233,-878,-333.0,-522,NaN,1,1,1,1,0,0,Core staff,2.0,2,2,FRIDAY,11,0,1,1,0,1,1,School,0.398403,0.372591,NaN,0.0742,0.0468,0.9826,0.7620,0.0147,0.08,0.0690,0.3333,0.0417,0.0769,0.0605,0.0789,0.0077,0.0371,0.0756,0.0486,0.9826,0.7713,0.0149,0.0806,0.0690,0.3333,0.0417,0.0786,0.0661,0.0822,0.0078,0.0392,0.0749,0.0468,0.9826,0.7652,0.0148,0.08,0.0690,0.3333,0.0417,0.0782,0.0616,0.0803,0.0078,0.0378,org spec account,block of flats,0.0883,"Stone, brick",No,0.0,0.0,0.0,0.0,-292.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.506338,0.355571,0.332951,0.663856,0.123350,0.321629,0.188188,0.558208,0.636772,0.396435,0.105420,0.624019,0.960336,0.061083,0.717732,0.341678,0.135631,0.166267,0.464307,0.710085,0.193339,0.289841,0.160412,0.610231,0.666622,0.467409,0.485829,0.228924,0.347892,0.154565,0.367409,0.872489,0.344479,0.080144,0.673778,0.683198,0.395718,0.041105,0.500510,0.430966,0.046936,0.164097,0.416916,0.498222,0.366917,0.326498,0.383481,0.743987,0.612620,0.627862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71140,Cash loans,F,N,N,1,193500.0,521280.0,25209.0,450000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,House / apartment,0.020246,-15201,-2196,-2848.0,-3779,NaN,1,1,1,1,0,0,Core staff,2.0,3,3,SUNDAY,11,0,0,0,0,0,0,Self-employed,0.244596,0.317423,0.634706,0.0660,0.0591,0.9851,0.7960,0.0196,0.00,0.0690,0.1250,0.0417,0.0095,0.0521,0.0218,0.0077,0.0493,0.0672,0.0613,0.9851,0.8040,0.0198,0.0000,0.0690,0.1250,0.0417,0.0097,0.0569,0.0227,0.0078,0.0522,0.0666,0.0591,0.9851,0.7987,0.0197,0.00,0.0690,0.1250,0.0417,0.0096,0.0530,0.0221,0.0078,0.0504,reg oper account,specific housing,0.0278,Mixed,No,0.0,0.0,0.0,0.0,-792.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.839271,0.927509,0.334800,0.393198,0.265743,0.162118,0.245030,0.719947,0.551477,0.279833,0.921964,0.023290,0.202615,0.745080,0.464906,0.566765,0.728211,0.719937,0.782813,0.679615,0.701390,0.428348,0.481115,0.221077,0.977722,0.671127,0.254047,0.880408,0.336782,0.838923,0.366654,0.653585,0.619040,0.779318,0.972787,0.684157,0.943597,0.159651,0.793458,0.705570,0.245522,0.720827,0.837383,0.520593,0.111493,0.763497,0.666572,0.421767,0.714451,0.916040,244369.0,0.0,2016.0,0.00,318537.0,1094031.0,0.0,-3738.0,0.0,0.0,1566427.5,0.0,-2112.0,0.0,84730.5,1899958.5,0.0,390.0,0.00,233806.5,760500.0,0.0,-1722.0,0.00,318537.0,2660458.5,0.0,390.0,0.00,84730.5,752031.0,0.0,162.0,0.0,0.0,90000.0,0.0,216.0,0.0,84730.5,752031.0,0.0,390.0,0.00,233806.5,90000.0,0.0,390.0,0.00,84730.5,90000.0,0.0,1410.0,0.00,233806.5,121500.0,0.0,-1092.0,0.0,0.0,166252.5,0.0,-1092.0,0.0,0.0,121500.0,0.0,390.0,0.00,233806.5,220500.0,0.0,-1092.0,0.0,0.0,121500.0,0.0,672.0,0.00,159268.5,364677.0,0.0,-934.50,0.0,0.0,261071.25,0.0,-352.00,0.0,21182.63,316659.75,0.0,390.0,0.00,233806.5,253500.0,0.0,-246.00,0.00,63707.4,295606.50

### **Substituindo os nulos**
- Pela média para variáveis numéricas
- Por 'MISS_VERIFICAR" para categóricas

In [ ]:
def pod_custom_fillna(df):
    import pandas as pd

    import numpy as np
    # Substituindo -1 por nulos
    # Esta função serve para este modelo ou caso específico, porque pode ser que em outras situações o missing não venha marcado com -1

    df.replace(-1, np.nan, inplace=True)
    numerical_cols = df.select_dtypes(include=['float64', 'float32', 'int64', 'int32']).columns
    means = {}

    for col in numerical_cols:
        means[col] = df[col].mean()
        df[col].fillna(means[col], inplace=True)

    categorical_cols = df.select_dtypes(include=['object']).columns
    df[categorical_cols] = df[categorical_cols].fillna('MISS_VERIFICAR')

    return df, means

In [ ]:
df_train_03, means = pod_custom_fillna(df_train_02)

with open(f'{path_drive_dataprep}/prd_fillna.pkl', 'wb') as f:
  pickle.dump(means, f)

In [ ]:
with open(f'{path_drive_dataprep}/prd_fillna.pkl', 'rb') as f:
  loaded_means = pickle.load(f)
loaded_means

{'CNT_CHILDREN': 0.4162092926021542,
 'AMT_INCOME_TOTAL': 168699.04549346626,
 'AMT_CREDIT': 599845.5172917261,
 'AMT_ANNUITY': 27149.62152063395,
 'AMT_GOODS_PRICE': 539122.5637288766,
 'REGION_POPULATION_RELATIVE': 0.020843482310076378,
 'DAYS_BIRTH': -16035.914852102815,
 'DAYS_EMPLOYED': 63599.31629036754,
 'DAYS_REGISTRATION': -4976.067520465273,
 'DAYS_ID_PUBLISH': -2991.8822818756307,
 'OWN_CAR_AGE': 12.035873743060138,
 'FLAG_MOBIL': 0.9999933633751219,
 'FLAG_EMP_PHONE': 0.8204792970486929,
 'FLAG_WORK_PHONE': 0.19891292084497508,
 'FLAG_CONT_MOBILE': 0.9981550182839015,
 'FLAG_PHONE': 0.2809283310879419,
 'FLAG_EMAIL': 0.05709488382588151,
 'CNT_FAM_MEMBERS': 2.153631229302026,
 'REGION_RATING_CLIENT': 2.0532987343956357,
 'REGION_RATING_CLIENT_W_CITY': 2.0322141771580644,
 'HOUR_APPR_PROCESS_START': 12.05614584646832,
 'REG_REGION_NOT_LIVE_REGION': 0.01548988246537341,
 'REG_REGION_NOT_WORK_REGION': 0.05142720618002509,
 'LIVE_REGION_NOT_WORK_REGION': 0.04101434174636147,
 'REG_CITY_NOT_LIVE_CITY': 0.07842499618394069,
 'REG_CITY_NOT_WORK_CITY': 0.23066917088645397,
 'LIVE_CITY_NOT_WORK_CITY': 0.17929505770545331,
 'EXT_SOURCE_1': 0.5031859956528094,
 'EXT_SOURCE_2': 0.5145058417827371,
 'EXT_SOURCE_3': 0.510793838732432,
 'APARTMENTS_AVG': 0.11745182720215999,
 'BASEMENTAREA_AVG': 0.08862181314013688,
 'YEARS_BEGINEXPLUATATION_AVG': 0.9775837776509942,
 'YEARS_BUILD_AVG': 0.7525410325655283,
 'COMMONAREA_AVG': 0.04448259987653232,
 'ELEVATORS_AVG': 0.07933155350847264,
 'ENTRANCES_AVG': 0.14969888118626376,
 'FLOORSMAX_AVG': 0.2261280975558142,
 'FLOORSMIN_AVG': 0.23166274311225016,
 'LANDAREA_AVG': 0.06645004251839737,
 'LIVINGAPARTMENTS_AVG': 0.10087016833179416,
 'LIVINGAREA_AVG': 0.10748022711199477,
 'NONLIVINGAPARTMENTS_AVG': 0.00886710563487407,
 'NONLIVINGAREA_AVG': 0.028449006789784126,
 'APARTMENTS_MODE': 0.1141147040161998,
 'BASEMENTAREA_MODE': 0.08769584542146852,
 'YEARS_BEGINEXPLUATATION_MODE': 0.9769181439796681,
 'YEARS_BUILD_MODE': 0.7596546088165209,
 'COMMONAREA_MODE': 0.04238833230443602,
 'ELEVATORS_MODE': 0.07477473558512453,
 'ENTRANCES_MODE': 0.1451442386445759,
 'FLOORSMAX_MODE': 0.2221441897682785,
 'FLOORSMIN_MODE': 0.22772945662732777,
 'LANDAREA_MODE': 0.06499453638593622,
 'LIVINGAPARTMENTS_MODE': 0.10556124380824447,
 'LIVINGAREA_MODE': 0.10595249729787433,
 'NONLIVINGAPARTMENTS_MODE': 0.008089853749701198,
 'NONLIVINGAREA_MODE': 0.02704224226306327,
 'APARTMENTS_MEDI': 0.1178201174485319,
 'BASEMENTAREA_MEDI': 0.08813050537755053,
 'YEARS_BEGINEXPLUATATION_MEDI': 0.977563354166126,
 'YEARS_BUILD_MEDI': 0.7557931910246228,
 'COMMONAREA_MEDI': 0.04445731105035717,
 'ELEVATORS_MEDI': 0.07843426589332425,
 'ENTRANCES_MEDI': 0.14919804073766763,
 'FLOORSMAX_MEDI': 0.22576540180933236,
 'FLOORSMIN_MEDI': 0.23134518942603807,
 'LANDAREA_MEDI': 0.06731461488143908,
 'LIVINGAPARTMENTS_MEDI': 0.10198328016119554,
 'LIVINGAREA_MEDI': 0.10867976007792798,
 'NONLIVINGAPARTMENTS_MEDI': 0.008691824760414631,
 'NONLIVINGAREA_MEDI': 0.02824043264445006,
 'TOTALAREA_MODE': 0.10255863220206221,
 'OBS_30_CNT_SOCIAL_CIRCLE': 1.419609148716583,
 'DEF_30_CNT_SOCIAL_CIRCLE': 0.1430236042214602,
 'OBS_60_CNT_SOCIAL_CIRCLE': 1.402563505010487,
 'DEF_60_CNT_SOCIAL_CIRCLE': 0.09983686786296901,
 'DAYS_LAST_PHONE_CHANGE': -970.9500562897043,
 'FLAG_DOCUMENT_2': 1.3273249756104036e-05,
 'FLAG_DOCUMENT_3': 0.7095680220866876,
 'FLAG_DOCUMENT_4': 9.291274829272824e-05,
 'FLAG_DOCUMENT_5': 0.01539033309220263,
 'FLAG_DOCUMENT_6': 0.08749062576735975,
 'FLAG_DOCUMENT_7': 0.00016591562195130045,
 'FLAG_DOCUMENT_8': 0.08198886374345463,
 'FLAG_DOCUMENT_9': 0.003962065052197055,
 'FLAG_DOCUMENT_10': 2.6546499512208072e-05,
 'FLAG_DOCUMENT_11': 0.0038890621785384826,
 'FLAG_DOCUMENT_12': 6.636624878052018e-06,
 'FLAG_DOCUMENT_13': 0.003364768813172373,
 'FLAG_DOCUMENT_14': 0.0028869318219526276,
 'FLAG_DOCUMENT_15': 0.0012012291029274151,
 'FLAG_DOCUMENT_16': 0.009994757066346338,
 'FLAG_DOCUMENT_17': 0.0002853748697562368,
 'FLAG_DOCUMENT_18': 0.008129865475613722,
 'FLAG_DOCUMENT_19': 0.0005773863643905255,
 'FLAG_DOCUMENT_20': 0.0004911102409758493,
 'FLAG_DOCUMENT_21': 0.0003318312439026009,
 'AMT_REQ_CREDIT_BUREAU_HOUR': 0.00659433347391021,
 'AMT_REQ_CREDIT_BUREAU_DAY': 0.0068627075106391135,
 'AMT_REQ_CREDIT_BUREAU_WEEK': 0.034505233293716214,
 'AMT_REQ_CREDIT_BUREAU_MON': 0.2686807499137369,
 'AMT_REQ_CREDIT_BUREAU_QRT': 0.2668941456120845,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 1.8933941647816586,
 'var_1': 0.4983958862969508,
 'var_2': 0.4991931386137605,
 'var_3': 0.5007472281057477,
 'var_4': 0.4984707984786316,
 'var_5': 0.49996723684334,
 'var_6': 0.49953646004318447,
 'var_7': 0.5004465445724378,
 'var_8': 0.5008323198761557,
 'var_9': 0.5009915320118933,
 'var_10': 0.4994933361564683,
 'var_11': 0.5000261889735667,
 'var_12': 0.5014489182798342,
 'var_13': 0.5007937786743278,
 'var_14': 0.500415204423777,
 'var_15': 0.5016453539662896,
 'var_16': 0.5007942806094794,
 'var_17': 0.5014112207590378,
 'var_18': 0.5000320817730702,
 'var_19': 0.4985320019373235,
 'var_20': 0.49895263484084174,
 'var_21': 0.4999709295744016,
 'var_22': 0.5007250357343267,
 'var_23': 0.4995410458609803,
 'var_24': 0.5011765926507896,
 'var_25': 0.49937490187126127,
 'var_26': 0.5008623215340943,
 'var_27': 0.49967240376557226,
 'var_28': 0.5002315476860375,
 'var_29': 0.5001708305569905,
 'var_30': 0.4994827099273167,
 'var_31': 0.499670552607236,
 'var_32': 0.5006801500746183,
 'var_33': 0.5005412724960326,
 'var_34': 0.5001365319382552,
 'var_35': 0.5003308410290255,
 'var_36': 0.49908790909025325,
 'var_37': 0.499078612321892,
 'var_38': 0.4999150215684122,
 'var_39': 0.4999425204118565,
 'var_40': 0.5002707900180902,
 'var_41': 0.5000243431783318,
 'var_42': 0.5001440058926552,
 'var_43': 0.4993769079236298,
 'var_44': 0.50004586129538,
 'var_45': 0.5011368701614992,
 'var_46': 0.5003452226263041,
 'var_47': 0.49996767404787373,
 'var_48': 0.5002342451709182,
 'var_49': 0.4999490200157306,
 'var_50': 0.4995645155364712,
 'SK_ID_CURR_bureau': 278017.56099467527,
 'sum_credit_day_overdue_credit_active_active': 4.892913061006366,
 'sum_days_credit_enddate_credit_active_active': 5755.915793797494,
 'sum_amt_credit_sum_limit_credit_active_active': 28347.16785087956,
 'sum_amt_credit_sum_debt_credit_active_active': 806909.5581349502,
 'sum_amt_credit_sum_credit_active_active': 1315539.9638920503,
 'sum_credit_day_overdue_credit_active_closed': 0.4672944386372092,
 'sum_days_credit_enddate_credit_active_closed': -2299.2355832270378,
 'sum_amt_credit_sum_limit_credit_active_closed': 4432.2476996926225,
 'sum_amt_credit_sum_debt_credit_active_closed': 10423.725023482068,
 'sum_amt_credit_sum_credit_active_closed': 970318.1730184433,
 'sum_credit_day_overdue_credit_type_consumer_credit': 4.4573668411521,
 'sum_days_credit_enddate_credit_type_consumer_credit': -2428.487977697758,
 'sum_amt_credit_sum_limit_credit_type_consumer_credit': 25.65027102360888,
 'sum_amt_credit_sum_debt_credit_type_consumer_credit': 379707.0415444435,
 'sum_amt_credit_sum_credit_type_consumer_credit': 1312178.483736552,
 'sum_credit_day_overdue_credit_type_credit_card': 1.0591822985000532,
 'sum_days_credit_enddate_credit_type_credit_card': 7952.3907357021635,
 'sum_amt_credit_sum_limit_credit_type_credit_card': 42661.18074700542,
 'sum_amt_credit_sum_debt_credit_type_credit_card': 147877.5423076244,
 'sum_amt_credit_sum_credit_type_credit_card': 346286.8360274458,
 'sum_credit_day_overdue_credit_currency_currency_1': 4.905845563192767,
 'sum_days_credit_enddate_credit_currency_currency_1': 2580.38070098713,
 'sum_amt_credit_sum_limit_credit_currency_currency_1': 25691.025665637797,
 'sum_amt_credit_sum_debt_credit_currency_currency_1': 660028.9749426927,
 'sum_amt_credit_sum_credit_currency_currency_1': 1933081.5764306614,
 'max_credit_day_overdue_credit_active_active': 4.569373997993644,
 'max_days_credit_enddate_credit_active_active': 2511.264168288461,
 'max_amt_credit_sum_limit_credit_active_active': 21855.27031892749,
 'max_amt_credit_sum_debt_credit_active_active': 450920.2460974937,
 'max_amt_credit_sum_credit_active_active': 596873.1731876693,
 'max_credit_day_overdue_credit_active_closed': 0.46292720089293626,
 'max_days_credit_enddate_credit_active_closed': 344.7543013102384,
 'max_amt_credit_sum_limit_credit_active_closed': 3508.1694759221314,
 'max_amt_credit_sum_debt_credit_active_closed': 9545.889083872537,
 'max_amt_credit_sum_credit_active_closed': 271470.5601922293,
 'max_credit_day_overdue_credit_type_consumer_credit': 4.244701348747592,
 'max_days_credit_enddate_credit_type_consumer_credit': 100.07556702228268,
 'max_amt_credit_sum_limit_credit_type_consumer_credit': 25.65027102360888,
 'max_amt_credit_sum_debt_credit_type_consumer_credit': 256423.34004224502,
 'max_amt_credit_sum_credit_type_consumer_credit': 325046.1716195721,
 'max_credit_day_overdue_credit_type_credit_card': 1.0295734193822914,
 'max_days_credit_enddate_credit_type_credit_card': 5121.4577743656055,
 'max_amt_credit_sum_limit_credit_type_credit_card': 31088.524873035574,
 'max_amt_credit_sum_debt_credit_type_credit_card': 110092.33417574933,
 'max_amt_credit_sum_credit_type_credit_card': 194912.11481921448,
 'max_credit_day_overdue_credit_currency_currency_1': 4.59496718063038,
 'max_days_credit_enddate_credit_currency_currency_1': 2004.2593468890555,
 'max_amt_credit_sum_limit_credit_currency_currency_1': 18755.725592299477,
 'max_amt_credit_sum_debt_credit_currency_currency_1': 364448.6441255745,
 'max_amt_credit_sum_credit_currency_currency_1': 407485.56649552606,
 'min_credit_day_overdue_credit_active_active': 0.5946034633089883,
 'min_days_credit_enddate_credit_active_active': 1959.6927876045522,
 'min_amt_credit_sum_limit_credit_active_active': 6178.364180031707,
 'min_amt_credit_sum_debt_credit_active_active': 289731.2520219893,
 'min_amt_credit_sum_credit_active_active': 525457.7408266377,
 'min_credit_day_overdue_credit_active_closed': 0.054408872668001346,
 'min_days_credit_enddate_credit_active_closed': -916.6527509997144,
 'min_amt_credit_sum_limit_credit_active_closed': 258.26549139344263,
 'min_amt_credit_sum_debt_credit_active_closed': 789.0047205960618,
 'min_amt_credit_sum_credit_active_closed': 242431.84015626385,
 'min_credit_day_overdue_credit_type_consumer_credit': 0.3678831030291002,
 'min_days_credit_enddate_credit_type_consumer_credit': -851.8119230609447,
 'min_amt_credit_sum_limit_credit_type_consumer_credit': 0.0,
 'min_amt_credit_sum_debt_credit_type_consumer_credit': 40651.53467695491,
 'min_amt_credit_sum_credit_type_consumer_credit': 328642.2394785283,
 'min_credit_day_overdue_credit_type_credit_card': 0.24384478091793435,
 'min_days_credit_enddate_credit_type_credit_card': 3625.859383844101,
 'min_amt_credit_sum_limit_credit_type_credit_card': 13110.320639911874,
 'min_amt_credit_sum_debt_credit_type_credit_card': 59592.94216255424,
 'min_amt_credit_sum_credit_type_credit_card': 146801.9300270676,
 'min_credit_day_overdue_credit_currency_currency_1': 0.14948294012013127,
 'min_days_credit_enddate_credit_currency_currency_1': -470.97247196726056,
 'min_amt_credit_sum_limit_credit_currency_currency_1': 1055.059993524024,
 'min_amt_credit_sum_debt_credit_currency_currency_1': 47561.280325365784,
 'min_amt_credit_sum_credit_currency_currency_1': 321496.30770210223,
 'avg_credit_day_overdue_credit_active_active': 1.9516810268045488,
 'avg_days_credit_enddate_credit_active_active': 2470.0103376105158,
 'avg_amt_credit_sum_limit_credit_active_active': 12704.95401738624,
 'avg_amt_credit_sum_debt_credit_active_active': 377793.7446185373,
 'avg_amt_credit_sum_credit_active_active': 565370.4799832178,
 'avg_credit_day_overdue_credit_active_closed': 0.14919387700866363,
 'avg_days_credit_enddate_credit_active_closed': -567.1272152847152,
 'avg_amt_credit_sum_limit_credit_active_closed': 1129.2695429303278,
 'avg_amt_credit_sum_debt_credit_active_closed': 2916.385608993212,
 'avg_amt_credit_sum_credit_active_closed': 258347.61856589833,
 'avg_credit_day_overdue_credit_type_consumer_credit': 1.2227942477693154,
 'avg_days_credit_enddate_credit_type_consumer_credit': -490.5151460595852,
 'avg_amt_credit_sum_limit_credit_type_consumer_credit': 7.228894257124009,
 'avg_amt_credit_sum_debt_credit_type_consumer_credit': 114188.86443003707,
 'avg_amt_credit_sum_credit_type_consumer_credit': 316535.76232603146,
 'avg_credit_day_overdue_credit_type_credit_card': 0.5076522109145066,
 'avg_days_credit_enddate_credit_type_credit_card': 4519.896178982247,
 'avg_amt_credit_sum_limit_credit_type_credit_card': 21490.592911884876,
 'avg_amt_credit_sum_debt_credit_type_credit_card': 82548.4594985556,
 'avg_amt_credit_sum_credit_type_credit_card': 174270.2291293453,
 'avg_credit_day_overdue_credit_currency_currency_1': 0.9830052170413031,
 'avg_days_credit_enddate_credit_currency_currency_1': 651.916895757358,
 'avg_amt_credit_sum_limit_credit_currency_currency_1': 5827.824654965056,
 'avg_amt_credit_sum_debt_credit_currency_currency_1': 159345.65916344753,
 'avg_amt_credit_sum_credit_currency_currency_1': 372970.6127012507}

In [ ]:
def pod_custom_fillna_prod(df, means):
    import numpy as np
    import pandas as pd
    df.replace(-1, np.nan, inplace=True)
    for col, mean_value in means.items():
      df[col].fillna(mean_value, inplace=True)

    categorical_cols = df.select_dtypes(include=['object']).columns
    df[categorical_cols] = df[categorical_cols].fillna('MISS_VERIFICAR')

    return df

In [ ]:
test_prod = pod_custom_fillna_prod(test,loaded_means)
test_prod.shape

(64578, 273)

In [ ]:
test_prod.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50,SK_ID_CURR_bureau,sum_credit_day_overdue_credit_active_active,sum_days_credit_enddate_credit_active_active,sum_amt_credit_sum_limit_credit_active_active,sum_amt_credit_sum_debt_credit_active_active,sum_amt_credit_sum_credit_active_active,sum_credit_day_overdue_credit_active_closed,sum_days_credit_enddate_credit_active_closed,sum_amt_credit_sum_limit_credit_active_closed,sum_amt_credit_sum_debt_credit_active_closed,sum_amt_credit_sum_credit_active_closed,sum_credit_day_overdue_credit_type_consumer_credit,sum_days_credit_enddate_credit_type_consumer_credit,sum_amt_credit_sum_limit_credit_type_consumer_credit,sum_amt_credit_sum_debt_credit_type_consumer_credit,sum_amt_credit_sum_credit_type_consumer_credit,sum_credit_day_overdue_credit_type_credit_card,sum_days_credit_enddate_credit_type_credit_card,sum_amt_credit_sum_limit_credit_type_credit_card,sum_amt_credit_sum_debt_credit_type_credit_card,sum_amt_credit_sum_credit_type_credit_card,sum_credit_day_overdue_credit_currency_currency_1,sum_days_credit_enddate_credit_currency_currency_1,sum_amt_credit_sum_limit_credit_currency_currency_1,sum_amt_credit_sum_debt_credit_currency_currency_1,sum_amt_credit_sum_credit_currency_currency_1,max_credit_day_overdue_credit_active_active,max_days_credit_enddate_credit_active_active,max_amt_credit_sum_limit_credit_active_active,max_amt_credit_sum_debt_credit_active_active,max_amt_credit_sum_credit_active_active,max_credit_day_overdue_credit_active_closed,max_days_credit_enddate_credit_active_closed,max_amt_credit_sum_limit_credit_active_closed,max_amt_credit_sum_debt_credit_active_closed,max_amt_credit_sum_credit_active_closed,max_credit_day_overdue_credit_type_consumer_credit,max_days_credit_enddate_credit_type_consumer_credit,max_amt_credit_sum_limit_credit_type_consumer_credit,max_amt_credit_sum_debt_credit_type_consumer_credit,max_amt_credit_sum_credit_type_consumer_credit,max_credit_day_overdue_credit_type_credit_card,max_days_credit_enddate_credit_type_credit_card,max_amt_credit_sum_limit_credit_type_credit_card,max_amt_credit_sum_debt_credit_type_credit_card,max_amt_credit_sum_credit_type_credit_card,max_credit_day_overdue_credit_currency_currency_1,max_days_credit_enddate_credit_currency_currency_1,max_amt_credit_sum_limit_credit_currency_currency_1,max_amt_credit_sum_debt_credit_currency_currency_1,max_amt_credit_sum_credit_currency_currency_1,min_credit_day_overdue_credit_active_active,min_days_credit_enddate_credit_active_active,min_amt_credit_sum_limit_credit_active_active,min_amt_credit_sum_debt_credit_active_active,min_amt_credit_sum_credit_active_active,min_credit_day_overdue_credit_active_closed,min_days_credit_enddate_credit_active_closed,min_amt_credit_sum_limit_credit_active_closed,min_amt_credit_sum_debt_credit_active_closed,min_amt_credit_sum_credit_active_closed,min_credit_day_overdue_credit_type_consumer_credit,min_days_credit_enddate_credit_type_consumer_credit,min_amt_credit_sum_limit_credit_type_consumer_credit,min_amt_credit_sum_debt_credit_type_consumer_credit,min_amt_credit_sum_credit_type_consumer_credit,min_credit_day_overdue_credit_type_credit_card,min_days_credit_enddate_credit_type_credit_card,min_amt_credit_sum_limit_credit_type_credit_card,min_amt_credit_sum_debt_credit_type_credit_card,min_amt_credit_sum_credit_type_credit_card,min_credit_day_overdue_credit_currency_currency_1,min_days_credit_enddate_credit_currency_currency_1,min_amt_credit_sum_limit_credit_currency_currency_1,min_amt_credit_sum_debt_credit_currency_currency_1,min_amt_credit_sum_credit_currency_currency_1,avg_credit_day_overdue_credit_active_active,avg_days_credit_enddate_credit_active_active,avg_amt_credit_sum_limit_credit_active_active,avg_amt_credit_sum_debt_credit_active_active,avg_amt_credit_sum_credit_active_active,avg_credit_day_overdue_credit_active_closed,avg_days_credit_enddate_credit_active_closed,avg_amt_credit_sum_limit_credit_active_closed,avg_amt_credit_sum_debt_credit_active_closed,avg_amt_credit_sum_credit_active_closed,avg_credit_day_overdue_credit_type_consumer_credit,avg_days_credit_enddate_credit_type_consumer_credit,avg_amt_credit_sum_limit_credit_type_consumer_credit,avg_amt_credit_sum_debt_credit_type_consumer_credit,avg_amt_credit_sum_credit_type_consumer_credit,avg_credit_day_overdue_credit_type_credit_card,avg_days_credit_enddate_credit_type_credit_card,avg_amt_credit_sum_limit_credit_type_credit_card,avg_amt_credit_sum_debt_credit_type_credit_card,avg_amt_credit_sum_credit_type_credit_card,avg_credit_day_overdue_credit_currency_currency_1,avg_days_credit_enddate_credit_currency_currency_1,avg_amt_credit_sum_limit_credit_currency_currency_1,avg_amt_credit_sum_debt_credit_currency_currency_1,avg_amt_credit_sum_credit_currency_currency_1
196348,243431,0,Revolving loans,M,N,Y,0,90000.0,180000.0,9000.0,180000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,With parents,0.031329,-9579,-489,-9175.0,-1161.0,12.035874,1,1,0,1,0,0,Laborers,1.0,2,2,WEDNESDAY,16,0,0,0,0,0,0,Business Entity Type 3,0.217777,0.634658,0.554947,0.117452,0.088622,0.977584,0.752541,0.044483,0.079332,0.149699,0.226128,0.231663,0.06645,0.10087,0.10748,0.008867,0.028449,0.114115,0.087696,0.976918,0.759655,0.042388,0.074775,0.145144,0.222144,0.227729,0.064995,0.105561,0.105952,0.00809,0.027042,0.11782,0.088131,0.977563,0.755793,0.044457,0.078434,0.149198,0.225765,0.231345,0.067315,0.101983,0.10868,0.008692,0.02824,MISS_VERIFICAR,MISS_VERIFICAR,0.102559,MISS_VERIFICAR,MISS_VERIFICAR,0.0,0.0,0.0,0.0,-393.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.553600,0.735979,0.037344,0.338258,0.545242,0.841952,0.024305,0.615976,0.187460,0.588908,0.184133,0.216715,0.295191,0.088721,0.783669,0.926316,0.825076,0.502182,0.088370,0.897170,0.443596,0.505481,0.760015,0.290377,0.252905,0.993413,0.954151,0.111669,0.216014,0.629482,0.292913,0.325685,0.409491,0.000870,0.100324,0.988315,0.332587,0.231480,0.526877,0.678298,0.593565,0.789703,0.254486,0.969768,0.918087,0.939984,0.941608,0.053827,0.571771,0.186664,243431.000000,4.892913,5755.915794,28347.167851,806909.558135,1.315540e+06,0.000000,-252.000000,0.0000,0.000000,172307.120000,0.000000,-252.000000,0.000000,0.000000,1.723071e+05,1.059182,7952.390736,42661.180747,147877.542308,346286.836027,0.000000,-252.000000,0.000000,0.000000,1.723071e+05,4.569374,2511.264168,21855.270319,450920.246097,5.968732e+05,0.000000,-89.000000,0.000000,0.000000,34560.000000,0.000000,-89.000000,0.000000,0.000000,34560.00000,1.029573,5121.457774,31088.524873,110092.334176,194912.114819,0.000000,-89.000000,0.000000,0.000000,34560.000000,0.594603,1959.692788,6178.36418,289731.252022,5.254577e+05,0.000000,-163.000000,0.000000,0.000000,137747.120000,0.000000,-163.000000,0.0,0.000000,1.377471e+05,0.243845,3625.859384,13110.32064,59592.942163,146801.930027,0.000000,-163.000000,0.000000,0.000000,1.377471e+05,1.951681,2470.010338,12704.954017,377793.744619,5.653705e+05,0.000000,-126.000000,0.000000,0.000000,86153.560000,0.000000,-126.000000,0.000000,0.00000,86153.560000,0.507652,4519.896179,21490.592912,82548.459499,174270.229129,0.000000,-126.000000,0.000000,0.000000,86153.560000
147976,127962,0,Cash loans,F,N,N,0,225000.0,781920.0,42547.5,675000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.018801,-20151,-3330,-10255.0,-3468.0,12.035874,1,1,0,1,0,0,Laborers,1.0,2,2,MONDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.804014,0.501598,0.384207,0.008200,0.000000,0.968700,0.571600,0.002600,0.000000,0.034500,0.041700,0.083300,0.01350,0.00670,0.00750,0.000000,0.000000,0.008400,0.000000,0.968700,0.588400,0.002600,0.000000,0.034500,0.041700,0.083300,0.013800,0.007300,0.007900,0.00000,0.000000,0.00830,0.000000,0.968700,0.577300,0.002600,0.000000,0.034500,0.041700,0.083300,0.013700,0.006800,0.00770,0.000000,0.00000,reg oper account,block of flats,0.007400,Wooden,No,2.0,1.0,2.0,0.0,-2005.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.055630,0.969683,0.143565,0.064058,0.807627,0.711164,0.012740,0.556794,0.013220,0.552560,0.426758,0.691886,0.367910,0.560955,0.803954,0.494718,0.307866,0.047729,0.384242,0.988515,0.026243,0.267994,0.231065,0.425559,0.617888,0.284290,0.020444,0.552369,0.461655,0.750744,0.294814,0.826447,0.731267,0.703634,0.405295,0.985253,0.666051,0.595347,0.865780,0.637372,0.346320,0.912834,0.910227,0.784684,0.485868,0.812601,0.425869,0.335348,0.878763,0.792996,127962.000000,0.000000,209.000000,53697.600000,297302.400000,3.510000e+05,0.000000,-591.000000,0.0000,0.000000,183334.500000,0.000000,-591.000000,0.000000,0.000000,1.833345e+05,0.000000,209.000000,53697.600000,297302.400000,351000.000000,0.000000,-382.000000,53697.600000,297302.400000,5.343345e+05,0.000000,209.000000,53697.600000,297302.400000,3.510000e+05,0.000000,-370.000000,0.000000,0.000000,35622.000000,0.000000,-370.000000,0.000000,0.000000,35622.00000,0.000000,209.000000,53697.600000,297302.400000,351000.000000,0.000000,209.000000,53697.600000,297302.400000,35622.000000,0.000000,209.000000,0.00000,0.000000,0.000000e+00,0.000000,-221.000000,0.000000,0.000000,147712.500000,0.000000,-221.000000,0.0,0.000000,1.477125e+05,0.000000,209.000000,0.00000,0.000000,0.000000,0.000000,-221.000000,0.000000,0.000000,0.000000e+00,0.000000,209.000000,26848.800000,148651.200000,1.755000e+05,0.000000,-295.500000,0.000000,0.000000,91667.250000,0.000000,-295.500000,0.000000,0.00000,91667.250000,0.000000,209.000000,26848.800000,148651.200000,175500.000000,0.000000,-127.330000,13424.400000,74325.600000,133583.630000
52662,244667,1,Cash loans,M,N,Y,1,112500.0,450000.0,21888.0,450000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.019689,-11641,-370,-218.0,-3796.0,12.035874,1,1,1,1,0,0,Laborers,3.0,2,2,THURSDAY,9,0,0,0,0,0,0,Construction,0.503186,0.278945,0.300108,0.002100,0.088622,0.970700,0.752541,0.044483,0.000000,0.069000,0.000000,0.231663,0.02060,0.10087,0.00150,0.008867,0.000000,0.002100,0.087696,0.970700,0.759655,0.042388,0.000000,0.069000,0.000000,0.227729,0.021000,0.105561,0.001600,0.00809,0.000000,0.00210,0.088131,0.970700,0.755793,0.044457,0.000000,0.069000,0.000000,0.231345,0.020900,0.101983,0.00150,0.008692,0.00000,MISS_VERIFICAR,terraced house,0.001200,Wooden,No,1.0,0.0,1.0,0.0,-1022.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,2.000000,4.000000,0.963148,0.610721,0.910276,0.985248,0.993294,0.979476,0.502643,0.153952,0.100604,0.582648,0.268764,0.264136,0.798616,0.640491,0.581764,0.113877,0.599859,0.384104,0.882926,0.656345,0.409666,0.822635,0.729645,0.389186,0.172874,0.634220,0.060167,0.666173,0.432991,0.320440,0.183687,0.072003,0.058414,0.273381,0.818123,0.553403,0.393062,0.149542,0.065340,0.581393,0.973969,0.671805,0.428278,0.189641,0.765047,0.931675,0.944781,0.270274,0.296258,0.518378,244667.000000,0.000000,27450.000000,19784.660000,92715.350000,1.125000e+05,0.000000,-113.000000,0.0000,0.000000,225000.000000,0.000000,-113.000000,0.000000,0.000000,2.250000e+05,0.000000,27450.000000,19784.660000,92715.350000,112500.000000,0.000000,27337.000000,19784.660000,92715.350000,3.375000e+05,0.000000,27450.000000,3871.040000,74086.380000,9.000000e+04,0.000000,-113.000000,0.000000,0.000000,225000.000000,0.000000,-113.000000,0.000000,0.000000,225000.00000,0.000000,27450.000000,3871.040000,74086.380000,90000.000000,0.000000,27450.000000,3871.040000,74086.380000,90000.000000,0.000000,27450.000000,15913.62000,18628.970000,2.250000e+04,0.000000,-113.000000,0.000000,0.000000,225000.000000,0.000000,-113.000000,0.0,0.000000,2.250000e+05,0.000000,27450.000000,15913.62000,18628.970000,22500.000000,0.000000,-113.000000,0.000000,0.000000,2.250000e+04,0.000000,27450.000000,9892.330000,46357.670000,5.625000e+04,0.000000,-113.000000,0.000000,0.000000,225000.000000,0.000000,-113.000000,0.000000,0.00000,225000.000000,0.000000,27450.000000,9892.330000,46357.670000,56250.000000,0.000000,13668.500000,6594.880000,30905.120000,112500.000000
101577,220032,0,Cash loans,F,N,Y,0,225000.0,760225.5,32337.0,679500.0,Unaccompanied,Working,Secondary / secondary special,Married,With parents,0.007330,-10035,-144,-5885.0,-677.0,12.035874,1,1,0,1,0,0,Laborers,2.0,2,2,TUESDAY,15,0,0,0,1,1,1,Business Entity Type 3,0.279232,0.213085,0.556727,0.117452,0.088622,0.977584,0.752541,0.044483,0.079332,0.149699,0.226128,0.231663,0.06645,0.10087,0.10748,0.008867,0.028449,0.114115,0.087696,0.976918,0.759655,0.042388,0.074775,0.145144,0.222144,0.227729,0.064995,0.105561,0.105952,0.00809,0.027042,0.11782,0.088131,0.977563,0.755793,0.044457,0.078434,0.149198,0.225765,0.231345,0.067315,0.101983,0.10868,0.008692,0.02824,MISS_VERIFICAR,MISS_VERIFICAR,0.102559,MISS_VERIFICAR,MISS_VERIFICAR,3.0,0.0,2.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.699803,0.421910,0.417316,0.528927,0.405325,0.816989,0.633609,0.482975,0.711495,0.471590,0.302225,0.073788,0.630507,0.419388,0.652081,0.229409,0.615194,0.231686,0.377791,0.876791,0.300196,0.789843,0.422809,0.209413,0.377615,0.839231,0.662908,0.630662,0.854113,0.623451,0.717409,0.920094,0.191716,0.036136,0.028467,0.833765,0.772909,0.940978,0.171637,0.786283,0.766011,0.533777,0.995612,0.998489,0.318540,0.923508,0.271327,0.558144,0.926976,0.794804,220032.000000,0.000000,1582.000000,0.000000,971437.500000,1.030500e+06,0.000000,-197.000000,4432.2477,10423.725023,225000.000000,0.000000,1385.000000,0.000000,971437.500000,1.255500e+06,1.059182,7952.390736,42661.180747,147877.542308,346286.836027,0.000000,1385.000000,0.000000,971437.500000,1.255500e+06,0.000000,1582.000000,0.000000,971437.500000,1.030500e+06,0.000000,-197.000000,3508.169476,9545.889084,225000.000000,0.000000,1582.000000,0.000000,971437.500000,225000.00000,1.029573,5121.457774,31088.524873,110092.334176,194912.114819,0.000000,1582.000000,0.000000,971437.500000,225000.000000,0.000000,1582.000000,0.00000,971437.500000,1.030500e+06,0.000000,-197.000000,258.265491,789.004721,225000.000000,0.000000,-197.000000,0.0,971437.500000,1.030500e+06,0.243845,3625.859384,13110.32064,59592.942163,146801.930027,0.000000,-197.000000,0.000000,971437.500000,1.030500e+06,0.000000,1582.000000,0.000000,971437.500000,1.030500e+06,0.000000,-197.000000,1129.269543,2916.385609,225000.000000,0.000000,692.500000,0.000000,971437.50000,627750.000000,0.507652,4519.896179,21490.592912,82548.459499,174270.229129,0.000000,692.500000,0.000000,971437.500000,627750.000000
173078,123746,0,Cash loans,F,N,N,0,225000.0,808650.0,26217.0,675000.0,Family,State servant,Higher education,Married,House / apartment,0.006207,-16462,-8468,-8477.0,0.0,12.035874,1,1,0,1,0,0,Core staff,2.0,2,2,TUESDAY,16,0,0,0,0,0,0,School,0.583032,0.528639,0.510794,0.117452,0.088622,0.977584,0.752541,0.044483,0.079332,0.149699,0.226128,0.231663,0.06645,0.10087,0.10748,0.008867,0.028449,0.114115,0.087696,0.976918,0.759655,0.042388,0.074775,0.145144,0.222144,0.227729,0.064995,0.105561,0.105952,0.00809,0.027042,0.11782,0.088131,0.977563,0.755793,0.044457,0.078434,0.149198,0.225765,0.231345,0.067315,0.101983,0.10868,0.008692,0.02824,MISS_VERIFICAR,MISS_VERIFICAR,0.102559,MISS_VERIFICAR,MISS_VERIFICAR,0.0,0.0,0.0,0.0,-1322.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.006594,0.006863,0.034505,0.268681,0.266894,1.893394,0.733595,0.214420,0.649903,0.751180,0.202763,0.696091,0.745274,0.357072,0.458827,0.731857,0.954352,0.428362,0.881391,0.282845,0.719461,0.592143,0.747439,0.873098,0.132575,0.531037,0.930192,0.470000,0.278429,0.886347,0.547333,0.115353,0.362414,0.484310,0.293341,0.334486,0.414042,0.021479,0.300477,0.658067,0.759636,0.228552,0.949061,0.452163,0.243199,0.534236,0.608260,0.155219,0.634449,0.650114,0.198636,0.202310,0.193130,0.437779,0.901853,0.126509,278017.560995,4.892913,5755.915794,28347.167851,806909.558135,1.315540e+06,0.467294,-2299.235583,4432.2477,10423.725023,970318.173018,4.457367,-2428.487978,25.650271,379707.041544,1.312178e+06,1.059182,7952.390736,42661.180747,147877.542308,346286.836027,4.905846,2580.380701,25691.025666,660028.974943,1.933082e+06,4.569374,2511.264168,21855.270319,450920.246097,5.968732e+05,0.462927,344.754301,3508.169476,9545.889084,271470.560192,4.244701,100.075567,25.650271,256423.340042,325046.17162,1.029573,5121.457774,31088.524873,110092.334176,194912.114819,4.594967,2004.259347,18755.725592,364448.644126,407485.566496,0.594603,1959.692788,6178.36418,289731.252022,5.254577e+05,0.054409,-916.652751,258.265491,789.004721,242431.840156,0.367883,-851.811923,0.0,40651.534677,3.286422e+05,0.243845,3625.859384,13110.32064,59592.942163,146801.930027,0.149483,-470.972472,1055.059994,47561.280325,3.214963e+05,1.951681,2470.010338,12704.954017,377793.744619,5.653705e+05,0.149194,-567.127215,1129.269543,2916.385609,258347.618566,1.222794,-490.515146,7.228894,114188.86443,316535.762326,0.507652,4519.896179,21490.592912,82548.459499,174270.229129,0.983005,651.916896,5827.824655,159345.659163,372970.612701

### **Tratamento de categóricas de alta cardinalidade (LabelEncoder)**

In [ ]:
card_cutoff = 20
df_categ_labelenc = metadados[(metadados['CARDINALIDADE'] > card_cutoff) & (metadados['TIPO_FEATURE'] == 'object')]
lista_vars_abt = list(df_train_03.columns)
lista_lenc = list(df_categ_labelenc.FEATURE.values)

for item in lista_drop_vars:
    if item in lista_lenc:
        lista_lenc.remove(item)

print('Lista de vars para Label Encoding: ',lista_lenc)

Lista de vars para Label Encoding:  ['ORGANIZATION_TYPE']

In [ ]:
import pickle
from sklearn.preprocessing import LabelEncoder

encoders = {}

for col in lista_lenc:
    encoder = LabelEncoder()
    df_train_03[col] = encoder.fit_transform(df_train_03[col])

    # Armazena o encoder para a coluna atual em um dicionário
    encoders[col] = encoder

# Salva o dicionário de encoders e a lista de colunas em um arquivo .pkl
data_to_serialize = {
    'encoders': encoders,
    'columns': lista_lenc
}

with open(f'{path_drive_dataprep}/prd_labelenc.pkl', 'wb') as f:
    pickle.dump(data_to_serialize, f)

In [ ]:
# Carregar os encoders e a lista de colunas
with open(f'{path_drive_dataprep}/prd_labelenc.pkl', 'rb') as f:
    loaded_data = pickle.load(f)

loaded_encoders = loaded_data['encoders']
loaded_columns = loaded_data['columns']

# Suponha test_df como sua base de teste
for col in loaded_columns:
    if col in loaded_encoders:
        # Transforma a coluna usando o encoder carregado
        test[col] = loaded_encoders[col].transform(test[col])

In [ ]:
test.shape

(64578, 273)

### **Tratamento para categóricas de baixa cardinalidade (OneHot Encoding).**

In [ ]:
metadados_01 = pod_academy_generate_metadata(df_train_03,
                                          ids=[ID_treino],
                                          targets=['TARGET'],
                                          orderby = 'PC_NULOS')

metadados_01

,FEATURE,USO_FEATURE,QT_NULOS,PC_NULOS,CARDINALIDADE,TIPO_FEATURE
0,NAME_CONTRACT_TYPE,Explicativa,0,0.0,2,object
1,sum_credit_day_overdue_credit_type_credit_card,Explicativa,0,0.0,215,float64
2,sum_days_credit_enddate_credit_active_active,Explicativa,0,0.0,20486,float64
3,sum_amt_credit_sum_limit_credit_active_active,Explicativa,0,0.0,18259,float64
4,sum_amt_credit_sum_debt_credit_active_active,Explicativa,0,0.0,81818,float64
5,sum_amt_credit_sum_credit_active_active,Explicativa,0,0.0,51242,float64
6,sum_credit_day_overdue_credit_active_closed,Explicativa,0,0.0,38,float64
7,sum_days_credit_enddate_credit_active_closed,Explicativa,0,0.0,21787,float64
8,sum_amt_credit_sum_limit_credit_active_closed,Explicativa,0,0.0,1237,float64
9,sum_amt_credit_sum_debt_credit_active_closed,Explicativa,0,0.0,3106,float64
10,sum_amt_credit_sum_credit_active_closed,Explicativa,0,0.0,88818,float64
11,sum_credit_day_overdue_credit_type_consumer_credit,Explicativa,0,0.0,418,float64
12,sum_days_credit_enddate_credit_type_consumer_credit,Explicativa,0,0.0,17959,float64
13,sum_amt_credit_sum_limit_credit_type_consumer_credit,Explicativa,0,0.0,11,float64
14,sum_amt_credit_sum_debt_credit_type_consumer_credit,Explicativa,0,0.0,62307,float64
15,sum_amt_credit_sum_credit_type_consumer_credit,Explicativa,0,0.0,99686,float64
16,sum_days_credit_enddate_credit_type_credit_card,Explicativa,0,0.0,18890,float64
17,SK_ID_CURR_bureau,Explicativa,0,0.0,129209,float64
18,sum_amt_credit_sum_limit_credit_type_credit_card,Explicativa,0,0.0,18866,float64
19,sum_amt_credit_sum_debt_credit_type_credit_card,Explicativa,0,0.0,41636,float64
20,sum_amt_credit_sum_credit_type_credit_card,Explicativa,0,0.0,10316,float64
21,sum_credit_day_overdue_credit_currency_currency_1,Explicativa,0,0.0,523,float64
22,sum_days_credit_enddate_credit_currency_currency_1,Explicativa,0,0.0,33566,float64
23,sum_amt_credit_sum_limit_credit_currency_currency_1,Explicativa,0,0.0,18866,float64
24,sum_amt_credit_sum_debt_credit_currency_currency_1,Explicativa,0,0.0,82512,float64
25,sum_amt_credit_sum_credit_currency_currency_1,Explicativa,0,0.0,105674,float64
26,max_credit_day_overdue_credit_active_active,Explicativa,0,0.0,453,float64
27,max_days_credit_enddate_credit_active_active,Explicativa,0,0.0,8756,float64
28,max_amt_credit_sum_limit_credit_active_active,Explicativa,0,0.0,17184,float64
29,max_amt_credit_sum_debt_credit_active_active,Explicativa,0,0.0,69440,float64
30,max_amt_credit_sum_credit_active_active,Explicativa,0,0.0,23753,float64
31,max_credit_day_overdue_credit_active_closed,Explicativa,0,0.0,38,float64
32,sum_credit_day_overdue_credit_active_active,Explicativa,0,0.0,462,float64
33,var_50,Explicativa,0,0.0,150679,float64
34,max_amt_credit_sum_limit_credit_active_closed,Explicativa,0,0.0,1176,float64
35,var_33,Explicativa,0,0.0,150679,float64
36,var_19,Explicativa,0,0.0,150679,float64
37,var_20,Explicativa,0,0.0,150679,float64
38,var_21,Explicativa,0,0.0,150679,float64
39,var_22,Explicativa,0,0.0,150679,float64
40,var_23,Explicativa,0,0.0,150679,float64
41,var_24,Explicativa,0,0.0,150679,float64
42,var_25,Explicativa,0,0.0,150679,float64
43,var_26,Explicativa,0,0.0,150679,float64
44,var_27,Explicativa,0,0.0,150679,float64
45,var_28,Explicativa,0,0.0,150679,float64
46,var_29,Explicativa,0,0.0,150679,float64
47,var_30,Explicativa,0,0.0,150679,float64
48,var_31,Explicativa,0,0.0,150679,float64
49,var_32,Explicativa,0,0.0,150679,float64
50,var_34,Explicativa,0,0.0,150679,float64
51,var_49,Explicativa,0,0.0,150679,float64
52,var_35,Explicativa,0,0.0,150679,float64
53,var_36,Explicativa,0,0.0,150679,float64
54,var_37,Explicativa,0,0.0,150679,float64
55,var_38,Explicativa,0,0.0,150679,float64
56,var_39,Explicativa,0,0.0,150679,float64
57,var_40,Explicativa,0,0.0,150679,float64
58,var_41,Explicativa,0,0.0,150679,float64
59,var_42,Explicativa,0,0.0,150679,float64
60,var_43,Explicativa,0,0.0,150679,float64
61,var_44,Explicativa,0,0.0,150679,float64
62,var_45,Explicativa,0,0.0,150679,float64
63,var_46,Explicativa,0,0.0,150679,float64
64,var_47,Explicativa,0,0.0,150679,float64
65,var_48,Explicativa,0,0.0,150679,float64
66,max_days_credit_enddate_credit_active_closed,Explicativa,0,0.0,7545,float64
67,max_amt_credit_sum_debt_credit_active_closed,Explicativa,0,0.0,2407,float64
68,var_17,Explicativa,0,0.0,150679,float64
69,avg_amt_credit_sum_debt_credit_active_closed,Explicativa,0,0.0,3163,float64
70,min_amt_credit_sum_credit_type_credit_card,Explicativa,0,0.0,4255,float64
71,min_credit_day_overdue_credit_currency_currency_1,Explicativa,0,0.0,49,float64
72,min_days_credit_enddate_credit_currency_currency_1,Explicativa,0,0.0,6318,float64
73,min_amt_credit_sum_limit_credit_currency_currency_1,Explicativa,0,0.0,1498,float64
74,min_amt_credit_sum_debt_credit_currency_currency_1,Explicativa,0,0.0,15003,float64
75,min_amt_credit_sum_credit_currency_currency_1,Explicativa,0,0.0,33687,float64
76,avg_credit_day_overdue_credit_active_active,Explicativa,0,0.0,687,float64
77,avg_days_credit_enddate_credit_active_active,Explicativa,0,0.0,30468,float64
78,avg_amt_credit_sum_limit_credit_active_active,Explicativa,0,0.0,18676,float64
79,avg_amt_credit_sum_debt_credit_active_active,Explicativa,0,0.0,83304,float64
80,avg_amt_credit_sum_credit_active_active,Explicativa,0,0.0,53130,float64
81,avg_credit_day_overdue_credit_active_closed,Explicativa,0,0.0,38,float64
82,avg_days_credit_enddate_credit_active_closed,Explicativa,0,0.0,36787,float64
83,avg_amt_credit_sum_limit_credit_active_closed,Explicativa,0,0.0,1327,float64
84,avg_amt_credit_sum_credit_active_closed,Explicativa,0,0.0,89616,float64
85,min_amt_credit_sum_limit_credit_type_credit_card,Explicativa,0,0.0,7859,float64
86,avg_credit_day_overdue_credit_type_consumer_credit,Explicativa,0,0.0,617,float64
87,avg_days_credit_enddate_credit_type_consumer_credit,Explicativa,0,0.0,39981,float64
88,avg_amt_credit_sum_limit_credit_type_consumer_credit,Explicativa,0,0.0,11,float64
89,avg_amt_credit_sum_debt_credit_type_consumer_credit,Explicativa,0,0.0,65460,float64
90,avg_amt_credit_sum_credit_type_consumer_credit,Explicativa,0,0.0,100380,float64
91,avg_credit_day_overdue_credit_type_credit_card,Explicativa,0,0.0,315,float64
92,avg_days_credit_enddate_credit_type_credit_card,Explicativa,0,0.0,23771,float64
93,avg_amt_credit_sum_limit_credit_type_credit_card,Explicativa,0,0.0,19207,float64
94,avg_amt_credit_sum_debt_credit_type_credit_card,Explicativa,0,0.0,43266,float64
95,avg_amt_credit_sum_credit_type_credit_card,Explicativa,0,0.0,11534,float64
96,avg_credit_day_overdue_credit_currency_currency_1,Explicativa,0,0.0,878,float64
97,avg_days_credit_enddate_credit_currency_currency_1,Explicativa,0,0.0,60821,float64
98,avg_amt_credit_sum_limit_credit_currency_currency_1,Explicativa,0,0.0,19572,float64
99,avg_amt_credit_sum_debt_credit_currency_currency_1,Explicativa,0,0.0,86608,float64
100,min_amt_credit_sum_debt_credit_type_credit_card,Explicativa,0,0.0,25657,float64
101,min_days_credit_enddate_credit_type_credit_card,Explicativa,0,0.0,7816,float64
102,max_amt_credit_sum_credit_active_closed,Explicativa,0,0.0,39719,float64
103,max_amt_credit_sum_credit_currency_currency_1,Explicativa,0,0.0,36530,float64
104,max_credit_day_overdue_credit_type_consumer_credit,Explicativa,0,0.0,410,float64
105,max_days_credit_enddate_credit_type_consumer_credit,Explicativa,0,0.0,5142,float64
106,max_amt_credit_sum_limit_credit_type_consumer_credit,Explicativa,0,0.0,11,float64
107,max_amt_credit_sum_debt_credit_type_consumer_credit,Explicativa,0,0.0,57218,float64
108,max_amt_credit_sum_credit_type_consumer_credit,Explicativa,0,0.0,40958,float64
109,max_credit_day_overdue_credit_type_credit_card,Explicativa,0,0.0,213,float64
110,max_days_credit_enddate_credit_type_credit_card,Explicativa,0,0.0,8332,float64
111,max_amt_credit_sum_limit_credit_type_credit_card,Explicativa,0,0.0,17634,float64
112,max_amt_credit_sum_debt_credit_type_credit_card,Explicativa,0,0.0,38368,float64
113,max_amt_credit_sum_credit_type_credit_card,Explicativa,0,0.0,5050,float64
114,max_credit_day_overdue_credit_currency_currency_1,Explicativa,0,0.0,513,float64
115,max_days_credit_enddate_credit_currency_currency_1,Explicativa,0,0.0,9830,float64
116,max_amt_credit_sum_limit_credit_currency_currency_1,Explicativa,0,0.0,17627,float64
117,max_amt_credit_sum_debt_credit_currency_currency_1,Explicativa,0,0.0,69602,float64
118,min_credit_day_overdue_credit_active_active,Explicativa,0,0.0,122,float64
119,min_credit_day_overdue_credit_type_credit_card,Explicativa,0,0.0,122,float64
120,min_days_credit_enddate_credit_active_active,Explicativa,0,0.0,8443,float64
121,min_amt_credit_sum_limit_credit_active_active,Explicativa,0,0.0,4670,float64
122,min_amt_credit_sum_debt_credit_active_active,Explicativa,0,0.0,51772,float64
123,min_amt_credit_sum_credit_active_active,Explicativa,0,0.0,22513,float64
124,min_credit_day_overdue_credit_active_closed,Explicativa,0,0.0,6,float64
125,min_days_credit_enddate_credit_active_closed,Explicativa,0,0.0,4748,float64
126,min_amt_credit_sum_limit_credit_active_closed,Explicativa,0,0.0,115,float64
127,min_amt_credit_sum_debt_credit_active_closed,Explicativa,0,0.0,950,float64
128,min_amt_credit_sum_credit_active_closed,Explicativa,0,0.0,38841,float64
129,min_credit_day_overdue_credit_type_consumer_credit,Explicativa,0,0.0,64,float64
130,min_days_credit_enddate_credit_type_consumer_credit,Explicativa,0,0.0,4671,float64
131,min_amt_credit_sum_limit_credit_type_consumer_credit,Explicativa,0,0.0,1,float64
132,min_amt_credit_sum_debt_credit_type_consumer_credit,Explicativa,0,0.0,11610,float64
133,min_amt_credit_sum_credit_type_consumer_credit,Explicativa,0,0.0,43034,float64
134,var_18,Explicativa,0,0.0,150679,float64
135,var_16,Explicativa,0,0.0,150679,float64
136,CODE_GENDER,Explicativa,0,0.0,3,object
137,FLOORSMIN_AVG,Explicativa,0,0.0,258,float64
138,REG_CITY_NOT_WORK_CITY,Explicativa,0,0.0,2,int64
139,LIVE_CITY_NOT_WORK_CITY,Explicativa,0,0.0,2,int64
140,ORGANIZATION_TYPE,Explicativa,0,0.0,58,int64
141,EXT_SOURCE_1,Explicativa,0,0.0,60797,float64
142,EXT_SOURCE_2,Explicativa,0,0.0,84606,float64
143,EXT_SOURCE_3,Explicativa,0,0.0,787,float64
144,APARTMENTS_AVG,Explicativa,0,0.0,2050,float64
145,BASEMENTAREA_AVG,Explicativa,0,0.0,3439,float64
146,YEARS_BEGINEXPLUATATION_AVG,Explicativa,0,0.0,239,float64
147,YEARS_BUILD_AVG,Explicativa,0,0.0,144,float64
148,COMMONAREA_AVG,Explicativa,0,0.0,2722,float64
149,ELEVATORS_AVG,Explicativa,0,0.0,232,float64
150,ENTRANCES_AVG,Explicativa,0,0.0,251,float64
151,FLOORSMAX_AVG,Explicativa,0,0.0,336,float64
152,LANDAREA_AVG,Explicativa,0,0.0,3190,float64
153,LIVE_REGION_NOT_WORK_REGION,Explicativa,0,0.0,2,int64
154,LIVINGAPARTMENTS_AVG,Explicativa,0,0.0,1632,float64
155,LIVINGAREA_AVG,Explicativa,0,0.0,4738,float64
156,NONLIVINGAPARTMENTS_AVG,Explicativa,0,0.0,322,float64
157,NONLIVINGAREA_AVG,Explicativa,0,0.0,2806,float64
158,APARTMENTS_MODE,Explicativa,0,0.0,717,float64
159,BASEMENTAREA_MODE,Explicativa,0,0.0,3490,float64
160,YEARS_BEGINEXPLUATATION_MODE,Explicativa,0,0.0,196,float64
161,YEARS_BUILD_MODE,Explicativa,0,0.0,148,float64
162,COMMONAREA_MODE,Explicativa,0,0.0,2682,float64
163,ELEVATORS_MODE,Explicativa,0,0.0,27,float64
164,ENTRANCES_MODE,Explicativa,0,0.0,31,float64
165,FLOORSMAX_MODE,Explicativa,0,0.0,26,float64
166,FLOORSMIN_MODE,Explicativa,0,0.0,26,float64
167,LANDAREA_MODE,Explicativa,0,0.0,3210,float64
168,REG_CITY_NOT_LIVE_CITY,Explicativa,0,0.0,2,int64
169,REG_REGION_NOT_WORK_REGION,Explicativa,0,0.0,2,int64
170,LIVINGAREA_MODE,Explicativa,0,0.0,4777,float64
171,DAYS_EMPLOYED,Explicativa,0,0.0,10912,float64
172,FLAG_OWN_CAR,Explicativa,0,0.0,2,object
173,FLAG_OWN_REALTY,Explicativa,0,0.0,2,object
174,CNT_CHILDREN,Explicativa,0,0.0,14,int64
175,AMT_INCOME_TOTAL,Explicativa,0,0.0,1558,float64
176,AMT_CREDIT,Explicativa,0,0.0,4625,float64
177,AMT_ANNUITY,Explicativa,0,0.0,11936,float64
178,AMT_GOODS_PRICE,Explicativa,0,0.0,720,float64
179,NAME_TYPE_SUITE,Explicativa,0,0.0,8,object
180,NAME_INCOME_TYPE,Explicativa,0,0.0,8,object
181,NAME_EDUCATION_TYPE,Explicativa,0,0.0,5,object
182,NAME_FAMILY_STATUS,Explicativa,0,0.0,5,object
183,NAME_HOUSING_TYPE,Explicativa,0,0.0,6,object
184,REGION_POPULATION_RELATIVE,Explicativa,0,0.0,81,float64
185,DAYS_BIRTH,Explicativa,0,0.0,17249,int64
186,DAYS_REGISTRATION,Explicativa,0,0.0,14710,float64
187,REG_REGION_NOT_LIVE_REGION,Explicativa,0,0.0,2,int64
188,DAYS_ID_PUBLISH,Explicativa,0,0.0,6051,float64
189,OWN_CAR_AGE,Explicativa,0,0.0,58,float64
190,FLAG_MOBIL,Explicativa,0,0.0,2,int64
191,FLAG_EMP_PHONE,Explicativa,0,0.0,2,int64
192,FLAG_WORK_PHONE,Explicativa,0,0.0,2,int64
193,FLAG_CONT_MOBILE,Explicativa,0,0.0,2,int64
194,FLAG_PHONE,Explicativa,0,0.0,2,int64
195,FLAG_EMAIL,Explicativa,0,0.0,2,int64
196,OCCUPATION_TYPE,Explicativa,0,0.0,19,object
197,CNT_FAM_MEMBERS,Explicativa,0,0.0,16,float64
198,REGION_RATING_CLIENT,Explicativa,0,0.0,3,int64
199,REGION_RATING_CLIENT_W_CITY,Explicativa,0,0.0,3,int64
200,WEEKDAY_APPR_PROCESS_START,Explicativa,0,0.0,7,object
201,HOUR_APPR_PROCESS_START,Explicativa,0,0.0,24,int64
202,LIVINGAPARTMENTS_MODE,Explicativa,0,0.0,687,float64
203,NONLIVINGAPARTMENTS_MODE,Explicativa,0,0.0,141,float64
204,var_15,Explicativa,0,0.0,150679,float64
205,AMT_REQ_CREDIT_BUREAU_QRT,Explicativa,0,0.0,11,float64
206,FLAG_DOCUMENT_12,Explicativa,0,0.0,2,int64
207,FLAG_DOCUMENT_13,Explicativa,0,0.0,2,int64
208,FLAG_DOCUMENT_14,Explicativa,0,0.0,2,int64
209,FLAG_DOCUMENT_15,Explicativa,0,0.0,2,int64
210,FLAG_DOCUMENT_16,Explicativa,0,0.0,2,int64
211,FLAG_DOCUMENT_17,Explicativa,0,0.0,2,int64
212,FLAG_DOCUMENT_18,Explicativa,0,0.0,2,int64
213,FLAG_DOCUMENT_19,Explicativa,0,0.0,2,int64
214,FLAG_DOCUMENT_20,Explicativa,0,0.0,2,int64
215,FLAG_DOCUMENT_21,Explicativa,0,0.0,2,int64
216,AMT_REQ_CREDIT_BUREAU_HOUR,Explicativa,0,0.0,5,float64
217,AMT_REQ_CREDIT_BUREAU_DAY,Explicativa,0,0.0,9,float64
218,AMT_REQ_CREDIT_BUREAU_WEEK,Explicativa,0,0.0,10,float64
219,AMT_REQ_CREDIT_BUREAU_MON,Explicativa,0,0.0,22,float64
220,AMT_REQ_CREDIT_BUREAU_YEAR,Explicativa,0,0.0,23,float64
221,FLAG_DOCUMENT_10,Explicativa,0,0.0,2,int64
222,var_1,Explicativa,0,0.0,150679,float64
223,var_2,Explicativa,0,0.0,150679,float64
224,var_3,Explicativa,0,0.0,150679,float64
225,var_4,Explicativa,0,0.0,150679,float64
226,var_5,Explicativa,0,0.0,150679,float64
227,var_6,Explicativa,0,0.0,150679,float64
228,var_7,Explicativa,0,0.0,150679,float64
229,var_8,Explicativa,0,0.0,150679,float64
230,var_9,Explicativa,0,0.0,150679,float64
231,var_10,Explicativa,0,0.0,150679,float64
232,var_11,Explicativa,0,0.0,150679,float64
233,var_12,Explicativa,0,0.0,150679,float64
234,var_13,Explicativa,0,0.0,150679,float64
235,var_14,Explicativa,0,0.0,150679,float64
236,FLAG_DOCUMENT_11,Explicativa,0,0.0,2,int64
237,FLAG_DOCUMENT_9,Explicativa,0,0.0,2,int64
238,NONLIVINGAREA_MODE,Explicativa,0,0.0,2834,float64
239,FONDKAPREMONT_MODE,Explicativa,0,0.0,5,object
240,APARTMENTS_MEDI,Explicativa,0,0.0,1074,float64
241,BASEMENTAREA_MEDI,Explicativa,0,0.0,3428,float64
242,YEARS_BEGINEXPLUATATION_MEDI,Explicativa,0,0.0,216,float64
243,YEARS_BUILD_MEDI,Explicativa,0,0.0,145,float64
244,COMMONAREA_MEDI,Explicativa,0,0.0,2742,float64
245,ELEVATORS_MEDI,Explicativa,0,0.0,47,float64
246,ENTRANCES_MEDI,Explicativa,0,0.0,46,float64
247,FLOORSMAX_MEDI,Explicativa,0,0.0,49,float64
248,FLOORSMIN_MEDI,Explicativa,0,0.0,48,float64
249,LANDAREA_MEDI,Explicativa,0,0.0,3219,float64
250,LIVINGAPARTMENTS_MEDI,Explicativa,0,0.0,1014,float64
251,LIVINGAREA_MEDI,Explicativa,0,0.0,4792,float64
252,NONLIVINGAPARTMENTS_MEDI,Explicativa,0,0.0,179,float64
253,NONLIVINGAREA_MEDI,Explicativa,0,0.0,2834,float64
254,HOUSETYPE_MODE,Explicativa,0,0.0,4,object
255,FLAG_DOCUMENT_8,Explicativa,0,0.0,2,int64
256,TOTALAREA_MODE,Explicativa,0,0.0,4644,float64
257,WALLSMATERIAL_MODE,Explicativa,0,0.0,8,object
258,EMERGENCYSTATE_MODE,Explicativa,0,0.0,3,object
259,OBS_30_CNT_SOCIAL_CIRCLE,Explicativa,0,0.0,33,float64
260,DEF_30_CNT_SOCIAL_CIRCLE,Explicativa,0,0.0,10,float64
261,OBS_60_CNT_SOCIAL_CIRCLE,Explicativa,0,0.0,32,float64
262,DEF_60_CNT_SOCIAL_CIRCLE,Explicativa,0,0.0,10,float64
263,DAYS_LAST_PHONE_CHANGE,Explicativa,0,0.0,3644,float64
264,FLAG_DOCUMENT_2,Explicativa,0,0.0,2,int64
265,FLAG_DOCUMENT_3,Explicativa,0,0.0,2,int64
266,FLAG_DOCUMENT_4,Explicativa,0,0.0,2,int64
267,FLAG_DOCUMENT_5,Explicativa,0,0.0,2,int64
268,FLAG_DOCUMENT_6,Explicativa,0,0.0,2,int64
269,FLAG_DOCUMENT_7,Explicativa,0,0.0,2,int64
270,avg_amt_credit_sum_credit_currency_currency_1,Explicativa,0,0.0,107115,float64

In [ ]:
import pickle
from sklearn.preprocessing import OneHotEncoder

card_cutoff = 20
df_categ_onehot = metadados_01[(metadados_01['CARDINALIDADE'] <= card_cutoff) & (metadados_01['TIPO_FEATURE'] == 'object')]
lista_onehot = list(df_categ_onehot.FEATURE.values)
print('Lista de vars para OneHot Encoding: ',lista_onehot)

# Instanciando o encoder
encoder = OneHotEncoder(drop='first', sparse_output=False, handle_unknown='ignore')

# Aplicando o one-hot encoding
encoded_data = encoder.fit_transform(df_train_03[lista_onehot])
encoded_cols = encoder.get_feature_names_out(lista_onehot)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_cols, index=df_train_03.index)

df_train_03 = pd.concat([df_train_03.drop(lista_onehot, axis=1), encoded_df], axis=1)

# Salva o encoder e a lista de colunas em um arquivo .pkl
data_to_serialize = {
    'encoder': encoder,
    'columns': lista_onehot
}

with open(f'{path_drive_dataprep}/prd_onehotenc.pkl', 'wb') as f:
    pickle.dump(data_to_serialize, f)

Lista de vars para OneHot Encoding:  ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

In [ ]:
  # Carregar o encoder e a lista de colunas
with open(f'{path_drive_dataprep}/prd_onehotenc.pkl', 'rb') as f:
    loaded_data = pickle.load(f)

loaded_encoder = loaded_data['encoder']
loaded_columns = loaded_data['columns']

# Suponha test_df como sua base de teste
encoded_data_test = loaded_encoder.transform(test[loaded_columns])
encoded_cols_test = loaded_encoder.get_feature_names_out(loaded_columns)
encoded_df_test = pd.DataFrame(encoded_data_test, columns=encoded_cols_test, index=test.index)

test = pd.concat([test.drop(loaded_columns, axis=1), encoded_df_test], axis=1)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:202: UserWarning: Found unknown categories in columns [7] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [ ]:
test.shape

(64578, 330)

In [ ]:
df_train_03.shape, test.shape, df_test_00.shape

((150679, 328), (64578, 330), (92254, 288))

## **Aplicar normalização a toda tabela de modelagem tratada ate este ponto**

In [ ]:
# import pickle
# from sklearn.preprocessing import StandardScaler

# # Excluindo IDs e Targets
# df_id_target = metadados[(metadados['USO_FEATURE'] == 'ID') | (metadados['USO_FEATURE'] == 'Target')]
# lista_id_target = list(df_id_target.FEATURE.values)
# print('Lista de IDs e Target: ',lista_id_target)

# # Instanciando o scaler
# scaler = StandardScaler()

# # Padronizando a base de treino
# df_train_03_scaled = scaler.fit_transform(df_train_03)
# df_train_04 = pd.DataFrame(df_train_03_scaled, columns=df_train_03.columns, index=df_train_03.index)

# # Salva o scaler em um arquivo .pkl
# with open(f'{path_drive_dataprep}/prd_scaler.pkl', 'wb') as f:
#     pickle.dump(scaler, f)

In [ ]:
df_train_03.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50,SK_ID_CURR_bureau,sum_credit_day_overdue_credit_active_active,sum_days_credit_enddate_credit_active_active,sum_amt_credit_sum_limit_credit_active_active,sum_amt_credit_sum_debt_credit_active_active,sum_amt_credit_sum_credit_active_active,sum_credit_day_overdue_credit_active_closed,sum_days_credit_enddate_credit_active_closed,sum_amt_credit_sum_limit_credit_active_closed,sum_amt_credit_sum_debt_credit_active_closed,sum_amt_credit_sum_credit_active_closed,sum_credit_day_overdue_credit_type_consumer_credit,sum_days_credit_enddate_credit_type_consumer_credit,sum_amt_credit_sum_limit_credit_type_consumer_credit,sum_amt_credit_sum_debt_credit_type_consumer_credit,sum_amt_credit_sum_credit_type_consumer_credit,sum_credit_day_overdue_credit_type_credit_card,sum_days_credit_enddate_credit_type_credit_card,sum_amt_credit_sum_limit_credit_type_credit_card,sum_amt_credit_sum_debt_credit_type_credit_card,sum_amt_credit_sum_credit_type_credit_card,sum_credit_day_overdue_credit_currency_currency_1,sum_days_credit_enddate_credit_currency_currency_1,sum_amt_credit_sum_limit_credit_currency_currency_1,sum_amt_credit_sum_debt_credit_currency_currency_1,sum_amt_credit_sum_credit_currency_currency_1,max_credit_day_overdue_credit_active_active,max_days_credit_enddate_credit_active_active,max_amt_credit_sum_limit_credit_active_active,max_amt_credit_sum_debt_credit_active_active,max_amt_credit_sum_credit_active_active,max_credit_day_overdue_credit_active_closed,max_days_credit_enddate_credit_active_closed,max_amt_credit_sum_limit_credit_active_closed,max_amt_credit_sum_debt_credit_active_closed,max_amt_credit_sum_credit_active_closed,max_credit_day_overdue_credit_type_consumer_credit,max_days_credit_enddate_credit_type_consumer_credit,max_amt_credit_sum_limit_credit_type_consumer_credit,max_amt_credit_sum_debt_credit_type_consumer_credit,max_amt_credit_sum_credit_type_consumer_credit,max_credit_day_overdue_credit_type_credit_card,max_days_credit_enddate_credit_type_credit_card,max_amt_credit_sum_limit_credit_type_credit_card,max_amt_credit_sum_debt_credit_type_credit_card,max_amt_credit_sum_credit_type_credit_card,max_credit_day_overdue_credit_currency_currency_1,max_days_credit_enddate_credit_currency_currency_1,max_amt_credit_sum_limit_credit_currency_currency_1,max_amt_credit_sum_debt_credit_currency_currency_1,max_amt_credit_sum_credit_currency_currency_1,min_credit_day_overdue_credit_active_active,min_days_credit_enddate_credit_active_active,min_amt_credit_sum_limit_credit_active_active,min_amt_credit_sum_debt_credit_active_active,min_amt_credit_sum_credit_active_active,min_credit_day_overdue_credit_active_closed,min_days_credit_enddate_credit_active_closed,min_amt_credit_sum_limit_credit_active_closed,min_amt_credit_sum_debt_credit_active_closed,min_amt_credit_sum_credit_active_closed,min_credit_day_overdue_credit_type_consumer_credit,min_days_credit_enddate_credit_type_consumer_credit,min_amt_credit_sum_limit_credit_type_consumer_credit,min_amt_credit_sum_debt_credit_type_consumer_credit,min_amt_credit_sum_credit_type_consumer_credit,min_credit_day_overdue_credit_type_credit_card,min_days_credit_enddate_credit_type_credit_card,min_amt_credit_sum_limit_credit_type_credit_card,min_amt_credit_sum_debt_credit_type_credit_card,min_amt_credit_sum_credit_type_credit_card,min_credit_day_overdue_credit_currency_currency_1,min_days_credit_enddate_credit_currency_currency_1,min_amt_credit_sum_limit_credit_currency_currency_1,min_amt_credit_sum_debt_credit_currency_currency_1,min_amt_credit_sum_credit_currency_currency_1,avg_credit_day_overdue_credit_active_active,avg_days_credit_enddate_credit_active_active,avg_amt_credit_sum_limit_credit_active_active,avg_amt_credit_sum_debt_credit_active_active,avg_amt_credit_sum_credit_active_active,avg_credit_day_overdue_credit_active_closed,avg_days_credit_enddate_credit_active_closed,avg_amt_credit_sum_limit_credit_active_closed,avg_amt_credit_sum_debt_credit_active_closed,avg_amt_credit_sum_credit_active_closed,avg_credit_day_overdue_credit_type_consumer_credit,avg_days_credit_enddate_credit_type_consumer_credit,avg_amt_credit_sum_limit_credit_type_consumer_credit,avg_amt_credit_sum_debt_credit_type_consumer_credit,avg_amt_credit_sum_credit_type_consumer_credit,avg_credit_day_overdue_credit_type_credit_card,avg_days_credit_enddate_credit_type_credit_card,avg_amt_credit_sum_limit_credit_type_credit_card,avg_amt_credit_sum_debt_credit_type_credit_card,avg_amt_credit_sum_credit_type_credit_card,avg_credit_day_overdue_credit_currency_currency_1,avg_days_credit_enddate_credit_currency_currency_1,avg_amt_credit_sum_limit_credit_currency_currency_1,avg_amt_credit_sum_debt_credit_currency_currency_1,avg_amt_credit_sum_credit_currency_currency_1,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_M,CODE_GENDER_XNA,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_MISS_VERIFICAR,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Maternity leave,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Widow,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,NAME_HOUSING_TYPE_With parents,OCCUPATION_TYPE_Cleaning staff,OCCUPATION_TYPE_Cooking staff,OCCUPATION_TYPE_Core staff,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_HR staff,OCCUPATION_TYPE_High skill tech staff,OCCUPATION_TYPE_IT staff,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_MISS_VERIFICAR,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,FONDKAPREMONT_MODE_not specified,FONDKAPREMONT_MODE_org spec account,FONDKAPREMONT_MODE_reg oper account,FONDKAPREMONT_MODE_reg oper spec account,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_MISS_VERIFICAR,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
45499,0,157500.0,709033.5,39721.5,657000.0,0.024610,-11687,-1430.0,-1443.0,-4141.0,12.035874,1,1,0,1,0,0,1.0,2,2,10,0,0,0,0,0,0,5,0.503186,0.246830,0.413597,0.061900,0.055900,0.982100,0.752541,0.044483,0.000000,0.137900,0.166700,0.231663,0.01250,0.10087,0.06080,0.008867,0.061400,0.063000,0.058000,0.982100,0.759655,0.042388,0.000000,0.137900,0.166700,0.227729,0.012800,0.105561,0.063300,0.00809,0.065100,0.06250,0.055900,0.982100,0.755793,0.044457,0.000000,0.137900,0.166700,0.231345,0.012700,0.101983,0.06190,0.008692,0.06270,0.061200,0.0,0.0,0.0,0.0,0.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.623251,0.538599,0.545589,0.583404,0.798990,0.263193,0.841677,0.021447,0.304555,0.588261,0.688669,0.210169,0.054338,0.790777,0.763634,0.790980,0.576544,0.748658,0.400948,0.696015,0.705815,0.924598,0.718842,0.412503,0.010390,0.619381,0.954915,0.253974,0.336066,0.995809,0.709630,0.115768,0.247564,0.164696,0.382646,0.221486,0.724027,0.799399,0.615608,0.008782,0.614907,0.182116,0.283521,0.716671,0.041032,0.432577,0.302302,0.812673,0.622103,0.290383,102669.000000,4.892913,5755.915794,28347.167851,806909.558135,1.315540e+06,0.000000,-53.000000,0.0000,0.000000,1.606500e+05,0.000000,-53.000000,0.000000,0.000000,1.606500e+05,1.059182,7952.390736,42661.180747,147877.542308,346286.836027,0.000000,-53.000000,0.000000,0.000000,1.606500e+05,4.569374,2511.264168,21855.270319,450920.246097,596873.173188,0.000000,-53.000000,0.000000,0.000000,160650.000000,0.000000,-53.000000,0.000000,0.000000,160650.00000,1.029573,5121.457774,31088.524873,110092.334176,194912.114819,0.000000,-53.000000,0.000000,0.000000,160650.000000,0.594603,1959.692788,6178.36418,289731.252022,525457.740827,0.000000,-53.000000,0.000000,0.000000,160650.000000,0.000000,-53.000000,0.0,0.000000,160650.000000,0.243845,3625.859384,13110.32064,59592.942163,146801.930027,0.000000,-53.000000,0.000000,0.000000,160650.000000,1.951681,2470.010338,12704.954017,377793.744619,565370.479983,0.000000,-53.000000,0.000000,0.000000,160650.000000,0.000000,-53.000000,0.000000,0.00000,160650.000000,0.507652,4519.896179,21490.592912,82548.459499,174270.229129,0.000000,-53.000000,0.000000,0.000000,160650.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
74186,1,189000.0,640080.0,31261.5,450000.0,0.046220,-12453,-158.0,-1596.0,-1580.0,12.035874,1,1,0,1,0,0,3.0,1,1,11,0,1,1,0,0,0,4,0.495899,0.452236,0.276441,0.117452,0.088622,0.977584,0.752541,0.044483,0.079332,0.149699,0.226128,0.231663,0.06645,0.10087,0.10748,0.008867,0.028449,0.114115,0.087696,0.976918,0.759655,0.042388,0.074775,0.145144,0.222144,0.227729,0.064995,0.105561,0.105952,0.00809,0.027042,0.11782,0.088131,0.977563,0.755793,0.044457,0.078434,0.149198,0.225765,0.231345,0.067315,0.101983,0.10868,0.008692,0.02824,0.102559,0.0,0.0,0.0,0.0,-414.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.271789,0.450667,0.915251,0.609587,0.156781,0.990234,0.922602,0.846543,0.534668,0.665733,0.491554,0.616078,0.714990,0.670361,0.120311,0.551883,0.201516,0.012140,0.026045,0.928996,0.889396,0.660983,0.508232,0.946107,0.420490,0.347951,0.866346,0.916568,0.797150,0.656244,0.061100,0.440124,0.141237,0.372216,0.501584,0.716653,0.252760,0.085425,0.769355,0.550976,0.855122,0.907023,0.555958,0.114399,0.959646,0.551736,0.793345,0.769783,0.029523,0.605118,202196.000000,0.000000,5755.915794,130083.350000,274914.000000,4.050000e+05,0.000000,-1615.000000,0.0000,0.000000,2.632365e+05,0.000000,-1615.000000,0.000000,0.000000,2.632365e+05,0.000000,7952.390736,130083.350000,274914.000000,405000.000000,0.000000,-1615.000000,130083.350000,274914.000000,6.682365e+05,0.000000,2511.264168,130083.350000,274914.000000,405000.000000,0.000000,-931.000000,0.000000,0.000000,91516.500000,0.000000,-931.000000,0.000000,0.000000,91516.50000,0.000000,5121.457774,130083.350000,274914.000000,405000.000000,0.000000,-931.000000,130083.350000,274914.000000,91516.500000,0.000000,1959.692788,130083.35000,274914.000000,405000.000000,0.000000,-325.000000,0.000000,0.000000,124933.500000,0.000000,-325.000000,0.0,0.000000,124933.500000,0.000000,3625.859384,130083.35000,274914.000000,405000.000000,0.000000,-325.000000,0.000000,0.000000,124933.500000,0.000000,2470.010338,130083.350000,274914.000000,405000.000000,0.000000,-538.330000,0.000000,0.000000,87745.500000,0.000000,-538.330000,0.000000,0.00000,87745.500000,0.000000,4519.896179,130083.350000,274914.000000,405000.000000,0.000000,-538.330000,43361.120000,91638.000000,167059.130000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65253,1,121500.0,104256.0,8194.5,90000.0,0.035792,-9859,-392.0,-828.0,-2511.0,12.035874,1,1,1,1,0,0,2.0,2,2,12,0,0,0,0,0,0,42,0.352115,0.135407,0.656158,0.033000,0.010800,0.973700,0.639600,0.017100,0.000000,0.069000,0.125000,0.166700,0.06110,0.02690,0.02950,0.000000,0.000000,0.033600,0.011200,0.973700,0.653700,0.017300,0.000000,0.069000,0.125000,0.166700,0.062500,0.029400,0.030700,0.00000,0.000000,0.03330,0.010800,0.973700,0.644400,0.017200,0.000000,0.069000,0.125000,0.166700,0.062200,0.027400,0.03000,0.000000,0.00000,0.032500,0.0,0.0,0.0,0.0,-970.950056,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.089877,0.447568,0.131639,0.064082,0.435259,0.689218,0.745716,0.863553,0.579129,0.538519,0.941202,0.761630,0.503093,0.587689,0.537260,0.484700,0.679185,0.281975,0.399896,0.521913,0.274328,0.502114,0.701955,0.538385,0.077082,0.257142,0.573929,0.079377,0.480612,0.971505,0.890001,0.381080,0.828747,0.598202,0.583725,0.371399,0.883350,0.249075,0.651910,0.039176,0.837285,0.401049,0.896599,0.775044,0.372050,0.355883,0.259412,0.282194,0.438214,0.348245,272854.000000,4.892913,5755.915794,28347.167851,806909.558135,1.315540e+06,0.000000,-1031.000000,0.0000,0.000000,3.055005e+05,0.000000,-1031.000000,0.000000,0.000000,3.055005e+05,1.059182,7952.390736,42661.180747,147877.542308,346286.836027,0.000000,-1031.000000,0.000000,0.000000,3.055005e+05,4.569374,2511.264168,21855.270319,450920.246097,596873.173188,0.000000,-390.000000,0.000000,0.000000,76500.000000,0.000000,-390.000000,0.000000,0.000000,76500.00000,1.029573,5121.457774,31088.524873,110092.334176,194912.114819,0.000000,-390.000000,0.000000,0.000000,76500.000000,0.594603,1959.692788,6178.36418,289731.252022,525457.740827,0.000000,-304.000000,0.000000,0.000000,104400.000000,0.000000,-304.000000,0.0,0.000000,104400.000000,0.243845,3625.859384,13110.32064,59592.942163,146801.930027,0.000000,-304.000000,0.000000,0.000000,104400.000000,1.951681,2470.010338,12704.954017,377793.744619,565370.479983,0.000000,-343.670000,0.000000,0.000000,101833.500000,0.000000,-343.670000,0.000000,0.00000,101833.500000,0.507652,4519.896179,21490.592912,82548.459499,174270.229129,0.000000,-343.670000,0.000000,0.000000,101833.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
60400,0,112500.0,755190.0,36328.5,675000.0,0.010032,-9233,-878.0,-333.0,-522.0,12.035874,1,1,1,1,0,0,2.0,2,2,11,0,1,1,0,1,1,39,0.398403,0.372591,0.510794,0.074200,0.046800,0.982600,0.762000,0.014700,0.080000,0.069000,0.333300,0.041700,0.07690,0.06050,0.07890,0.007700,0.037100,0.075600,0.048600,0.982600,0.771300,0.014900,0.080600,0.069000,0.333300,0.041700,0.078600,0.066100,0.082200,0.00780,0.039200,0.07490,0.046800,0.982600,0.765200,0.014800,0.080000,0.069000,0.333300,0.041700,0.078200,0.061600,0.08030,0.007800,0.03780,0.088300,0.0,0.0,0.0,0.0,-292.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.006594,0.006863,0.034505,0.268681,0.266894,1.893394,0.506338,0.355571,0.332951,0.663856,0.123350,0.321629,0.188188,0.558208,0.636772,0.396435,0.105420,0.624019,0.960336,0.061083,0.717732,0.341678,0.135631,0.166267,0.464307,0.710085,0.193339,0.289841,0.160412,0.610231,0.666622,0.467409,0.485829,0.228924,0.347892,0.154565,0.367409,0.872489,0.344479,0.080144,0.673778,0.683198,0.395718,0.041105,0.500510,0.430966,0.046936,0.164097,0.416916,0.498222,0.366917,0.326498,0.383481,0.743987,0.612620,0.627862,278017.560995,4.892913,5755.915794,28347.167851,806909.558135,1.315540e+06,0.467294,-2299.235583,4432.2477,10423.725023,9.703182e+05,4.457367,-2428.487978,25.650271,379707.041544,1.312178e+06,1.059182,7952.390736,42661.180747,147877.542308,346286.836027,4.905846,2580.380701,25691.025666,660028.974943,1.933082e+06,4.569374,2511.264168,21855.270319,450920.246097,596873.173188,0.462927,344.754301,3508.169476,9545.889084,271470.560192,4.244701,100.075567,25.650271,256423.340042,325046.17162,1.029573,5121.457774,31088.524873,110092.334176,194912.114819,4.594967,2004.259347,18755.725592,364448.644126,407485.566496,0.594603,1959.692788,6178.36418,289731.252022,525457.740827,0.054409,-916.652751,258.265491,789.004721,242431.840156,0.367883,-851.811923,0.0,40651.534677,328642.239479,0.243845,3625.859384,13110.32064,59592.942163,146801.930027,0.149483,-470.972472,1055.059994,47561.280325,321496.307702,1.951681,2470.010338,12704.954017,377793.744619,565370.479983,0.149194,-567.127215,1129.269543,2916.385609,258347.618566,1.222794,-490.515146,7.228894,114188.86443,316535.762326,0.507652,4519.896179,21490.592912,82548.459499,174270.229129,0.983005,651.916896,5827.824655,159345.659163,372970.612701,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
# Colunas que foram retiradas da tabela:

list_columns_drop = [ID_teste, 'TARGET']
df_test_aux = test.drop(axis=1,columns=list_columns_drop)

In [ ]:
# # Carregar o scaler
# with open(f'{path_drive_dataprep}/prd_scaler.pkl', 'rb') as f:
#     loaded_scaler = pickle.load(f)

# # Suponha test_df como sua base de teste
# test_df_scaled = loaded_scaler.transform(df_test_aux)
# test_df = pd.DataFrame(test_df_scaled, columns=df_test_aux.columns, index=df_test_aux.index)
# test_df.head()

In [ ]:
## Trazer o id e target para a tabela pós dataprep

abt_train = df_train_03.merge(train[[ID_treino, 'TARGET']], left_index=True, right_index=True, how='inner')
abt_test = df_test_aux.merge(test[[ID_treino, 'TARGET']], left_index=True, right_index=True, how='inner')

print(abt_train.shape, abt_test.shape)

(150679, 330) (64578, 330)

In [ ]:
abt_train.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50,SK_ID_CURR_bureau,sum_credit_day_overdue_credit_active_active,sum_days_credit_enddate_credit_active_active,sum_amt_credit_sum_limit_credit_active_active,sum_amt_credit_sum_debt_credit_active_active,sum_amt_credit_sum_credit_active_active,sum_credit_day_overdue_credit_active_closed,sum_days_credit_enddate_credit_active_closed,sum_amt_credit_sum_limit_credit_active_closed,sum_amt_credit_sum_debt_credit_active_closed,sum_amt_credit_sum_credit_active_closed,sum_credit_day_overdue_credit_type_consumer_credit,sum_days_credit_enddate_credit_type_consumer_credit,sum_amt_credit_sum_limit_credit_type_consumer_credit,sum_amt_credit_sum_debt_credit_type_consumer_credit,sum_amt_credit_sum_credit_type_consumer_credit,sum_credit_day_overdue_credit_type_credit_card,sum_days_credit_enddate_credit_type_credit_card,sum_amt_credit_sum_limit_credit_type_credit_card,sum_amt_credit_sum_debt_credit_type_credit_card,sum_amt_credit_sum_credit_type_credit_card,sum_credit_day_overdue_credit_currency_currency_1,sum_days_credit_enddate_credit_currency_currency_1,sum_amt_credit_sum_limit_credit_currency_currency_1,sum_amt_credit_sum_debt_credit_currency_currency_1,sum_amt_credit_sum_credit_currency_currency_1,max_credit_day_overdue_credit_active_active,max_days_credit_enddate_credit_active_active,max_amt_credit_sum_limit_credit_active_active,max_amt_credit_sum_debt_credit_active_active,max_amt_credit_sum_credit_active_active,max_credit_day_overdue_credit_active_closed,max_days_credit_enddate_credit_active_closed,max_amt_credit_sum_limit_credit_active_closed,max_amt_credit_sum_debt_credit_active_closed,max_amt_credit_sum_credit_active_closed,max_credit_day_overdue_credit_type_consumer_credit,max_days_credit_enddate_credit_type_consumer_credit,max_amt_credit_sum_limit_credit_type_consumer_credit,max_amt_credit_sum_debt_credit_type_consumer_credit,max_amt_credit_sum_credit_type_consumer_credit,max_credit_day_overdue_credit_type_credit_card,max_days_credit_enddate_credit_type_credit_card,max_amt_credit_sum_limit_credit_type_credit_card,max_amt_credit_sum_debt_credit_type_credit_card,max_amt_credit_sum_credit_type_credit_card,max_credit_day_overdue_credit_currency_currency_1,max_days_credit_enddate_credit_currency_currency_1,max_amt_credit_sum_limit_credit_currency_currency_1,max_amt_credit_sum_debt_credit_currency_currency_1,max_amt_credit_sum_credit_currency_currency_1,min_credit_day_overdue_credit_active_active,min_days_credit_enddate_credit_active_active,min_amt_credit_sum_limit_credit_active_active,min_amt_credit_sum_debt_credit_active_active,min_amt_credit_sum_credit_active_active,min_credit_day_overdue_credit_active_closed,min_days_credit_enddate_credit_active_closed,min_amt_credit_sum_limit_credit_active_closed,min_amt_credit_sum_debt_credit_active_closed,min_amt_credit_sum_credit_active_closed,min_credit_day_overdue_credit_type_consumer_credit,min_days_credit_enddate_credit_type_consumer_credit,min_amt_credit_sum_limit_credit_type_consumer_credit,min_amt_credit_sum_debt_credit_type_consumer_credit,min_amt_credit_sum_credit_type_consumer_credit,min_credit_day_overdue_credit_type_credit_card,min_days_credit_enddate_credit_type_credit_card,min_amt_credit_sum_limit_credit_type_credit_card,min_amt_credit_sum_debt_credit_type_credit_card,min_amt_credit_sum_credit_type_credit_card,min_credit_day_overdue_credit_currency_currency_1,min_days_credit_enddate_credit_currency_currency_1,min_amt_credit_sum_limit_credit_currency_currency_1,min_amt_credit_sum_debt_credit_currency_currency_1,min_amt_credit_sum_credit_currency_currency_1,avg_credit_day_overdue_credit_active_active,avg_days_credit_enddate_credit_active_active,avg_amt_credit_sum_limit_credit_active_active,avg_amt_credit_sum_debt_credit_active_active,avg_amt_credit_sum_credit_active_active,avg_credit_day_overdue_credit_active_closed,avg_days_credit_enddate_credit_active_closed,avg_amt_credit_sum_limit_credit_active_closed,avg_amt_credit_sum_debt_credit_active_closed,avg_amt_credit_sum_credit_active_closed,avg_credit_day_overdue_credit_type_consumer_credit,avg_days_credit_enddate_credit_type_consumer_credit,avg_amt_credit_sum_limit_credit_type_consumer_credit,avg_amt_credit_sum_debt_credit_type_consumer_credit,avg_amt_credit_sum_credit_type_consumer_credit,avg_credit_day_overdue_credit_type_credit_card,avg_days_credit_enddate_credit_type_credit_card,avg_amt_credit_sum_limit_credit_type_credit_card,avg_amt_credit_sum_debt_credit_type_credit_card,avg_amt_credit_sum_credit_type_credit_card,avg_credit_day_overdue_credit_currency_currency_1,avg_days_credit_enddate_credit_currency_currency_1,avg_amt_credit_sum_limit_credit_currency_currency_1,avg_amt_credit_sum_debt_credit_currency_currency_1,avg_amt_credit_sum_credit_currency_currency_1,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_M,CODE_GENDER_XNA,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_MISS_VERIFICAR,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Maternity leave,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Widow,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,NAME_HOUSING_TYPE_With parents,OCCUPATION_TYPE_Cleaning staff,OCCUPATION_TYPE_Cooking staff,OCCUPATION_TYPE_Core staff,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_HR staff,OCCUPATION_TYPE_High skill tech staff,OCCUPATION_TYPE_IT staff,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_MISS_VERIFICAR,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,FONDKAPREMONT_MODE_not specified,FONDKAPREMONT_MODE_org spec account,FONDKAPREMONT_MODE_reg oper account,FONDKAPREMONT_MODE_reg oper spec account,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_MISS_VERIFICAR,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,SK_ID_CURR,TARGET
45499,0,157500.0,709033.5,39721.5,657000.0,0.024610,-11687,-1430.0,-1443.0,-4141.0,12.035874,1,1,0,1,0,0,1.0,2,2,10,0,0,0,0,0,0,5,0.503186,0.246830,0.413597,0.061900,0.055900,0.982100,0.752541,0.044483,0.000000,0.137900,0.166700,0.231663,0.01250,0.10087,0.06080,0.008867,0.061400,0.063000,0.058000,0.982100,0.759655,0.042388,0.000000,0.137900,0.166700,0.227729,0.012800,0.105561,0.063300,0.00809,0.065100,0.06250,0.055900,0.982100,0.755793,0.044457,0.000000,0.137900,0.166700,0.231345,0.012700,0.101983,0.06190,0.008692,0.06270,0.061200,0.0,0.0,0.0,0.0,0.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.623251,0.538599,0.545589,0.583404,0.798990,0.263193,0.841677,0.021447,0.304555,0.588261,0.688669,0.210169,0.054338,0.790777,0.763634,0.790980,0.576544,0.748658,0.400948,0.696015,0.705815,0.924598,0.718842,0.412503,0.010390,0.619381,0.954915,0.253974,0.336066,0.995809,0.709630,0.115768,0.247564,0.164696,0.382646,0.221486,0.724027,0.799399,0.615608,0.008782,0.614907,0.182116,0.283521,0.716671,0.041032,0.432577,0.302302,0.812673,0.622103,0.290383,102669.000000,4.892913,5755.915794,28347.167851,806909.558135,1.315540e+06,0.000000,-53.000000,0.0000,0.000000,1.606500e+05,0.000000,-53.000000,0.000000,0.000000,1.606500e+05,1.059182,7952.390736,42661.180747,147877.542308,346286.836027,0.000000,-53.000000,0.000000,0.000000,1.606500e+05,4.569374,2511.264168,21855.270319,450920.246097,596873.173188,0.000000,-53.000000,0.000000,0.000000,160650.000000,0.000000,-53.000000,0.000000,0.000000,160650.00000,1.029573,5121.457774,31088.524873,110092.334176,194912.114819,0.000000,-53.000000,0.000000,0.000000,160650.000000,0.594603,1959.692788,6178.36418,289731.252022,525457.740827,0.000000,-53.000000,0.000000,0.000000,160650.000000,0.000000,-53.000000,0.0,0.000000,160650.000000,0.243845,3625.859384,13110.32064,59592.942163,146801.930027,0.000000,-53.000000,0.000000,0.000000,160650.000000,1.951681,2470.010338,12704.954017,377793.744619,565370.479983,0.000000,-53.000000,0.000000,0.000000,160650.000000,0.000000,-53.000000,0.000000,0.00000,160650.000000,0.507652,4519.896179,21490.592912,82548.459499,174270.229129,0.000000,-53.000000,0.000000,0.000000,160650.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,102669,0
74186,1,189000.0,640080.0,31261.5,450000.0,0.046220,-12453,-158.0,-1596.0,-1580.0,12.035874,1,1,0,1,0,0,3.0,1,1,11,0,1,1,0,0,0,4,0.495899,0.452236,0.276441,0.117452,0.088622,0.977584,0.752541,0.044483,0.079332,0.149699,0.226128,0.231663,0.06645,0.10087,0.10748,0.008867,0.028449,0.114115,0.087696,0.976918,0.759655,0.042388,0.074775,0.145144,0.222144,0.227729,0.064995,0.105561,0.105952,0.00809,0.027042,0.11782,0.088131,0.977563,0.755793,0.044457,0.078434,0.149198,0.225765,0.231345,0.067315,0.101983,0.10868,0.008692,0.02824,0.102559,0.0,0.0,0.0,0.0,-414.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.271789,0.450667,0.915251,0.609587,0.156781,0.990234,0.922602,0.846543,0.534668,0.665733,0.491554,0.616078,0.714990,0.670361,0.120311,0.551883,0.201516,0.012140,0.026045,0.928996,0.889396,0.660983,0.508232,0.946107,0.420490,0.347951,0.866346,0.916568,0.797150,0.656244,0.061100,0.440124,0.141237,0.372216,0.501584,0.716653,0.252760,0.085425,0.769355,0.550976,0.855122,0.907023,0.555958,0.114399,0.959646,0.551736,0.793345,0.769783,0.029523,0.605118,202196.000000,0.000000,5755.915794,130083.350000,274914.000000,4.050000e+05,0.000000,-1615.000000,0.0000,0.000000,2.632365e+05,0.000000,-1615.000000,0.000000,0.000000,2.632365e+05,0.000000,7952.390736,130083.350000,274914.000000,405000.000000,0.000000,-1615.000000,130083.350000,274914.000000,6.682365e+05,0.000000,2511.264168,130083.350000,274914.000000,405000.000000,0.000000,-931.000000,0.000000,0.000000,91516.500000,0.000000,-931.000000,0.000000,0.000000,91516.50000,0.000000,5121.457774,130083.350000,274914.000000,405000.000000,0.000000,-931.000000,130083.350000,274914.000000,91516.500000,0.000000,1959.692788,130083.35000,274914.000000,405000.000000,0.000000,-325.000000,0.000000,0.000000,124933.500000,0.000000,-325.000000,0.0,0.000000,124933.500000,0.000000,3625.859384,130083.35000,274914.000000,405000.000000,0.000000,-325.000000,0.000000,0.000000,124933.500000,0.000000,2470.010338,130083.350000,274914.000000,405000.000000,0.000000,-538.330000,0.000000,0.000000,87745.500000,0.000000,-538.330000,0.000000,0.00000,87745.500000,0.000000,4519.896179,130083.350000,274914.000000,405000.000000,0.000000,-538.330000,43361.120000,91638.000000,167059.130000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202196,1
65253,1,121500.0,104256.0,8194.5,90000.0,0.035792,-9859,-392.0,-828.0,-2511.0,12.035874,1,1,1,1,0,0,2.0,2,2,12,0,0,0,0,0,0,42,0.352115,0.135407,0.656158,0.033000,0.010800,0.973700,0.639600,0.017100,0.000000,0.069000,0.125000,0.166700,0.06110,0.02690,0.02950,0.000000,0.000000,0.033600,0.011200,0.973700,0.653700,0.017300,0.000000,0.069000,0.125000,0.166700,0.062500,0.029400,0.030700,0.00000,0.000000,0.03330,0.010800,0.973700,0.644400,0.017200,0.000000,0.069000,0.125000,0.166700,0.062200,0.027400,0.03000,0.000000,0.00000,0.032500,0.0,0.0,0.0,0.0,-970.950056,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.089877,0.447568,0.131639,0.064082,0.435259,0.689218,0.745716,0.863553,0.579129,0.538519,0.941202,0.761630,0.503093,0.587689,0.537260,0.484700,0.679185,0.281975,0.399896,0.521913,0.274328,0.502114,0.701955,0.538385,0.077082,0.257142,0.573929,0.079377,0.480612,0.971505,0.890001,0.381080,0.828747,0.598202,0.583725,0.371399,0.883350,0.249075,0.651910,0.039176,0.837285,0.401049,0.896599,0.775044,0.372050,0.355883,0.259412,0.282194,0.438214,0.348245,272854.000000,4.892913,5755.915794,28347.167851,806909.558135,1.315540e+06,0.000000,-1031.000000,0.0000,0.000000,3.055005e+05,0.000000,-1031.000000,0.000000,0.000000,3.055005e+05,1.059182,7952.390736,42661.180747,147877.542308,346286.836027,0.000000,-1031.000000,0.000000,0.000000,3.055005e+05,4.569374,2511.264168,21855.270319,450920.246097,596873.173188,0.000000,-390.000000,0.000000,0.000000,76500.000000,0.000000,-390.000000,0.000000,0.000000,76500.00000,1.029573,5121.457774,31088.524873,110092.334176,194912.114819,0.000000,-390.000000,0.000000,0.000000,76500.000000,0.594603,1959.692788,6178.36418,289731.252022,525457.740827,0.000000,-304.000000,0.000000,0.000000,104400.000000,0.000000,-304.000000,0.0,0.000000,104400.000000,0.243845,3625.859384,13110.32064,59592.942163,146801.930027,0.000000,-304.000000,0.000000,0.000000,104400.000000,1.951681,2470.010338,12704.954017,377793.744619,565370.479983,0.000000,-343.670000,0.000000,0.000000,101833.500000,0.000000,-343.670000,0.000000,0.00000,101833.500000,0.507652,4519.896179,21490.592912,82548.459499,174270.229129,0.000000,-343.670000,0.000000,0.000000,101833.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,272854,0
60400,0,112500.0,755190.0,36328.5,675000.0,0.010032,-9233,-878.0,-333.0,-522.0,12.035874,1,1,1,1,0,0,2.0,2,2,11,0,1,1,0,1,1,39,0.398403,0.372591,0.510794,0.074200,0.046800,0.982600,0.762000,0.014700,0.080000,0.069000,0.333300,0.041700,0.07690,0.06050,0.07890,0.007700,0.037100,0.075600,0.048600,0.982600,0.771300,0.014900,0.080600,0.069000,0.333300,0.041700,0.078600,0.066100,0.082200,0.00780,0.039200,0.07490,0.046800,0.982600,0.765200,0.014800,0.080000,0.069000,0.333300,0.041700,0.078200,0.061600,0.08030,0.007800,0.03780,0.088300,0.0,0.0,0.0,0.0,-292.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.006594,0.006863,0.034505,0.268681,0.266894,1.893394,0.506338,0.355571,0.332951,0.663856,0.123350,0.321629,0.188188,0.558208,0.636772,0.396435,0.105420,0.624019,0.960336,0.061083,0.717732,0.341678,0.135631,0.166267,0.464307,0.710085,0.193339,0.289841,0.160412,0.610231,0.666622,0.467409,0.485829,0.228924,0.347892,0.154565,0.367409,0.872489,0.344479,0.080144,0.673778,0.683198,0.395718,0.041105,0.500510,0.430966,0.046936,0.164097,0.416916,0.498222,0.366917,0.326498,0.383481,0.743987,0.612620,0.627862,278017.560995,4.892913,5755.915794,28347.167851,806909.558135,1.315540e+06,0.467294,-2299.235583,4432.2477,10423.725023,9.703182e+05,4.457367,-2428.487978,25.650271,379707.041544,1.312178e+06,1.059182,7952.390736,42661.180747,147877.542308,346286.836027,4.905846,2580.380701,25691.025666,660028.974943,1.933082e+06,4.569374,2511.264168,21855.270319,450920.246097,596873.173188,0.462927,344.754301,3508.169476,9545.889084,271470.560192,4.244701,100.075567,25.650271,256423.340042,325046.17162,1.029573,5121.457774,31088.524873,110092.334176,194912.114819,4.594967,2004.259347,18755.725592,364448.644126,407485.566496,0.594603,1959.692788,6178.36418,289731.252022,525457.740827,0.054409,-916.652751,258.265491,789.004721,242431.840156,0.367883,-851.811923,0.0,40651.534677,328642.239479,0.243845,3625.859384,13110.32064,59592.942163,146801.930027,0.149483,-470.972472,1055.059994,47561.280325,321496.307702,1.951681,2470.010338,12704.954017,377793.744619,565370.479983,0.149194,-567.127215,1129.269543,2916.385609,258347.618566,1.222794,-490.515146,7.228894,114188.86443,316535.762326,0.507652,4519.896179,21490.592912,82548.459499,174270.229129,0.983005,651.916896,5827.824655,159345.659163,372970.612701,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,207628,0

In [ ]:
abt_test.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50,SK_ID_CURR_bureau,sum_credit_day_overdue_credit_active_active,sum_days_credit_enddate_credit_active_active,sum_amt_credit_sum_limit_credit_active_active,sum_amt_credit_sum_debt_credit_active_active,sum_amt_credit_sum_credit_active_active,sum_credit_day_overdue_credit_active_closed,sum_days_credit_enddate_credit_active_closed,sum_amt_credit_sum_limit_credit_active_closed,sum_amt_credit_sum_debt_credit_active_closed,sum_amt_credit_sum_credit_active_closed,sum_credit_day_overdue_credit_type_consumer_credit,sum_days_credit_enddate_credit_type_consumer_credit,sum_amt_credit_sum_limit_credit_type_consumer_credit,sum_amt_credit_sum_debt_credit_type_consumer_credit,sum_amt_credit_sum_credit_type_consumer_credit,sum_credit_day_overdue_credit_type_credit_card,sum_days_credit_enddate_credit_type_credit_card,sum_amt_credit_sum_limit_credit_type_credit_card,sum_amt_credit_sum_debt_credit_type_credit_card,sum_amt_credit_sum_credit_type_credit_card,sum_credit_day_overdue_credit_currency_currency_1,sum_days_credit_enddate_credit_currency_currency_1,sum_amt_credit_sum_limit_credit_currency_currency_1,sum_amt_credit_sum_debt_credit_currency_currency_1,sum_amt_credit_sum_credit_currency_currency_1,max_credit_day_overdue_credit_active_active,max_days_credit_enddate_credit_active_active,max_amt_credit_sum_limit_credit_active_active,max_amt_credit_sum_debt_credit_active_active,max_amt_credit_sum_credit_active_active,max_credit_day_overdue_credit_active_closed,max_days_credit_enddate_credit_active_closed,max_amt_credit_sum_limit_credit_active_closed,max_amt_credit_sum_debt_credit_active_closed,max_amt_credit_sum_credit_active_closed,max_credit_day_overdue_credit_type_consumer_credit,max_days_credit_enddate_credit_type_consumer_credit,max_amt_credit_sum_limit_credit_type_consumer_credit,max_amt_credit_sum_debt_credit_type_consumer_credit,max_amt_credit_sum_credit_type_consumer_credit,max_credit_day_overdue_credit_type_credit_card,max_days_credit_enddate_credit_type_credit_card,max_amt_credit_sum_limit_credit_type_credit_card,max_amt_credit_sum_debt_credit_type_credit_card,max_amt_credit_sum_credit_type_credit_card,max_credit_day_overdue_credit_currency_currency_1,max_days_credit_enddate_credit_currency_currency_1,max_amt_credit_sum_limit_credit_currency_currency_1,max_amt_credit_sum_debt_credit_currency_currency_1,max_amt_credit_sum_credit_currency_currency_1,min_credit_day_overdue_credit_active_active,min_days_credit_enddate_credit_active_active,min_amt_credit_sum_limit_credit_active_active,min_amt_credit_sum_debt_credit_active_active,min_amt_credit_sum_credit_active_active,min_credit_day_overdue_credit_active_closed,min_days_credit_enddate_credit_active_closed,min_amt_credit_sum_limit_credit_active_closed,min_amt_credit_sum_debt_credit_active_closed,min_amt_credit_sum_credit_active_closed,min_credit_day_overdue_credit_type_consumer_credit,min_days_credit_enddate_credit_type_consumer_credit,min_amt_credit_sum_limit_credit_type_consumer_credit,min_amt_credit_sum_debt_credit_type_consumer_credit,min_amt_credit_sum_credit_type_consumer_credit,min_credit_day_overdue_credit_type_credit_card,min_days_credit_enddate_credit_type_credit_card,min_amt_credit_sum_limit_credit_type_credit_card,min_amt_credit_sum_debt_credit_type_credit_card,min_amt_credit_sum_credit_type_credit_card,min_credit_day_overdue_credit_currency_currency_1,min_days_credit_enddate_credit_currency_currency_1,min_amt_credit_sum_limit_credit_currency_currency_1,min_amt_credit_sum_debt_credit_currency_currency_1,min_amt_credit_sum_credit_currency_currency_1,avg_credit_day_overdue_credit_active_active,avg_days_credit_enddate_credit_active_active,avg_amt_credit_sum_limit_credit_active_active,avg_amt_credit_sum_debt_credit_active_active,avg_amt_credit_sum_credit_active_active,avg_credit_day_overdue_credit_active_closed,avg_days_credit_enddate_credit_active_closed,avg_amt_credit_sum_limit_credit_active_closed,avg_amt_credit_sum_debt_credit_active_closed,avg_amt_credit_sum_credit_active_closed,avg_credit_day_overdue_credit_type_consumer_credit,avg_days_credit_enddate_credit_type_consumer_credit,avg_amt_credit_sum_limit_credit_type_consumer_credit,avg_amt_credit_sum_debt_credit_type_consumer_credit,avg_amt_credit_sum_credit_type_consumer_credit,avg_credit_day_overdue_credit_type_credit_card,avg_days_credit_enddate_credit_type_credit_card,avg_amt_credit_sum_limit_credit_type_credit_card,avg_amt_credit_sum_debt_credit_type_credit_card,avg_amt_credit_sum_credit_type_credit_card,avg_credit_day_overdue_credit_currency_currency_1,avg_days_credit_enddate_credit_currency_currency_1,avg_amt_credit_sum_limit_credit_currency_currency_1,avg_amt_credit_sum_debt_credit_currency_currency_1,avg_amt_credit_sum_credit_currency_currency_1,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_M,CODE_GENDER_XNA,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_MISS_VERIFICAR,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Maternity leave,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Widow,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,NAME_HOUSING_TYPE_With parents,OCCUPATION_TYPE_Cleaning staff,OCCUPATION_TYPE_Cooking staff,OCCUPATION_TYPE_Core staff,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_HR staff,OCCUPATION_TYPE_High skill tech staff,OCCUPATION_TYPE_IT staff,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_MISS_VERIFICAR,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,FONDKAPREMONT_MODE_not specified,FONDKAPREMONT_MODE_org spec account,FONDKAPREMONT_MODE_reg oper account,FONDKAPREMONT_MODE_reg oper spec account,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_MISS_VERIFICAR,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,SK_ID_CURR,TARGET
196348,0,90000.0,180000.0,9000.0,180000.0,0.031329,-9579,-489,-9175.0,-1161.0,12.035874,1,1,0,1,0,0,1.0,2,2,16,0,0,0,0,0,0,5,0.217777,0.634658,0.554947,0.117452,0.088622,0.977584,0.752541,0.044483,0.079332,0.149699,0.226128,0.231663,0.06645,0.10087,0.10748,0.008867,0.028449,0.114115,0.087696,0.976918,0.759655,0.042388,0.074775,0.145144,0.222144,0.227729,0.064995,0.105561,0.105952,0.00809,0.027042,0.11782,0.088131,0.977563,0.755793,0.044457,0.078434,0.149198,0.225765,0.231345,0.067315,0.101983,0.10868,0.008692,0.02824,0.102559,0.0,0.0,0.0,0.0,-393.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.553600,0.735979,0.037344,0.338258,0.545242,0.841952,0.024305,0.615976,0.187460,0.588908,0.184133,0.216715,0.295191,0.088721,0.783669,0.926316,0.825076,0.502182,0.088370,0.897170,0.443596,0.505481,0.760015,0.290377,0.252905,0.993413,0.954151,0.111669,0.216014,0.629482,0.292913,0.325685,0.409491,0.000870,0.100324,0.988315,0.332587,0.231480,0.526877,0.678298,0.593565,0.789703,0.254486,0.969768,0.918087,0.939984,0.941608,0.053827,0.571771,0.186664,243431.000000,4.892913,5755.915794,28347.167851,806909.558135,1.315540e+06,0.000000,-252.000000,0.0000,0.000000,172307.120000,0.000000,-252.000000,0.000000,0.000000,1.723071e+05,1.059182,7952.390736,42661.180747,147877.542308,346286.836027,0.000000,-252.000000,0.000000,0.000000,1.723071e+05,4.569374,2511.264168,21855.270319,450920.246097,5.968732e+05,0.000000,-89.000000,0.000000,0.000000,34560.000000,0.000000,-89.000000,0.000000,0.000000,34560.00000,1.029573,5121.457774,31088.524873,110092.334176,194912.114819,0.000000,-89.000000,0.000000,0.000000,34560.000000,0.594603,1959.692788,6178.36418,289731.252022,5.254577e+05,0.000000,-163.000000,0.000000,0.000000,137747.120000,0.000000,-163.000000,0.0,0.000000,1.377471e+05,0.243845,3625.859384,13110.32064,59592.942163,146801.930027,0.000000,-163.000000,0.000000,0.000000,1.377471e+05,1.951681,2470.010338,12704.954017,377793.744619,5.653705e+05,0.000000,-126.000000,0.000000,0.000000,86153.560000,0.000000,-126.000000,0.000000,0.00000,86153.560000,0.507652,4519.896179,21490.592912,82548.459499,174270.229129,0.000000,-126.000000,0.000000,0.000000,86153.560000,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,243431,0
147976,0,225000.0,781920.0,42547.5,675000.0,0.018801,-20151,-3330,-10255.0,-3468.0,12.035874,1,1,0,1,0,0,1.0,2,2,11,0,0,0,0,0,0,5,0.804014,0.501598,0.384207,0.008200,0.000000,0.968700,0.571600,0.002600,0.000000,0.034500,0.041700,0.083300,0.01350,0.00670,0.00750,0.000000,0.000000,0.008400,0.000000,0.968700,0.588400,0.002600,0.000000,0.034500,0.041700,0.083300,0.013800,0.007300,0.007900,0.00000,0.000000,0.00830,0.000000,0.968700,0.577300,0.002600,0.000000,0.034500,0.041700,0.083300,0.013700,0.006800,0.00770,0.000000,0.00000,0.007400,2.0,1.0,2.0,0.0,-2005.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.055630,0.969683,0.143565,0.064058,0.807627,0.711164,0.012740,0.556794,0.013220,0.552560,0.426758,0.691886,0.367910,0.560955,0.803954,0.494718,0.307866,0.047729,0.384242,0.988515,0.026243,0.267994,0.231065,0.425559,0.617888,0.284290,0.020444,0.552369,0.461655,0.750744,0.294814,0.826447,0.731267,0.703634,0.405295,0.985253,0.666051,0.595347,0.865780,0.637372,0.346320,0.912834,0.910227,0.784684,0.485868,0.812601,0.425869,0.335348,0.878763,0.792996,127962.000000,0.000000,209.000000,53697.600000,297302.400000,3.510000e+05,0.000000,-591.000000,0.0000,0.000000,183334.500000,0.000000,-591.000000,0.000000,0.000000,1.833345e+05,0.000000,209.000000,53697.600000,297302.400000,351000.000000,0.000000,-382.000000,53697.600000,297302.400000,5.343345e+05,0.000000,209.000000,53697.600000,297302.400000,3.510000e+05,0.000000,-370.000000,0.000000,0.000000,35622.000000,0.000000,-370.000000,0.000000,0.000000,35622.00000,0.000000,209.000000,53697.600000,297302.400000,351000.000000,0.000000,209.000000,53697.600000,297302.400000,35622.000000,0.000000,209.000000,0.00000,0.000000,0.000000e+00,0.000000,-221.000000,0.000000,0.000000,147712.500000,0.000000,-221.000000,0.0,0.000000,1.477125e+05,0.000000,209.000000,0.00000,0.000000,0.000000,0.000000,-221.000000,0.000000,0.000000,0.000000e+00,0.000000,209.000000,26848.800000,148651.200000,1.755000e+05,0.000000,-295.500000,0.000000,0.000000,91667.250000,0.000000,-295.500000,0.000000,0.00000,91667.250000,0.000000,209.000000,26848.800000,148651.200000,175500.000000,0.000000,-127.330000,13424.400000,74325.600000,133583.630000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,127962,0
52662,1,112500.0,450000.0,21888.0,450000.0,0.019689,-11641,-370,-218.0,-3796.0,12.035874,1,1,1,1,0,0,3.0,2,2,9,0,0,0,0,0,0,7,0.503186,0.278945,0.300108,0.002100,0.088622,0.970700,0.752541,0.044483,0.000000,0.069000,0.000000,0.231663,0.02060,0.10087,0.00150,0.008867,0.000000,0.002100,0.087696,0.970700,0.759655,0.042388,0.000000,0.069000,0.000000,0.227729,0.021000,0.105561,0.001600,0.00809,0.000000,0.00210,0.088131,0.970700,0.755793,0.044457,0.000000,0.069000,0.000000,0.231345,0.020900,0.101983,0.00150,0.008692,0.00000,0.001200,1.0,0.0,1.0,0.0,-1022.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,2.000000,4.000000,0.963148,0.610721,0.910276,0.985248,0.993294,0.979476,0.502643,0.153952,0.100604,0.582648,0.268764,0.264136,0.798616,0.640491,0.581764,0.113877,0.599859,0.384104,0.882926,0.656345,0.409666,0.822635,0.729645,0.389186,0.172874,0.634220,0.060167,0.666173,0.432991,0.320440,0.183687,0.072003,0.058414,0.273381,0.818123,0.553403,0.393062,0.149542,0.065340,0.581393,0.973969,0.671805,0.428278,0.189641,0.765047,0.931675,0.944781,0.270274,0.296258,0.518378,244667.000000,0.000000,27450.000000,19784.660000,92715.350000,1.125000e+05,0.000000,-113.000000,0.0000,0.000000,225000.000000,0.000000,-113.000000,0.000000,0.000000,2.250000e+05,0.000000,27450.000000,19784.660000,92715.350000,112500.000000,0.000000,27337.000000,19784.660000,92715.350000,3.375000e+05,0.000000,27450.000000,3871.040000,74086.380000,9.000000e+04,0.000000,-113.000000,0.000000,0.000000,225000.000000,0.000000,-113.000000,0.000000,0.000000,225000.00000,0.000000,27450.000000,3871.040000,74086.380000,90000.000000,0.000000,27450.000000,3871.040000,74086.380000,90000.000000,0.000000,27450.000000,15913.62000,18628.970000,2.250000e+04,0.000000,-113.000000,0.000000,0.000000,225000.000000,0.000000,-113.000000,0.0,0.000000,2.250000e+05,0.000000,27450.000000,15913.62000,18628.970000,22500.000000,0.000000,-113.000000,0.000000,0.000000,2.250000e+04,0.000000,27450.000000,9892.330000,46357.670000,5.625000e+04,0.000000,-113.000000,0.000000,0.000000,225000.000000,0.000000,-113.000000,0.000000,0.00000,225000.000000,0.000000,27450.000000,9892.330000,46357.670000,56250.000000,0.000000,13668.500000,6594.880000,30905.120000,112500.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,244667,1
101577,0,225000.0,760225.5,32337.0,679500.0,0.007330,-10035,-144,-5885.0,-677.0,12.035874,1,1,0,1,0,0,2.0,2,2,15,0,0,0,1,1,1,5,0.279232,0.213085,0.556727,0.117452,0.088622,0.977584,0.752541,0.044483,0.079332,0.149699,0.226128,0.231663,0.06645,0.10087,0.10748,0.008867,0.028449,0.114115,0.087696,0.976918,0.759655,0.042388,0.074775,0.145144,0.222144,0.227729,0.064995,0.105561,0.105952,0.00809,0.027042,0.11782,0.088131,0.977563,0.755793,0.044457,0.078434,0.149198,0.225765,0.231345,0.067315,0.101983,0.10868,0.008692,0.02824,0.102559,3.0,0.0,2.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.699803,0.421910,0.417316,0.528927,0.405325,0.816989,0.633609,0.482975,0.711495,0.471590,0.302225,0.073788,0.630507,0.419388,0.652081,0.229409,0.615194,0.231686,0.377791,0.876791,0.300196,0.789843,0.422809,0.209413,0.377615,0.839231,0.662908,0.630662,0.854113,0.623451,0.717409,0.920094,0.191716,0.036136,0.028467,0.833765,0.772909,0.940978,0.171637,0.786283,0.766011,0.533777,0.995612,0.998489,0.318540,0.923508,0.271327,0.558144,0.926976,0.794804,220032.000000,0.000000,1582.000000,0.000000,971437.500000,1.030500e+06,0.000000,-197.000000,4432.2477,10423.725023,225000.000000,0.000000,1385.000000,0.000000,971437.500000,1.255500e+06,1.059182,7952.390736,42661.180747,147877.542308,346286.836027,0.000000,1385.000000,0.000000,971437.500000,1.255500e+06,0.000000,1582.000000,0.000000,971437.500000,1.030500e+06,0.000000,-197.000000,3508.169476,9545.889084,225000.000000,0.000000,1582.000000,0.000000,971437.500000,225000.00000,1.029573,5121.457774,31088.524873,110092.334176,194912.114819,0.000000,1582.000000,0.000000,971437.500000,225000.000000,0.000000,1582.000000,0.00000,971437.500000,1.030500e+06,0.000000,-197.000000,258.265491,789.004721,225000.000000,0.000000,-197.000000,0.0,971437.500000,1.030500e+06,0.243845,3625.859384,13110.32064,59592.942163,146801.930027,0.000000,-197.000000,0.000000,971437.500000,1.030500e+06,0.000000,1582.000000,0.000000,971437.500000,1.030500e+06,0.000000,-197.000000,1129.269543,2916.385609,225000.000000,0.000000,692.500000,0.000000,971437.50000,627750.000000,0.507652,4519.896179,21490.592912,82548.459499,174270.229129,0.000000,692.500000,0.000000,971437.500000,627750.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,220032,0

## **Salvando tabelas de treino e teste pós preparação dos dados**

In [ ]:
# Save to csv
abt_train.to_csv('abt_train.csv')
abt_test.to_csv('abt_test.csv')

In [ ]:
s3 = boto3.client(
    service_name='s3',
    region_name='us-east-1',
    aws_access_key_id='AKIAYTYOYG7SCH7IJSEG',
    aws_secret_access_key='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'
)

In [ ]:
# Upload dos arquivos para o S3
s3.upload_file(Filename='abt_train.csv', Bucket=bucket_name, Key=object_key_abt_treino)
s3.upload_file(Filename='abt_test.csv', Bucket=bucket_name, Key=object_key_abt_teste)