# **Modelo Regressão Logística**

Este é modelo mais básico possível para identificar a probabilidade de inadimplência na concessão de crédito.

O modelo será feito usando apenas a tabela "application", sem que seja realizada transformações consideráveis para o bom desempenho do modelo. Sem feature engineering, sem tunning, sem análises minuciosas.

O resultado deste processo é usado como parâmetro de comparação do desempenho dos modelos a serem desenvolvidos posteriormente.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## **Exploração dos Dados (Entendimento dos Dados)**

### **Bibliotecas importantes para o projeto**

In [ ]:
!pip install boto3==1.17.105
!pip install botocore --upgrade
!pip install s3fs

Collecting boto3==1.17.105
  Downloading boto3-1.17.105-py2.py3-none-any.whl (131 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 131.6/131.6 kB 1.1 MB/s eta 0:00:00
Collecting botocore<1.21.0,>=1.20.105 (from boto3==1.17.105)
  Downloading botocore-1.20.112-py2.py3-none-any.whl (7.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.7/7.7 MB 8.7 MB/s eta 0:00:00
Collecting jmespath<1.0.0,>=0.7.1 (from boto3==1.17.105)
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Collecting s3transfer<0.5.0,>=0.4.0 (from boto3==1.17.105)
  Downloading s3transfer-0.4.2-py2.py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.2/79.2 kB 3.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.21.0,>=1.20.105->boto3==1.17.105) (2.8.2)
Collecting urllib3<1.27,>=1.25.4 (from botocore<1.21.0,>=1.20.105->boto3==1.17.105)
  Downloading urllib3-1.26.18-py2.py3-none-any.whl (143 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.8/143.8 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.21.0,>=1.20.105->boto3==1.17.105) (1.16.0)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.0.7
    Uninstalling urllib3-2.0.7:
      Successfully uninstalled urllib3-2.0.7
Successfully installed boto3-1.17.105 botocore-1.20.112 jmespath-0.10.0 s3transfer-0.4.2 urllib3-1.26.18
Requirement already satisfied: botocore in /usr/local/lib/python3.10/dist-packages (1.20.112)
Collecting botocore
  Downloading botocore-1.34.7-py3-none-any.whl (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 19.7 MB/s eta 0:00:00
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from botocore) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore) (2.8.2)
Requirement already satisfied: urllib3<2.1,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore) (1.26.18)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore) (1.16.0)
Installing collected packages: botocore
  Attempting uninstall: botocore
    Found existing installation: botocore 1.20.112
    Uninstalling botocore-1.20.112:
      Successfully uninstalled botocore-1.20.112
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
boto3 1.17.105 requires botocore<1.21.0,>=1.20.105, but you have botocore 1.34.7 which is incompatible.
Successfully installed botocore-1.34.7
Collecting s3fs
  Downloading s3fs-2023.12.2-py3-none-any.whl (28 kB)
Collecting aiobotocore<3.0.0,>=2.5.4 (from s3fs)
  Downloading aiobotocore-2.9.0-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.0/76.0 kB 3.8 MB/s eta 0:00:00
Collecting fsspec==2023.12.2 (from s3fs)
  Downloading fsspec-2023.12.2-py3-none-any.whl (168 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 169.0/169.0 kB 7.6 MB/s eta 0:00:00
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.10/dist-packages (from s3fs) (3.9.1)
Collecting botocore<1.33.14,>=1.33.2 (from aiobotocore<3.0.0,>=2.5.4->s3fs)
  Downloading botocore-1.33.13-py3-none-any.whl (11.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 34.4 MB/s eta 0:00:00
Requirement already satisfied: wrapt<2.0.0,>=1.10.10 in /usr/local/lib/python3.10/dist-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (1.14.1)
Collecting aioitertools<1.0.0,>=0.5.1 (from aiobotocore<3.0.0,>=2.5.4->s3fs)
  Downloading aioitertools-0.11.0-py3-none-any.whl (23 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.9.4)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.4.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.3.1)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (4.0.3)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.33.14,>=1.33.2->aiobotocore<3.0.0,>=2.5.4->s3fs) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.33.14,>=1.33.2->aiobotocore<3.0.0,>=2.5.4->s3fs) (2.8.2)
Requirement already satisfied: urllib3<2.1,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore<1.33.14,>=1.33.2->aiobotocore<3.0.0,>=2.5.4->s3fs) (1.26.18)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.10/dist-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (3.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.33.14,>=1.33.2->aiobotocore<3.0.0,>=2.5.4->s3fs) (1.16.0)
Installing collected packages: fsspec, aioitertools, botocore, aiobotocore, s3fs
  Attempting uninstall: fsspec
    Found existing installation: fsspec 2023.6.0
    Uninstalling fsspec-2023.6.0:
      Successfully uninstalled fsspec-2023.6.0
  Attempting uninstall: botocore
    Found existing installation: botocore 1.34.7
    Uninstalling botocore-1.34.7:
      Successfully uninstalled botocore-1.34.7
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
boto3 1.17.105 requires botocore<1.21.0,>=1.20.105, but you have botocore 1.33.13 which is incompatible.
gcsfs 2023.6.0 requires fsspec==2023.6.0, but you have fsspec 2023.12.2 which is incompatible.
Successfully installed aiobotocore-2.9.0 aioitertools-0.11.0 botocore-1.33.13 fsspec-2023.12.2 s3fs-2023.12.2

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import missingno as msno
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier

In [ ]:
pip list --format=freeze > '/content/requirements.txt'

In [ ]:
# Supondo que df seja o seu DataFrame
# Configuração para exibir todas as colunas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

# Configuração para exibir todas as linhas e colunas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### **Ler os dados originais (ABT)**

In [ ]:
import boto3

s3 = boto3.resource(
    service_name='s3',
    region_name='us-east-1',
    aws_access_key_id='AKIAYTYOYG7SCH7IJSEG',
    aws_secret_access_key='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'
)

#### **Dados de Treino**

In [ ]:
# Nome do bucket
bucket_name_treino = 'pod-academy-analise-de-credito-para-fintech'
# Nome da pasta até o arquivo
object_key_treino = 'dados/application_train.csv'

# ID
ID_treino = 'SK_ID_CURR'

In [ ]:
# Load csv file directly into python
obj = s3.Bucket(bucket_name_treino).Object(object_key_treino).get()
abt_00 = pd.read_csv(obj['Body'])

In [ ]:
abt_00.shape

(215257, 172)

In [ ]:
abt_00.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50
0,247330,0,Cash loans,F,N,N,0,157500.0,706410.0,67072.5,679500.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.032561,-14653,-2062,-8599.0,-2087,NaN,1,1,0,1,1,0,Private service staff,2.0,1,1,WEDNESDAY,13,0,0,0,0,0,0,Services,NaN,0.632424,0.220095,NaN,0.1050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0702,Panel,No,1.0,0.0,1.0,0.0,-1254.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.381340,0.253773,0.205728,0.808261,0.917700,0.487698,0.955921,0.089342,0.519432,0.667806,0.333320,0.873508,0.293837,0.758751,0.972640,0.813237,0.398762,0.060109,0.432021,0.711729,0.455977,0.532977,0.615955,0.005083,0.465449,0.145924,0.026534,0.562217,0.380997,0.634713,0.322195,0.677877,0.518137,0.284267,0.896499,0.260938,0.030923,0.052023,0.969193,0.984378,0.824762,0.333516,0.293260,0.564878,0.115058,0.655605,0.415562,0.092643,0.723331,0.796523
1,425716,1,Cash loans,F,Y,Y,1,121500.0,545040.0,25407.0,450000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.007114,-13995,-2246,-348.0,-172,12.0,1,1,1,1,1,0,Secretaries,3.0,2,2,MONDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.593456,0.695997,0.633032,0.6680,NaN,0.9856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6817,NaN,NaN,0.6807,NaN,0.9856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7102,NaN,NaN,0.6745,NaN,0.9856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6939,NaN,NaN,NaN,block of flats,0.5501,"Stone, brick",No,1.0,0.0,1.0,0.0,-907.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.936515,0.179481,0.843631,0.520029,0.907421,0.442279,0.305319,0.125968,0.925484,0.198714,0.793117,0.920624,0.587697,0.193858,0.720867,0.347189,0.906016,0.329694,0.802493,0.150473,0.418284,0.868025,0.254219,0.956146,0.347596,0.341439,0.744123,0.045891,0.978561,0.961868,0.985735,0.547768,0.822529,0.392172,0.463642,0.523900,0.397622,0.483889,0.599514,0.101305,0.416260,0.404293,0.137944,0.457971,0.303691,0.215059,0.838892,0.608335,0.585643,0.298456
2,331625,0,Cash loans,M,Y,Y,1,225000.0,942300.0,27679.5,675000.0,Unaccompanied,Working,Secondary / secondary special,Married,Municipal apartment,0.022625,-21687,-1335,-6306.0,-4026,1.0,1,1,0,1,0,0,Laborers,3.0,2,2,THURSDAY,10,0,0,0,0,0,0,Self-employed,NaN,0.667686,0.607557,0.6443,0.3483,0.9791,0.7144,0.3331,0.72,0.6207,0.3333,0.375,0.3720,0.5253,0.6223,0.0,0.0,0.6565,0.3615,0.9791,0.7256,0.3361,0.725,0.6207,0.3333,0.375,0.3804,0.5739,0.6483,0.0,0.0,0.6506,0.3483,0.9791,0.7182,0.3352,0.72,0.6207,0.3333,0.375,0.3784,0.5344,0.6334,0.0,0.0,reg oper account,block of flats,0.6714,Panel,No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.499898,0.984300,0.145573,0.763623,0.517144,0.251938,0.778078,0.778633,0.711306,0.606748,0.808992,0.594886,0.861306,0.225132,0.578306,0.007019,0.651399,0.145081,0.724807,0.154568,0.379459,0.901351,0.569352,0.366350,0.004014,0.151749,0.197556,0.512563,0.932741,0.427496,0.737803,0.399106,0.900378,0.348174,0.614347,0.934229,0.006252,0.547868,0.479080,0.600169,0.037711,0.124465,0.091840,0.364601,0.978220,0.520309,0.594523,0.559650,0.361873,0.254804
3,455397,0,Revolving loans,F,N,Y,2,144000.0,180000.0,9000.0,180000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,House / apartment,0.006629,-13071,-2292,-742.0,-1201,NaN,1,1,1,1,1,0,Cooking staff,3.0,2,2,MONDAY,8,0,0,0,0,0,0,Restaurant,NaN,0.314634,0.427657,0.0261,0.0000,0.9881,0.8640,NaN,0.00,0.0803,0.0692,NaN,0.0085,NaN,0.0190,NaN,0.0,0.0189,0.0000,0.9871,0.8693,NaN,0.000,0.1034,0.0833,NaN,0.0068,NaN,0.0114,NaN,0.0,0.0281,0.0000,0.9871,0.8658,NaN,0.00,0.1034,0.0833,NaN,0.0088,NaN,0.0195,NaN,0.0,reg oper account,block of flats,0.0180,Block,No,0.0,0.0,0.0,0.0,-394.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0,0.315107,0.766009,0.065409,0.205370,0.426937,0.669344,0.490902,0.392566,0.346318,0.025155,0.760782,0.530627,0.848179,0.759807,0.754668,0.795626,0.242511,0.802291,0.026778,0.787870,0.355061,0.132290,0.246993,0.506481,0.684924,0.233690,0.804141,0.010132,0.932631,0.090540,0.683468,0.365466,0.280388,0.670943,0.850415,0.759835,0.979863,0.922059,0.950338,0.822062,0.784630,0.831403,0.210872,0.049639,0.814219,0.830179,0.755163,0.216664,0.603002,0.429001
4,449114,0,Cash loans,F,N,Y,0,112500.0,729792.0,37390.5,630000.0,Unaccompanied,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,0.046220,-19666,365243,-169.0,-3112,NaN,1,0,0,1,0,0,NaN,2.0,1,1,FRIDAY,10,0,0,0,0,0,0,XNA,0.599579,0.505944,0.239226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.448089,0.374995,0.606112,0.488309,0.321528,0.338132,0.866652,0.102163,0.449259,0.604513,0.691355,0.978607,0.978347,0.755776,0.037144,0.203080,0.492793,0.334378,0.447210,0.295394,0.620938,0.322072,0.264834,0.209451,0.654736,0.264538,0.133390,0.918640,0.890932,0.243396,0.108121,0.472345,0.045164,0.746089,0.469676,0.594308,0.961698,0.608098,0.041375,0.767341,0.265381,0.655344,0.668705,0.171391,0.335702,0.585494,0.619551,0.686738,0.540449,0.343632

#### **Dados de Teste**

In [ ]:
# Nome do bucket
bucket_name_teste = 'pod-academy-analise-de-credito-para-fintech'
# Nome da pasta até o arquivo
object_key_teste = 'dados/application_test.csv'

# ID
ID_teste = 'SK_ID_CURR'

In [ ]:
# Load csv file directly into python
obj = s3.Bucket(bucket_name_teste).Object(object_key_teste).get()
df_test = pd.read_csv(obj['Body'])

In [ ]:
df_test.shape

(92254, 171)

In [ ]:
df_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50
0,384575,Cash loans,M,Y,N,2,207000.0,465457.5,52641.0,418500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.009630,-13297,-762,-637.0,-4307,19.0,1,1,0,1,0,0,Sales staff,4.0,2,2,THURSDAY,11,0,0,0,0,1,1,Business Entity Type 3,0.675878,0.604894,0.000527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0,0.498778,0.625884,0.265659,0.025378,0.098284,0.570080,0.688300,0.499184,0.160768,0.907588,0.413844,0.433962,0.062781,0.056164,0.053984,0.169830,0.792787,0.754734,0.093528,0.166290,0.185699,0.423460,0.772894,0.950160,0.775363,0.321992,0.059547,0.378230,0.515026,0.643832,0.523899,0.946518,0.680461,0.263576,0.588816,0.325690,0.892676,0.608591,0.700737,0.691937,0.633686,0.664401,0.087885,0.350320,0.247838,0.700314,0.709003,0.625105,0.847218,0.445958
1,214010,Cash loans,F,Y,Y,0,247500.0,1281712.5,48946.5,1179000.0,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,0.006852,-14778,-1141,-1610.0,-4546,11.0,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.430827,0.425351,0.712155,0.0753,0.0568,0.9970,0.9592,0.1326,0.08,0.0517,0.4167,0.2917,0.0735,0.0601,0.0844,0.0058,0.1118,0.0756,0.0566,0.9940,0.9216,0.0523,0.0806,0.0345,0.3333,0.0417,0.0445,0.0652,0.0857,0.0,0.0000,0.0760,0.0568,0.9970,0.9597,0.1335,0.08,0.0517,0.4167,0.2917,0.0748,0.0611,0.0859,0.0058,0.1142,reg oper account,block of flats,0.0754,Monolithic,No,2.0,0.0,2.0,0.0,-1071.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0,0.743815,0.706303,0.107170,0.214413,0.578901,0.976152,0.080877,0.258163,0.556638,0.514318,0.466754,0.838954,0.021139,0.829923,0.307845,0.648014,0.289500,0.237590,0.338313,0.727474,0.741091,0.825345,0.404855,0.358584,0.778997,0.821256,0.841797,0.456666,0.242587,0.147250,0.234968,0.466480,0.505761,0.620883,0.286285,0.112869,0.311603,0.081432,0.934776,0.414297,0.249826,0.569889,0.161183,0.932276,0.720287,0.251879,0.439528,0.269992,0.547486,0.657934
2,142232,Cash loans,F,Y,N,0,202500.0,495000.0,39109.5,495000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-17907,-639,-2507.0,-1461,4.0,1,1,1,1,0,0,Sales staff,2.0,2,2,TUESDAY,16,0,0,0,0,0,0,Self-employed,0.527239,0.531760,0.207964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0.0,5.0,0.0,-1435.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0,0.321900,0.267463,0.087238,0.356200,0.739791,0.267510,0.418676,0.937275,0.790341,0.511647,0.044840,0.550507,0.884842,0.785302,0.020373,0.763583,0.834871,0.572777,0.184390,0.794555,0.440456,0.307926,0.835268,0.988496,0.367651,0.054285,0.311133,0.294156,0.418275,0.247888,0.499605,0.225794,0.638410,0.631781,0.450748,0.929628,0.045871,0.582653,0.036832,0.653533,0.081305,0.025186,0.391566,0.737325,0.090995,0.327031,0.787739,0.820345,0.523118,0.339553
3,389171,Cash loans,F,N,Y,0,247500.0,254700.0,24939.0,225000.0,Unaccompanied,State servant,Secondary / secondary special,Widow,House / apartment,0.046220,-19626,-6982,-11167.0,-3158,NaN,1,1,0,1,0,0,High skill tech staff,1.0,1,1,FRIDAY,14,0,0,0,0,0,0,Business Entity Type 3,NaN,0.693521,0.614414,0.1320,0.0645,0.9846,NaN,NaN,0.16,0.0690,0.6250,NaN,NaN,NaN,0.1628,NaN,0.0022,0.1345,0.0670,0.9846,NaN,NaN,0.1611,0.0690,0.6250,NaN,NaN,NaN,0.1696,NaN,0.0023,0.1332,0.0645,0.9846,NaN,NaN,0.16,0.0690,0.6250,NaN,NaN,NaN,0.1657,NaN,0.0022,NaN,NaN,0.1285,Panel,No,0.0,0.0,0.0,0.0,-2000.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.390956,0.604897,0.303842,0.999446,0.899552,0.261569,0.548164,0.181702,0.543788,0.095174,0.160118,0.409045,0.452321,0.779180,0.824355,0.386307,0.812087,0.413735,0.255476,0.789900,0.485669,0.810365,0.804058,0.259619,0.113242,0.359041,0.584501,0.273965,0.085406,0.322665,0.340936,0.900358,0.533037,0.624652,0.945713,0.456945,0.869041,0.681266,0.905376,0.391322,0.062781,0.129004,0.054182,0.084110,0.619411,0.115114,0.314785,0.659989,0.864239,0.315243
4,283617,Cash loans,M,N,Y,0,112500.0,308133.0,15862.5,234000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018850,-20327,-1105,-7299.0,-494,NaN,1,1,0,1,0,0,Laborers,1.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.654882,0.560690,0.636376,0.0619,0.0553,0.9717,NaN,NaN,0.00,0.1724,0.1667,NaN,0.0866,NaN,0.0749,NaN,0.0149,0.0630,0.0574,0.9717,NaN,NaN,0.0000,0.1724,0.1667,NaN,0.0885,NaN,0.0780,NaN,0.0158,0.0625,0.0553,0.9717,NaN,NaN,0.00,0.1724,0.1667,NaN,0.0881,NaN,0.0762,NaN,0.0152,NaN,block of flats,0.0765,"Stone, brick",No,0.0,0.0,0.0,0.0,-173.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,0.551819,0.954089,0.193512,0.439986,0.379392,0.207062,0.173192,0.033075,0.122819,0.464452,0.129018,0.939042,0.316347,0.952071,0.115627,0.693830,0.519580,0.950370,0.037493,0.194599,0.467339,0.716767,0.950783,0.875115,0.840490,0.117395,0.016361,0.033624,0.460128,0.475005,0.243073,0.852999,0.517462,0.800959,0.551707,0.489455,0.307185,0.170799,0.410885,0.730939,0.730765,0.292157,0.155718,0.276252,0.666383,0.140511,0.598934,0.631357,0.412754,0.628068

### **Verificar estatísticas básicas das variáveis**

In [ ]:
abt_00.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50
count,215257.000000,215257.000000,215257.000000,2.152570e+05,2.152570e+05,215249.000000,2.150580e+05,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,73421.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215256.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,94008.000000,2.147840e+05,172420.000000,105957.000000,89273.000000,110268.000000,72118.000000,64880.000000,100536.000000,106839.000000,108075.000000,69261.000000,87450.000000,68178.000000,107173.000000,65850.000000,96369.000000,105957.000000,89273.000000,110268.000000,72118.000000,64880.000000,100536.000000,106839.000000,108075.000000,69261.000000,87450.000000,68178.000000,107173.000000,65850.000000,96369.000000,105957.000000,89273.000000,110268.000000,72118.000000,64880.000000,100536.000000,106839.000000,108075.000000,69261.000000,87450.000000,68178.000000,107173.000000,65850.000000,96369.000000,111352.000000,214553.000000,214553.000000,214553.000000,214553.000000,215256.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,186107.000000,186107.000000,186107.000000,186107.000000,186107.000000,186107.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,2.152570e+05,215257.000000,215257.000000,2.152570e+05,215257.000000,2.152570e+05,215257.000000,215257.000000,215257.000000,2.152570e+05,2.152570e+05,2.152570e+05,2.152570e+05,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,2.152570e+05,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,2.152570e+05,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000,215257.000000
mean,278236.387137,0.080889,0.416637,1.685568e+05,5.994960e+05,27119.681762,5.388269e+05,0.020869,-16033.152241,63737.365791,-4979.871219,-2991.410296,12.055679,0.999995,0.820103,0.199064,0.998044,0.280432,0.057169,2.153111,2.052519,2.031330,12.063905,0.015344,0.051097,0.040835,0.078497,0.230218,0.179051,0.502324,5.141921e-01,0.511070,0.117483,0.088567,0.977678,0.752790,0.044620,0.079288,0.149832,0.226471,0.232182,0.066406,0.100884,0.107601,0.008885,0.028432,0.114157,0.087627,0.977014,0.759946,0.042499,0.074745,0.145280,0.222460,0.228242,0.064933,0.105615,0.106061,0.008126,0.027020,0.117843,0.088059,0.977681,0.756039,0.044569,0.078392,0.149303,0.226087,0.231873,0.067219,0.101995,0.108775,0.008703,0.028240,0.102684,1.423280,0.143135,1.406305,0.099873,-961.392876,0.000028,0.709807,0.000074,0.015177,0.087881,0.000186,0.081205,0.003898,0.000019,0.003921,0.000005,0.003428,0.002922,0.001157,0.010081,0.000251,0.008060,0.000581,0.000469,0.000311,0.006416,0.006647,0.034260,0.267319,0.266030,1.899429,0.498353,0.499297,0.500554,0.498585,0.500355,0.499631,0.500257,0.500220,5.002486e-01,0.499485,0.499765,5.008823e-01,0.500310,4.996073e-01,0.501125,0.500272,0.500805,5.003699e-01,4.984068e-01,4.994679e-01,4.998563e-01,0.500335,0.500114,0.500764,0.499688,0.500286,0.498997,0.499907,0.500060,0.499810,0.499934,0.500466,0.500535,5.002453e-01,0.500267,0.499219,0.499109,0.499874,0.500117,0.499852,5.000397e-01,0.500387,0.499759,0.499714,0.500411,0.500602,0.499781,0.500618,0.499476,0.499538
std,102885.029589,0.272666,0.719695,1.058557e+05,4.028989e+05,14522.021876,3.698161e+05,0.013829,4361.858115,141210.765298,3522.665372,1508.956090,11.919714,0.002155,0.384102,0.399297,0.044181,0.449211,0.232166,0.908398,0.509422,0.502949,3.267196,0.122919,0.220196,0.197908,0.268952,0.420973,0.383396,0.210772,1.911085e-01,0.194739,0.108153,0.082452,0.060003,0.113206,0.075854,0.135023,0.099972,0.144711,0.161368,0.080947,0.092923,0.110879,0.048244,0.069778,0.107664,0.084346,0.065228,0.110073,0.074091,0.132596,0.100925,0.143757,0.161110,0.081217,0.097927,0.111928,0.046591,0.070129,0.108894,0.082163,0.060718,0.112003,0.075872,0.134888,0.100282,0.145107,0.161891,0.081833,0.093820,0.112526,0.047776,0.070241,0.107589,2.432463,0.448213,2.410989,0.363351,827.691447,0.005279,0.453852,0.008621,0.122258,0.283122,0.013631,0.273151,0.062310,0.004311,0.062494,0.002155,0.058453,0.053977,0.033992,0.099897,0.015837,0.089416,0.024091,0.021656,0.017640,0.083910,0.106599,0.205137,0.913343,0.614033,1.870725,0.289649,0.288722,0.288477,0.288629,0.288214,0.288751,0.289032,0.288373,2.885172e-01,0.288826,0.288295,2.886522e-01,0.289383,2.890785e-01,0.288362,0.288947,0.288356,2.889900e-01,2.888495e-01,2.888349e-01,2.887886e-01,0.288721,0.288890,0.288559,0.288721,0.288640,0.288963,0.288805,0.288944,0.288795,0.288433,0.288502,0.289216,2.885434e-01,0.288681,0.288957,0.288552,0.288710,0.288433,0.288508,2.886308e-01,0.288874,0.288854,0.288689,0.288678,0.288052,0.288411,0.288286,0.288685,0.288505
min,100003.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,-23416.000000,-7197.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014568,8.173617e-08,0.000527,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4292.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000001,0.000004,0.000009,0.000002,0.000002,0.000005,0.000006,0.000020,2.582816e-07,0.000006,0.000002,6.844908e-07,0.000007,5.239730e-07,0.000002,0.000003,0.000009,6.491313e-08,2.867590e-07,2.553230e-07,3.666047e-07,0.000002,0.000003,0.000002,0.000004,0.000002,0.000003,0.000004,0.000004,0.000006,0.000005,0.000006,0.000008,5.791025e-07,0.000004,0.000013,0.000004,0.000009,0.000002,0.000001,4.701627e-08,0.000002,0.000010,0.000005,0.000016,0.000004,0.000008,0.000010,0.000017,0.000006
25%,189025.000000,0.000000,0.000000,1.125000e+05,2.700000e+05,16506.000000,2.385000e+05,0.010006,-19681.000000,-2760.000000,-7478.000000,-4296.000000,5.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.334297,3.918059e-01,0.370650,0.057700,0.044200,0.976700,0.687200,0.007900,0.000000,0.069000,0.166700,0.083300,0.018700,0.050400,0.045500,0.000000,0.000000,0.052500,0.040600,0.976700,0.699400,0.007200,0.000000,0.069000,0.166700,0.083300,0.016600,0.054200,0.042900,0.000000,0.000000,0.058300,0.043600,0.976700,0.691400,0.007900,0.000000,0.069000,0.166700,0.083300,0.018700,0.051300,0.046000,0.000000,0.000000,0.041400,0.000000,0.000000,0.000000,0.000000,-1568.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.247046,0.249013,0.251251,0.249056,0.251329,0.249465,0.250214,0.250084,2.506300e-01,0.249866,0.249645,2.511500e-01,0.249401,2.492235e-01,0.252197,0.250282,0.250846,2.498896e-01,2.480497e-01,2.491922e-01,2.499243e-01,0.249962,0.249455,0.250210,0.249335,0.250712,0.248779,0.249518,0.249734,0.249090,0.250147,0.250806,0.249273,2.501817e-01,0.250297,0.248880,0.249425,0.249698,0.251055,0.250354,2.503571e-01,0.249831,0.249154,0.250009,0.250346,0.251720,0.249971,0.250336,0.248878,0.249740
50%,278215.000000,0.000000,0.000000,1.440000e+05,5.148675e+05,24903.000000,4.500000e+05,0.018850,-15749.000000,-1214.000000,-4495.000000,-3249.000000,9.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.506503,5.656122e-01,0.537070,0.087600,0.076400,0.981600,0.755200,0.021100,0.000000,0.137900,0.166700,0.208300,0.048300,0.075600,0.074500,0.000000,0.003600,0.084000,0.074700,0.981600,0.764800,0.019000,0.000000,0.137900,0.166700,0.208300,0.046000,0.077100,0.073100,0.000000,0.001100,0.086900,0.075900,0.981600,0.758500,0.020800,0.000000,0.137900,0.166700,0.208300,0.048800,0.076100,0.074900,0.000000,0.003000,0.068800,0.000000,0.000000,0.000000,0.000000,-755.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.496881,0.499016,0.500101,0.498511,0.499509,0.499403,0.499905,0.500464,5.008372e-01,0.499068,0.499799,5.017700e-01,0.500015,4.992903e-01,0.501847,0.500871,0.501685,4.991371e-01,4.978730e-01,4.996242e-01,5.000155e-01,0.500392,0.500215,0.500971,0.499629,0.500099,0.498391,0.500339,0.500806,0.500527,0.500498,0.500753,0.500809,5.009189e-01,0.501279,0.497862,0.498040,0.500070,0.499933,0.499134,4.999917e-01,0.500096,0.500020,0.500167,0.500267,0.500931,0.499138,0.502229,0.499258,0.499035
75%,367388.000000,0.000000,1.000000,2.025000e+05,8.086500e+05,34650.000000,6.795000e+05,0.028663,-12410.000000,-290.000000,-2001.000000,-1717.000000,15.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,3.000000,2.000000,2.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.675119,6.637208e-01,0.669057,0.148500,0.112300,0.986600,0.823200,0.051600,0.120000,0.206900,0.333300,0.375000,0.085700,0.121000,0.130200,0.003900,0.027700,0.143900,0.112500,0.986600,0.823600,0.048925,0.120800,0.206900,0.333300,0.375000,0.084100,0.131300,0.125300,0.003900,0.023000,0.148900,0.111700,0.986600,0.825600,0.051400,0.120000,0.206900,0.333300,0.375000,0.086900,0.123100,0.130600,0.003900,0.026600,0.128000,2.000000,0.000000,2.000000,0.000000,-272.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.750314,0.749142,0.750521,0.748161,0.750310,0.749584,0.750502,0.749184,7.488950e-01,0.749401,0.749149,7.501337e-01,0.751723,7.501344e-01,0.750517,0.750221,0.750934,7.512601e-01,7.478713e-01,7.503683e-01,7.502546e-01,0.750363,0.750943,0.750936,0.749696,0.750898,0.749259,0.750663,0.750511,0.749815,0.749992,0.750264,0.750683,7.500221e-01,0.750578,0.750021,0.748598,0.750219,0.750423,0.749094,7.496017e-01,0.750930,0.749430,0.749317,0.750656,0.750341,0.749475,0.749817,0.749368,0.748715
max,456255.000000,1.000000,19.000000,1.350000e+07,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,0.000000,0.000000,91.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,20.000000,3.000000,3.000000,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.951624,8.549997e-01,0.896010,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,348.000000,34.000000,344.000000,24.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,9.000000,8.000000,27.000000,19.000000,25.000000,0.999997,0.999999,1.000000,0.999995,0.999996,0.999995,0.999999,0.999987,9.999982e-01,1.000000,0.999995,9.999938e-01,0.999997,9.999998e-01,1.000000,0.999995,0.999999,9.999940e-01,9.999968e-01,9.999991e-01,9.999898e-01,0.999990,0.999994,1.000000,0.999999,1.000000,0.999985,0.999996,0.999993,0.999994,0.999996,0.999999,0.999998,9.999896e-01,0.999993,0.999990,0.999990,0.999998,1.000000,0.999996,9.999890e-01,0.999994,0.999988,0.999998,0.999997,0.999981,0.999997,0.999994,0.999975,0.999997

## **Preparação dos Dados**
- Gerar Metadados da ABT (Tabela Analítica de Modelagem)
- Tratamento de missing (nulos)
- Tratamento de categóricas de alta cardinalidade (LabelEncoder)
- Tratamento de categóricas de baixa cardinalidade (OneHotEncoder)
- Aplicar normalização a toda tabela de modelagem (ABT)
- Gerar artefatos para implantação do data prep realizado

### **Separando dados para garantir validação cruzada Holdout 70/30**

In [ ]:
# Suponha que você queira separar 70% dos dados para treino e 30% para validação
abt_treino, abt_teste = train_test_split(abt_00, test_size=0.3, random_state=42)
abt_treino.shape,abt_teste.shape

((150679, 172), (64578, 172))

In [ ]:
abt_treino.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50
45499,102669,0,Cash loans,F,N,Y,0,157500.0,709033.5,39721.5,657000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.024610,-11687,-1430,-1443.0,-4141,NaN,1,1,0,1,0,0,Sales staff,1.0,2,2,FRIDAY,10,0,0,0,0,0,0,Business Entity Type 3,NaN,0.246830,0.413597,0.0619,0.0559,0.9821,NaN,NaN,0.00,0.1379,0.1667,NaN,0.0125,NaN,0.0608,NaN,0.0614,0.0630,0.0580,0.9821,NaN,NaN,0.0000,0.1379,0.1667,NaN,0.0128,NaN,0.0633,NaN,0.0651,0.0625,0.0559,0.9821,NaN,NaN,0.00,0.1379,0.1667,NaN,0.0127,NaN,0.0619,NaN,0.0627,NaN,block of flats,0.0612,"Stone, brick",No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0.623251,0.538599,0.545589,0.583404,0.798990,0.263193,0.841677,0.021447,0.304555,0.588261,0.688669,0.210169,0.054338,0.790777,0.763634,0.790980,0.576544,0.748658,0.400948,0.696015,0.705815,0.924598,0.718842,0.412503,0.010390,0.619381,0.954915,0.253974,0.336066,0.995809,0.709630,0.115768,0.247564,0.164696,0.382646,0.221486,0.724027,0.799399,0.615608,0.008782,0.614907,0.182116,0.283521,0.716671,0.041032,0.432577,0.302302,0.812673,0.622103,0.290383
74186,202196,1,Cash loans,F,N,Y,1,189000.0,640080.0,31261.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.046220,-12453,-158,-1596.0,-1580,NaN,1,1,0,1,0,0,Laborers,3.0,1,1,THURSDAY,11,0,1,1,0,0,0,Business Entity Type 2,0.495899,0.452236,0.276441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-414.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.271789,0.450667,0.915251,0.609587,0.156781,0.990234,0.922602,0.846543,0.534668,0.665733,0.491554,0.616078,0.714990,0.670361,0.120311,0.551883,0.201516,0.012140,0.026045,0.928996,0.889396,0.660983,0.508232,0.946107,0.420490,0.347951,0.866346,0.916568,0.797150,0.656244,0.061100,0.440124,0.141237,0.372216,0.501584,0.716653,0.252760,0.085425,0.769355,0.550976,0.855122,0.907023,0.555958,0.114399,0.959646,0.551736,0.793345,0.769783,0.029523,0.605118
65253,272854,0,Cash loans,F,N,N,1,121500.0,104256.0,8194.5,90000.0,Unaccompanied,Working,Higher education,Single / not married,Rented apartment,0.035792,-9859,-392,-828.0,-2511,NaN,1,1,1,1,0,0,Sales staff,2.0,2,2,SATURDAY,12,0,0,0,0,0,0,Self-employed,0.352115,0.135407,0.656158,0.0330,0.0108,0.9737,0.6396,0.0171,0.00,0.0690,0.1250,0.1667,0.0611,0.0269,0.0295,0.0000,0.0000,0.0336,0.0112,0.9737,0.6537,0.0173,0.0000,0.0690,0.1250,0.1667,0.0625,0.0294,0.0307,0.0000,0.0000,0.0333,0.0108,0.9737,0.6444,0.0172,0.00,0.0690,0.1250,0.1667,0.0622,0.0274,0.0300,0.0000,0.0000,reg oper account,block of flats,0.0325,"Stone, brick",No,0.0,0.0,0.0,0.0,-1.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0,0.089877,0.447568,0.131639,0.064082,0.435259,0.689218,0.745716,0.863553,0.579129,0.538519,0.941202,0.761630,0.503093,0.587689,0.537260,0.484700,0.679185,0.281975,0.399896,0.521913,0.274328,0.502114,0.701955,0.538385,0.077082,0.257142,0.573929,0.079377,0.480612,0.971505,0.890001,0.381080,0.828747,0.598202,0.583725,0.371399,0.883350,0.249075,0.651910,0.039176,0.837285,0.401049,0.896599,0.775044,0.372050,0.355883,0.259412,0.282194,0.438214,0.348245
60400,207628,0,Cash loans,F,N,N,0,112500.0,755190.0,36328.5,675000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.010032,-9233,-878,-333.0,-522,NaN,1,1,1,1,0,0,Core staff,2.0,2,2,FRIDAY,11,0,1,1,0,1,1,School,0.398403,0.372591,NaN,0.0742,0.0468,0.9826,0.7620,0.0147,0.08,0.0690,0.3333,0.0417,0.0769,0.0605,0.0789,0.0077,0.0371,0.0756,0.0486,0.9826,0.7713,0.0149,0.0806,0.0690,0.3333,0.0417,0.0786,0.0661,0.0822,0.0078,0.0392,0.0749,0.0468,0.9826,0.7652,0.0148,0.08,0.0690,0.3333,0.0417,0.0782,0.0616,0.0803,0.0078,0.0378,org spec account,block of flats,0.0883,"Stone, brick",No,0.0,0.0,0.0,0.0,-292.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.506338,0.355571,0.332951,0.663856,0.123350,0.321629,0.188188,0.558208,0.636772,0.396435,0.105420,0.624019,0.960336,0.061083,0.717732,0.341678,0.135631,0.166267,0.464307,0.710085,0.193339,0.289841,0.160412,0.610231,0.666622,0.467409,0.485829,0.228924,0.347892,0.154565,0.367409,0.872489,0.344479,0.080144,0.673778,0.683198,0.395718,0.041105,0.500510,0.430966,0.046936,0.164097,0.416916,0.498222,0.366917,0.326498,0.383481,0.743987,0.612620,0.627862
71140,244369,1,Cash loans,F,N,N,1,193500.0,521280.0,25209.0,450000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,House / apartment,0.020246,-15201,-2196,-2848.0,-3779,NaN,1,1,1,1,0,0,Core staff,2.0,3,3,SUNDAY,11,0,0,0,0,0,0,Self-employed,0.244596,0.317423,0.634706,0.0660,0.0591,0.9851,0.7960,0.0196,0.00,0.0690,0.1250,0.0417,0.0095,0.0521,0.0218,0.0077,0.0493,0.0672,0.0613,0.9851,0.8040,0.0198,0.0000,0.0690,0.1250,0.0417,0.0097,0.0569,0.0227,0.0078,0.0522,0.0666,0.0591,0.9851,0.7987,0.0197,0.00,0.0690,0.1250,0.0417,0.0096,0.0530,0.0221,0.0078,0.0504,reg oper account,specific housing,0.0278,Mixed,No,0.0,0.0,0.0,0.0,-792.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.839271,0.927509,0.334800,0.393198,0.265743,0.162118,0.245030,0.719947,0.551477,0.279833,0.921964,0.023290,0.202615,0.745080,0.464906,0.566765,0.728211,0.719937,0.782813,0.679615,0.701390,0.428348,0.481115,0.221077,0.977722,0.671127,0.254047,0.880408,0.336782,0.838923,0.366654,0.653585,0.619040,0.779318,0.972787,0.684157,0.943597,0.159651,0.793458,0.705570,0.245522,0.720827,0.837383,0.520593,0.111493,0.763497,0.666572,0.421767,0.714451,0.916040

In [ ]:
abt_treino['TARGET'].describe()

count    150679.000000
mean          0.080575
std           0.272183
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: TARGET, dtype: float64

In [ ]:
abt_teste['TARGET'].describe()

count    64578.000000
mean         0.081622
std          0.273790
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: TARGET, dtype: float64

In [ ]:
def pod_academy_generate_metadata(df, ids, targets, orderby = 'PC_NULOS'):
    import pandas as pd
    """
    Esta função retorna uma tabela com informações descritivas sobre um DataFrame.

    Parâmetros:
    - df: DataFrame que você quer descrever.
    - ids: Lista de colunas que são identificadores.
    - targets: Lista de colunas que são variáveis alvo.

    Retorna:
    Um DataFrame com informações sobre o df original.
    """

    summary = pd.DataFrame({
        'USO_FEATURE': ['ID' if col in ids else 'Target' if col in targets else 'Explicativa' for col in df.columns],
        'QT_NULOS': df.isnull().sum(),
        'PC_NULOS': round((df.isnull().sum() / len(df))* 100,2),
        'CARDINALIDADE': df.nunique(),
        'TIPO_FEATURE': df.dtypes
    })

    summary_sorted = summary.sort_values(by=orderby, ascending=False)
    summary_sorted = summary_sorted.reset_index()
    # Renomeando a coluna 'index' para 'FEATURES'
    summary_sorted = summary_sorted.rename(columns={'index': 'FEATURE'})
    return summary_sorted

In [ ]:
metadados = pod_academy_generate_metadata(abt_treino,
                                          ids=['SK_ID_CURR'],
                                          targets=['TARGET'],
                                          orderby = 'PC_NULOS')

metadados

,FEATURE,USO_FEATURE,QT_NULOS,PC_NULOS,CARDINALIDADE,TIPO_FEATURE
0,COMMONAREA_MODE,Explicativa,105323,69.90,2681,float64
1,COMMONAREA_AVG,Explicativa,105323,69.90,2721,float64
2,COMMONAREA_MEDI,Explicativa,105323,69.90,2741,float64
3,NONLIVINGAPARTMENTS_AVG,Explicativa,104662,69.46,321,float64
4,NONLIVINGAPARTMENTS_MEDI,Explicativa,104662,69.46,178,float64
5,NONLIVINGAPARTMENTS_MODE,Explicativa,104662,69.46,140,float64
6,FONDKAPREMONT_MODE,Explicativa,103135,68.45,4,object
7,LIVINGAPARTMENTS_MODE,Explicativa,103035,68.38,686,float64
8,LIVINGAPARTMENTS_AVG,Explicativa,103035,68.38,1631,float64
9,LIVINGAPARTMENTS_MEDI,Explicativa,103035,68.38,1013,float64
10,FLOORSMIN_MEDI,Explicativa,102296,67.89,47,float64
11,FLOORSMIN_MODE,Explicativa,102296,67.89,25,float64
12,FLOORSMIN_AVG,Explicativa,102296,67.89,257,float64
13,YEARS_BUILD_MEDI,Explicativa,100319,66.58,144,float64
14,YEARS_BUILD_AVG,Explicativa,100319,66.58,143,float64
15,YEARS_BUILD_MODE,Explicativa,100319,66.58,147,float64
16,OWN_CAR_AGE,Explicativa,99165,65.81,57,float64
17,LANDAREA_AVG,Explicativa,89529,59.42,3189,float64
18,LANDAREA_MODE,Explicativa,89529,59.42,3209,float64
19,LANDAREA_MEDI,Explicativa,89529,59.42,3218,float64
20,BASEMENTAREA_MODE,Explicativa,88290,58.59,3489,float64
21,BASEMENTAREA_MEDI,Explicativa,88290,58.59,3427,float64
22,BASEMENTAREA_AVG,Explicativa,88290,58.59,3438,float64
23,EXT_SOURCE_1,Explicativa,84849,56.31,60796,float64
24,NONLIVINGAREA_MODE,Explicativa,83372,55.33,2833,float64
25,NONLIVINGAREA_MEDI,Explicativa,83372,55.33,2833,float64
26,NONLIVINGAREA_AVG,Explicativa,83372,55.33,2805,float64
27,ELEVATORS_AVG,Explicativa,80335,53.32,231,float64
28,ELEVATORS_MODE,Explicativa,80335,53.32,26,float64
29,ELEVATORS_MEDI,Explicativa,80335,53.32,46,float64
30,WALLSMATERIAL_MODE,Explicativa,76701,50.90,7,object
31,APARTMENTS_AVG,Explicativa,76604,50.84,2049,float64
32,APARTMENTS_MODE,Explicativa,76604,50.84,716,float64
33,APARTMENTS_MEDI,Explicativa,76604,50.84,1073,float64
34,ENTRANCES_AVG,Explicativa,75957,50.41,250,float64
35,ENTRANCES_MEDI,Explicativa,75957,50.41,45,float64
36,ENTRANCES_MODE,Explicativa,75957,50.41,30,float64
37,LIVINGAREA_MEDI,Explicativa,75738,50.26,4791,float64
38,LIVINGAREA_MODE,Explicativa,75738,50.26,4776,float64
39,LIVINGAREA_AVG,Explicativa,75738,50.26,4737,float64
40,HOUSETYPE_MODE,Explicativa,75720,50.25,3,object
41,FLOORSMAX_AVG,Explicativa,75071,49.82,335,float64
42,FLOORSMAX_MEDI,Explicativa,75071,49.82,48,float64
43,FLOORSMAX_MODE,Explicativa,75071,49.82,25,float64
44,YEARS_BEGINEXPLUATATION_AVG,Explicativa,73557,48.82,238,float64
45,YEARS_BEGINEXPLUATATION_MEDI,Explicativa,73557,48.82,215,float64
46,YEARS_BEGINEXPLUATATION_MODE,Explicativa,73557,48.82,195,float64
47,TOTALAREA_MODE,Explicativa,72802,48.32,4643,float64
48,EMERGENCYSTATE_MODE,Explicativa,71498,47.45,2,object
49,OCCUPATION_TYPE,Explicativa,47132,31.28,18,object
50,EXT_SOURCE_3,Explicativa,29777,19.76,786,float64
51,AMT_REQ_CREDIT_BUREAU_YEAR,Explicativa,20264,13.45,22,float64
52,AMT_REQ_CREDIT_BUREAU_QRT,Explicativa,20264,13.45,10,float64
53,AMT_REQ_CREDIT_BUREAU_MON,Explicativa,20264,13.45,21,float64
54,AMT_REQ_CREDIT_BUREAU_WEEK,Explicativa,20264,13.45,9,float64
55,AMT_REQ_CREDIT_BUREAU_DAY,Explicativa,20264,13.45,8,float64
56,AMT_REQ_CREDIT_BUREAU_HOUR,Explicativa,20264,13.45,4,float64
57,NAME_TYPE_SUITE,Explicativa,636,0.42,7,object
58,OBS_30_CNT_SOCIAL_CIRCLE,Explicativa,494,0.33,32,float64
59,DEF_30_CNT_SOCIAL_CIRCLE,Explicativa,494,0.33,9,float64
60,OBS_60_CNT_SOCIAL_CIRCLE,Explicativa,494,0.33,31,float64
61,DEF_60_CNT_SOCIAL_CIRCLE,Explicativa,494,0.33,9,float64
62,EXT_SOURCE_2,Explicativa,319,0.21,84605,float64
63,AMT_GOODS_PRICE,Explicativa,135,0.09,719,float64
64,FLAG_DOCUMENT_21,Explicativa,0,0.00,2,int64
65,var_8,Explicativa,0,0.00,150679,float64
66,var_20,Explicativa,0,0.00,150679,float64
67,var_21,Explicativa,0,0.00,150679,float64
68,var_13,Explicativa,0,0.00,150679,float64
69,var_12,Explicativa,0,0.00,150679,float64
70,var_11,Explicativa,0,0.00,150679,float64
71,var_10,Explicativa,0,0.00,150679,float64
72,var_9,Explicativa,0,0.00,150679,float64
73,var_7,Explicativa,0,0.00,150679,float64
74,var_18,Explicativa,0,0.00,150679,float64
75,var_6,Explicativa,0,0.00,150679,float64
76,var_5,Explicativa,0,0.00,150679,float64
77,var_4,Explicativa,0,0.00,150679,float64
78,var_3,Explicativa,0,0.00,150679,float64
79,var_2,Explicativa,0,0.00,150679,float64
80,var_1,Explicativa,0,0.00,150679,float64
81,var_22,Explicativa,0,0.00,150679,float64
82,var_23,Explicativa,0,0.00,150679,float64
83,var_24,Explicativa,0,0.00,150679,float64
84,var_25,Explicativa,0,0.00,150679,float64
85,var_26,Explicativa,0,0.00,150679,float64
86,var_19,Explicativa,0,0.00,150679,float64
87,var_14,Explicativa,0,0.00,150679,float64
88,var_36,Explicativa,0,0.00,150679,float64
89,var_49,Explicativa,0,0.00,150679,float64
90,var_35,Explicativa,0,0.00,150679,float64
91,var_37,Explicativa,0,0.00,150679,float64
92,var_38,Explicativa,0,0.00,150679,float64
93,var_34,Explicativa,0,0.00,150679,float64
94,var_33,Explicativa,0,0.00,150679,float64
95,var_32,Explicativa,0,0.00,150679,float64
96,var_39,Explicativa,0,0.00,150679,float64
97,var_40,Explicativa,0,0.00,150679,float64
98,var_41,Explicativa,0,0.00,150679,float64
99,var_31,Explicativa,0,0.00,150679,float64
100,var_30,Explicativa,0,0.00,150679,float64
101,var_29,Explicativa,0,0.00,150679,float64
102,var_42,Explicativa,0,0.00,150679,float64
103,var_43,Explicativa,0,0.00,150679,float64
104,var_44,Explicativa,0,0.00,150679,float64
105,var_28,Explicativa,0,0.00,150679,float64
106,var_15,Explicativa,0,0.00,150679,float64
107,var_16,Explicativa,0,0.00,150679,float64
108,var_45,Explicativa,0,0.00,150679,float64
109,var_46,Explicativa,0,0.00,150679,float64
110,var_47,Explicativa,0,0.00,150679,float64
111,var_17,Explicativa,0,0.00,150679,float64
112,var_48,Explicativa,0,0.00,150679,float64
113,var_27,Explicativa,0,0.00,150679,float64
114,SK_ID_CURR,ID,0,0.00,150679,int64
115,FLAG_DOCUMENT_20,Explicativa,0,0.00,2,int64
116,WEEKDAY_APPR_PROCESS_START,Explicativa,0,0.00,7,object
117,REGION_RATING_CLIENT,Explicativa,0,0.00,3,int64
118,CNT_FAM_MEMBERS,Explicativa,0,0.00,16,float64
119,FLAG_EMAIL,Explicativa,0,0.00,2,int64
120,FLAG_PHONE,Explicativa,0,0.00,2,int64
121,FLAG_CONT_MOBILE,Explicativa,0,0.00,2,int64
122,FLAG_WORK_PHONE,Explicativa,0,0.00,2,int64
123,FLAG_EMP_PHONE,Explicativa,0,0.00,2,int64
124,FLAG_MOBIL,Explicativa,0,0.00,2,int64
125,DAYS_ID_PUBLISH,Explicativa,0,0.00,6051,int64
126,DAYS_REGISTRATION,Explicativa,0,0.00,14710,float64
127,DAYS_EMPLOYED,Explicativa,0,0.00,10912,int64
128,DAYS_BIRTH,Explicativa,0,0.00,17249,int64
129,REGION_POPULATION_RELATIVE,Explicativa,0,0.00,81,float64
130,NAME_HOUSING_TYPE,Explicativa,0,0.00,6,object
131,NAME_FAMILY_STATUS,Explicativa,0,0.00,5,object
132,NAME_EDUCATION_TYPE,Explicativa,0,0.00,5,object
133,NAME_INCOME_TYPE,Explicativa,0,0.00,8,object
134,AMT_ANNUITY,Explicativa,5,0.00,11935,float64
135,AMT_CREDIT,Explicativa,0,0.00,4625,float64
136,AMT_INCOME_TOTAL,Explicativa,0,0.00,1558,float64
137,CNT_CHILDREN,Explicativa,0,0.00,14,int64
138,FLAG_OWN_REALTY,Explicativa,0,0.00,2,object
139,FLAG_OWN_CAR,Explicativa,0,0.00,2,object
140,CODE_GENDER,Explicativa,0,0.00,3,object
141,NAME_CONTRACT_TYPE,Explicativa,0,0.00,2,object
142,REGION_RATING_CLIENT_W_CITY,Explicativa,0,0.00,3,int64
143,HOUR_APPR_PROCESS_START,Explicativa,0,0.00,24,int64
144,FLAG_DOCUMENT_19,Explicativa,0,0.00,2,int64
145,REG_REGION_NOT_LIVE_REGION,Explicativa,0,0.00,2,int64
146,FLAG_DOCUMENT_18,Explicativa,0,0.00,2,int64
147,FLAG_DOCUMENT_17,Explicativa,0,0.00,2,int64
148,FLAG_DOCUMENT_16,Explicativa,0,0.00,2,int64
149,FLAG_DOCUMENT_15,Explicativa,0,0.00,2,int64
150,FLAG_DOCUMENT_14,Explicativa,0,0.00,2,int64
151,FLAG_DOCUMENT_13,Explicativa,0,0.00,2,int64
152,FLAG_DOCUMENT_12,Explicativa,0,0.00,2,int64
153,FLAG_DOCUMENT_11,Explicativa,0,0.00,2,int64
154,FLAG_DOCUMENT_10,Explicativa,0,0.00,2,int64
155,FLAG_DOCUMENT_9,Explicativa,0,0.00,2,int64
156,FLAG_DOCUMENT_8,Explicativa,0,0.00,2,int64
157,FLAG_DOCUMENT_7,Explicativa,0,0.00,2,int64
158,FLAG_DOCUMENT_6,Explicativa,0,0.00,2,int64
159,FLAG_DOCUMENT_5,Explicativa,0,0.00,2,int64
160,FLAG_DOCUMENT_4,Explicativa,0,0.00,2,int64
161,FLAG_DOCUMENT_3,Explicativa,0,0.00,2,int64
162,FLAG_DOCUMENT_2,Explicativa,0,0.00,2,int64
163,DAYS_LAST_PHONE_CHANGE,Explicativa,1,0.00,3644,float64
164,TARGET,Target,0,0.00,2,int64
165,ORGANIZATION_TYPE,Explicativa,0,0.00,58,object
166,LIVE_CITY_NOT_WORK_CITY,Explicativa,0,0.00,2,int64
167,REG_CITY_NOT_WORK_CITY,Explicativa,0,0.00,2,int64
168,REG_CITY_NOT_LIVE_CITY,Explicativa,0,0.00,2,int64
169,LIVE_REGION_NOT_WORK_REGION,Explicativa,0,0.00,2,int64
170,REG_REGION_NOT_WORK_REGION,Explicativa,0,0.00,2,int64
171,var_50,Explicativa,0,0.00,150679,float64

### **Excluindo variáveis com mais que 68% de nulos**

In [ ]:
missing_cutoff = 68

drop_vars_nulos = metadados[(metadados['PC_NULOS'] >= missing_cutoff)]
lista_drop_vars = list(drop_vars_nulos.FEATURE.values)

print('Variáveis que serão excluídas por alto percentual de nulos: ',lista_drop_vars)
# retirando lista de variáveis com alto percentual de nulos
abt_treino_01 = abt_treino.drop(axis=1,columns=lista_drop_vars)
abt_treino_01.shape

Variáveis que serão excluídas por alto percentual de nulos:  ['COMMONAREA_MODE', 'COMMONAREA_AVG', 'COMMONAREA_MEDI', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAPARTMENTS_MODE', 'FONDKAPREMONT_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAPARTMENTS_AVG', 'LIVINGAPARTMENTS_MEDI']

(150679, 162)

In [ ]:
# Salvar a lista em um arquivo .pkl
with open('/content/drive/MyDrive/2. Study  Work/Pod Academy/Hackathon - Ciência de Dados/Códigos e artefatos/00 - Modelagem/10 - Modelo Regressão Logística/01 - Data Prep/prd_drop_nullvars.pkl', 'wb') as f:
    pickle.dump(lista_drop_vars, f)

In [ ]:
with open('/content/drive/MyDrive/2. Study  Work/Pod Academy/Hackathon - Ciência de Dados/Códigos e artefatos/00 - Modelagem/10 - Modelo Regressão Logística/01 - Data Prep/prd_drop_nullvars.pkl', 'rb') as f:
  loaded_drop_nullvar = pickle.load(f)
loaded_drop_nullvar

['COMMONAREA_MODE',
 'COMMONAREA_AVG',
 'COMMONAREA_MEDI',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAPARTMENTS_MODE',
 'FONDKAPREMONT_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAPARTMENTS_MEDI']

In [ ]:
abt_test_01 = abt_teste.drop(loaded_drop_nullvar, axis=1)
abt_test_01.shape

(64578, 162)

In [ ]:
# Retirar SK_ID_CURR e TARGET do tratamento de nulos

abt_treino_02 = abt_treino_01.drop(axis=1, columns=['SK_ID_CURR', 'TARGET'])
abt_treino_02.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50
45499,Cash loans,F,N,Y,0,157500.0,709033.5,39721.5,657000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.024610,-11687,-1430,-1443.0,-4141,NaN,1,1,0,1,0,0,Sales staff,1.0,2,2,FRIDAY,10,0,0,0,0,0,0,Business Entity Type 3,NaN,0.246830,0.413597,0.0619,0.0559,0.9821,NaN,0.00,0.1379,0.1667,NaN,0.0125,0.0608,0.0614,0.0630,0.0580,0.9821,NaN,0.0000,0.1379,0.1667,NaN,0.0128,0.0633,0.0651,0.0625,0.0559,0.9821,NaN,0.00,0.1379,0.1667,NaN,0.0127,0.0619,0.0627,block of flats,0.0612,"Stone, brick",No,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0,0.623251,0.538599,0.545589,0.583404,0.798990,0.263193,0.841677,0.021447,0.304555,0.588261,0.688669,0.210169,0.054338,0.790777,0.763634,0.790980,0.576544,0.748658,0.400948,0.696015,0.705815,0.924598,0.718842,0.412503,0.010390,0.619381,0.954915,0.253974,0.336066,0.995809,0.709630,0.115768,0.247564,0.164696,0.382646,0.221486,0.724027,0.799399,0.615608,0.008782,0.614907,0.182116,0.283521,0.716671,0.041032,0.432577,0.302302,0.812673,0.622103,0.290383
74186,Cash loans,F,N,Y,1,189000.0,640080.0,31261.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.046220,-12453,-158,-1596.0,-1580,NaN,1,1,0,1,0,0,Laborers,3.0,1,1,THURSDAY,11,0,1,1,0,0,0,Business Entity Type 2,0.495899,0.452236,0.276441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-414.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.271789,0.450667,0.915251,0.609587,0.156781,0.990234,0.922602,0.846543,0.534668,0.665733,0.491554,0.616078,0.714990,0.670361,0.120311,0.551883,0.201516,0.012140,0.026045,0.928996,0.889396,0.660983,0.508232,0.946107,0.420490,0.347951,0.866346,0.916568,0.797150,0.656244,0.061100,0.440124,0.141237,0.372216,0.501584,0.716653,0.252760,0.085425,0.769355,0.550976,0.855122,0.907023,0.555958,0.114399,0.959646,0.551736,0.793345,0.769783,0.029523,0.605118
65253,Cash loans,F,N,N,1,121500.0,104256.0,8194.5,90000.0,Unaccompanied,Working,Higher education,Single / not married,Rented apartment,0.035792,-9859,-392,-828.0,-2511,NaN,1,1,1,1,0,0,Sales staff,2.0,2,2,SATURDAY,12,0,0,0,0,0,0,Self-employed,0.352115,0.135407,0.656158,0.0330,0.0108,0.9737,0.6396,0.00,0.0690,0.1250,0.1667,0.0611,0.0295,0.0000,0.0336,0.0112,0.9737,0.6537,0.0000,0.0690,0.1250,0.1667,0.0625,0.0307,0.0000,0.0333,0.0108,0.9737,0.6444,0.00,0.0690,0.1250,0.1667,0.0622,0.0300,0.0000,block of flats,0.0325,"Stone, brick",No,0.0,0.0,0.0,0.0,-1.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0,0.089877,0.447568,0.131639,0.064082,0.435259,0.689218,0.745716,0.863553,0.579129,0.538519,0.941202,0.761630,0.503093,0.587689,0.537260,0.484700,0.679185,0.281975,0.399896,0.521913,0.274328,0.502114,0.701955,0.538385,0.077082,0.257142,0.573929,0.079377,0.480612,0.971505,0.890001,0.381080,0.828747,0.598202,0.583725,0.371399,0.883350,0.249075,0.651910,0.039176,0.837285,0.401049,0.896599,0.775044,0.372050,0.355883,0.259412,0.282194,0.438214,0.348245
60400,Cash loans,F,N,N,0,112500.0,755190.0,36328.5,675000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.010032,-9233,-878,-333.0,-522,NaN,1,1,1,1,0,0,Core staff,2.0,2,2,FRIDAY,11,0,1,1,0,1,1,School,0.398403,0.372591,NaN,0.0742,0.0468,0.9826,0.7620,0.08,0.0690,0.3333,0.0417,0.0769,0.0789,0.0371,0.0756,0.0486,0.9826,0.7713,0.0806,0.0690,0.3333,0.0417,0.0786,0.0822,0.0392,0.0749,0.0468,0.9826,0.7652,0.08,0.0690,0.3333,0.0417,0.0782,0.0803,0.0378,block of flats,0.0883,"Stone, brick",No,0.0,0.0,0.0,0.0,-292.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.506338,0.355571,0.332951,0.663856,0.123350,0.321629,0.188188,0.558208,0.636772,0.396435,0.105420,0.624019,0.960336,0.061083,0.717732,0.341678,0.135631,0.166267,0.464307,0.710085,0.193339,0.289841,0.160412,0.610231,0.666622,0.467409,0.485829,0.228924,0.347892,0.154565,0.367409,0.872489,0.344479,0.080144,0.673778,0.683198,0.395718,0.041105,0.500510,0.430966,0.046936,0.164097,0.416916,0.498222,0.366917,0.326498,0.383481,0.743987,0.612620,0.627862
71140,Cash loans,F,N,N,1,193500.0,521280.0,25209.0,450000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,House / apartment,0.020246,-15201,-2196,-2848.0,-3779,NaN,1,1,1,1,0,0,Core staff,2.0,3,3,SUNDAY,11,0,0,0,0,0,0,Self-employed,0.244596,0.317423,0.634706,0.0660,0.0591,0.9851,0.7960,0.00,0.0690,0.1250,0.0417,0.0095,0.0218,0.0493,0.0672,0.0613,0.9851,0.8040,0.0000,0.0690,0.1250,0.0417,0.0097,0.0227,0.0522,0.0666,0.0591,0.9851,0.7987,0.00,0.0690,0.1250,0.0417,0.0096,0.0221,0.0504,specific housing,0.0278,Mixed,No,0.0,0.0,0.0,0.0,-792.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.839271,0.927509,0.334800,0.393198,0.265743,0.162118,0.245030,0.719947,0.551477,0.279833,0.921964,0.023290,0.202615,0.745080,0.464906,0.566765,0.728211,0.719937,0.782813,0.679615,0.701390,0.428348,0.481115,0.221077,0.977722,0.671127,0.254047,0.880408,0.336782,0.838923,0.366654,0.653585,0.619040,0.779318,0.972787,0.684157,0.943597,0.159651,0.793458,0.705570,0.245522,0.720827,0.837383,0.520593,0.111493,0.763497,0.666572,0.421767,0.714451,0.916040

### **Substituindo os nulos**
- Pela média para variáveis numéricas
- Por 'MISS_VERIFICAR" para categóricas

In [ ]:
def pod_custom_fillna(df):
    import pandas as pd

    import numpy as np
    # Substituindo -1 por nulos
    # Esta função serve para este modelo ou caso específico, porque pode ser que em outras situações o missing não venha marcado com -1

    df.replace(-1, np.nan, inplace=True)
    numerical_cols = df.select_dtypes(include=['float64', 'float32', 'int64', 'int32']).columns
    means = {}

    for col in numerical_cols:
        means[col] = df[col].mean()
        df[col].fillna(means[col], inplace=True)

    categorical_cols = df.select_dtypes(include=['object']).columns
    df[categorical_cols] = df[categorical_cols].fillna('MISS_VERIFICAR')

    return df, means

In [ ]:
abt_treino_03, means = pod_custom_fillna(abt_treino_02)

with open('/content/drive/MyDrive/2. Study  Work/Pod Academy/Hackathon - Ciência de Dados/Códigos e artefatos/00 - Modelagem/10 - Modelo Regressão Logística/01 - Data Prep/prd_fillna.pkl', 'wb') as f:
  pickle.dump(means, f)

In [ ]:
with open('/content/drive/MyDrive/2. Study  Work/Pod Academy/Hackathon - Ciência de Dados/Códigos e artefatos/00 - Modelagem/10 - Modelo Regressão Logística/01 - Data Prep/prd_fillna.pkl', 'rb') as f:
  loaded_means = pickle.load(f)
loaded_means

{'CNT_CHILDREN': 0.4162092926021542,
 'AMT_INCOME_TOTAL': 168699.04549346626,
 'AMT_CREDIT': 599845.5172917261,
 'AMT_ANNUITY': 27149.62152063395,
 'AMT_GOODS_PRICE': 539122.5637288766,
 'REGION_POPULATION_RELATIVE': 0.020843482310076378,
 'DAYS_BIRTH': -16035.914852102815,
 'DAYS_EMPLOYED': 63599.31629036754,
 'DAYS_REGISTRATION': -4976.067520465273,
 'DAYS_ID_PUBLISH': -2991.8822818756307,
 'OWN_CAR_AGE': 12.035873743060138,
 'FLAG_MOBIL': 0.9999933633751219,
 'FLAG_EMP_PHONE': 0.8204792970486929,
 'FLAG_WORK_PHONE': 0.19891292084497508,
 'FLAG_CONT_MOBILE': 0.9981550182839015,
 'FLAG_PHONE': 0.2809283310879419,
 'FLAG_EMAIL': 0.05709488382588151,
 'CNT_FAM_MEMBERS': 2.153631229302026,
 'REGION_RATING_CLIENT': 2.0532987343956357,
 'REGION_RATING_CLIENT_W_CITY': 2.0322141771580644,
 'HOUR_APPR_PROCESS_START': 12.05614584646832,
 'REG_REGION_NOT_LIVE_REGION': 0.01548988246537341,
 'REG_REGION_NOT_WORK_REGION': 0.05142720618002509,
 'LIVE_REGION_NOT_WORK_REGION': 0.04101434174636147,
 'REG_CITY_NOT_LIVE_CITY': 0.07842499618394069,
 'REG_CITY_NOT_WORK_CITY': 0.23066917088645397,
 'LIVE_CITY_NOT_WORK_CITY': 0.17929505770545331,
 'EXT_SOURCE_1': 0.5031859956528094,
 'EXT_SOURCE_2': 0.5145058417827371,
 'EXT_SOURCE_3': 0.510793838732432,
 'APARTMENTS_AVG': 0.11745182720215999,
 'BASEMENTAREA_AVG': 0.08862181314013688,
 'YEARS_BEGINEXPLUATATION_AVG': 0.9775837776509942,
 'YEARS_BUILD_AVG': 0.7525410325655283,
 'ELEVATORS_AVG': 0.07933155350847264,
 'ENTRANCES_AVG': 0.14969888118626376,
 'FLOORSMAX_AVG': 0.2261280975558142,
 'FLOORSMIN_AVG': 0.23166274311225016,
 'LANDAREA_AVG': 0.06645004251839737,
 'LIVINGAREA_AVG': 0.10748022711199477,
 'NONLIVINGAREA_AVG': 0.028449006789784126,
 'APARTMENTS_MODE': 0.1141147040161998,
 'BASEMENTAREA_MODE': 0.08769584542146852,
 'YEARS_BEGINEXPLUATATION_MODE': 0.9769181439796681,
 'YEARS_BUILD_MODE': 0.7596546088165209,
 'ELEVATORS_MODE': 0.07477473558512453,
 'ENTRANCES_MODE': 0.1451442386445759,
 'FLOORSMAX_MODE': 0.2221441897682785,
 'FLOORSMIN_MODE': 0.22772945662732777,
 'LANDAREA_MODE': 0.06499453638593622,
 'LIVINGAREA_MODE': 0.10595249729787433,
 'NONLIVINGAREA_MODE': 0.02704224226306327,
 'APARTMENTS_MEDI': 0.1178201174485319,
 'BASEMENTAREA_MEDI': 0.08813050537755053,
 'YEARS_BEGINEXPLUATATION_MEDI': 0.977563354166126,
 'YEARS_BUILD_MEDI': 0.7557931910246228,
 'ELEVATORS_MEDI': 0.07843426589332425,
 'ENTRANCES_MEDI': 0.14919804073766763,
 'FLOORSMAX_MEDI': 0.22576540180933236,
 'FLOORSMIN_MEDI': 0.23134518942603807,
 'LANDAREA_MEDI': 0.06731461488143908,
 'LIVINGAREA_MEDI': 0.10867976007792798,
 'NONLIVINGAREA_MEDI': 0.02824043264445006,
 'TOTALAREA_MODE': 0.10255863220206221,
 'OBS_30_CNT_SOCIAL_CIRCLE': 1.419609148716583,
 'DEF_30_CNT_SOCIAL_CIRCLE': 0.1430236042214602,
 'OBS_60_CNT_SOCIAL_CIRCLE': 1.402563505010487,
 'DEF_60_CNT_SOCIAL_CIRCLE': 0.09983686786296901,
 'DAYS_LAST_PHONE_CHANGE': -970.9500562897043,
 'FLAG_DOCUMENT_2': 1.3273249756104036e-05,
 'FLAG_DOCUMENT_3': 0.7095680220866876,
 'FLAG_DOCUMENT_4': 9.291274829272824e-05,
 'FLAG_DOCUMENT_5': 0.01539033309220263,
 'FLAG_DOCUMENT_6': 0.08749062576735975,
 'FLAG_DOCUMENT_7': 0.00016591562195130045,
 'FLAG_DOCUMENT_8': 0.08198886374345463,
 'FLAG_DOCUMENT_9': 0.003962065052197055,
 'FLAG_DOCUMENT_10': 2.6546499512208072e-05,
 'FLAG_DOCUMENT_11': 0.0038890621785384826,
 'FLAG_DOCUMENT_12': 6.636624878052018e-06,
 'FLAG_DOCUMENT_13': 0.003364768813172373,
 'FLAG_DOCUMENT_14': 0.0028869318219526276,
 'FLAG_DOCUMENT_15': 0.0012012291029274151,
 'FLAG_DOCUMENT_16': 0.009994757066346338,
 'FLAG_DOCUMENT_17': 0.0002853748697562368,
 'FLAG_DOCUMENT_18': 0.008129865475613722,
 'FLAG_DOCUMENT_19': 0.0005773863643905255,
 'FLAG_DOCUMENT_20': 0.0004911102409758493,
 'FLAG_DOCUMENT_21': 0.0003318312439026009,
 'AMT_REQ_CREDIT_BUREAU_HOUR': 0.00659433347391021,
 'AMT_REQ_CREDIT_BUREAU_DAY': 0.0068627075106391135,
 'AMT_REQ_CREDIT_BUREAU_WEEK': 0.034505233293716214,
 'AMT_REQ_CREDIT_BUREAU_MON': 0.2686807499137369,
 'AMT_REQ_CREDIT_BUREAU_QRT': 0.2668941456120845,
 'AMT_REQ_CREDIT_BUREAU_YEAR': 1.8933941647816586,
 'var_1': 0.4983958862969508,
 'var_2': 0.4991931386137605,
 'var_3': 0.5007472281057477,
 'var_4': 0.4984707984786316,
 'var_5': 0.49996723684334,
 'var_6': 0.49953646004318447,
 'var_7': 0.5004465445724378,
 'var_8': 0.5008323198761557,
 'var_9': 0.5009915320118933,
 'var_10': 0.4994933361564683,
 'var_11': 0.5000261889735667,
 'var_12': 0.5014489182798342,
 'var_13': 0.5007937786743278,
 'var_14': 0.500415204423777,
 'var_15': 0.5016453539662896,
 'var_16': 0.5007942806094794,
 'var_17': 0.5014112207590378,
 'var_18': 0.5000320817730702,
 'var_19': 0.4985320019373235,
 'var_20': 0.49895263484084174,
 'var_21': 0.4999709295744016,
 'var_22': 0.5007250357343267,
 'var_23': 0.4995410458609803,
 'var_24': 0.5011765926507896,
 'var_25': 0.49937490187126127,
 'var_26': 0.5008623215340943,
 'var_27': 0.49967240376557226,
 'var_28': 0.5002315476860375,
 'var_29': 0.5001708305569905,
 'var_30': 0.4994827099273167,
 'var_31': 0.499670552607236,
 'var_32': 0.5006801500746183,
 'var_33': 0.5005412724960326,
 'var_34': 0.5001365319382552,
 'var_35': 0.5003308410290255,
 'var_36': 0.49908790909025325,
 'var_37': 0.499078612321892,
 'var_38': 0.4999150215684122,
 'var_39': 0.4999425204118565,
 'var_40': 0.5002707900180902,
 'var_41': 0.5000243431783318,
 'var_42': 0.5001440058926552,
 'var_43': 0.4993769079236298,
 'var_44': 0.50004586129538,
 'var_45': 0.5011368701614992,
 'var_46': 0.5003452226263041,
 'var_47': 0.49996767404787373,
 'var_48': 0.5002342451709182,
 'var_49': 0.4999490200157306,
 'var_50': 0.4995645155364712}

In [ ]:
def pod_custom_fillna_prod(df, means):
    import numpy as np
    import pandas as pd
    df.replace(-1, np.nan, inplace=True)
    for col, mean_value in means.items():
      df[col].fillna(mean_value, inplace=True)

    categorical_cols = df.select_dtypes(include=['object']).columns
    df[categorical_cols] = df[categorical_cols].fillna('MISS_VERIFICAR')

    return df

In [ ]:
abt_oos_01 = pod_custom_fillna_prod(abt_test_01,loaded_means)
abt_oos_01.shape

(64578, 162)

In [ ]:
abt_treino_03.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50
45499,Cash loans,F,N,Y,0,157500.0,709033.5,39721.5,657000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.024610,-11687,-1430.0,-1443.0,-4141.0,12.035874,1,1,0,1,0,0,Sales staff,1.0,2,2,FRIDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.503186,0.246830,0.413597,0.061900,0.055900,0.982100,0.752541,0.000000,0.137900,0.166700,0.231663,0.01250,0.06080,0.061400,0.063000,0.058000,0.982100,0.759655,0.000000,0.137900,0.166700,0.227729,0.012800,0.063300,0.065100,0.06250,0.055900,0.982100,0.755793,0.000000,0.137900,0.166700,0.231345,0.012700,0.06190,0.06270,block of flats,0.061200,"Stone, brick",No,0.0,0.0,0.0,0.0,0.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.623251,0.538599,0.545589,0.583404,0.798990,0.263193,0.841677,0.021447,0.304555,0.588261,0.688669,0.210169,0.054338,0.790777,0.763634,0.790980,0.576544,0.748658,0.400948,0.696015,0.705815,0.924598,0.718842,0.412503,0.010390,0.619381,0.954915,0.253974,0.336066,0.995809,0.709630,0.115768,0.247564,0.164696,0.382646,0.221486,0.724027,0.799399,0.615608,0.008782,0.614907,0.182116,0.283521,0.716671,0.041032,0.432577,0.302302,0.812673,0.622103,0.290383
74186,Cash loans,F,N,Y,1,189000.0,640080.0,31261.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.046220,-12453,-158.0,-1596.0,-1580.0,12.035874,1,1,0,1,0,0,Laborers,3.0,1,1,THURSDAY,11,0,1,1,0,0,0,Business Entity Type 2,0.495899,0.452236,0.276441,0.117452,0.088622,0.977584,0.752541,0.079332,0.149699,0.226128,0.231663,0.06645,0.10748,0.028449,0.114115,0.087696,0.976918,0.759655,0.074775,0.145144,0.222144,0.227729,0.064995,0.105952,0.027042,0.11782,0.088131,0.977563,0.755793,0.078434,0.149198,0.225765,0.231345,0.067315,0.10868,0.02824,MISS_VERIFICAR,0.102559,MISS_VERIFICAR,MISS_VERIFICAR,0.0,0.0,0.0,0.0,-414.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.271789,0.450667,0.915251,0.609587,0.156781,0.990234,0.922602,0.846543,0.534668,0.665733,0.491554,0.616078,0.714990,0.670361,0.120311,0.551883,0.201516,0.012140,0.026045,0.928996,0.889396,0.660983,0.508232,0.946107,0.420490,0.347951,0.866346,0.916568,0.797150,0.656244,0.061100,0.440124,0.141237,0.372216,0.501584,0.716653,0.252760,0.085425,0.769355,0.550976,0.855122,0.907023,0.555958,0.114399,0.959646,0.551736,0.793345,0.769783,0.029523,0.605118
65253,Cash loans,F,N,N,1,121500.0,104256.0,8194.5,90000.0,Unaccompanied,Working,Higher education,Single / not married,Rented apartment,0.035792,-9859,-392.0,-828.0,-2511.0,12.035874,1,1,1,1,0,0,Sales staff,2.0,2,2,SATURDAY,12,0,0,0,0,0,0,Self-employed,0.352115,0.135407,0.656158,0.033000,0.010800,0.973700,0.639600,0.000000,0.069000,0.125000,0.166700,0.06110,0.02950,0.000000,0.033600,0.011200,0.973700,0.653700,0.000000,0.069000,0.125000,0.166700,0.062500,0.030700,0.000000,0.03330,0.010800,0.973700,0.644400,0.000000,0.069000,0.125000,0.166700,0.062200,0.03000,0.00000,block of flats,0.032500,"Stone, brick",No,0.0,0.0,0.0,0.0,-970.950056,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.089877,0.447568,0.131639,0.064082,0.435259,0.689218,0.745716,0.863553,0.579129,0.538519,0.941202,0.761630,0.503093,0.587689,0.537260,0.484700,0.679185,0.281975,0.399896,0.521913,0.274328,0.502114,0.701955,0.538385,0.077082,0.257142,0.573929,0.079377,0.480612,0.971505,0.890001,0.381080,0.828747,0.598202,0.583725,0.371399,0.883350,0.249075,0.651910,0.039176,0.837285,0.401049,0.896599,0.775044,0.372050,0.355883,0.259412,0.282194,0.438214,0.348245
60400,Cash loans,F,N,N,0,112500.0,755190.0,36328.5,675000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.010032,-9233,-878.0,-333.0,-522.0,12.035874,1,1,1,1,0,0,Core staff,2.0,2,2,FRIDAY,11,0,1,1,0,1,1,School,0.398403,0.372591,0.510794,0.074200,0.046800,0.982600,0.762000,0.080000,0.069000,0.333300,0.041700,0.07690,0.07890,0.037100,0.075600,0.048600,0.982600,0.771300,0.080600,0.069000,0.333300,0.041700,0.078600,0.082200,0.039200,0.07490,0.046800,0.982600,0.765200,0.080000,0.069000,0.333300,0.041700,0.078200,0.08030,0.03780,block of flats,0.088300,"Stone, brick",No,0.0,0.0,0.0,0.0,-292.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.006594,0.006863,0.034505,0.268681,0.266894,1.893394,0.506338,0.355571,0.332951,0.663856,0.123350,0.321629,0.188188,0.558208,0.636772,0.396435,0.105420,0.624019,0.960336,0.061083,0.717732,0.341678,0.135631,0.166267,0.464307,0.710085,0.193339,0.289841,0.160412,0.610231,0.666622,0.467409,0.485829,0.228924,0.347892,0.154565,0.367409,0.872489,0.344479,0.080144,0.673778,0.683198,0.395718,0.041105,0.500510,0.430966,0.046936,0.164097,0.416916,0.498222,0.366917,0.326498,0.383481,0.743987,0.612620,0.627862
71140,Cash loans,F,N,N,1,193500.0,521280.0,25209.0,450000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Separated,House / apartment,0.020246,-15201,-2196.0,-2848.0,-3779.0,12.035874,1,1,1,1,0,0,Core staff,2.0,3,3,SUNDAY,11,0,0,0,0,0,0,Self-employed,0.244596,0.317423,0.634706,0.066000,0.059100,0.985100,0.796000,0.000000,0.069000,0.125000,0.041700,0.00950,0.02180,0.049300,0.067200,0.061300,0.985100,0.804000,0.000000,0.069000,0.125000,0.041700,0.009700,0.022700,0.052200,0.06660,0.059100,0.985100,0.798700,0.000000,0.069000,0.125000,0.041700,0.009600,0.02210,0.05040,specific housing,0.027800,Mixed,No,0.0,0.0,0.0,0.0,-792.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.839271,0.927509,0.334800,0.393198,0.265743,0.162118,0.245030,0.719947,0.551477,0.279833,0.921964,0.023290,0.202615,0.745080,0.464906,0.566765,0.728211,0.719937,0.782813,0.679615,0.701390,0.428348,0.481115,0.221077,0.977722,0.671127,0.254047,0.880408,0.336782,0.838923,0.366654,0.653585,0.619040,0.779318,0.972787,0.684157,0.943597,0.159651,0.793458,0.705570,0.245522,0.720827,0.837383,0.520593,0.111493,0.763497,0.666572,0.421767,0.714451,0.916040

In [ ]:
abt_oos_01.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50
196348,243431,0,Revolving loans,M,N,Y,0,90000.0,180000.0,9000.0,180000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,With parents,0.031329,-9579,-489,-9175.0,-1161.0,12.035874,1,1,0,1,0,0,Laborers,1.0,2,2,WEDNESDAY,16,0,0,0,0,0,0,Business Entity Type 3,0.217777,0.634658,0.554947,0.117452,0.088622,0.977584,0.752541,0.079332,0.149699,0.226128,0.231663,0.06645,0.10748,0.028449,0.114115,0.087696,0.976918,0.759655,0.074775,0.145144,0.222144,0.227729,0.064995,0.105952,0.027042,0.11782,0.088131,0.977563,0.755793,0.078434,0.149198,0.225765,0.231345,0.067315,0.10868,0.02824,MISS_VERIFICAR,0.102559,MISS_VERIFICAR,MISS_VERIFICAR,0.0,0.0,0.0,0.0,-393.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.553600,0.735979,0.037344,0.338258,0.545242,0.841952,0.024305,0.615976,0.187460,0.588908,0.184133,0.216715,0.295191,0.088721,0.783669,0.926316,0.825076,0.502182,0.088370,0.897170,0.443596,0.505481,0.760015,0.290377,0.252905,0.993413,0.954151,0.111669,0.216014,0.629482,0.292913,0.325685,0.409491,0.000870,0.100324,0.988315,0.332587,0.231480,0.526877,0.678298,0.593565,0.789703,0.254486,0.969768,0.918087,0.939984,0.941608,0.053827,0.571771,0.186664
147976,127962,0,Cash loans,F,N,N,0,225000.0,781920.0,42547.5,675000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.018801,-20151,-3330,-10255.0,-3468.0,12.035874,1,1,0,1,0,0,Laborers,1.0,2,2,MONDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.804014,0.501598,0.384207,0.008200,0.000000,0.968700,0.571600,0.000000,0.034500,0.041700,0.083300,0.01350,0.00750,0.000000,0.008400,0.000000,0.968700,0.588400,0.000000,0.034500,0.041700,0.083300,0.013800,0.007900,0.000000,0.00830,0.000000,0.968700,0.577300,0.000000,0.034500,0.041700,0.083300,0.013700,0.00770,0.00000,block of flats,0.007400,Wooden,No,2.0,1.0,2.0,0.0,-2005.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.055630,0.969683,0.143565,0.064058,0.807627,0.711164,0.012740,0.556794,0.013220,0.552560,0.426758,0.691886,0.367910,0.560955,0.803954,0.494718,0.307866,0.047729,0.384242,0.988515,0.026243,0.267994,0.231065,0.425559,0.617888,0.284290,0.020444,0.552369,0.461655,0.750744,0.294814,0.826447,0.731267,0.703634,0.405295,0.985253,0.666051,0.595347,0.865780,0.637372,0.346320,0.912834,0.910227,0.784684,0.485868,0.812601,0.425869,0.335348,0.878763,0.792996
52662,244667,1,Cash loans,M,N,Y,1,112500.0,450000.0,21888.0,450000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.019689,-11641,-370,-218.0,-3796.0,12.035874,1,1,1,1,0,0,Laborers,3.0,2,2,THURSDAY,9,0,0,0,0,0,0,Construction,0.503186,0.278945,0.300108,0.002100,0.088622,0.970700,0.752541,0.000000,0.069000,0.000000,0.231663,0.02060,0.00150,0.000000,0.002100,0.087696,0.970700,0.759655,0.000000,0.069000,0.000000,0.227729,0.021000,0.001600,0.000000,0.00210,0.088131,0.970700,0.755793,0.000000,0.069000,0.000000,0.231345,0.020900,0.00150,0.00000,terraced house,0.001200,Wooden,No,1.0,0.0,1.0,0.0,-1022.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,2.000000,4.000000,0.963148,0.610721,0.910276,0.985248,0.993294,0.979476,0.502643,0.153952,0.100604,0.582648,0.268764,0.264136,0.798616,0.640491,0.581764,0.113877,0.599859,0.384104,0.882926,0.656345,0.409666,0.822635,0.729645,0.389186,0.172874,0.634220,0.060167,0.666173,0.432991,0.320440,0.183687,0.072003,0.058414,0.273381,0.818123,0.553403,0.393062,0.149542,0.065340,0.581393,0.973969,0.671805,0.428278,0.189641,0.765047,0.931675,0.944781,0.270274,0.296258,0.518378
101577,220032,0,Cash loans,F,N,Y,0,225000.0,760225.5,32337.0,679500.0,Unaccompanied,Working,Secondary / secondary special,Married,With parents,0.007330,-10035,-144,-5885.0,-677.0,12.035874,1,1,0,1,0,0,Laborers,2.0,2,2,TUESDAY,15,0,0,0,1,1,1,Business Entity Type 3,0.279232,0.213085,0.556727,0.117452,0.088622,0.977584,0.752541,0.079332,0.149699,0.226128,0.231663,0.06645,0.10748,0.028449,0.114115,0.087696,0.976918,0.759655,0.074775,0.145144,0.222144,0.227729,0.064995,0.105952,0.027042,0.11782,0.088131,0.977563,0.755793,0.078434,0.149198,0.225765,0.231345,0.067315,0.10868,0.02824,MISS_VERIFICAR,0.102559,MISS_VERIFICAR,MISS_VERIFICAR,3.0,0.0,2.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.699803,0.421910,0.417316,0.528927,0.405325,0.816989,0.633609,0.482975,0.711495,0.471590,0.302225,0.073788,0.630507,0.419388,0.652081,0.229409,0.615194,0.231686,0.377791,0.876791,0.300196,0.789843,0.422809,0.209413,0.377615,0.839231,0.662908,0.630662,0.854113,0.623451,0.717409,0.920094,0.191716,0.036136,0.028467,0.833765,0.772909,0.940978,0.171637,0.786283,0.766011,0.533777,0.995612,0.998489,0.318540,0.923508,0.271327,0.558144,0.926976,0.794804
173078,123746,0,Cash loans,F,N,N,0,225000.0,808650.0,26217.0,675000.0,Family,State servant,Higher education,Married,House / apartment,0.006207,-16462,-8468,-8477.0,0.0,12.035874,1,1,0,1,0,0,Core staff,2.0,2,2,TUESDAY,16,0,0,0,0,0,0,School,0.583032,0.528639,0.510794,0.117452,0.088622,0.977584,0.752541,0.079332,0.149699,0.226128,0.231663,0.06645,0.10748,0.028449,0.114115,0.087696,0.976918,0.759655,0.074775,0.145144,0.222144,0.227729,0.064995,0.105952,0.027042,0.11782,0.088131,0.977563,0.755793,0.078434,0.149198,0.225765,0.231345,0.067315,0.10868,0.02824,MISS_VERIFICAR,0.102559,MISS_VERIFICAR,MISS_VERIFICAR,0.0,0.0,0.0,0.0,-1322.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.006594,0.006863,0.034505,0.268681,0.266894,1.893394,0.733595,0.214420,0.649903,0.751180,0.202763,0.696091,0.745274,0.357072,0.458827,0.731857,0.954352,0.428362,0.881391,0.282845,0.719461,0.592143,0.747439,0.873098,0.132575,0.531037,0.930192,0.470000,0.278429,0.886347,0.547333,0.115353,0.362414,0.484310,0.293341,0.334486,0.414042,0.021479,0.300477,0.658067,0.759636,0.228552,0.949061,0.452163,0.243199,0.534236,0.608260,0.155219,0.634449,0.650114,0.198636,0.202310,0.193130,0.437779,0.901853,0.126509

## **Tratamento de categóricas de alta cardinalidade (LabelEncoder)**

In [ ]:
card_cutoff = 20
df_categ_labelenc = metadados[(metadados['CARDINALIDADE'] > card_cutoff) & (metadados['TIPO_FEATURE'] == 'object')]
lista_vars_abt = list(abt_treino_03.columns)
lista_lenc = list(df_categ_labelenc.FEATURE.values)

for item in lista_drop_vars:
    if item in lista_lenc:
        lista_lenc.remove(item)

print('Lista de vars para Label Encoding: ',lista_lenc)

Lista de vars para Label Encoding:  ['ORGANIZATION_TYPE']

In [ ]:
import pickle
from sklearn.preprocessing import LabelEncoder

encoders = {}

for col in lista_lenc:
    encoder = LabelEncoder()
    abt_treino_03[col] = encoder.fit_transform(abt_treino_03[col])

    # Armazena o encoder para a coluna atual em um dicionário
    encoders[col] = encoder

# Salva o dicionário de encoders e a lista de colunas em um arquivo .pkl
data_to_serialize = {
    'encoders': encoders,
    'columns': lista_lenc
}

with open('/content/drive/MyDrive/2. Study  Work/Pod Academy/Hackathon - Ciência de Dados/Códigos e artefatos/00 - Modelagem/10 - Modelo Regressão Logística/01 - Data Prep/prd_labelenc.pkl', 'wb') as f:
    pickle.dump(data_to_serialize, f)

In [ ]:
# Carregar os encoders e a lista de colunas
with open('/content/drive/MyDrive/2. Study  Work/Pod Academy/Hackathon - Ciência de Dados/Códigos e artefatos/00 - Modelagem/10 - Modelo Regressão Logística/01 - Data Prep/prd_labelenc.pkl', 'rb') as f:
    loaded_data = pickle.load(f)

loaded_encoders = loaded_data['encoders']
loaded_columns = loaded_data['columns']

# Suponha test_df como sua base de teste
for col in loaded_columns:
    if col in loaded_encoders:
        # Transforma a coluna usando o encoder carregado
        abt_oos_01[col] = loaded_encoders[col].transform(abt_oos_01[col])

In [ ]:
abt_oos_01.shape

(64578, 162)

## **Tratamento para categóricas de baixa cardinalidade (OneHot Encoding).**

In [ ]:
metadados_01 = pod_academy_generate_metadata(abt_treino_03,
                                          ids=['SK_ID_CURR'],
                                          targets=['TARGET'],
                                          orderby = 'PC_NULOS')

metadados_01

,FEATURE,USO_FEATURE,QT_NULOS,PC_NULOS,CARDINALIDADE,TIPO_FEATURE
0,NAME_CONTRACT_TYPE,Explicativa,0,0.0,2,object
1,CODE_GENDER,Explicativa,0,0.0,3,object
2,FLAG_DOCUMENT_20,Explicativa,0,0.0,2,int64
3,FLAG_DOCUMENT_21,Explicativa,0,0.0,2,int64
4,AMT_REQ_CREDIT_BUREAU_HOUR,Explicativa,0,0.0,5,float64
5,AMT_REQ_CREDIT_BUREAU_DAY,Explicativa,0,0.0,9,float64
6,AMT_REQ_CREDIT_BUREAU_WEEK,Explicativa,0,0.0,10,float64
7,AMT_REQ_CREDIT_BUREAU_MON,Explicativa,0,0.0,22,float64
8,AMT_REQ_CREDIT_BUREAU_QRT,Explicativa,0,0.0,11,float64
9,AMT_REQ_CREDIT_BUREAU_YEAR,Explicativa,0,0.0,23,float64
10,var_1,Explicativa,0,0.0,150679,float64
11,var_2,Explicativa,0,0.0,150679,float64
12,var_3,Explicativa,0,0.0,150679,float64
13,var_4,Explicativa,0,0.0,150679,float64
14,var_5,Explicativa,0,0.0,150679,float64
15,var_6,Explicativa,0,0.0,150679,float64
16,var_7,Explicativa,0,0.0,150679,float64
17,var_8,Explicativa,0,0.0,150679,float64
18,var_9,Explicativa,0,0.0,150679,float64
19,FLAG_DOCUMENT_19,Explicativa,0,0.0,2,int64
20,FLAG_DOCUMENT_18,Explicativa,0,0.0,2,int64
21,FLAG_DOCUMENT_17,Explicativa,0,0.0,2,int64
22,FLAG_DOCUMENT_7,Explicativa,0,0.0,2,int64
23,DEF_60_CNT_SOCIAL_CIRCLE,Explicativa,0,0.0,10,float64
24,DAYS_LAST_PHONE_CHANGE,Explicativa,0,0.0,3644,float64
25,FLAG_DOCUMENT_2,Explicativa,0,0.0,2,int64
26,FLAG_DOCUMENT_3,Explicativa,0,0.0,2,int64
27,FLAG_DOCUMENT_4,Explicativa,0,0.0,2,int64
28,FLAG_DOCUMENT_5,Explicativa,0,0.0,2,int64
29,FLAG_DOCUMENT_6,Explicativa,0,0.0,2,int64
30,FLAG_DOCUMENT_8,Explicativa,0,0.0,2,int64
31,FLAG_DOCUMENT_16,Explicativa,0,0.0,2,int64
32,FLAG_DOCUMENT_9,Explicativa,0,0.0,2,int64
33,FLAG_DOCUMENT_10,Explicativa,0,0.0,2,int64
34,FLAG_DOCUMENT_11,Explicativa,0,0.0,2,int64
35,FLAG_DOCUMENT_12,Explicativa,0,0.0,2,int64
36,FLAG_DOCUMENT_13,Explicativa,0,0.0,2,int64
37,FLAG_DOCUMENT_14,Explicativa,0,0.0,2,int64
38,FLAG_DOCUMENT_15,Explicativa,0,0.0,2,int64
39,var_10,Explicativa,0,0.0,150679,float64
40,var_11,Explicativa,0,0.0,150679,float64
41,var_12,Explicativa,0,0.0,150679,float64
42,var_41,Explicativa,0,0.0,150679,float64
43,var_34,Explicativa,0,0.0,150679,float64
44,var_35,Explicativa,0,0.0,150679,float64
45,var_36,Explicativa,0,0.0,150679,float64
46,var_37,Explicativa,0,0.0,150679,float64
47,var_38,Explicativa,0,0.0,150679,float64
48,var_39,Explicativa,0,0.0,150679,float64
49,var_40,Explicativa,0,0.0,150679,float64
50,var_42,Explicativa,0,0.0,150679,float64
51,var_32,Explicativa,0,0.0,150679,float64
52,var_43,Explicativa,0,0.0,150679,float64
53,var_44,Explicativa,0,0.0,150679,float64
54,var_45,Explicativa,0,0.0,150679,float64
55,var_46,Explicativa,0,0.0,150679,float64
56,var_47,Explicativa,0,0.0,150679,float64
57,var_48,Explicativa,0,0.0,150679,float64
58,var_49,Explicativa,0,0.0,150679,float64
59,var_33,Explicativa,0,0.0,150679,float64
60,var_31,Explicativa,0,0.0,150679,float64
61,var_13,Explicativa,0,0.0,150679,float64
62,var_21,Explicativa,0,0.0,150679,float64
63,var_14,Explicativa,0,0.0,150679,float64
64,var_15,Explicativa,0,0.0,150679,float64
65,var_16,Explicativa,0,0.0,150679,float64
66,var_17,Explicativa,0,0.0,150679,float64
67,var_18,Explicativa,0,0.0,150679,float64
68,var_19,Explicativa,0,0.0,150679,float64
69,var_20,Explicativa,0,0.0,150679,float64
70,var_22,Explicativa,0,0.0,150679,float64
71,var_30,Explicativa,0,0.0,150679,float64
72,var_23,Explicativa,0,0.0,150679,float64
73,var_24,Explicativa,0,0.0,150679,float64
74,var_25,Explicativa,0,0.0,150679,float64
75,var_26,Explicativa,0,0.0,150679,float64
76,var_27,Explicativa,0,0.0,150679,float64
77,var_28,Explicativa,0,0.0,150679,float64
78,var_29,Explicativa,0,0.0,150679,float64
79,OBS_60_CNT_SOCIAL_CIRCLE,Explicativa,0,0.0,32,float64
80,DEF_30_CNT_SOCIAL_CIRCLE,Explicativa,0,0.0,10,float64
81,OBS_30_CNT_SOCIAL_CIRCLE,Explicativa,0,0.0,33,float64
82,REGION_RATING_CLIENT_W_CITY,Explicativa,0,0.0,3,int64
83,FLAG_WORK_PHONE,Explicativa,0,0.0,2,int64
84,FLAG_CONT_MOBILE,Explicativa,0,0.0,2,int64
85,FLAG_PHONE,Explicativa,0,0.0,2,int64
86,FLAG_EMAIL,Explicativa,0,0.0,2,int64
87,OCCUPATION_TYPE,Explicativa,0,0.0,19,object
88,CNT_FAM_MEMBERS,Explicativa,0,0.0,16,float64
89,REGION_RATING_CLIENT,Explicativa,0,0.0,3,int64
90,WEEKDAY_APPR_PROCESS_START,Explicativa,0,0.0,7,object
91,FLAG_MOBIL,Explicativa,0,0.0,2,int64
92,HOUR_APPR_PROCESS_START,Explicativa,0,0.0,24,int64
93,REG_REGION_NOT_LIVE_REGION,Explicativa,0,0.0,2,int64
94,REG_REGION_NOT_WORK_REGION,Explicativa,0,0.0,2,int64
95,LIVE_REGION_NOT_WORK_REGION,Explicativa,0,0.0,2,int64
96,REG_CITY_NOT_LIVE_CITY,Explicativa,0,0.0,2,int64
97,REG_CITY_NOT_WORK_CITY,Explicativa,0,0.0,2,int64
98,LIVE_CITY_NOT_WORK_CITY,Explicativa,0,0.0,2,int64
99,FLAG_EMP_PHONE,Explicativa,0,0.0,2,int64
100,OWN_CAR_AGE,Explicativa,0,0.0,58,float64
101,EXT_SOURCE_1,Explicativa,0,0.0,60797,float64
102,NAME_TYPE_SUITE,Explicativa,0,0.0,8,object
103,FLAG_OWN_CAR,Explicativa,0,0.0,2,object
104,FLAG_OWN_REALTY,Explicativa,0,0.0,2,object
105,CNT_CHILDREN,Explicativa,0,0.0,14,int64
106,AMT_INCOME_TOTAL,Explicativa,0,0.0,1558,float64
107,AMT_CREDIT,Explicativa,0,0.0,4625,float64
108,AMT_ANNUITY,Explicativa,0,0.0,11936,float64
109,AMT_GOODS_PRICE,Explicativa,0,0.0,720,float64
110,NAME_INCOME_TYPE,Explicativa,0,0.0,8,object
111,DAYS_ID_PUBLISH,Explicativa,0,0.0,6051,float64
112,NAME_EDUCATION_TYPE,Explicativa,0,0.0,5,object
113,NAME_FAMILY_STATUS,Explicativa,0,0.0,5,object
114,NAME_HOUSING_TYPE,Explicativa,0,0.0,6,object
115,REGION_POPULATION_RELATIVE,Explicativa,0,0.0,81,float64
116,DAYS_BIRTH,Explicativa,0,0.0,17249,int64
117,DAYS_EMPLOYED,Explicativa,0,0.0,10912,float64
118,DAYS_REGISTRATION,Explicativa,0,0.0,14710,float64
119,ORGANIZATION_TYPE,Explicativa,0,0.0,58,int64
120,EXT_SOURCE_2,Explicativa,0,0.0,84606,float64
121,EMERGENCYSTATE_MODE,Explicativa,0,0.0,3,object
122,ENTRANCES_MEDI,Explicativa,0,0.0,46,float64
123,LIVINGAREA_MODE,Explicativa,0,0.0,4777,float64
124,NONLIVINGAREA_MODE,Explicativa,0,0.0,2834,float64
125,APARTMENTS_MEDI,Explicativa,0,0.0,1074,float64
126,BASEMENTAREA_MEDI,Explicativa,0,0.0,3428,float64
127,YEARS_BEGINEXPLUATATION_MEDI,Explicativa,0,0.0,216,float64
128,YEARS_BUILD_MEDI,Explicativa,0,0.0,145,float64
129,ELEVATORS_MEDI,Explicativa,0,0.0,47,float64
130,FLOORSMAX_MEDI,Explicativa,0,0.0,49,float64
131,FLOORSMIN_MODE,Explicativa,0,0.0,26,float64
132,FLOORSMIN_MEDI,Explicativa,0,0.0,48,float64
133,LANDAREA_MEDI,Explicativa,0,0.0,3219,float64
134,LIVINGAREA_MEDI,Explicativa,0,0.0,4792,float64
135,NONLIVINGAREA_MEDI,Explicativa,0,0.0,2834,float64
136,HOUSETYPE_MODE,Explicativa,0,0.0,4,object
137,TOTALAREA_MODE,Explicativa,0,0.0,4644,float64
138,WALLSMATERIAL_MODE,Explicativa,0,0.0,8,object
139,LANDAREA_MODE,Explicativa,0,0.0,3210,float64
140,FLOORSMAX_MODE,Explicativa,0,0.0,26,float64
141,EXT_SOURCE_3,Explicativa,0,0.0,787,float64
142,FLOORSMIN_AVG,Explicativa,0,0.0,258,float64
143,APARTMENTS_AVG,Explicativa,0,0.0,2050,float64
144,BASEMENTAREA_AVG,Explicativa,0,0.0,3439,float64
145,YEARS_BEGINEXPLUATATION_AVG,Explicativa,0,0.0,239,float64
146,YEARS_BUILD_AVG,Explicativa,0,0.0,144,float64
147,ELEVATORS_AVG,Explicativa,0,0.0,232,float64
148,ENTRANCES_AVG,Explicativa,0,0.0,251,float64
149,FLOORSMAX_AVG,Explicativa,0,0.0,336,float64
150,LANDAREA_AVG,Explicativa,0,0.0,3190,float64
151,ENTRANCES_MODE,Explicativa,0,0.0,31,float64
152,LIVINGAREA_AVG,Explicativa,0,0.0,4738,float64
153,NONLIVINGAREA_AVG,Explicativa,0,0.0,2806,float64
154,APARTMENTS_MODE,Explicativa,0,0.0,717,float64
155,BASEMENTAREA_MODE,Explicativa,0,0.0,3490,float64
156,YEARS_BEGINEXPLUATATION_MODE,Explicativa,0,0.0,196,float64
157,YEARS_BUILD_MODE,Explicativa,0,0.0,148,float64
158,ELEVATORS_MODE,Explicativa,0,0.0,27,float64
159,var_50,Explicativa,0,0.0,150679,float64

In [ ]:
import pickle
from sklearn.preprocessing import OneHotEncoder

card_cutoff = 20
df_categ_onehot = metadados_01[(metadados_01['CARDINALIDADE'] <= card_cutoff) & (metadados_01['TIPO_FEATURE'] == 'object')]
lista_onehot = list(df_categ_onehot.FEATURE.values)
print('Lista de vars para OneHot Encoding: ',lista_onehot)

# Instanciando o encoder
encoder = OneHotEncoder(drop='first', sparse_output=False, handle_unknown='ignore')

# Aplicando o one-hot encoding
encoded_data = encoder.fit_transform(abt_treino_03[lista_onehot])
encoded_cols = encoder.get_feature_names_out(lista_onehot)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_cols, index=abt_treino_03.index)

abt_treino_03 = pd.concat([abt_treino_03.drop(lista_onehot, axis=1), encoded_df], axis=1)

# Salva o encoder e a lista de colunas em um arquivo .pkl
data_to_serialize = {
    'encoder': encoder,
    'columns': lista_onehot
}

with open('/content/drive/MyDrive/2. Study  Work/Pod Academy/Hackathon - Ciência de Dados/Códigos e artefatos/00 - Modelagem/10 - Modelo Regressão Logística/01 - Data Prep/prd_onehotenc.pkl', 'wb') as f:
    pickle.dump(data_to_serialize, f)

Lista de vars para OneHot Encoding:  ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'NAME_TYPE_SUITE', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'EMERGENCYSTATE_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE']

In [ ]:
  # Carregar o encoder e a lista de colunas
with open('/content/drive/MyDrive/2. Study  Work/Pod Academy/Hackathon - Ciência de Dados/Códigos e artefatos/00 - Modelagem/10 - Modelo Regressão Logística/01 - Data Prep/prd_onehotenc.pkl', 'rb') as f:
    loaded_data = pickle.load(f)

loaded_encoder = loaded_data['encoder']
loaded_columns = loaded_data['columns']

# Suponha test_df como sua base de teste
encoded_data_test = loaded_encoder.transform(abt_oos_01[loaded_columns])
encoded_cols_test = loaded_encoder.get_feature_names_out(loaded_columns)
encoded_df_test = pd.DataFrame(encoded_data_test, columns=encoded_cols_test, index=abt_oos_01.index)

abt_oos_02 = pd.concat([abt_oos_01.drop(loaded_columns, axis=1), encoded_df_test], axis=1)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:202: UserWarning: Found unknown categories in columns [9] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [ ]:
abt_oos_02.shape

(64578, 216)

In [ ]:
abt_treino_03.shape, abt_teste.shape, abt_oos_02.shape

((150679, 214), (64578, 172), (64578, 216))

# Ajuste da escala dos dados
- Normalização
- Padronização

Não vamos ajustar a escala dos dados porque para o processo de seleção de variáveis utlizaremos algoritmo baseado em árvore e para modelagem iremos categorizar todas as variáveis numéricas.

In [ ]:
abt_oos_02.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_M,CODE_GENDER_XNA,OCCUPATION_TYPE_Cleaning staff,OCCUPATION_TYPE_Cooking staff,OCCUPATION_TYPE_Core staff,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_HR staff,OCCUPATION_TYPE_High skill tech staff,OCCUPATION_TYPE_IT staff,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_MISS_VERIFICAR,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_MISS_VERIFICAR,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_Y,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Maternity leave,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Widow,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,NAME_HOUSING_TYPE_With parents,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_MISS_VERIFICAR,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden
196348,243431,0,0,90000.0,180000.0,9000.0,180000.0,0.031329,-9579,-489,-9175.0,-1161.0,12.035874,1,1,0,1,0,0,1.0,2,2,16,0,0,0,0,0,0,5,0.217777,0.634658,0.554947,0.117452,0.088622,0.977584,0.752541,0.079332,0.149699,0.226128,0.231663,0.06645,0.10748,0.028449,0.114115,0.087696,0.976918,0.759655,0.074775,0.145144,0.222144,0.227729,0.064995,0.105952,0.027042,0.11782,0.088131,0.977563,0.755793,0.078434,0.149198,0.225765,0.231345,0.067315,0.10868,0.02824,0.102559,0.0,0.0,0.0,0.0,-393.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.553600,0.735979,0.037344,0.338258,0.545242,0.841952,0.024305,0.615976,0.187460,0.588908,0.184133,0.216715,0.295191,0.088721,0.783669,0.926316,0.825076,0.502182,0.088370,0.897170,0.443596,0.505481,0.760015,0.290377,0.252905,0.993413,0.954151,0.111669,0.216014,0.629482,0.292913,0.325685,0.409491,0.000870,0.100324,0.988315,0.332587,0.231480,0.526877,0.678298,0.593565,0.789703,0.254486,0.969768,0.918087,0.939984,0.941608,0.053827,0.571771,0.186664,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
147976,127962,0,0,225000.0,781920.0,42547.5,675000.0,0.018801,-20151,-3330,-10255.0,-3468.0,12.035874,1,1,0,1,0,0,1.0,2,2,11,0,0,0,0,0,0,5,0.804014,0.501598,0.384207,0.008200,0.000000,0.968700,0.571600,0.000000,0.034500,0.041700,0.083300,0.01350,0.00750,0.000000,0.008400,0.000000,0.968700,0.588400,0.000000,0.034500,0.041700,0.083300,0.013800,0.007900,0.000000,0.00830,0.000000,0.968700,0.577300,0.000000,0.034500,0.041700,0.083300,0.013700,0.00770,0.00000,0.007400,2.0,1.0,2.0,0.0,-2005.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.055630,0.969683,0.143565,0.064058,0.807627,0.711164,0.012740,0.556794,0.013220,0.552560,0.426758,0.691886,0.367910,0.560955,0.803954,0.494718,0.307866,0.047729,0.384242,0.988515,0.026243,0.267994,0.231065,0.425559,0.617888,0.284290,0.020444,0.552369,0.461655,0.750744,0.294814,0.826447,0.731267,0.703634,0.405295,0.985253,0.666051,0.595347,0.865780,0.637372,0.346320,0.912834,0.910227,0.784684,0.485868,0.812601,0.425869,0.335348,0.878763,0.792996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
52662,244667,1,1,112500.0,450000.0,21888.0,450000.0,0.019689,-11641,-370,-218.0,-3796.0,12.035874,1,1,1,1,0,0,3.0,2,2,9,0,0,0,0,0,0,7,0.503186,0.278945,0.300108,0.002100,0.088622,0.970700,0.752541,0.000000,0.069000,0.000000,0.231663,0.02060,0.00150,0.000000,0.002100,0.087696,0.970700,0.759655,0.000000,0.069000,0.000000,0.227729,0.021000,0.001600,0.000000,0.00210,0.088131,0.970700,0.755793,0.000000,0.069000,0.000000,0.231345,0.020900,0.00150,0.00000,0.001200,1.0,0.0,1.0,0.0,-1022.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,2.000000,4.000000,0.963148,0.610721,0.910276,0.985248,0.993294,0.979476,0.502643,0.153952,0.100604,0.582648,0.268764,0.264136,0.798616,0.640491,0.581764,0.113877,0.599859,0.384104,0.882926,0.656345,0.409666,0.822635,0.729645,0.389186,0.172874,0.634220,0.060167,0.666173,0.432991,0.320440,0.183687,0.072003,0.058414,0.273381,0.818123,0.553403,0.393062,0.149542,0.065340,0.581393,0.973969,0.671805,0.428278,0.189641,0.765047,0.931675,0.944781,0.270274,0.296258,0.518378,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
101577,220032,0,0,225000.0,760225.5,32337.0,679500.0,0.007330,-10035,-144,-5885.0,-677.0,12.035874,1,1,0,1,0,0,2.0,2,2,15,0,0,0,1,1,1,5,0.279232,0.213085,0.556727,0.117452,0.088622,0.977584,0.752541,0.079332,0.149699,0.226128,0.231663,0.06645,0.10748,0.028449,0.114115,0.087696,0.976918,0.759655,0.074775,0.145144,0.222144,0.227729,0.064995,0.105952,0.027042,0.11782,0.088131,0.977563,0.755793,0.078434,0.149198,0.225765,0.231345,0.067315,0.10868,0.02824,0.102559,3.0,0.0,2.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.699803,0.421910,0.417316,0.528927,0.405325,0.816989,0.633609,0.482975,0.711495,0.471590,0.302225,0.073788,0.630507,0.419388,0.652081,0.229409,0.615194,0.231686,0.377791,0.876791,0.300196,0.789843,0.422809,0.209413,0.377615,0.839231,0.662908,0.630662,0.854113,0.623451,0.717409,0.920094,0.191716,0.036136,0.028467,0.833765,0.772909,0.940978,0.171637,0.786283,0.766011,0.533777,0.995612,0.998489,0.318540,0.923508,0.271327,0.558144,0.926976,0.794804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
173078,123746,0,0,225000.0,808650.0,26217.0,675000.0,0.006207,-16462,-8468,-8477.0,0.0,12.035874,1,1,0,1,0,0,2.0,2,2,16,0,0,0,0,0,0,39,0.583032,0.528639,0.510794,0.117452,0.088622,0.977584,0.752541,0.079332,0.149699,0.226128,0.231663,0.06645,0.10748,0.028449,0.114115,0.087696,0.976918,0.759655,0.074775,0.145144,0.222144,0.227729,0.064995,0.105952,0.027042,0.11782,0.088131,0.977563,0.755793,0.078434,0.149198,0.225765,0.231345,0.067315,0.10868,0.02824,0.102559,0.0,0.0,0.0,0.0,-1322.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.006594,0.006863,0.034505,0.268681,0.266894,1.893394,0.733595,0.214420,0.649903,0.751180,0.202763,0.696091,0.745274,0.357072,0.458827,0.731857,0.954352,0.428362,0.881391,0.282845,0.719461,0.592143,0.747439,0.873098,0.132575,0.531037,0.930192,0.470000,0.278429,0.886347,0.547333,0.115353,0.362414,0.484310,0.293341,0.334486,0.414042,0.021479,0.300477,0.658067,0.759636,0.228552,0.949061,0.452163,0.243199,0.534236,0.608260,0.155219,0.634449,0.650114,0.198636,0.202310,0.193130,0.437779,0.901853,0.126509,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
## Trazer o id e target para a tabela pós dataprep

abt_treino_04 = abt_treino_03.merge(abt_00[['SK_ID_CURR', 'TARGET']], left_index=True, right_index=True, how='inner')
abt_treino_04.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAREA_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAREA_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAREA_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12,var_13,var_14,var_15,var_16,var_17,var_18,var_19,var_20,var_21,var_22,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32,var_33,var_34,var_35,var_36,var_37,var_38,var_39,var_40,var_41,var_42,var_43,var_44,var_45,var_46,var_47,var_48,var_49,var_50,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_M,CODE_GENDER_XNA,OCCUPATION_TYPE_Cleaning staff,OCCUPATION_TYPE_Cooking staff,OCCUPATION_TYPE_Core staff,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_HR staff,OCCUPATION_TYPE_High skill tech staff,OCCUPATION_TYPE_IT staff,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_MISS_VERIFICAR,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Private service staff,OCCUPATION_TYPE_Realty agents,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Secretaries,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_MISS_VERIFICAR,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_Y,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Maternity leave,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Widow,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,NAME_HOUSING_TYPE_With parents,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_MISS_VERIFICAR,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,SK_ID_CURR,TARGET
45499,0,157500.0,709033.5,39721.5,657000.0,0.024610,-11687,-1430.0,-1443.0,-4141.0,12.035874,1,1,0,1,0,0,1.0,2,2,10,0,0,0,0,0,0,5,0.503186,0.246830,0.413597,0.061900,0.055900,0.982100,0.752541,0.000000,0.137900,0.166700,0.231663,0.01250,0.06080,0.061400,0.063000,0.058000,0.982100,0.759655,0.000000,0.137900,0.166700,0.227729,0.012800,0.063300,0.065100,0.06250,0.055900,0.982100,0.755793,0.000000,0.137900,0.166700,0.231345,0.012700,0.06190,0.06270,0.061200,0.0,0.0,0.0,0.0,0.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.623251,0.538599,0.545589,0.583404,0.798990,0.263193,0.841677,0.021447,0.304555,0.588261,0.688669,0.210169,0.054338,0.790777,0.763634,0.790980,0.576544,0.748658,0.400948,0.696015,0.705815,0.924598,0.718842,0.412503,0.010390,0.619381,0.954915,0.253974,0.336066,0.995809,0.709630,0.115768,0.247564,0.164696,0.382646,0.221486,0.724027,0.799399,0.615608,0.008782,0.614907,0.182116,0.283521,0.716671,0.041032,0.432577,0.302302,0.812673,0.622103,0.290383,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,102669,0
74186,1,189000.0,640080.0,31261.5,450000.0,0.046220,-12453,-158.0,-1596.0,-1580.0,12.035874,1,1,0,1,0,0,3.0,1,1,11,0,1,1,0,0,0,4,0.495899,0.452236,0.276441,0.117452,0.088622,0.977584,0.752541,0.079332,0.149699,0.226128,0.231663,0.06645,0.10748,0.028449,0.114115,0.087696,0.976918,0.759655,0.074775,0.145144,0.222144,0.227729,0.064995,0.105952,0.027042,0.11782,0.088131,0.977563,0.755793,0.078434,0.149198,0.225765,0.231345,0.067315,0.10868,0.02824,0.102559,0.0,0.0,0.0,0.0,-414.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.271789,0.450667,0.915251,0.609587,0.156781,0.990234,0.922602,0.846543,0.534668,0.665733,0.491554,0.616078,0.714990,0.670361,0.120311,0.551883,0.201516,0.012140,0.026045,0.928996,0.889396,0.660983,0.508232,0.946107,0.420490,0.347951,0.866346,0.916568,0.797150,0.656244,0.061100,0.440124,0.141237,0.372216,0.501584,0.716653,0.252760,0.085425,0.769355,0.550976,0.855122,0.907023,0.555958,0.114399,0.959646,0.551736,0.793345,0.769783,0.029523,0.605118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,202196,1
65253,1,121500.0,104256.0,8194.5,90000.0,0.035792,-9859,-392.0,-828.0,-2511.0,12.035874,1,1,1,1,0,0,2.0,2,2,12,0,0,0,0,0,0,42,0.352115,0.135407,0.656158,0.033000,0.010800,0.973700,0.639600,0.000000,0.069000,0.125000,0.166700,0.06110,0.02950,0.000000,0.033600,0.011200,0.973700,0.653700,0.000000,0.069000,0.125000,0.166700,0.062500,0.030700,0.000000,0.03330,0.010800,0.973700,0.644400,0.000000,0.069000,0.125000,0.166700,0.062200,0.03000,0.00000,0.032500,0.0,0.0,0.0,0.0,-970.950056,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.089877,0.447568,0.131639,0.064082,0.435259,0.689218,0.745716,0.863553,0.579129,0.538519,0.941202,0.761630,0.503093,0.587689,0.537260,0.484700,0.679185,0.281975,0.399896,0.521913,0.274328,0.502114,0.701955,0.538385,0.077082,0.257142,0.573929,0.079377,0.480612,0.971505,0.890001,0.381080,0.828747,0.598202,0.583725,0.371399,0.883350,0.249075,0.651910,0.039176,0.837285,0.401049,0.896599,0.775044,0.372050,0.355883,0.259412,0.282194,0.438214,0.348245,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,272854,0
60400,0,112500.0,755190.0,36328.5,675000.0,0.010032,-9233,-878.0,-333.0,-522.0,12.035874,1,1,1,1,0,0,2.0,2,2,11,0,1,1,0,1,1,39,0.398403,0.372591,0.510794,0.074200,0.046800,0.982600,0.762000,0.080000,0.069000,0.333300,0.041700,0.07690,0.07890,0.037100,0.075600,0.048600,0.982600,0.771300,0.080600,0.069000,0.333300,0.041700,0.078600,0.082200,0.039200,0.07490,0.046800,0.982600,0.765200,0.080000,0.069000,0.333300,0.041700,0.078200,0.08030,0.03780,0.088300,0.0,0.0,0.0,0.0,-292.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.006594,0.006863,0.034505,0.268681,0.266894,1.893394,0.506338,0.355571,0.332951,0.663856,0.123350,0.321629,0.188188,0.558208,0.636772,0.396435,0.105420,0.624019,0.960336,0.061083,0.717732,0.341678,0.135631,0.166267,0.464307,0.710085,0.193339,0.289841,0.160412,0.610231,0.666622,0.467409,0.485829,0.228924,0.347892,0.154565,0.367409,0.872489,0.344479,0.080144,0.673778,0.683198,0.395718,0.041105,0.500510,0.430966,0.046936,0.164097,0.416916,0.498222,0.366917,0.326498,0.383481,0.743987,0.612620,0.627862,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,207628,0
71140,1,193500.0,521280.0,25209.0,450000.0,0.020246,-15201,-2196.0,-2848.0,-3779.0,12.035874,1,1,1,1,0,0,2.0,3,3,11,0,0,0,0,0,0,42,0.244596,0.317423,0.634706,0.066000,0.059100,0.985100,0.796000,0.000000,0.069000,0.125000,0.041700,0.00950,0.02180,0.049300,0.067200,0.061300,0.985100,0.804000,0.000000,0.069000,0.125000,0.041700,0.009700,0.022700,0.052200,0.06660,0.059100,0.985100,0.798700,0.000000,0.069000,0.125000,0.041700,0.009600,0.02210,0.05040,0.027800,0.0,0.0,0.0,0.0,-792.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.839271,0.927509,0.334800,0.393198,0.265743,0.162118,0.245030,0.719947,0.551477,0.279833,0.921964,0.023290,0.202615,0.745080,0.464906,0.566765,0.728211,0.719937,0.782813,0.679615,0.701390,0.428348,0.481115,0.221077,0.977722,0.671127,0.254047,0.880408,0.336782,0.838923,0.366654,0.653585,0.619040,0.779318,0.972787,0.684157,0.943597,0.159651,0.793458,0.705570,0.245522,0.720827,0.837383,0.520593,0.111493,0.763497,0.666572,0.421767,0.714451,0.916040,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,244369,1

## **Salvando tabelas de treino e teste pós preparação dos dados**

In [ ]:
# Save to csv
abt_treino_04.to_csv('abt_train.csv')
abt_oos_02.to_csv('abt_test.csv')

In [ ]:
s3 = boto3.client(
    service_name='s3',
    region_name='us-east-1',
    aws_access_key_id='AKIAYTYOYG7SCH7IJSEG',
    aws_secret_access_key='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'
)

In [ ]:
bucket_name = 'pod-academy-analise-de-credito-para-fintech'

object_key_abt_treino = 'modelos/modelo_reg_log_v1/abt_train.csv'

object_key_abt_teste = 'modelos/modelo_reg_log_v1/abt_test.csv'

In [ ]:
# Upload dos arquivos para o S3
s3.upload_file(Filename='abt_train.csv', Bucket=bucket_name, Key=object_key_abt_treino)
s3.upload_file(Filename='abt_test.csv', Bucket=bucket_name, Key=object_key_abt_teste)